[2022-10-03 15:19] ae5au opened #1821 "Can't write 26-bit AWID - 0.68.1 Release"
### Describe the bug.

Unable to write 26-bit AWID to T5577 tag. Able to write 36-bit AWID and other formats to same tag.

26-bit AWID will read and emulate.

### Reproduction

1. Read 26-bit AWID tag and save
2. Choose saved tag and select "Write"
3. Flipper display "Writing" and flashed purple
4. Eventually receive the "Still trying to write..." message
5. Write never completes

### Target

_No

[2022-10-03 17:20] Jay4730 commented on #1721
No worries on the late reply, I just updated to the newest fw and still nothing

[2022-10-04 00:22] csBlueChip commented on #1670
Here is the promised example: https://github.com/csBlueChip/FlipperZero_WiiEC

You will need a Wii Nunchuck (or any other Wii Extension Controller) to see it work ...I figure they're more ubiquitous than any other random i2c chip I might have laying around.

Then you can change this line https://github.com/csBlueChip/FlipperZero_WiiEC/blob/main/i2c_workaround.h#L48 to `#define ENABLE_WORKAROUND 0`

[2022-10-04 13:03] michelinok opened #1825 "Error compiling"
### Describe the bug.

While trying to compile using this command (branch checked out right now):

fbt.cmd COMPACT=1 DEBUG=0 updater_package

I get this error:

Setting build\f7-updater-C as latest built dir (./build/latest/)
        CDB     build\f7-updater-C\compile_commands.json
scons: *** [assets\resources\Manifest] Implicit dependency `assets\resources\rfidfuzzer\example_uids.txt' not found,

[2022-10-04 14:17] #1825 closed, assigned to nobody

[2022-10-05 04:39] DrZlo13 commented on #1821
Hello @ae5au.
Can you check #1828, does this fix this problem?

[2022-10-05 08:06] EpicLPer opened #1831 "Big/Long Home Animations get reloaded even while scrolling through Menus"
### Describe the bug.

I've noticed that having many/long/big animations on the SD Card tend to not only freeze the Flipper (which isn't the main reason for this issue :) ) but mainly scrolling through something like the Settings menu or in general some applications where the Home animation shouldn't even be loaded in or being accessed.

I think the Flipper tries to access or read the animation da

[2022-10-05 17:42] bkimminich commented on #1818
Source: https://docs.flipperzero.one/sub-ghz/frequencies

Duplicate of #1791?

[2022-10-05 21:57] ae5au commented on #1821
Hi @DrZlo13
I don't have a dev environment handy today, but I did install 1424878d from Eng1n33r/flipperzero-firmware last night before you made this comment and it does work and includes the commits in #1828

That's probably a good indication that the PR fixes the issue, but I'll try to build tonight and test.

[2022-10-06 02:46] griffonlee commented on #1818
But in fact, there is no restriction on equipment with radio wave transmitting power less than 1mW by Taiwan telecommunications authority(NCC). Sincerely hope this function can be improved, thank you.

I belive flipperzero should belongs to wireless remote controls and under 1mW, so it won't break any laws in Taiwan.

## The original decree explanation is in Chinese, I only translated the part abo

[2022-10-06 03:50] ae5au commented on #1821
I've confirmed that 711b5fd4 / #1828 does resolve this issue.

[2022-10-06 09:18] yeldiRium commented on #1715
@koalazak The current FZ tag analysis is based on this dictionary: https://github.com/flipperdevices/flipperzero-firmware/blob/dev/assets/resources/nfc/assets/mf_classic_dict.nfc

[2022-10-06 11:38] LoZio commented on #1540
Still here in 0.68.1

[2022-10-06 15:26] #1821 closed, assigned to nobody

[2022-10-06 17:40] #1814 closed, assigned to nobody

[2022-10-06 17:57] bussardrobbie commented on #1814
Thank you very much @bkimminich and @skotopes! I appreciate it!

[2022-10-07 02:36] ae5au opened #1837 "36-bit AWID (L11601 Lenel) read broken"
### Describe the bug.

Could previously read AWID 36-bit, but now can't.

### Reproduction

1. Attempt to read 36-bit AWID tag.
2. No tag detected.

### Target

_No response_

### Logs

_No response_

### Anything else?

_No response_

[2022-10-07 03:18] DrZlo13 commented on #1831
@EpicLPer Do you happen to have the TRACE logging level set?

[2022-10-07 03:50] EpicLPer commented on #1831
I sadly don't and have also meanwhile moved additional animations away from the dolphin folder to prevent this, and also don't have much time currently to debug this further excuse :(
But you can try to replicate it by extracting all the animation folders and metadata from https://github.com/RogueMaster/flipperzero-firmware-wPlugins/releases/download/0.68.2-1004-RM/0.68.2-1004-RM.tgz (go to "resou

[2022-10-07 07:49] GMMan opened #1842 "nfc: Using "Unlock With Password" option for MFUL and cancelling results in blank data"
### Describe the bug.

When you get to the read auth step in the "Unlock With Password" flow for NTAG and go back out to the read success screen, you get blank UID and pages read 0/0.

### Reproduction

1. Go to NFC app and select "Read"
2. Scan a password-protected NTAG
3. Select "More"
4. Select "Unlock With Password"
5. Use any of the unlock options
6. Accept the warning
7. Go back all the way

[2022-10-07 17:33] skotopes commented on #1540
I'll try to reproduce and fix it on this weekend.

[2022-10-07 18:15] GMMan commented on #1797
This is caused by desktop settings changing version, and saved structs have no migrations. Perhaps PINs could be saved separately, preferably somewhere that would persist across firmware updates.

[2022-10-07 18:47] SherifNagy commented on #1797
Make sense, this only happened once, since day one and I have PIN and did few upgrades " including one this week" to latest and didn't lose the PIN, just this one time!

[2022-10-07 20:20] GMMan commented on #1727
Can you reproduce this more than once? From the codepaths it seems it can only show if a file exists at `/int/.slideshow`, and that file contains the frames to display. If the file does not exist, this cannot be displayed. So if the file is present, most likely you powered off the device/it ran out of battery after an update and before you acknowledged the message, or LFS failed to delete the file

[2022-10-07 21:05] jkctech commented on #1727
I remember at that time I was able to reproduce this at least once more, which was the picture shown in the report, but I pulled out the usb cable the before acknowledging, it immediately died because of the battery and on replug showed the message again (which makes sense reading your above message)

The flipper dieing before the ack of the update is also out of the question for me since I play a

[2022-10-07 22:09] jagotu opened #1847 "iButton ds1990a emulation doesn't work"
### Describe the bug.

I've been having issues with emulating my iButton to the door lock, so I took a logic analyzer to it and got some recordings.

It seems to me (and I'm an amateur at this) like the window between resets left by the reader is just 230 microseconds and the flipper doesn't react fast enough.

This is what the emulation attempt looks like:
![image](https://user-images.githubuserc

[2022-10-07 22:34] GMMan commented on #1727
See if you can somehow reproduce this again, but before acknowledging the message, open up qFlipper and see if there's a `.slideshow` file in internal. Then acknowledge, see if it disappears. If it doesn't disappear, you'll probably want to enable logging and check if there's any errors deleting the file. If it does disappear, replug again and see if you get the screen. If you do, that might be so

[2022-10-08 04:52] skotopes commented on #1727
This issue was fixed in previous release.

[2022-10-08 04:52] #1727 closed, assigned to skotopes, nminaylov

[2022-10-08 07:42] Mywk commented on #1670
Can replicate it, it wasn't working properly for me either without using it as you described:
Acquire -> Action -> Release

Is this by design?

Example code for a HTU21D / Si7021 temperature sensor using I2c in [my repository](https://github.com/Mywk/FlipperTemperatureSensor), code is [here](https://github.com/Mywk/FlipperTemperatureSensor/blob/master/temperature_sensor/temperature_sensor.c).

[2022-10-08 10:13] #1765 closed, assigned to skotopes

[2022-10-08 17:56] #1489 closed, assigned to skotopes

[2022-10-08 23:06] dcoles opened #1851 "Support R_ARM_PREL31 relocation"
### Describe the enhancement you're suggesting.

LLVM generates `R_ARM_PREL31` relocations for `.ARM.exidx.*` symbols for [section unwinding](https://github.com/ARM-software/abi-aa/blob/main/aaelf32/aaelf32.rst#special-sections). This is needed to support features like Rust's [`panic = "unwind"`](https://doc.rust-lang.org/cargo/reference/profiles.html#panic) and C++ exception unwinding.

The worka

[2022-10-09 06:14] hedger commented on #1851
Reference implementation: https://opensource.apple.com/source/gdb/gdb-768/src/bfd/elf32-arm.c.auto.html, look for R_ARM_PREL31.

[2022-10-09 16:15] DrZlo13 commented on #1851
I don't think it's a thing worth wasting time on. Stack unwinding takes up a lot of valuable memory, which increases load time and makes it impossible to write large programs.

It also requires writing support libraries for stack unwinding, AFAIK.

[2022-10-09 16:20] netdoggy commented on #1611
@gornekich
Please tell me, should Miflare Classic 1K be emulated with a flipper completely or only UID?

If I take the saved Miflare Classic 1K file (from the intercom), together with the keys in the sectors, and click emulate, my android does not react to it in any way. At the same time, it perfectly reads the original chip.

[2022-10-09 21:20] wdoekes commented on #1743
I would rather have it reuse the previously saved filename and add a number to it. That way I could do multiple recordings, and maybe only change the last digits of the filename to store something meaningful.

Just a thought.

(The timestamps are available on the filesystem, so if you take the files to a computer using the sdcard, you can view them there.)

[2022-10-09 22:56] VVX7 opened #1855 "malformed infrared file may crash device"
### Describe the bug.

`infrared_signal_read()` does not check the size of `name` when parsing the infrared file. Setting the value of `name` to a string longer than the heap size will cause a `furi_check` crash when calling `string_set`.

PoC:
https://gist.github.com/VVX7/a9f4e41a131c44710642adf8affc221e

### Reproduction

1. Open the infrared file from the flipper infrared app menu.
2. The devic

[2022-10-10 10:42] gsurkov commented on #1855
Doesn't look like legitimate use. Flipper firmware favours simplicity and speed over checking for every possible user input.
Please don't hesitate to report any further bugs you'll encounter.

[2022-10-10 10:42] #1855 closed, assigned to nobody

[2022-10-10 14:15] netdoggy opened #1862 "NFC Miflare Classic 1K full emulation not working?"
### Describe the bug.

Please tell me, should Miflare Classic 1K be emulated with a flipper completely or only UID?

If I take the saved Miflare Classic 1K file (from the intercom), together with the keys in the sectors, and click emulate, my android does not react to it in any way. At the same time, it perfectly reads the original chip.
The intercom is also not working by Flipper but it is trying

[2022-10-11 08:41] GMMan commented on #1700
As a side note, there's only 1MB of flash on the MCU total anyway, and about a quarter of that's reserved for the wireless stack. It's not logical to have working firmware if there's more space taken up by fonts than there is space in flash.

[2022-10-11 09:26] meirpro commented on #1234
I've seen a few apps that use long press back button to exit, and short
press as a extra button (for example, back press of remote)

On Mon, Jul 18, 2022, 7:41 AM Maxime Meignan ***@***.***>
wrote:

[2022-10-12 07:27] GMMan opened #1869 "fbt/fap: C++ entry point name mangling documentation/handling"
### Describe the enhancement you're suggesting.

Currently if you try to build a C++ app and use a C++ entry point function's name directly in `application.fam`, you may receive the following cryptic linker error:

[code]

This is the result of the compiler mangling the name. To resolve this, either change the `entry_point` within `application.fam` to the mangled name, or apply `extern "C"` to the

[2022-10-12 07:59] hedger commented on #1869
Good point, we'll add that to documentation.

[2022-10-12 08:20] azlekov opened #1870 "Cannot exit picopass reader"
### Describe the bug.

I installed the latest one firmware and play around with the new stuff. I found in apps a picopass reader which I open. Unfortunately I do not have a picopass near me and cannot exit the app. It says "Detecting picopass card" and that's it. For 3 days I'm waiting the battery to drain. :sad

The device is not responding cannot connect to it via Bluetooth, etc.

Help!

### Rep

[2022-10-12 08:30] GMMan commented on #1870
Seems to be working here. If you're seeing the hourglass animation, there might be an issue loading the app. Otherwise, if the back button doesn't work, perhaps there was some other issue causing a crash. You can reboot your Flipper by pressing Left + Back.

[2022-10-12 08:52] azlekov commented on #1870
Thanks @GMMan after restart the `PicoPass Reader` is responsive and can cancel reading the card. Maybe is something related with the firmware update and the first open of `PicoPass Reader`

[2022-10-12 16:31] #1837 closed, assigned to nobody

[2022-10-13 15:39] netdoggy commented on #1862
Is this a bug or I have a hw problem, can someone check?

[2022-10-13 18:27] Alejandro12120 opened #1873 "Flipper not using correct key B to read sectors"
### Describe the bug.

Hello, I have a Mifare Classic 1K which is:
[Super_artefact.nfc](https://github.com/flipperdevices/flipperzero-firmware/files/9779484/Super_artefact.txt)

When I try to read it, it founds 16 keys so the auth method works but it doesn't read the sector so I think that read sector method doesn't use correct key B. Also when I use the cache file the card is read successfully.

[2022-10-14 12:27] gsurkov commented on #1800
Sounds like a useful feature... for later. Moving to backlog for now.

[2022-10-14 12:39] gsurkov commented on #1775
We don't currently have any remote-controlled fans in the vicinity, so it would be nice to receive some more info, including:
1. The number of buttons and their functions. Must be reasonable and reflect the common features shared across different models of fans
2. The button layout (from a fan user's perspective)
3. Sample signals obtained from a typical fan remote (with manufacturer and model inf

[2022-10-14 12:44] gsurkov commented on #1508
I would like to hear some suggestions on how it should be implemented. A mock-up or a text description would be nice.
Can't do this exactly like in the archive, because short and long presses mean different things here.

[2022-10-14 12:51] gsurkov commented on #1434
Looks like the raw capture option needs to be implemented. Will work on it soon.

[2022-10-14 14:33] alecmatthews commented on #1847
I've also noticed this with my iButton key. The flipper can capture the key just fine, but can not emulate it back to the reader correctly. I believe it's a similar issue with timing, but I don't have the correct equipment to measure it.

[2022-10-14 15:34] gzub commented on #1873
There is a bug that was fixed on another firmware(not sure if I can mention it here) that was a typo in the code, when it finds a b key that works it saves the a key by accident...  I believe there is a larger set of enhancements in another pull request misnamed mfc enhancements (or something similar) that also will likely correct this and allow clearing the cache...

[2022-10-14 15:35] gsurkov commented on #1494
A/C universal remote is available now, and there is a [manual](https://github.com/flipperdevices/flipperzero-firmware/blob/dev/documentation/UniversalRemotes.md#air-conditioners) for adding new signals.
As for the Audio, I think the library linked above would suffice to start, will add it soon.

[2022-10-14 15:52] Alejandro12120 commented on #1873
Yes I know, I tried that fix and it allowed me to read the card successfully using the cache but using key from dictionary is bugged.

[2022-10-14 17:50] #1870 closed, assigned to skotopes

[2022-10-14 17:50] #1869 closed, assigned to nobody

[2022-10-14 17:52] skotopes commented on #1862
There are some hardware limitations: we do emulation in software and some readers behave not as we expect.
Please provide us debug.pcap to understand what your reader is trying to do.

@gornekich and @Astrrra will help you

[2022-10-14 17:54] skotopes commented on #1851
Yep, clearly not for embed.

[2022-10-14 17:54] #1851 closed, assigned to nobody

[2022-10-14 17:55] skotopes commented on #1847
@nminaylov can you take a look in next sprint?

[2022-10-14 17:58] skotopes commented on #1831
We never designed dolphin animation system to handle big sets. Nor do we plan to do that. But PR are welcomed. Meanwhile I'll close this issue.

[2022-10-14 17:58] #1831 closed, assigned to nobody

[2022-10-14 17:59] skotopes commented on #1818
I'll deploy update on this weekend

[2022-10-14 18:01] skotopes commented on #1804
That will require another set of icons, clearly something that we'd like to avoid. We may return to this topic in future, but clearly not till version 1.0.

[2022-10-14 18:02] skotopes commented on #1798
Feel free to reopen issue if you still have this problem.

[2022-10-14 18:02] #1798 closed, assigned to hedger

[2022-10-14 18:28] gornekich commented on #1873
Hello @Alejandro12120 !
Can't reproduce this bug so far. What firmware version do you have? Can you try it on dev brunch?

[2022-10-14 21:49] Alejandro12120 commented on #1873
Hello, same issue, tried with dev f06930e4

Here are my logs

<details>
<summary>Logs</summary>
<br>

[code]
</details>

[2022-10-14 22:43] netdoggy commented on #1862
My reader is just nfc Samsung Galaxy S20+ and HTC U11
with open Mifare Classic Tool. None of them can read Miflare Classic 1K/4K emulation

I was looking for information on how to correctly create debug.pcap in flipper zero and could not find it.
Please tell me the sequence of actions.

[2022-10-14 23:01] netdoggy commented on #1862
I logged into cli
debug 1
log TRACE
then when reading the emulation from the phone, I get the following log:
[code]
Is there anything else I can do?

[2022-10-15 09:29] CookieCr2nk commented on #1037
As now SD-Card Apps are available, maybe it could be possible.

[2022-10-15 17:46] dcoles commented on #1851
Thanks for the feedback. I'll keep an eye out if I see anything else that generates `R_ARM_PREL31` relocations.

[2022-10-16 10:44] skotopes commented on #1791
Sorry for delay. I've updated region database. Please update your flipper to provision new data.

[2022-10-16 10:44] #1791 closed, assigned to skotopes

[2022-10-16 10:44] skotopes commented on #1818
Sorry for delay. I've updated region database. Please update your flipper to provision new data.

[2022-10-16 10:44] #1818 closed, assigned to skotopes

[2022-10-16 10:55] skotopes commented on #1713
In many countries local regulations override ITU regulations. Currently we open bands based on official bands documentation by appropriate country authority.

One more limitation is that we are opening frequencies that are covered by our current certificates.

I'm planning to open bands database soon and we are going to change to something similar to wireless-regdb in future products.

[2022-10-16 10:55] #1713 closed, assigned to skotopes

[2022-10-16 11:00] skotopes commented on #1743
One of limitations that we have is a small screen. Putting everything into file name will make it unreadable on device.
We'll think about changing naming scheme system wide.

[2022-10-16 11:02] skotopes commented on #1741
Available in dev and will be release in 0.69

[2022-10-16 11:02] #1741 closed, assigned to Skorpionm

[2022-10-16 11:06] skotopes commented on #1714
Not only Japan but also Canada got same exception. We'll implement it at some point.

[2022-10-16 11:07] #1608 closed, assigned to Skorpionm

[2022-10-16 11:19] skotopes commented on #1466
Available in dev, will be release in 0.69

[2022-10-16 11:19] #1466 closed, assigned to Skorpionm

[2022-10-16 11:20] #1470 closed, assigned to Skorpionm

[2022-10-16 11:22] skotopes commented on #1480
Please check latest version.

[2022-10-16 11:22] #1480 closed, assigned to Skorpionm

[2022-10-16 11:27] skotopes commented on #1607
We've made some research and tests we'll stick to currently implemented chip-specific profile system.
Other options requires complex abstractions and chips that got fully open documentation which one of our vendor doesn't provide.

[2022-10-16 11:27] #1607 closed, assigned to Skorpionm

[2022-10-16 15:01] np opened #1880 "SubGhz CAME Wrong number of bits in key"
### Describe the bug.

Since this [commit](https://github.com/flipperdevices/flipperzero-firmware/commit/4da6eba395652de8266ecd6a2bb63012517efd85#diff-180c2193cc29b8d3416ca37795d8d245c8ded2664321fd917ce264ed9f2f8f51) I cannot emulate one remote.

Here my `File.sub`:

[code]

It works up to 0.63.2-RC, then I get errors.
When emulating right after "Read", I get the error stating it is not allowed to

[2022-10-16 15:04] ankris812 opened #1881 "Resources wont get updated if older update folder exists"
### Describe the bug.

If i upload an update, and there is already a folder on ext/update with that name,no files will be updated, it will skip them
it happened when trying to update a local build of the firm, i was trying to change the flipper dict, deleted previous one, copied the new, without seeing that it had a typo on name, i fixed the typo, but when updating again error was still there.

##

[2022-10-16 15:09] skotopes commented on #1880
There were issues with CAME in old firmwares. Can you update to latest fw and re-capture remote?
If you'll experience issues with it please attach RAW recording

[2022-10-16 15:19] np commented on #1880
In all the recent fw I've tried, re-capture still produce the same issue.

Here is the RAW:

[code]

[2022-10-16 15:22] skotopes commented on #1880
Yep, I can reproduce it. @Skorpionm please take a look.

[2022-10-16 15:30] DrZlo13 commented on #1881
I do not think that this problem relates to the firmware, rather to the qFlipper.

[2022-10-16 20:48] gornekich commented on #1862
Hello @netdoggy
I can see that your phone performs dictionary attack. Unfortunately logging takes some time, which is critical for mifare classic emulation.
1) Could you try emulation with debug level set to Default?
2) If it still not works, could you try to set up you phone to perform dictionary attack with only one key 000000000000

There is not good way to log information with flipper and be s

[2022-10-17 00:17] ankris812 commented on #1881
the firmware? is the firmware who uploads the updates files?

[2022-10-17 02:39] netdoggy commented on #1862
@gornekich
No NFC program on Android is running at this moment, just a desktop, and I bring a flipper with emulation, i.e. in theory there can be no attack at this moment.
At this moment, the android does not show in any way that the flipper emulated label has been scanned.

In theory, the phone in this mode, as far as I understand, reads only id and "flags" ?

To be honest, I don’t quite understa

[2022-10-17 02:46] Skorpionm commented on #1880
it's not came, which has either 12 or 24 bits key ... attach a photo of the remote control

[2022-10-17 12:21] kowalski7cc opened #1883 "Rename unknown files and folders from file browser"
### Describe the bug.

Currently file browser doesn't allow to rename unknown files and folders.

### Reproduction

1. Open file browser
2. Find a file (like a .txt) or a folder
3. Open contextual menu
4. Rename option is unavailable

### Target

_No response_

### Logs

_No response_

### Anything else?

_No response_

[2022-10-17 14:38] gornekich commented on #1873
Hello @Alejandro12120
I think I figured out what happened.

First of all, I found error in saving key cache, which was mentioned above. I think that incorrect cache saving made Flipper think that it read card successfully, however I think it never did. I fix that here #1885

After tests I am pretty sure that Flipper tries to read sectors with keys B correctly. The main question here is how your ta

[2022-10-17 17:40] Alejandro12120 commented on #1873
Hi @gornekich,

After your fix, the behaviour is the same. I will attach a video and my logs after I added this debug maybe I did it wrong since I am not a C developer.

[debug.txt](https://github.com/flipperdevices/flipperzero-firmware/files/9803106/debug.txt)

https://user-images.githubusercontent.com/45500329/196244529-4d2bf493-418b-48f9-b968-c6e55fe1e0d9.mp4

<details>
<summary>Logs</summary>

[2022-10-17 17:57] UberGuidoZ commented on #1494
Sounds great. We are trying to keep these files up to date, pulling from the IRDB. 2-3 people are adding while another few are verifying functionality and duplicate/corruption removal. There are linked scripts from @darmiel used for this.

[2022-10-17 19:52] SkalkaA opened #1886 "NFC st25ta support"
### Description of the feature you're suggesting.

Bought a smart lock ROTHULT made by IKEA, which uses st25ta 14443A cards for access.
Currently it is not possible to emulate these cards with a Flipper.

It is possible to read/emulate them, and to extract the password using a Proxmark3 in standalone mode by touching the lock itself, thereby making a copy of the master card*. It would be great if

[2022-10-17 22:21] max-baz commented on #1862
Just curious, in the absence of these two devices, can a second flipper, or an android phone, be used to sniff communication between a flipper and a reader, to collect a useful pcap file that could help identify issues with MFC emulation?

[2022-10-18 00:29] sqlsquirreltm commented on #1800
@gsurkov This seems like a useful and fun feature. Do you mind if I pick this up?

[2022-10-18 02:09] griffonlee commented on #1818
Thanks team!

[2022-10-18 05:16] AkechiShiro commented on #1530
I believe this issue is fixed by #1822, no ?

EDIT: fix the PR number.

[2022-10-18 07:33] np commented on #1880
Here it is:
![pic](https://user-images.githubusercontent.com/5548/196365557-719ce2bd-fe2e-4698-bf44-5fd7e37eab9e.jpg)

[2022-10-18 08:48] Skorpionm commented on #1880
Check https://github.com/flipperdevices/flipperzero-firmware/pull/1890

[2022-10-18 09:37] AkechiShiro commented on #1468
@theblackhole any news on this, have you found anything relevant using the flipper's logs via USB ?

On this issue, I think it's important to mention a few things :
- Flipper Zero must not be in "Settings" -> "System" -> "Debug ON", if it is activated, reading any Emulated tags will always fails (tested on the latest stable release 0.69), reader was an Android Phone with NFC, make sure "Debug" (mo

[2022-10-18 15:41] #1880 closed, assigned to Skorpionm

[2022-10-19 07:56] gornekich commented on #1873
That's a strange behavior. I think it's a bug in reading with cache, need some time to figure it out

[2022-10-19 13:39] Hugal31 commented on #1468
@AkechiShiro thanks for the Debug tip. It still cannot read the emulation with Mifare Classic Tool on my Fairephone 4 (it rarely detects it, and when it does it drops the connexion right away).

For the anti-copy feature of your tag, you can read about in #1345. The best test against it is what you did, scanning the real tag before and after using it and compare the two dumps.

[2022-10-19 15:53] AkechiShiro commented on #1468
@Hugal31 you tried on the latest 0.69 firmware version and it stills failed to read it with the Mifare Tool app ? That's what I used and it works on a Xiaomi Poco F3

[2022-10-19 18:49] Alejandro12120 commented on #1873
Don't worry take all the time you need.

Here are the logs when I read the card using cache, if that helps you.

<details>
<summary>logs</summary>

[code]
</details>

[2022-10-19 21:39] jayashree505 commented on #1798
Hi I get the same error, May I know how to overcome this?

[2022-10-19 21:39] joooon opened #1895 "Flipper just keeps on painting"
### Describe the bug.

Hello friends,

I've recently upgraded to fw 0.69.0 and immediately noticed that my dolphin has picked up a new hobby and am very pleased with his new occupation.

However I've also noticed that he seems to be doing little else and keeps on painting in every other animation. Don't get me wrong, I'm happy he's not destroying his eyes in front of that CRT or breathing solder f

[2022-10-19 21:48] jayashree505 opened #1896 "build fails when using ./fbt"
### Describe the bug.

subprocess.CalledProcessError: Command '['git', 'rev-parse', '--short', 'HEAD']' returned non-zero exit status 128.
        CC      lib/ST25RFAL002/source/st25r3916/st25r3916_led.c
        CC      lib/ST25RFAL002/source/custom_analog_config.c
scons: *** [build/f7-firmware-D/toolbox/version.inc.h] Error 1
********** ERRORS **********
Failed building build/f7-firmware-D/toolbo

[2022-10-19 22:12] np commented on #1880
Thanks you rock guys!

[2022-10-19 22:18] JustDr00py commented on #1798
It happened to be an issue with one of the folders. I removed it and fixed the issue

[2022-10-19 22:36] jayashree505 commented on #1798
Could you please tell me which folder it was?

[2022-10-19 23:14] hedger commented on #1896
How did you get the source code? GIt clone or zip archive?

[2022-10-19 23:39] jayashree505 commented on #1896
I git cloned it using the following command:

`$ git clone --recursive https://github.com/flipperdevices/flipperzero-firmware.git`

[2022-10-20 04:17] AkechiShiro commented on #1468
Also @Hugal31 could you test [NXP TagInfo](https://play.google.com/store/apps/details?id=com.nxp.taginfolite&hl=en&gl=US) in order to read your emulated tag on the Flipper Zero ?

Here is a [scan log in XML of an emulated tag](https://gist.github.com/AkechiShiro/cad49659342c5d8c2a6ab2af252719c4), I did, I redacted some information, but they were properly detected (UID, ATQA, SAK,...).

This does n

[2022-10-20 05:00] AkechiShiro commented on #1669
I've just encountered a similar issue when emulating another type of tag, a Viking tag to be more precise, I was stuck in the reader and couldn't do anything but reset. I was not plugged in serial or had any logs of the issue.
I was on firmware Version: 0.69.0 commit: 747e81fe radio: 1.13.3

[2022-10-20 08:13] hedger commented on #1896
Can you show the output of `git rev-parse --short HEAD` in repo root dir?
And the return code after running it manually, `echo $?`

[2022-10-20 08:15] Hugal31 commented on #1468
I failed to mention reading the tag header with [NFC Tools](https://play.google.com/store/apps/details?id=com.wakdev.wdnfc&hl=fr&gl=US) works.

I tried using NXP with the firmware 0.69.1:
* Quick scan says "Tag communication was interrupted"
* [Full scan](https://gist.github.com/Hugal31/da34b6a9cb486995025b71d7ddb26207) says "There seems to be serious errors communicating with the tag"

The error

[2022-10-20 10:55] jayashree505 commented on #1896
On running `git rev-parse --short HEAD`, I get `9a9abd59`

May I know which return code you are looking for?

[2022-10-20 18:11] hedger commented on #1896
I'm looking for that command's return code. It can be displayed by running `echo $?` after it.
For some reason, that command fails when it's being invoked by fbt. Let's make sure its return code is 0 when running in normal shell.

After that, please spawn fbt shell (by executing`source scripts/toolchain/fbtenv.sh` in your terminal) and re-run git command and return code check.

[2022-10-20 22:26] emory commented on #1881
i don't do updates with qflipper, i do them on-device. i keep a directory of my SD card layout as a repo and use rsync (`rsync -azvP --delete local-copy/ /Volumes/SDCARD/`) to refresh and i don't think i see the same behavior you're reporting. i haven't deleted an entire folder from my SDCARD yet if that's the test you're hoping to get confirmation on @ankris812 but i don't think i will ever use q

[2022-10-20 22:29] jayashree505 commented on #1896
Hi, On running git rev-parse --short HEAD, I get 9a9abd59 in both cases. Also, the return code is 0 in both cases.

[2022-10-21 08:28] ankris812 commented on #1881
@emory the problem only happens when updating with qflipper. And i'll check what You do to update

[2022-10-21 13:22] krisss117 opened #1901 "Scrolling text when longer than screen"
### Description of the feature you're suggesting.

Please add text scrolling when text is longer than screen. I think only selected position will scroll text. Then it allow to read longer text for example NFC, SUBGHZ.

It will be very usefull.

### Anything else?

_No response_

[2022-10-21 13:25] krisss117 opened #1902 "Run bad USB script over bluetooth"
### Description of the feature you're suggesting.

Hi, plese add function to send BAD USB script over Bluetooth.

1. Connect Flipper Keyboard over Bluetooth
2. Allow to select BAD USB script to run

### Anything else?

_No response_

[2022-10-21 13:30] krisss117 opened #1903 "Run BAD USB immediately after connect to device"
### Description of the feature you're suggesting.

Add option to run script immediately after connect to device

1. select BAD USB
2. select script
3. Click RUN
4. Connect to device
5. Flipper immediately run script after connect (optional vibrate when start running)

I thin option with connect and then trigger script after click run is usefull too - don't remove this option :)

### Anything else?

[2022-10-21 14:10] Antiarchitect opened #1904 "NFC 0.69.1 Can not parse file"
### Describe the bug.

I have two phones with NFC chips. Reading one (One Plus 7) goes normally and I can Emulate UID normally. But have issues with another one which is Honor 50: I can read NFC and save it but selecting saved file tells `Can not parse file` and thus I have no actions menu (UX bug) so I cannot even delete it.
![image](https://user-images.githubusercontent.com/50209/197215623-e6c4c

[2022-10-21 14:45] gornekich commented on #1904
Hello @Antiarchitect !
Could you please share the content of the saved file? Nfc type and UID fields in particular

[2022-10-21 14:47] gornekich commented on #1904
Not UID, but it's length

[2022-10-21 14:48] Antiarchitect commented on #1904
Will try to extract the file a bit later :)

[2022-10-21 15:02] Antiarchitect commented on #1904
[https://dev.flpr.app/s#path=nfc/Vika.nfc&Filetype=Flipper+NFC+device&Version=2&Device+type=UID&UID=00+00+00+00+00+00+00+00+00+00&ATQA=00+00&SAK=00](url)

[2022-10-21 15:02] Antiarchitect commented on #1904
https://dev.flpr.app/s#path=nfc/Vika.nfc&Filetype=Flipper+NFC+device&Version=2&Device+type=UID&UID=00+00+00+00+00+00+00+00+00+00&ATQA=00+00&SAK=00

[2022-10-21 15:03] Antiarchitect commented on #1904
[code]

[2022-10-21 19:43] johne8 opened #1906 "Infrared Macro/Playlist"
### Description of the feature you're suggesting.

Is it possible to add macro/playlist support for Infrared signals?

### Anything else?

_No response_

[2022-10-21 21:19] michaelfaith84 commented on #1741
How about a "log to file" option that makes a csv with timestamps etc?

[2022-10-21 23:32] UberGuidoZ commented on #1895
😂

[2022-10-22 00:35] Llama-Master opened #1907 "Opening .sub files in a folder"
### Description of the feature you're suggesting.

I know I have posted about this multiple times, but I need a reply.

Here is what I need, and if you could, please help me

I cannot open a .sub file from my android app if the file is inside a folder. I have them inside a folder to organize them to find them easier. The problem is, I cannot open them while they are inside a folder to broadcast to

[2022-10-22 14:44] u1735067 opened #1909 "App/SubGhz proto: support TPMS (Tire Pressure Monitoring System) ?"
### Description of the feature you're suggesting.

I don't know if it is relevant, but since I couldn't find any mention of TPMS already, maybe an app to decode TPMS (Tire Pressure Monitoring System) messages could be implemented, and maybe even with a "Relearn" option (https://github.com/UberGuidoZ/Flipper/tree/main/Sub-GHz/Vehicles/EL50448_-TPMS_Relearn_Tool)?

### Anything else?

This is one of

[2022-10-22 14:48] u1735067 commented on #1530
Seems to be working for me, thank you :)

[2022-10-22 14:48] #1530 closed, assigned to gornekich

[2022-10-22 14:53] skotopes commented on #1909
Should be totally feasible. All APIs are available and can be implemented as external application.
At the same time it's kinda niche thing, we don't plan to implement it. Maybe someone from community will.

[2022-10-22 14:56] skotopes commented on #1907
This should be addressed in Mobile apps. Please open issue in https://github.com/flipperdevices/Flipper-Android-App

[2022-10-22 14:56] #1907 closed, assigned to nobody

[2022-10-22 15:03] skotopes commented on #1906
The best option will be to implement it as external application. We don't plan to do that, but someone from community may take the task.

[2022-10-22 15:06] skotopes commented on #1903
We'll come back to this task after application catalog.

[2022-10-22 15:08] skotopes commented on #1902
Will require RPC mode implementation in BadUSB application and corresponding part in apps. We'll come back to this task after application catalog.

[2022-10-22 15:11] skotopes commented on #1901
We'll come back to this task after v1.0

[2022-10-22 15:16] skotopes commented on #1895
In terms of probability and math it behaves as intended.
But we are going to change balance in future releases. This is seasonal thing ;-)

[2022-10-22 15:16] #1895 closed, assigned to skotopes

[2022-10-22 15:18] skotopes commented on #1886
Yep, we have it in backlog. We'll come back to it a little bit later.

[2022-10-22 15:19] skotopes commented on #1883
Sounds reasonable. We'll fix it in future releases.

[2022-10-22 19:17] ppseprus commented on #1743
I actually wanted to open a PR where under Settings, one would be able to switch between file name types for all applications. Unfortunately, neither my C / C++ skills, nor the amount of my free time allowed this to happen.

However, I would suggest to go into a more customisable direction with such things: allow users to switch between different degrees of precision. From random to timestamp with

[2022-10-23 15:48] d0mnik opened #1915 "Flipper repeatedly shows internal storage full when attempting to flash firmware"
### Describe the bug.

when attempting to flash the firmware updates via `fbt updater_package`, the flipper always show unsuccessful with error message: Internal Storage is full.

### Reproduction

1. Compiler firmware
2. Upload to SD card
3. flash firmware

### Target

_No response_

### Logs

_No response_

### Anything else?

_No response_

[2022-10-23 15:53] skotopes commented on #1915
It says so for a reason. Usually it means that you have only couple pages left.
How big is your firmware, how much space is left on internal storage?

[2022-10-23 15:54] d0mnik commented on #1915
My internal storage is totally used. How can i free up internal storage?

[2022-10-23 15:56] skotopes commented on #1915
You can use qFlipper to manage files.

[2022-10-23 15:58] d0mnik commented on #1915
qflipper shows several files within internal flash, but no sizes are indicated. May i find out what files are crucial and what can I remove to free up space?
![image](https://user-images.githubusercontent.com/32241418/197402569-6d6d3cfe-678f-4dab-9a4c-460cffcfa90d.png)

[2022-10-23 15:59] skotopes commented on #1915
critical files are starting with `.`

[2022-10-23 16:00] d0mnik commented on #1915
kindly refer to my updated comment with screenshot. it seems that there isn't any other files apart from crucial files.

[2022-10-23 16:03] skotopes commented on #1915
Yep, all of them are critical.
So how much free space do you have. What's in your firmware that occupies so much?

[2022-10-23 16:05] d0mnik commented on #1915
Currently, i have 0kb free.
I am currently using the firmware in the release branch, with slight modifications to remove region locks, and compiled with the picopass plugin.

[2022-10-23 16:09] skotopes commented on #1915
Oh, that firmware. Please talk with that firmware maintainer. We only support official firmware here.

[2022-10-23 16:09] #1915 closed, assigned to nobody

[2022-10-23 16:10] d0mnik commented on #1915
I believe there is a misunderstanding. @skotopes  I am using the firmware here, but just with the region checks removed.

[2022-10-23 16:16] skotopes commented on #1915
Picopass is included in official firmware as external application and should not be compiled into firmware.
Open "Menu->Setting->Storage->About internal storage": you should see 116kb there.
In case if you see 116k and 0k free most likely lfs is corrupted. Use "Factory Reset" to restore it.

[2022-10-23 16:25] d0mnik commented on #1915
I only see 24KB total, 8KB free on my device. Kindly advice steps going forward

[2022-10-23 16:34] skotopes commented on #1915
8kb is 2 pages. That is what updater is telling to you.

qFlipper can install dfu files directly, but internal storage in that case may be wiped. Same goes for flashing in recovery mode: it always succeed but internal data will be lost.

Don't compile apps into firmware, compile them as external apps.

[2022-10-23 16:36] d0mnik commented on #1915
How can I flash new firmware onto the device in the current state? I am unable to flash any firmware due to the space limitation. Even booting into dfu mode and repairing it is not working.

Update:
Attempting to flash the firmware the second time in DFU mode works.

[2022-10-23 16:39] skotopes commented on #1915
qFlipper is always can do flash from recovery:

- Press left + back
- Release left - device will go into recovery mode
- open qFlipper and press recover button

[2022-10-23 21:10] netdoggy commented on #1862
@gornekich
I got hold of proxmark and did a sniff/trace.
Tag : Flipper -> NFC -> Add Manual -> Mifare Classic 1K -> Emulate
Reader: Android phone , Galaxy S20+ (no reader software running)
Info UID: 04 6E F8 14

[code]
What else can i do to help?

[2022-10-24 02:31] netdoggy commented on #1862
Here, for comparison, a real tag was read, from an android phone, without errors.

[code]

The same tag, read and stimulated by the flipper, and traced through proxmark.
The  android phone did not show that the tag was read (i.e. could not read).

[code]

[2022-10-24 08:49] zmactep opened #1918 "Cannot build on M1 MacBook Pro (assets_icons.h not found)"
### Describe the bug.

I have an error that `assets_icons.h ` header is not found during the build process.

### Reproduction

[code]

### Target

firmware

### Logs

[code]
[code]

[2022-10-24 08:57] DrZlo13 commented on #1918
Known issue. Workaround: run the build again and it will be fixed.

[2022-10-24 08:59] zmactep commented on #1918
Miracle. Works for me, thanks!

[2022-10-24 08:59] #1918 closed, assigned to nobody

[2022-10-24 09:07] nuschpl commented on #1040
IMHO The feature of masstorge is important not only from perspective of copying data from/to it. It is also some form of cover channel - one could delay execution of ducky script and pretend it's just a storage, or have an excuse when catched with device connected

[2022-10-24 09:25] gsurkov commented on #1906
Looks like a duplicate of #1800. As said above, there are no immediate plans on implementing it, but we will welcome every community effort in that direction.

[2022-10-24 09:25] #1906 closed, assigned to nobody

[2022-10-24 17:15] coded-with-claws opened #1923 "Subghz raw sub transmits an unwanted signal at the beginning (OOK 433MHz)"
### Describe the bug.

Hi!

I'm generating a raw sub file and when I play it with my flipper, it starts with some kind of preamble which I didn't write into the raw sub file:
- unwanted preamble
  - sends ON for duration ~3000 (selected in blue on the screenshot)
  - sends OFF for ~1000 (just after the selected blue)
- then applies the content of the raw sub.

I can't see any reason for this behav

[2022-10-25 21:03] skotopes commented on #1923
@Skorpionm do you remember why we start transmission before furi_hal_subghz_start_async_tx is actually started?
https://github.com/flipperdevices/flipperzero-firmware/blob/dev/applications/main/subghz/subghz_i.c#L106

[2022-10-26 19:04] Maycuz opened #1932 "Acurite-606TX not picking up weather sensor"
### Describe the bug.

Trying to get the information off a weather sensor using the Acurite-606TX protocol with the weather station app (v0.3). Using an RTL-SDR and rtl_433, the information is correctly read and identified as Acurite-606TX @ 433.92MHz. Flipper is just stuck on "Scanning..." at the same frequency.

rtl_433 output:
![image](https://user-images.githubusercontent.com/6267267/198113531

[2022-10-26 19:09] skotopes commented on #1932
Please attach RAW recording

[2022-10-26 20:48] Maycuz commented on #1932
Raw recording can be found here:
[acurite_issue.zip](https://github.com/flipperdevices/flipperzero-firmware/files/9873646/acurite_issue.zip)

[2022-10-26 21:30] LowSkillDeveloper opened #1934 "Hopper frequency presets"
### Description of the feature you're suggesting.

It would be great if you could make different Hopper_frequency presets.
And instead of the ON and OFF switch, you choose a preset.

### Anything else?

You can even limit their number and leave them in the setting_user file.

Maybe something like this:
Hopper_frequency_preset1, Hopper_frequency_preset2, Hopper_frequency_preset3

[code]

[2022-10-26 23:22] ASoldo opened #1936 "Fresh cloned repo with bunch of errors (intellisense)"
### Describe the bug.

Hi, I'm waiting on my flipper zero and in the mean time I wanted to see how firmware looks like. When I open flipperzero-firmware with nvim on Linux Mint it gives me a lot of warnings but also errors. Did I forget to do some step maybe?
![image](https://user-images.githubusercontent.com/1175537/198156486-c807cc85-595e-4f6e-92d2-a36fbbf1bb0c.png)
 This is how it looks like. T

[2022-10-27 06:06] Skorpionm commented on #1923
check current dev

[2022-10-27 06:56] Skorpionm commented on #1932
https://github.com/flipperdevices/flipperzero-firmware/pull/1938|

check. this sensor has a protocol slightly different from what was originally added

[2022-10-27 17:29] Maycuz commented on #1932
That works great! Thanks for the quick fix!

[2022-10-27 17:52] ximik666 opened #1943 "Add time delay for favorite emulation"
### Description of the feature you're suggesting.

Add a time delay to the setting (5,10,15,30 seconds). This delay will disable key emulation from favorites after a specified period of time.
For example, the user has selected 5 seconds. It selects the desired key from the favorites and emulates it. After a specified period of time, the emulation is turned off and there is no need to force it to t

[2022-10-27 20:04] Skorpionm commented on #1932
close the issue if the error is fixed)

[2022-10-28 05:30] #1932 closed, assigned to Skorpionm

[2022-10-28 09:34] skotopes commented on #1943
Sounds very niche and going to break flow for many things.
That could be potentially implemented in mobile companions, please forward this issue to them.

[2022-10-28 09:35] #1943 closed, assigned to nobody

[2022-10-28 10:03] DrZlo13 commented on #1936
As we discussed earlier on Discord, you need to configure your LSP to use compile_commands.json and arm-none-eabi-gcc compiler.

[2022-10-28 17:38] FalsePhilosopher opened #1947 "Self contained FAP's"
### Description of the feature you're suggesting.

Make faps self-contained by copying in the libraries and plugins that the application uses into the fap in the build process. Here is one FOSS project for creating appimages for an idea of building self contained executables.
https://github.com/probonopd/linuxdeployqt

### Anything else?

./fbt fap_{APPID} -e or --ext to build all the required lib

[2022-10-28 17:42] skotopes commented on #1947
Faps are already self contained: external libraries are linked into fap itself and API throw relocatable symbols.

[2022-10-28 17:42] #1947 closed, assigned to nobody

[2022-10-28 20:04] DCNick3 commented on #1753
You can also issue a reboot which will obviously terminate your app and give (kind of) clean slate

[2022-10-29 14:48] RocketGod-git opened #1953 "settings_user | ignore flag for firmware updates"
### Description of the feature you're suggesting.

Can we please add an ignore flag to the settings_user file in subghz/assets?

allow_firmware_update_replace=true
(Default)

but when set to false this file will be skipped.

### Anything else?

The reason for this is because I have custom frequencies and modulations which get replaced every time I update the firmware. It’s a hassle to have to make

[2022-10-29 14:53] skotopes commented on #1953
This issue is already fixed and will be available in 0.70 release. settings_user now excluded from updated files.

[2022-10-29 14:53] #1953 closed, assigned to nobody

[2022-10-29 17:55] LowSkillDeveloper commented on #1870
I confirm. After a clean installation of the firmware, when you first open "PicoPass Reader" and click "Read Card", there is nothing else you can do. Back action doesn't work. Forced reboot only. And after the reboot, when you go in the second time everything works fine, you can go back.

[2022-10-29 19:44] LowSkillDeveloper commented on #1904
I have the same problem with my bus pass.

[code]

![Screenshot_20221028-182105_Flipper](https://user-images.githubusercontent.com/25121341/198849886-c31c7d7b-35c8-437c-8cd9-de01a9a95861.jpg)

[2022-10-30 10:27] AkechiShiro commented on #1632
Could you provide the tag's brand ?? This doesn't happen with any tags I've had on my hands so far.
Crap you did provide it already, I have one tag that is read by a VIGIK reader and that has an anti copy protection on block 15 a value gets incremented after I use it on the first VIGIK reader. Another one, that validates the tag as well, does not do this increment.

But your issue seems not to be

[2022-10-30 16:57] kuai6 commented on #1862
Hi @netdoggy. I have the same issue. Have two readers - acr122u and asus zenfone 5.

[code]

[2022-10-30 22:29] dorianboulch commented on #1632
I think this is related to #1468

[2022-10-31 02:16] Crsarmv7l commented on #1909
@skotopes Any plans to implement FSK? It would be needed for TPMS, afaik flipper only supports 2FSK

[2022-10-31 05:08] skotopes commented on #1909
2fsk is fsk. All modulations supported by CC1101 are available to user applications.

[2022-10-31 11:34] Crsarmv7l commented on #1909
Hm. Well I guess I need to play around more with my deviation.

[2022-10-31 14:45] mgrybyk commented on #1873
@gzub can you please mention somehow where the issue is fixed? Maybe avoid revealing a complete firmware name or/and adding some underscores or something like that

[2022-10-31 21:17] FalsePhilosopher opened #1959 "Add ESL IR protocol"
### Description of the feature you're suggesting.

Here is a bunch of captures for the electronic shelf labels so as to make a protocol for them.
https://github.com/dandri/ESL
This also might be useful
https://github.com/furrtek/PrecIR

### Anything else?

_No response_

[2022-11-01 18:10] gloglas commented on #1768
Any updates?

[2022-11-01 20:26] AlexeyOplachko opened #1967 "Weather Station: Add Bresser 5-in-1 protocol"
### Description of the feature you're suggesting.

Would be nice to have support for Bresser 5-in-1 weather stations (and maybe their other ones as well)
It seems like in RTL_433 they already did most of the work on decoding protocol: https://github.com/merbanan/rtl_433/blob/master/src/devices/bresser_5in1.c

I have access to one of these(technically it's a different model than mentioned in the co

[2022-11-02 22:12] SgtHotshot opened #1969 "DAP Link app in infinite loading screen when closing"
### Describe the bug.

Open the DAP link app while connected to qflipper on windows.  Then click the back button.  It goes to an infinite loading screen and doesn't go out of it.  Have to hard power of the device and restart it. I'm on version 0.70.1

### Reproduction

1. Connect flipper to Qflipper.  (I'm on windows 10)
2. Open up the DAP link app under applications/tools
3. Click the back button

[2022-11-03 08:14] Skorpionm commented on #1967
There will be RAW recordings, there will be their support. open SubGhz RAW and record 2+ messages from sensors. + set RSSI -85 in the settings and also make 2+ records (preferably on different channels if it is supported) it is also important to take a photo of what the receiver shows (temperature, humidity, channel) or RTL433. throw records for example here or on the forum, I will add support (fr

[2022-11-03 11:20] AlexeyOplachko commented on #1967
It's on 868mhz and if I understood terms used in RTLs decoder correctly, it uses FM? Is there a way to determine if it's 238 or 476?

[2022-11-03 12:10] gsurkov commented on #1959
Thanks for the idea, this whole class of devices looks promising.
Will look into it, but on low priority.

[2022-11-03 13:31] Skorpionm commented on #1967
Yes, you are right, I didn't look at the source code in RTL. The easiest option is to write it down on both modulations. send them to me and I'll take a look.
 if you want to check, record the file, make the temperature change, and then play the recorded one, the receiver will return to the old temperature, frequency 868.35

[2022-11-03 15:09] drakes00 commented on #1039
Hi,

@skotopes Were you able to initiate something regarding this feature? I'd be interested to contribute on if not but I never implemented something for flipper zero. My goal to start with would be to add a screen where one or more gpio are displayed in high or low state in real time.

Could you provide me some guidelines to start on something?

Thanks a lot

[2022-11-04 09:55] LoZio commented on #1540
Still here in 0.70.1

[2022-11-04 11:53] skotopes commented on #1540
@LoZio can you show benchmark screen for you sd-card?

[2022-11-04 11:59] skotopes commented on #1540
I can reproduce this issue under some specific conditions, we'll address it in next update

[2022-11-04 12:02] LoZio commented on #1540
![Screenshot-20221104-125944](https://user-images.githubusercontent.com/869890/199967657-43eda659-b19c-4e44-a1cf-cd51446b1d97.png)
Attached the benchmark. I do not think it is performance related since I have thousands of files on the same SD card and only the ones generated by camebruteforcer in 20 codes batch have this problem. Any other works fine.
I understand this may be a problem with the ge

[2022-11-04 12:06] skotopes commented on #1540
Your generator is emitting invalid code: there is an `634691 [E][SubGhzFileEncoderWorker] Invalid level in the stream`. But that's not the issue, flipper can handle it.

Closest to what you described I can reproduce by simultaneously uploading big file to SD. We'll focus on fixing it first.

[2022-11-04 12:09] LoZio commented on #1540
Just to add some bits: I'm not uploading anything while airing that file, Flipper is in my hands disconnected from anything.
I can run big batches (4k codes) and small batches (5 codes) with no problems, so that Invalid level must be somewhat related.

[2022-11-04 12:10] skotopes commented on #1540
Also please attach console/cli log with latest firmware

[2022-11-04 12:15] LoZio commented on #1540
Here you are, log from lates fw
[flipper-071.log](https://github.com/flipperdevices/flipperzero-firmware/files/9938095/flipper-071.log)

[2022-11-04 12:20] skotopes commented on #1540
`89020550 [E][SubGhzFileEncoderWorker] Slow flash read`

[2022-11-04 12:22] LoZio commented on #1540
Only for that specific file and after several SD formats/writes/rewrites since the issue was opened? An SD that run a Raspberry with no problems?
Will try another, I have dozens.

[2022-11-04 12:23] skotopes commented on #1540
Yep, that is a good question why it happens.

[2022-11-04 12:32] LoZio commented on #1540
Tried on the fly the shi***est card I have here. 2Gb from dinosaur era.
It completes. Attached also the benchmark.

[flipper-slow-2g.txt](https://github.com/flipperdevices/flipperzero-firmware/files/9938227/flipper-slow-2g.txt)

![Screenshot-20221104-132621-2Gb](https://user-images.githubusercontent.com/869890/199973349-856ae4ce-dabb-469b-941f-a0748eea3e99.png)

[2022-11-04 12:36] skotopes commented on #1540
sdcard in SPI mode is something very unpredictable, so even shitty cards may be surprisingly good and vice versa.

[2022-11-04 12:50] LoZio commented on #1540
Pretty sure it is strange, but I just took out a 16gb from a phone, formatted *on the PC* and put the contents of the original sd card (zip of the root) and slammed into the dolphin. It plays all the files I tested except the 20-batch ones, like the one from this issue.
The SD layout is different since also the file listing now is ordered, the original one does not.
So maybe SPI/Speed have a role

[2022-11-04 12:52] skotopes commented on #1540
Anyway, we'll redesign preload process so it will explicitly tell about any issue like this one.

[2022-11-04 18:10] ac1dburnz commented on #1353
Any updates?

[2022-11-04 18:11] skotopes commented on #1353
@colinborins MFC cards write are already in release and next release will add mifare magic card

[2022-11-04 19:59] ac1dburnz commented on #1353
@skotopes, it seems that I can only write to the same tag and not a new one though, is that going to change?

[2022-11-05 04:23] skotopes commented on #1353
Yes. Next release will include mfc magic card support.

[2022-11-05 16:36] Crsarmv7l commented on #1909
Got it. 3 out of 4 test captures are recognized as TPMS by rtl_433, 4th likely missed a few bits. No other signals were captured. Only implemented the modulation for Toyota ATM, and haven't even touched writing a decoder

[2022-11-05 16:37] lslrt opened #1976 "Missing wheel in scripts/requirements.txt"
### Describe the bug.

Running `pip3 install -r scripts/requirements.txt` in a fresh python3 virtual env fails with the following error:
[code]
To fix the build issue, a solution is to pip install wheel.
`pip3 install wheel`
Then run again
`pip3 install -r scripts/requirements.txt`

### Reproduction

`python3 -m venv scons-venv`
`source scons-venv/bin/activate`
`pip3 install -r scripts/requirement

[2022-11-05 16:40] skotopes commented on #1976
Normally those requirements are included in toolchain.

[2022-11-05 16:41] skotopes commented on #1976
Any reason why you want to use python other than included in toolchain?

[2022-11-05 16:45] lslrt commented on #1976
@skotopes I'm just following https://github.com/flipperdevices/flipperzero-firmware/blob/dev/documentation/fbt.md, there is no mention of toolchain anywhere.
Is there is some other instructions that I've missed?

[2022-11-05 16:49] skotopes commented on #1976
Yep, ignore this part. The only requirement is git and wget/curl to download toolchain. Everything else will be automatically pulled by fbt.

@hedger it make sense to clarify it in documentation.

[2022-11-05 16:51] lslrt commented on #1976
@skotopes ok, thank!

[2022-11-05 16:51] #1976 closed, assigned to nobody

[2022-11-05 21:09] ac1dburnz commented on #1873
I also have the this issue occur. Luckily i decoded my fob on another software. I just didn’t have the other device any more. I had to manually configure the file for the missing sectors.

[2022-11-05 21:10] ac1dburnz commented on #1873
I also used Mfkey 32 and it would not read all. I had 28 out of 32 read.

[2022-11-05 22:41] augustozanellato opened #1977 "Blackmagic debug not working on Linux x64"
### Describe the bug.

Blackmagic debugger crashes with a python startup error, it probably affects all the debugging methods.
It's probably caused by a toolchain issue.

### Reproduction

1. Clone the repo
2. Run `./fbt blackmagic`

### Target

_No response_

### Logs

[code]

### Anything else?

_No response_

[2022-11-06 09:39] Skorpionm commented on #1540
check https://github.com/flipperdevices/flipperzero-firmware/pull/1979
![image](https://user-images.githubusercontent.com/85568270/200161632-a7bcbc10-49b4-4812-bb4e-a41e24672f8e.png)
![image](https://user-images.githubusercontent.com/85568270/200161641-3a0d7746-a67a-49ba-b776-d5926e451eca.png)
the problem is connected precisely with the slow reading of the flash, and we did not correctly work out

[2022-11-06 15:05] Crsarmv7l commented on #1909
@u1735067

If anyone cares here is the modulation for Toyota PMV_107J TPMS
[code]
Using a custom fw is recommended as you will need extended freqs to utilize 314.98Mhz. Detect Raw is also needed because there is no decoder for TPMS (and you don't want to be recording a straight raw signal with the OFW). It also needs to be very close to the tire to detect since we don't have a big antenna like an

[2022-11-06 17:35] nuschpl commented on #1934
It would be also useful to keep On / Off along with this feature or rename it to FreqLock or something. I've got use case for this: I've got one remote of a car vendor which name starts with T which is simply toggling between two frequenencies - each subsequent press of the same button generates signal on different freq but you can be 100% sure if you will press twice you will get both freqs. So t

[2022-11-07 14:38] #1199 closed, assigned to skotopes

[2022-11-07 15:03] apollo13 commented on #1721
Hi, I am having the same problem. The `test.nfc` file doesn't emulate properly either. This used to work and I can still scan cards, but no matter what I emulate no device detects it. Can I enable debug logging or so?

[2022-11-07 15:18] apollo13 commented on #1721
Trace log shows:
[code]
and then nothing

[2022-11-07 18:14] apollo13 commented on #1721
Correction, the test.nfc now works again after a reboot. I think I am running into #1768 instead.

[2022-11-07 18:18] apollo13 commented on #1768
I think I am running into the same bug with a 4k MIFARE DESFire EV1, that said for me it seems that I can no longer emulate anything after simply reading the tag. That is reading this tag and then emulating the test.nfc from #1721 also doesn't work without a reboot.

[2022-11-07 18:26] apollo13 commented on #1768
Reading the card yielded:
[code]
Can I do anything else to help debugging?

[2022-11-08 09:39] DrZlo13 commented on #1969
Fixed in #1982

[2022-11-08 09:39] #1969 closed, assigned to nobody

[2022-11-08 14:20] gsurkov commented on #1434
@Leseratte10 it is now possible to record raw signals via the CLI.
In case the problem is still relevant, consider doing the following:
1. Run `ir rx raw`, send the signals and save the output.
2. Create a remote file and add these signals to it (use another remote as reference).
3. Send these signals to the TV via Flipper and check if they do what they are supposed to.
4. Post the raw signals and

[2022-11-08 14:25] gsurkov commented on #1494
The Audio universal remote is done as well. However, the aforementioned database could not be used as it lacked the buttons we wanted to include.
The [manual](https://github.com/flipperdevices/flipperzero-firmware/blob/dev/documentation/UniversalRemotes.md) was updated with the Audio-specific info, too.

[2022-11-08 14:25] #1494 closed, assigned to gsurkov

[2022-11-08 23:03] tkerby opened #1988 "Incorrect SAK in Mifare emulation and magic card writing"
### Describe the bug.

When the flipper reads the card, it correctly reports the hardware SAK (e.g. when you select info after reading a card), but it often appears to fail to emulate NFC cards correctly, and likewise, cards produced with the magic card writing functionality also fail to work with readers.

This appears to be that when emulating or writing, the Flipper uses the Block 0 data stored

[2022-11-08 23:05] tkerby commented on #1988
Tagging @equipter in the comments here for support debugging this one on discord!

[2022-11-08 23:15] tkerby commented on #1988
This seems to be related to https://github.com/flipperdevices/flipperzero-firmware/issues/1632 and might explain the behaviour and fix

[2022-11-09 07:18] equipter commented on #1988
that's a good idea as long as it doesn't begin to mess with other mifare classic types like the ones that *do* use sak 0x88 and so on.

there's also the problem with some access control providers doing the sneaky thing of making sure that the sak on the initial read and the block 0 are different. paxton have a bit of history with this.

[2022-11-09 07:24] stashymane opened #1989 "BadUSB hold/release"
### Description of the feature you're suggesting.

Currently, doing more advanced keychords is not possible, at least from my limited testing. For example, `ALT TAB` can only switch to the last opened app, since `ALT-TAB TAB` does not function as expected. Having a HOLD/RELEASE keyword [as described here](https://docs.hak5.org/hak5-usb-rubber-ducky/advanced-features/holding-keys#hold-and-release)

[2022-11-09 15:21] tkerby commented on #1988
I think to combat this we should try an initial read and a block 0 read and store both values. It should be possible to emulate both. I believe the flipper already does this on read as the .nfc file can show a different sak in the SAK: field to the data its read in block 0

[2022-11-09 20:05] FalsePhilosopher opened #1994 "badusb error reporting broke blank line skipping"
### Describe the bug.

Badusb used to skip over blank lines, but since the latest badusb commit that reports errors it doesn't skip over blank lines and throws an error now.

### Reproduction

Run a script with a blank line.

### Target

_No response_

### Logs

_No response_

### Anything else?

_No response_

[2022-11-10 11:07] Emzarii opened #1996 "Bluetooth not working"
### Describe the bug.

After I updated software my Bluetooth connection on flipper stopped switching on bt module, so that I cannot connect to any device via bt

### Reproduction

Do not know what to write here

### Target

_No response_

### Logs

_No response_

### Anything else?

_No response_

[2022-11-10 12:20] LowSkillDeveloper commented on #1996
I have the similar problem after using "Bluetooth Remote".  After using it on the phone, the phone cannot connect to the flipper through the app. I solved by delete the pair in the bluetooth settings on phone and flipper and data reset of flipper application on phone.

And I didn't use this tool anymore, because it happens every time after use.

[2022-11-10 18:18] skotopes commented on #1977
Check latest dev or RC please

[2022-11-10 18:19] skotopes commented on #1959
That's a good idea for application.

[2022-11-10 21:15] augustozanellato commented on #1977
Working fine on latest dev, thanks!

[2022-11-10 21:15] #1977 closed, assigned to hedger

[2022-11-11 13:46] nminaylov commented on #1780
Fixed in #1835

[2022-11-11 13:46] #1780 closed, assigned to DrZlo13, nminaylov

[2022-11-12 00:11] FalcoGer opened #2006 "Chamberlain 8 bit code encoding drops 3rd bit (counted from LSB)"
### Describe the bug.

Related: https://github.com/derskythe/flipperzero-subbrute/issues/2

When generating a signal with the [brute force application](https://github.com/derskythe/flipperzero-subbrute), 9 and 7 bit signals have 11 symbols each. 8 bit signals only have 10 symbols. Recording and playing back the radio waves is accepted by the flipper's SubGHz reader. However bit 3 is completely ign

[2022-11-12 11:56] skotopes commented on #1994
fixed in dev, will be included in 0.71 release

[2022-11-12 11:56] #1994 closed, assigned to nminaylov

[2022-11-12 11:56] skotopes commented on #1883
fixed in dev, will be included in 0.71 release

[2022-11-12 11:56] #1883 closed, assigned to nminaylov

[2022-11-12 14:48] gelin commented on #18
[code]
:cry:

[2022-11-13 03:33] ALD53105 opened #2013 "Universal Remote not working on new Sony TV’s"
### Describe the enhancement you're suggesting.

Universal Remote does not change volume or channels on newer Sony TV’s. Only the power can be cycled.

### Anything else?

_No response_

[2022-11-13 10:43] derskythe commented on #2006
Sub files for example, both of them shows value 0x03 on second Flipper

[code]

[code]

[2022-11-13 13:45] head47 commented on #1903
Probably solved by #1955.

[2022-11-13 13:45] head47 commented on #1903
Probably solved by #1955.

[2022-11-13 16:17] Skorpionm commented on #2006
![image](https://user-images.githubusercontent.com/85568270/201531975-0c7b92e3-1510-4798-871e-46ec75f55bd2.png)

packet format is different

![image](https://user-images.githubusercontent.com/85568270/201532049-896954a1-6cc9-41dc-a0b1-19c67e9285ed.png)
even in the decoder there is a comment that in 8 bit, in fact, only 7 DIP (bit) data are used, nothing is missing in the decoders, everything is de

[2022-11-13 19:59] Crsarmv7l commented on #2013
Many of the newer tv's use ir for the power button and bluetooth for the other buttons.

[2022-11-13 22:05] FalcoGer commented on #2006
So the 8 bit key is in fact a 7 bit key. Why is it labeled 8 bit then? Are you telling me there is a dip switch in the remote, that does nothing. At the same time there is a 7 bit version with 7 dip switches that all do something? And they use completely different message formats?

That English is very broken. What was written by who?

[2022-11-14 06:15] Skorpionm commented on #2006
I can't tell you. I wrote the protocol on the remote control
https://aliexpress.ru/item/4000510675855.html?gatewayAdapt=glo2rus&sku_id=10000002489390591

and the protocol itself is called so.

[2022-11-14 06:37] ivanbarsukov opened #2015 "Bluetooth remote for camera"
### Description of the feature you're suggesting.

I think it would be convenient to be able to manage camera captures from the Flipper in the corresponding app menu item. While searching, I found  that you can open the "media" and press the volume buttons, but it seems to me that I'm not the only one for whom this was not obvious without researching the changes in the PRs. Also I think it's more

[2022-11-14 19:43] crisirius commented on #1862
I have the same problem under Mitfahre Classic 1k. with me also shows in debug mode that he tries to read only the block 3 on the reader. Have written the data with the acr122u on another and lo and behold the card works. Do you have approaches here or can you support?

[2022-11-15 10:16] velezh opened #2017 "Build 0.71.1 failing"
### Describe the bug.

Build 0.71.1 failing on Mac
./fbt throws error (full listing in Logs section)

TypeError: Descriptors cannot not be created directly.

Using fbt (previous versions was built normally, for example 0.70.1)

[code]

### Reproduction

git pull
./fbt DEBUG=0

### Target

_No response_

### Logs

[code]

### Anything else?

_No response_

[2022-11-15 10:17] hedger commented on #2017
@drunkbatya have a look

[2022-11-15 13:18] bbock commented on #2017
I had the same, updating the repo from a very old build. Solution: remove `lib/nanopb` to re-initialize submodule solved the problem for me.

[2022-11-15 13:42] velezh commented on #2017
I tried and this works for me. Thanks a lot!

[2022-11-15 14:30] babou63 opened #2018 "AZERTY is not working as expected on badusb"
### Describe the bug.

When i use bad usb on a computer working with AZERTY keyboard it's not working, the flipper write like if it was in azerty, so would it be possible to check the keyboard language before writing something ?

### Reproduction

change your language keyboard from QWERTY to AZERTY and launch a badusb program ( for me it's the demo for windows ),
it shouldn't work

### Target

bad

[2022-11-15 14:51] michelinok opened #2019 "Weather station showing only one shot signal"
### Describe the bug.

The weather station app receive/decode only one time the signal, to receive again you've to close the app and re-open it.

### Reproduction

Open weather station
Decode one sensor and wait

### Target

_No response_

### Logs

_No response_

### Anything else?

_No response_

[2022-11-15 15:21] skotopes commented on #2018
This is known issue. Currently we don't support azerty and other keyboard layouts.

[2022-11-15 15:22] skotopes commented on #2019
Can you provide sensor recording?

[2022-11-15 15:26] babou63 commented on #2018
okay, do you know if it's planned to add this support soon or not  ?

[2022-11-15 15:28] Skorpionm commented on #2019
No, you are wrong, it receives and records 1 time if a NEW sensor is received. receiving REPEAT data from the same sensor UPDATE the data. Check, accept any new sensor, open it, and physically place the sensor in the refrigerator and see how the readings change

[2022-11-15 15:40] skotopes commented on #2018
No plans on our side. There were some PRs but abandoned before I were able to merge them.

[2022-11-15 18:13] Jakesta13 opened #2021 "SubGhz remote layout"
### Description of the feature you're suggesting.

I found that I use the SubGhz mode mostly for remotes, though it gets extremely disorganized really quickly.

Making the SubGhz able to be more organized like the Infrared app does for remotes would make this feature more usable, though it doesn't have to be the same (E.g perhaps create a folder on request as to group all the buttons for one remot

[2022-11-15 21:24] LowSkillDeveloper opened #2022 "U2F on Android not working"
### Describe the bug.

I can't use U2F on my android smartphone. But everything works on the computer.
Doesn't work for everyone or just me?

![fb335c31-22f5-4737-b37b-6bc9008c1b2e](https://user-images.githubusercontent.com/25121341/202025849-0ee385f2-ab11-4cf0-a2ff-e198808e762a.jpg)
![4f9215ec-226c-428d-a01c-a852ebe22b98](https://user-images.githubusercontent.com/25121341/202025906-318eaf9b-4d24-

[2022-11-15 22:18] ALD53105 commented on #2013
I can read and duplicate the IR signals from the remote with flipper and control both volume and channel on the TV.

[2022-11-16 04:37] Skorpionm commented on #2021
how do you suggest sorting the keys?  completely different codes can be recorded on one remote control, while for rolling they generally differ greatly. if you just catch the air, it’s not at all clear what and where to fly from

[2022-11-16 19:07] Axlbuld commented on #1730
Same with current release and MiFare DesFire EV2. Trying to store the UID, only, but save failes.

[2022-11-16 20:11] Jakesta13 commented on #2021
I guess for rolling codes, have an option to not save into a specified "remote" - I haven't recorded such codes so I'm not sure if I fully understand what you mean.

For keys, I don't think I understand what those are referring to?

I just imagine being able to organize them in some way would make it much more user friendly overall - and for those oddball codes let the user choose not to organize

[2022-11-16 21:31] simone7121 opened #2023 "Add a Keypad Lock mode to dummy mode in GUI"
### Describe the enhancement you're suggesting.

It would be nice if it were possible to implement the Keypad Lock functionality even on the dummy mode, so that if a person has possession of your Flipper Zero, to play on it, it doesn't have the possibility to enter into the brainac mode for pentest or malicious purpose.

### Anything else?

_No response_

[2022-11-17 01:49] Crsarmv7l commented on #2013
Ok so maybe submit those files for inclusion instead of making people guess what model.

[2022-11-17 08:28] #1903 closed, assigned to nminaylov

[2022-11-17 09:02] Aldekein commented on #1873
Also have a blocker problem with the Mifare Classic 1K key.
1. Using https://github.com/equipter/mfkey32v2 I've decoded 2 keys I've got from the NFC reader.
2. I've put the found keys into `nfc/assets/mf_classic_dict_user.nfc` in uppercase.
3. Did a fresh Read of the NFC key and... It sees user dictionary and tries it during the process before starting the Flipper dictionary. But no luck, still ca

[2022-11-17 09:42] skotopes commented on #1039
@gornekich can share some thought

[2022-11-17 13:38] #1757 closed, assigned to DrZlo13

[2022-11-17 21:38] SaleSlave commented on #1988
I hope it may help
1 - original key
2 - emulation

![Origianl](https://user-images.githubusercontent.com/63192879/202565149-7635cb04-373c-4fb0-9a14-5f38a5364c9e.PNG)
![Emul](https://user-images.githubusercontent.com/63192879/202565176-057345f7-a006-41f4-86e9-afc400bfec84.PNG)

[2022-11-18 01:25] ALD53105 commented on #2013
Maybe if I knew to do that or how to do that, I would. I was just making a simple suggestion saying it didn't work. If there is a way of uploading, I would do so, but I am completely unfamiliar with GitHub as a whole.

[2022-11-18 10:14] jagotu commented on #1847
@nminaylov Any updates? Did you manage to reproduce? Is more information required from me?

[2022-11-18 21:39] Vitnir commented on #1353
@skotopes will it also be possible to write to an new card/other? <3

[2022-11-18 23:57] ferrellw opened #2026 "TX Issues On Supported Band"
I am having issues getting my Flipper to transmit on 433.92. Using a wireless fan [remote ](https://fcc.report/FCC-ID/A25-TX045/4712003)I can receive data but when I try to send it, it states "Transmission is blocked. Transmission on this frequency is restricted in your region."

Reading the official documentation the frequency (433.92) is allowed for my locale (US) 433.05 - 434.79 MHz.

Using an

[2022-11-19 00:07] ferrellw commented on #2026
One observation is that the capture is being decoded as a gate controller type device (see images; GateTX 32bit).

[2022-11-19 00:30] ferrellw commented on #1775
The two remotes below are Hunter-branded ceiling fans for sale in the US. I can provide signal samples if needed.

[A25-TX028](https://imgur.com/a/F0ItenE) - 303.875 - ASK - https://fcc.report/FCC-ID/A25-TX028/3893668.pdf

[A25-TX045](https://imgur.com/a/YXyX4De) - 433.92 - OOK - https://fcc.report/FCC-ID/A25-TX045/4712003.pdf

FWIW I am able to Read and emulate the A25-TX028 but have been running

[2022-11-19 03:02] jrosn commented on #2021
+1

I use the Flipper to control lights in my apartment.
It would be more convenient for me if I could organize keys logically related to each other

// sorry for my English

[2022-11-19 03:27] Crsarmv7l commented on #2013
![Screenshot 2022-11-18 10 27 01 PM](https://user-images.githubusercontent.com/85343771/202832253-346d229f-8958-40bf-ad9b-281b3f4c09ec.png)

[2022-11-19 12:17] dnns92 opened #2027 "Bad USB Demo gets stuck on every Windows machine I tried so far"
### Describe the bug.

As the title suggestes, the bad_usb/demo_windows app freezes the flipper. It either does not recognize the PC at all or freezes at 3%.
I have the latest firmware installed 0.71.1

The microsoft systems I tried this on are
21H2 Build 2200.1219 (stuck at 3%)
21H2 Build 2200.1098 (doesnt even recognize the machine)

The bug is not recoverable and can only be fixed from a user s

[2022-11-19 12:18] skotopes commented on #2027
Hi, there is known issue in BadUSB that is going to be fixed in next release.

[2022-11-19 12:30] dnns92 opened #2028 "Cannot connect to qFlipper on any machine I tried so far"
### Describe the bug.

Further to the described bug in #2027, I can also not connect my flipper to any machine I tried so far using

21H2 Build 2200.1219
21H2 Build 2200.1098
Ubuntu 22.04 with Kernel 5.15.0-50-generic

Windows logs (I tried plugging and replugging it in several times)
628 [APP] qFlipper version 1.2.1 commit 3ec0fd9d 2022-10-03T17:15:41
629 [APP] OS info: Windows 10 Version 2009 10

[2022-11-19 12:41] #2028 closed, assigned to nobody

[2022-11-19 18:00] ghost opened #2029 "IR signals from Haier TV for universal remote control in flipper"
Hi! Here are some files from Haier TV for the universal remote control in Flipper

name: Mute
type: parsed
protocol: NEC
address: 04 00 00 00
command: 09 00 00 00
#
name: VOL+
type: parsed
protocol: NEC
address: 04 00 00 00
command: 02 00 00 00
#
name: VOL-
type: parsed
protocol: NEC
address: 04 00 00 00
command: 03 00 00 00
#
name: CH+
type: parsed
protocol: NEC
address: 04 00 00 00
command: 00 0

[2022-11-19 21:31] FelixLgr commented on #2018
Someone told me to use `ALTSTRING` to solve this problem but he writes numbers instead.

[2022-11-20 01:10] Semper-Viventem opened #2031 "Don't attach the device name in all BLE advertising packages"
### Describe the enhancement you're suggesting.

Currently, the BLE in the flipper is constantly broadcasting the static address and device name (including the unique flipper's name) to the BLE ether in all advertising packages. This is not a vulnerability but makes a risk of snooping on device owners. For example, any BLE-sniffer botnet in a city can track the movement of devices and compromise t

[2022-11-21 10:29] Garykom opened #2033 "USB CD-ROM emulate with ISO on SD card"
### Description of the feature you're suggesting.

Is it possible to implement USB CD-ROM emulation with ISO on SD card?

### Anything else?

_No response_

[2022-11-21 14:35] Kami-no opened #2034 "BT remote Keynote vertical layout"
### Description of the feature you're suggesting.

It would be great to have at least an option to switch Keynote button layout to vertical with buttons at the top. Horizontal button layout is not convenient if you're the speaker.

### Anything else?

_No response_

[2022-11-21 14:56] Kami-no opened #2035 "Universal IR remote control for Toshiba TV"
### Description of the feature you're suggesting.

Please add support for Toshiba TV or add an option to create custom layouts like Universal TV control has.

### Anything else?

Toshiba TV 32W1534DG (C)

[code]

[2022-11-21 19:39] undermuz opened #2036 "BadUSB: ALTSTRING is not working"
### Describe the bug.

Using demo_windows script i am getting this:
[code]
Instead of this:
[code]
OS:
[code]
Flipper:
[code]

### Reproduction

1. Open BadUSB
2. Select demo_windows
3. Connect to the PC
4. Click Run

### Target

_No response_

### Logs

_No response_

### Anything else?

_No response_

[2022-11-21 21:05] superyarik commented on #1353
@skotopes is where is another NFC types write ability planned? NTAG213 f.e.?

[2022-11-22 05:35] skotopes commented on #1353
Yes.

[2022-11-22 06:04] superswiegie commented on #1353
The write magic card option now only gives room voor 4 byte UID. Could this be expended with 7 byte UID? ❤️

[2022-11-22 12:57] mh- opened #2040 "Mifare DESFire UID emulation not possible due to "Can not parse file""
### Describe the bug.

This is related to #1730, but I want to clarify that I do not expect the encrypted (and thus unreadable) data to be saved.
What I do want is that the UID is saved and can be emulated later, by opening a "saved" card.

I only have one particular DESFire card, and it is possible to use a cloned version of that card in its system, by just emulating the UID. I know this works, b

[2022-11-22 14:01] LowSkillDeveloper commented on #2040
I also have this problem with my bus pass, wrote here: https://github.com/flipperdevices/flipperzero-firmware/issues/1904#issuecomment-1295952022

[2022-11-22 14:48] mh- commented on #1904
Ok, yes that's the same problem as in #2040 - the DESFire import
https://github.com/flipperdevices/flipperzero-firmware/blob/820afd2aec377629c3e514ceb57ecdd0f9163b6c/lib/nfc/nfc_device.c#L426
expects details about the key for each application.

If you modify the file like this
[code]
i.e. set Application Count to 0, Flipper can read the file and emulate the UID.

But: I would advise against trying

[2022-11-22 15:25] pavllan90 commented on #1896
Same problem. Return code is 0 in both cases.

[2022-11-22 17:32] bkimminich commented on #2040
I have one Mifrare Desfire which was read by FZ previously as an `Unknown ISO tag` and I was able to save and also emulate its UID without any issues. My Android phone with the NFC Tools PRO app was telling me this is actually a Mifare Desfire, otherwise I wouldn't have known.

[2022-11-23 01:32] ahumeniy commented on #2033
Not very likely. The SD card reader in the FZ is very slow you won't get read speeds faster than USB 1.0, forget about USB 2.0 speeds. It's not intended for a USB thumb drive replacement.

[2022-11-23 02:20] chekoopa commented on #2033
Well, it is seemingly possible to implement USB CDROM on STM32F103C8. [This repository](https://github.com/GenieKits/USB-CDROM-Emulation-on-STM32F103C8) looks like a proof-of-concept. STM32WB55RG is quite beefier than the former one.

[2022-11-23 04:44] UberGuidoZ commented on #2031
There are alternative firmware options that have addressed this issue. Might be able to take some thoughts from them?

[2022-11-23 15:36] gncnpk commented on #2034
Hmm, would it make sense to have it be switchable or just have it always be a vertical layout?

[2022-11-23 15:43] gncnpk commented on #2034
If it's always gonna be vertical, I should be able to easily rewrite it.

[2022-11-23 15:47] python273 opened #2043 "Dump RAM via usb serial term command"
Might be useful for debugging apps 🤔

[2022-11-23 16:12] Kami-no commented on #2034
For me the horizontal layout is useless.

[2022-11-23 17:38] GMMan commented on #2043
I think if you're getting to the point that you need a RAM dump, you should just get a ST-Link/WiFi dev board and have full access to everything.

[2022-11-23 17:39] GMMan commented on #2033
USB Mass Storage support was rejected previously. I don't think this is much different.

[2022-11-23 17:44] GMMan commented on #2023
Anything stopping you from just locking the whole device with PIN if that's a concern?

[2022-11-23 18:15] simone7121 commented on #2023
It's already a valid choice, but it would have been even better to lock it in dummy mode, so that the real owner only would use the brainac mode, and other persons can only play with the games  installed. But if this lock is unnecessary for you, they can insert a selector in the settings menu to enable or disable this feature. 😉

[2022-11-23 19:24] skotopes commented on #1670
I somehow forgot about this issue.
Acquire+Release performs full i2c subsystem reset, so each time you start clean and fresh, that's why it's magically fixes transaction behavior. Most likely furi_i2c_hal not clearing up flags for next transaction. I'll fix it and will try to pack into next release.

[2022-11-24 15:27] Tobirg opened #2046 "Crash in iButton emulation"
### Describe the bug.

I found a bug on the Z5R, I also tried it on the Metakom intercom,
but it is much more difficult to catch it there.
In the Telegram chat, people also reported this problem with other intercoms.
I hope the [video](https://youtu.be/DQ743CDfes4) will explain the problem

### Reproduction

If you run key emulation with the correct CRC and touch the reader, then the bug will be h

[2022-11-24 16:37] ENIXBLAHAJ commented on #2029
this is my old account, I deleted it, but I'm still here

[2022-11-24 19:59] gsurkov commented on #2035
Could you please open a pull request instead? It is the preferred way of proposing new features.

Just add these signals to the end of [this file](https://github.com/flipperdevices/flipperzero-firmware/blob/dev/assets/resources/infrared/assets/tv.ir).
Don't forget to change the signal names using those already in the file as an example.

[2022-11-24 19:59] #2035 closed, assigned to nobody

[2022-11-24 20:00] gsurkov commented on #2029
Could you please open a pull request instead? It is the preferred way of proposing new features.
Just add these signals to the end of [this file](https://github.com/flipperdevices/flipperzero-firmware/blob/dev/assets/resources/infrared/assets/tv.ir).

[2022-11-24 20:00] #2029 closed, assigned to nobody

[2022-11-24 20:06] gsurkov commented on #2013
@ALD53105 There already are instructions on adding other types of universal remotes [here](https://github.com/flipperdevices/flipperzero-firmware/blob/dev/documentation/UniversalRemotes.md). It doesn't cover the TV part yet, as it requires a bit of refactoring, but it's pretty similar to audio players, so you might try to figure that out yourself (or wait until the proper instruction will be avail

[2022-11-24 20:06] #2013 closed, assigned to nobody

[2022-11-24 20:47] Z4urce opened #2048 "Sub-ghz protocol for electric shutters not recognised"
### Describe the enhancement you're suggesting.

Hello there! I noticed that the firmware couldn't recognise my electric shutters (Dooya). They can be perfectly controlled when replaying the raw recording, however that would be even better if the firmware could recognise its type as well. These electric shutters are quite common, so that would be a welcome feature. I'll attach the raw recording of

[2022-11-25 21:02] smartynov commented on #1186
Any updates on this? Would really appreciate this feature (especially the "dumb mode" auto lock)

[2022-11-26 00:02] NZSmartie opened #2053 "Allow loader open to start streaming logs"
### Describe the enhancement you're suggesting.

As a Flipper Application Developer, I would like to see application logs when deploying and running the fap through FBT.

What I would expect to see when running `./fbt launch_app APPSRC=applications_user\my_app`
[code]

Instead, I only see the log output from `runfap.py` and none of the logs from the Flipper itself without needing to open a separat

[2022-11-26 08:12] vad7 opened #2132 "event.input.sequence returns the same wrong value on remote control"
qFlipper ver. 1.2.1
Code:

typedef enum {
	EventTypeTick,
	EventTypeKey,
} EventType;
typedef struct {
	EventType type;
	InputEvent input;
} PluginEvent;
FuriMessageQueue* event_queue;
PluginEvent event;
FuriStatus event_status = furi_message_queue_get(event_queue, &event, 100);
if(event_status == FuriStatusOk && event.type == EventTypeKey) {

here always >>>  event.input.sequence == 536921112

}

[2022-11-26 09:00] Skorpionm commented on #2048
https://forum.flipperzero.one/t/my-remote-isnt-supported-how-to-add-new-sub-ghz-protocol-in-flipper-zero/2033/16

please do as described here. And recording one button is not enough.

[2022-11-27 04:01] DarkDestroyerIII opened #2057 "FA not picking up certain frequencies that the read raw can."
Tested with gs75 Lexus car key, fccid Hyq14fba. The flipper's FA is unable to detect the signal sent from the car clicker, however, the read raw function of the flipper is. The flipper's fa was unable to also detect signals sent from a 2020 ford, however, I do not know the exact make of the car.  I tested this with base firmware, and even dfu'd my flipper to test.

My discord is Norvarg#0425,  you

[2022-11-27 09:20] Supertera opened #2059 "General imrovements from Model-7"
### Description of the feature you're suggesting.

![model-7](https://user-images.githubusercontent.com/118427289/204127781-74c04afe-aca1-4d84-8ec5-b45f6f94ba13.png)
I think the developers of the flipper are familiar with a device called "model-7". This device has a lot of manufacturing codes and protocols that are not implemented in the flipper. Question - why? There is no way to contact one of t

[2022-11-27 09:26] skotopes commented on #2059
Nope, we got nothing to do with it.

[2022-11-27 09:30] Supertera commented on #2059
Well, yes. And never held third-party code grabbers in your hands :-)

For anyone wondering, this is the list of Sub-Ghz protocols the Codegrabber Model 7 can understand:-

Allmatic B.RO OVER
Allmatic B.RO STAR
Allmatic B.RO WN
Allmatic TECH 3
AN-MOTORS Black and Silver Buttons
APRIMATIC TR2 / TR4
BENINCA T4WV
BENINCA CUPIDO 4
BENINCA TO GO 2 / 4WV
BYTEC / BAISHENG
Bytec TB-4
Baisheng RC4-T15
BFT

[2022-11-27 12:56] koalazak commented on #1715
hello @skotopes,
how hard is implement this? or at least sniff and dump the card<>reader communication (and extrach those values manually later)
Do you know if somebody is working on this? or if this is the backlog?

thank you!

[2022-11-27 13:40] skotopes commented on #1715
@koalazak partially possible, quite complex.

What you want is to simultaneously capture upstream and downstream which normally got different type of modulation/coding. This feature requires transceiver in bypass modem mode or SDR(like in proxmark).
In theory st25r3916 do have transparent mode and special debug pins that can do something similar. But debug pins are not wired to MCU so you can not

[2022-11-27 13:41] skotopes commented on #1715
And yes It's in backlog.

[2022-11-27 14:35] #2059 closed, assigned to Skorpionm

[2022-11-27 15:27] Tobirg commented on #2046
Another one
https://t.me/flipperzero/103924/123382

[2022-11-27 15:53] boozook opened #2060 "FBT's deps can't be built with Python 3.11"
### Describe the bug.

Python 3.11 now default on Github CI macOs-worker.
Some dependencies of FBT (see requirements.txt) can't be built because it doesn't migrated to Python 3.11.

For [example](https://github.com/boozook/flipper0/actions/runs/3554651917/jobs/5970884281#step:9:64) there's `heatshrink2`.

I'm sure it happens because of [new tracebacks in new Python](https://docs.python.org/3/whats

[2022-11-27 17:46] d3xt3r01 commented on #1500
I can confirm the electra keyfob (https://electra.ro/ro/produse/videointerfoane-si-interfoane/gama-touch-line/rezidential/terminale-1/tag-elt-000)  issue. Same here using the latest firmware. Altough not the same reader. The builsing has https://electra.ro/ro/produse/videointerfoane-si-interfoane/gama-touch-line/rezidential/terminale-1/vpm-bsr02-elb this reader.

[2022-11-28 02:08] Crsarmv7l opened #2061 "Weather App Temp in Fahrenheit"
### Describe the enhancement you're suggesting.

Certain weather sensors (like inFactory) natively transmit in degrees F. inFactory in the weather app always show degrees C.

It would be nice be able to choose if you want F or C.

### Anything else?

_No response_

[2022-11-28 08:02] gornekich commented on #1039
Hello @drakes00 !
I was thinking about Logic Analyzer app too. As @skotopes said, it might not be perfect because of hardware limitation. However there is one approach that can be used to capture signal with minimal CPU resources. You can run TIM2 (32bit timer) and trigger DMA through DMAMUX by EXTI signal to transfer timings from timer register to memory. At the end you will get your digital sign

[2022-11-28 17:14] #2040 closed, assigned to nobody

[2022-11-28 17:14] skotopes commented on #1904
Fixed in #2041 thanks to @mh-

[2022-11-28 17:14] #1904 closed, assigned to gornekich

[2022-11-28 17:14] skotopes commented on #2040
Fixed in #2041 thanks to @mh-

[2022-11-28 17:31] Kami-no commented on #2034
I've checked all other BT remotes and it looks like only keyboard needs horizontal layout as it shows useful information on screen. Others would be more useful if buttons would be at the top and vertical layout as they don't have complex control.

[2022-11-28 19:37] GMMan commented on #2060
Have you tried fbt's prepackaged toolchain instead of setting up your own?

[2022-11-28 22:13] boozook commented on #2060
@GMMan,

I'm not sure what toolchain do you mean. If that is ARM toolchain, so it's absolutely doesn't matter because the issue about steps before any ARM-toolchain usage. See steps to reproduce described above.
- checkout repo
- `pip3 install -r scripts/requirements.txt` _- ⬅ we are here_
- __Error__
- `./fbt` (it will download ARM-toolchain, then build fw) - ⬅ here is toolchain

Probably I'm not

[2022-11-28 22:37] GMMan commented on #2060
fbt will download everything needed to build on its own, including its own copy of Python with all the dependencies preinstalled and the ARM toolchain. If you're only trying to set up an environment for fbt, it is not necessary.

[2022-11-28 22:41] boozook commented on #2060
Wow! So then I should just skip step with `pip install -r requirements.txt`.
That's works, thanks.

[2022-11-28 23:08] boozook commented on #2060
So I'm closing this issue, but someone should update deps to support Python 3.11 anyway.

[2022-11-28 23:08] #2060 closed, assigned to nobody

[2022-11-28 23:11] maximed911 commented on #2057
i have the same problem.. some car work and some don't...

[2022-11-29 11:57] mikadev opened #2062 "Hello"
### Describe the enhancement you're suggesting.

In France Vigik nfc or parking pass and Liftmaster parking pass are not working with flipper there is a way to fix or add this feature ?

### Anything else?

_No response_

[2022-11-30 15:00] krisss117 opened #2064 "Send IR CODE when receive SUBGHZ"
### Description of the feature you're suggesting.

1. Read/select SUBGHZ
2. Read/select IR
3. Run some application
4. Set IR
5. Set SUBGHZ
6. Start application
When application get IR code, then send SUBGHZ signal

### Anything else?

It will be great when it support trigger for SUBGHZ, IR, NFC, RFID and support action for that too

[2022-11-30 20:18] Mixaill opened #2067 "NFC: ATQA on the screen is not equal to ATQA in dump file"
### Describe the bug.

ATQA on the flipper screen mismatch with the ATQA inside the dump file (bytes are swapped)
@gornekich

1) flipper screen
![Screenshot-20221130-231551](https://user-images.githubusercontent.com/704382/204899282-db0f416c-9d0c-4d6d-8d48-d4b726a7637d.png)

2) dump file
[code]

### Reproduction

1. read NFC tag
2. save it to the file
3. open dump info on the flipper zero screen
4

[2022-11-30 20:22] skotopes commented on #2062
Vigik was mentioned previously in issues here, but sadly we do not have cards/readers to experiment with.
At least 2 generations of Liftmaster are supported, make sure that you are using latest firmware and correct frequency. In case if it still doesn't work for you check new protocol guide on our forum.

Also please 1 issue - 1 problem.

[2022-11-30 20:22] #2062 closed, assigned to nobody

[2022-11-30 20:35] Mixaill opened #2068 "NFC/Magic: magic write application does not check UID check byte"
### Describe the bug.

NFC Magic application does not check that dump contains valid UID check byte which allows to make magic tag unreadable.

### Reproduction

1. dump empty magic tag
2. download it on PC
3. change UID without changing check byte
4. upload file back to flipper
5. flash magic card
6. card becomes non-readable

### Target

_No response_

### Logs

_No response_

### Anything else?

[2022-11-30 20:41] Mixaill opened #2069 "NFC: add ability to read cards with invalid check byte"
### Describe the enhancement you're suggesting.

See https://github.com/flipperdevices/flipperzero-firmware/issues/2068

After changing NFC UID to the invalid value flipper is not able to read the tag.
It would be nice to have possible to bring tag back to life.

### Anything else?

Repro:
1. Brick card as described to https://github.com/flipperdevices/flipperzero-firmware/issues/2068
2. Try to re

[2022-11-30 21:02] digitalcircuit commented on #1158
For anyone following along, I've gotten everything except for the actual configuration UI implemented in [PR #2063, "power: Add API to get/set battery charging voltage"](https://github.com/flipperdevices/flipperzero-firmware/pull/2063).

**EDIT: the API pull request has been merged!  Now the Power settings UI needs implemented.**

If you build that pull request, you can then add and build your own