[2022-07-10 14:35] skotopes commented on #1284
@gornekich what do you think? Can we include it in our plans?

[2022-07-10 14:36] skotopes commented on #1281
Please reopen with required data.

[2022-07-10 14:36] #1281 closed, assigned to nobody

[2022-07-10 14:39] skotopes commented on #1280
Yep. Current locking scheme is designed to handle special cases. We haven't found better solution yet.

[2022-07-10 14:39] #1280 closed, assigned to nobody

[2022-07-10 14:39] skotopes commented on #1240
PRs by @SamuelYvon are merged. Please check.

[2022-07-10 14:39] #1240 closed, assigned to nobody

[2022-07-10 14:41] skotopes commented on #1349
@DrZlo13

[2022-07-10 14:46] skotopes commented on #1165
Fixed somewhere in 0.5x.

[2022-07-10 14:46] #1165 closed, assigned to DrZlo13

[2022-07-10 14:50] skotopes commented on #1019
Please reopen if issue is still there

[2022-07-10 14:50] #1019 closed, assigned to gornekich

[2022-07-10 14:54] skotopes commented on #1070
Fixed in 0.5x branch

[2022-07-10 14:54] #1070 closed, assigned to gornekich

[2022-07-10 14:54] skotopes commented on #1100
Fixed in 0.5x

[2022-07-10 14:54] #1100 closed, assigned to gornekich

[2022-07-10 14:59] skotopes commented on #1160
Please retest with latest dev and reopen if issue is still there.

[2022-07-10 14:59] #1160 closed, assigned to gornekich

[2022-07-10 15:03] skotopes commented on #1278
Please check latest dev and reopen if issue is still there.

[2022-07-10 15:03] skotopes commented on #1239
Please check latest dev and reopen if issue is still there.

[2022-07-10 15:03] #1239 closed, assigned to skotopes

[2022-07-10 15:04] skotopes commented on #1225
Please check latest dev and reopen if issue is still there.

[2022-07-10 15:04] #1225 closed, assigned to skotopes

[2022-07-10 15:04] skotopes commented on #1164
Please check latest dev and reopen if issue is still there.

[2022-07-10 15:04] #1164 closed, assigned to skotopes

[2022-07-10 20:13] hakusaro commented on #1019
Oops! Thank you! It’s working on my test card too now!

[2022-07-11 04:40] RogueMaster commented on #1375
Hi @skotopes, Can you take this code for that? https://github.com/RogueMaster/flipperzero-firmware-wPlugins/blob/unleashed/applications/mouse_jiggler/mouse_jiggler.c

[2022-07-11 15:58] skotopes commented on #1274
Hi. That was made intentionally.

[2022-07-11 15:58] #1274 closed, assigned to skotopes

[2022-07-11 16:03] amangine commented on #1274
I don't understand.  How do you ensure the ptr is large enough to copy the new size?

You haven't addressed the points I raised or now this implementation does not align with the std realloc.  Are you saying you're intentionally copying too much data (including unmapped or data from other allocs)?

There are also no comments stating any assumptions, which it sounds like you're relying on.

[2022-07-11 16:11] skotopes commented on #1274
Let me try to explain:

- Basically we have RAM1 region, where we have heap
- This is physical memory and it is safe to read from any address in it
- So when we copy memory overread is ok
- Also our memory allocator doesn't know allocated block size and calculation it is not always possible
- Extra space will be filled with garbage, but this is up to implementation, so it's ok

PS: I'll add commen

[2022-07-11 16:43] amangine commented on #1274
Thanks for the explanation - I didn't know this code operated on physical addresses.

Comments would be appreciated!

[2022-07-12 07:27] evilpete commented on #1328
I was able to work around by tracking the timing offset and adding/deleting 1ms from from the bit duration to keep the packet timing in sync

[2022-07-12 12:00] skotopes commented on #1328
@evilpete also check digital signal library, it's designed to do that automatically

[2022-07-13 15:46] DHowett opened #1391 "picopass plugin not installed by default"
The 0.62.1 release notes mention the new picopass plugin, but it is not installed by default.
Calling this out explicitly in the release notes may help people figure out why they can't see it after upgrading!

(This probably won't be a problem once #1387 lands; until then, though, there's no way to install it.)

[2022-07-13 18:03] voidlily opened #1393 "slow down LED flashing"
**Is your feature request related to a problem? Please describe.**
The flashing LED in certain modes like emulating RFID flashes very fast and gives me a headache. I'm worried it might do worse to other people, such as photosensitive epilepsy.

**Describe the solution you'd like**
LED should flash at a much slower rate than it does currently. [According to the Epilepsy Society](https://epilepsysoc

[2022-07-13 18:06] voidlily commented on #1393
Previous work: https://github.com/flipperdevices/flipperzero-firmware/pull/1303

[2022-07-13 22:15] KairuByte opened #1394 "BadUSB ALTSTRING outputs numbers"
**Describe the bug**
`ALTSTRING This line was print using Alt+Numpad input method. It works even if non-US keyboard layout is selected` outputs the following on latest firmware:
[code]

**To Reproduce**
Simply run the above in a BadUSB script on WIndows 11.

**Expected behavior**
This string: `This line was print using Alt+Numpad input method. It works even if non-US keyboard layout is selected`

[2022-07-14 05:18] FalsePhilosopher commented on #1355
@skotopes While we are talking about menu extensions, can we also get a submenu in the power menu to change the time on how long the back button power menu shortcut takes? 1 being a long press, 3 and 5 like it is now? 5 is way too long for my taste, it should be set to 5 sec stock but the option to change that would really be nice.

[2022-07-14 07:57] tiagogala commented on #1038
I2C master can (more or less) be implemented in a similar fashion to the i2cget/i2cset/i2cdetect commands on Linux: https://linux.die.net/man/8/i2cdetect
That shouldn’t be terribly hard.
I2C slave probably can be done by defining static a map of register/value. Not sure how that should work for dynamic data.

[2022-07-14 08:32] incyi commented on #1038
https://www.adafruit.com/product/4267

Something like this ?
Here is the source:

https://github.com/jamesbowman/i2cdriver

[2022-07-14 09:35] skotopes commented on #1355
@FalsePhilosopher in theory yes

[2022-07-14 09:55] skotopes commented on #1375
@RogueMaster if there will be PR

[2022-07-15 12:46] possibly-not commented on #1393
A workaround for this is to set the LED brightness to 0% in the "LCD and Notifications" settings.

[2022-07-15 15:17] djsime1 commented on #1394
Looks like those are the raw alt codes for the text. My best guess is that Flipper failed to activate num-lock.
Edit: Might be related to #1330?

[2022-07-15 15:54] thefunkygibbon commented on #1208
guess you already know but the same goes for all types of keyboards.  UK keyboards for example give a @ when it should be a "
and a few other discrepancies.

shame that a product that was created in non-US and sold mostly to non-US has a bias towards US :-)

[2022-07-15 17:44] LeeHolmes opened #1403 "CC1101 RX FIFO can sometimes duplicate bytes"
I was just reading the CC1101 Errata, and it looks like the Flipper Zero handling of the CC1101 RX FIFO doesn't currently incorporate the recommendation that TI makes to work around a chipset bug:

![image](https://user-images.githubusercontent.com/11475352/179281171-55a352b4-f629-4f97-8e7e-9e1aeb071837.png)

Link: https://www.ti.com/lit/er/swrz020e/swrz020e.pdf?ts=1657906815283&ref_url=https%253A

[2022-07-16 00:41] GeorgeBroughton commented on #1394
it fails to hold ALT

Numlock is successful, ALT is not
it's typing the numbers fine

Can confirm this issue on a UK keyboard layout if this is relevant.
It could also be to do with timings of keypresses.

Knowing how Windows behaves when making USB keyboard/mouse emulators in the past, windows can do some buggy things if you type fast. Like if you use one to type your password at a windows login

[2022-07-16 19:34] Astrrra opened #1407 "Readme.md not adapted to the new toolchain"
We've recently changed the way our toolchain is installed (automatically via FBT), but the Readme still lists manual install instructions. Should we change that to reflect the fact that it's automatic now?

[2022-07-17 01:01] andyt10 commented on #1391
This does help, thanks very much @DHowett
Save for Discord, which is horrible to search, there's no mention that a specific Plugin is not installed by default....or that there's even a concept of plugins not being installed by default when in the main branch of code :)

I spent a good hour scratching my head on this one after updating, and reading the release notes, before eventually finding a clu

[2022-07-17 09:56] #1394 closed, assigned to nobody

[2022-07-17 14:02] mprisciano opened #1411 "Can't read database on SD card after using 3V3 port"
**Bug**
Whenever the 3V3 port is used to supply current to some hardware, upon coming back the Flipper has issues using the SD card and consequently cannot read anything out of it until rebooted.

**To Reproduce**
Steps to reproduce the behavior:
1. Switch on the Flipper
2. Attach hardware to 3V3 port
3. Try using the Infrared Remote or whatever thing that uses the SD card
4. Receive error message

[2022-07-17 14:03] skotopes commented on #1411
That is expected behavior.

ext3.3 is used for SD and ext modules, so if you disturb this power line with external module hot plugging then SD becomes unusable.

We are researching workarounds for this issue, just keep in mind that this line is NOT OK with hot plugging things.

[2022-07-17 14:28] gorodulin commented on #1077
I have two suspicious looking stray cats in my backyard. They will bite if I try to catch them, but I could scan them to see if they are lost.
Local RFIDs operate on 134.2 KHz

[2022-07-18 11:41] themaks commented on #1234
Completely agree. One submenu could even directly map the arrow wheel and OK button of the Flipper to arrows (rotated by 90°) and OK button of the remote, and the "back" button would exit this submenu.

[2022-07-19 11:14] xMasterX opened #1414 "SubGhz encoder ignores repeat parameter in receiver_info scene"
**Describe the bug**
`Repeat` parameter of encoder seems being ignored while sending signal from receiver_info scene with button hold - it only sends just one payload.
When sending saved signal from transmitter scene - repeat is working properly while holding send button.

**To Reproduce**
Steps to reproduce the behavior:
1. Receive signal in subghz Read mode
2. Open signal and hold send button (w

[2022-07-19 11:19] Skorpionm commented on #1414
what exactly are you trying to pass from subghz_scene_receiver_info.c
? make a video of how it doesn't work for you. I just checked on Pricenton, the transmission goes on while the button is held down

[2022-07-19 13:06] xMasterX commented on #1414
Tested again with sdr, this must be an issue with receiver, all works fine

[2022-07-19 13:06] #1414 closed, assigned to nobody

[2022-07-19 15:50] spencerthayer commented on #1077
I've more or less stopped using Flipper, but if and when this gets put into the code repository I'll finally have a use for it.

[2022-07-19 20:30] wyattearp opened #1416 "Misspelled Item in `3164184bb` - application/subghz/views/subghz_read_raw.c"
# What are you want to add or change
It looks like 3164184bb introduced a typo of changing `status` --> `satus`

# What questions do you have
It should probably be `status` :)

[code]

Running this should fix it (from the `subghz` folder:
`find . -type f -exec sed -i 's/satus/status/g' {} \;`

[2022-07-20 07:43] BitcoinRaven opened #1418 "subghz CLi transmitting in 12bit instead of 24bit"
# subghz CLi transmitting in 12bit instead of 24bit
I'm trying to transmit using subghz Cli using the following command (12bits):
subghz tx ECA 433920000 10
but it sends nothing, when I change the code to 24bits it works.
Is there a specific argument to make it send in 12bits ??

[2022-07-20 20:08] hedger commented on #1403
@Skorpionm

[2022-07-20 20:16] hedger commented on #1230
@adamm please try building latest dev. It should download toolchain & everything necessary.
Reopen if you encounter any issues.

[2022-07-20 20:16] #1230 closed, assigned to skotopes

[2022-07-20 20:47] FlorianTopf commented on #1230
I just checked out current dev branch (ec57dd310a6ad9657c08d143bd82a66da532dc78) build and flashed my flipper successfully with an Apple M1 Pro (2021).

[2022-07-21 04:54] GMMan commented on #1284
@evilpete Got the tags, and finished up the PR.

[2022-07-21 11:00] nicoSWD opened #1426 "Unable to exit remote menu"
**Describe the bug**
When I go to the remote menu, and add a new one using the `+` button, I'm able to save new ones, but I'm unable to return home afterwards. Pressing the back button just displays the "saved" screen, and then returns to the remote menu.

![flipper](https://user-images.githubusercontent.com/205852/180197148-a704cdf7-623c-42b8-a842-7218a9051b38.gif)

**To Reproduce**
Steps to repr

[2022-07-21 13:57] casconed opened #1427 "Unable to Read Mifare Ultralight card"
**Describe the bug**
Using NFC -> Read Card the card is correctly identified but when running Read MifareUltral/Ntag the device just stalls on 'Detecting Ultralight'

**Expected behavior**
Card is read.

**Logs**
[debug.pcap.zip](https://github.com/flipperdevices/flipperzero-firmware/files/9159913/debug.pcap.zip)

[2022-07-21 14:11] gornekich commented on #1427
Hi.
Looks like your card has read protection. We are going to notify about it in GUI and add extra action to try to unlock these cards

[2022-07-22 16:41] FlorianTopf opened #1430 "Problem reading stored DESFire card"
**Describe the bug**
I was reading a NFC card which Flipper (FW 0.62.1) detected as DESFire type. I was able to read the tag and I also ran the compatible app successfully. I can have a look at some data in the following view and I am able to save.
However when I want to load the saved data I get an error screen saying that the file can not be parsed. (see screenshots)

![IMG_1004](https://user-im

[2022-07-22 23:23] Kowlin opened #1432 "File browser does not recognize favorites.txt"
**Describe the bug**
Favorites for the file browser fail to load when there is a blank new line inserted as the first line for the `favorites.txt`

**To Reproduce**

1. Create an new `favorites.txt` with a blank new line as the first line.
2. Place the newly created file in the SD card's root.
3. Open up the file browser on the Flipper with the down arrow.
4. Watch in awe as it fails to load your

[2022-07-23 10:09] Leseratte10 opened #1434 "RC5 emuation not working correctly on Grundig TV"
**Describe the bug**
Tried to emulate my TVs IR remote with the Flipper, didn't work, no matter which of the remote's buttons I tried.

**To Reproduce**
Steps to reproduce the behavior:
1. Tried to clone an RC5 IR button
2. Emulate said button
3. Notice that the TV didn't do anything

**Expected behavior**
TV does something, i.e., the key is emulated correctly.

**Logs**
Excerpt from the IR file g

[2022-07-23 16:34] jeroenh opened #1436 "BadUSB Example on Apple fails"
**Describe the bug**
The example badusb script for apple devices should use spotlight to open a terminal.
The enter key is not sent correctly, so all the input is entered into the spotlight search window instead of a terminal window

**To Reproduce**
Steps to reproduce the behavior:
1. Switch on...
2. connect flipper to a usb-port on a Mac
3. Run the BadUSB example script

**Expected behavior**
Te

[2022-07-24 12:27] RvanBaarle opened #1439 "SubGHz chat immediately closes after opening"
**Describe the bug**
When trying to start subghz chat from the cli it closes again within about 1-2 seconds.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect through PuTTY using baud rate 115200 and default settings (haven't tested other serial monitors or baud rates, but it'll probably work as well)
2. Enter the `subghz chat` command
3. The expected chat input appears with two extra

[2022-07-24 20:12] der-pepe opened #1441 "Use custom NFC dictionaries based on their UID for known Mifare cards"
The nfc_worker_mifare_classic_dict_attack function takes quite some time to iterate along all the key on the mf_classic_dict.nfc file. For new cards this is just fine, since we don't actually know its keys, but for well known cards, this is quite tiresome.

A quicker method could be, before loading the generic dictionary file, to check for a custom one (maybe something in the format of {{CARD_UID}

[2022-07-24 20:13] Astrrra commented on #1441
A similar optimization is already present in the draft NFC-redesign branch, so this will be solved once that branch gets finished and merged into dev

[2022-07-24 22:28] Project-Code-Name opened #1442 "Import frequency from frequency analyzer to read raw"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

The workflow would be this: Open the frequency analyzer, get the frequency the device transmits on, you now have the option to either throw a

[2022-07-25 12:30] #1439 closed, assigned to nobody

[2022-07-25 15:21] #1284 closed, assigned to gornekich

[2022-07-25 15:44] guilhem opened #1445 "Bluetooth and / or NFC U2F"
### Description of the feature you're suggesting.

It's possible to do U2F with bluetooth or NFC.
Flipper has both ;)

### Anything else?

Bluetooth can be market "Bluetooth ENBL"

protocol:
- https://fidoalliance.org/specs/u2f-specs-master/fido-u2f-bt-protocol.html
- https://fidoalliance.org/specs/u2f-specs-master/fido-u2f-nfc-protocol.html

[2022-07-25 16:45] craftbyte opened #1447 "DESfire app does not read cards with "Random UID" feature set"
### Desctibe the bug.

The DESfire reader app does not seem to be able to read cards with Random UIDs set. The UID is 4-byte, starting with 0x08.

### Reproduction

1. Configure a DESfire card with Random UID (issue SetConfiguration command with option 0x00 and bit 1 set, see Datasheet section 7.4.3.1)
2. Try reading with Flipper
3. Flipper will be stuck reading

### Target

_No response_

### Log

[2022-07-25 16:57] Bertus-W commented on #1077
it's being implemented by @DrZlo13 atm

[2022-07-26 02:40] curiositycasualty opened #1453 "Litor is hungry."
Please allow me to feed Litor a fish.

[2022-07-26 14:09] #1453 closed, assigned to nobody

[2022-07-26 14:12] skotopes commented on #1445
Hi. In theory yes, but it extremely narrow field of application and some platforms require certification (microsoft) which we do not plan to do.

[2022-07-26 14:43] SebCorbin commented on #1436
Relying on `cmd`+`space` is also messy because it may be configured to use `ctrl`+`space` in Keyboard shortcuts

[2022-07-26 15:53] Skorpionm commented on #1442
What if the remote control is multi-frequency?  and if the frequency stabilization at the remote control floats?  how to be then?

[2022-07-26 15:55] Skorpionm commented on #1418
in CLI, only 24-bit key transfer is supported, I'll think about what can be done with this!

[2022-07-26 16:02] Skorpionm commented on #1416
😳

[2022-07-26 16:30] SharpEdgeMarshall opened #1457 "HardFault trying to use saved Sub-Ghz"
### Describe the bug.

Every time I try to "Emulate" a Sub-Ghz remote that I saved before, Flipper Zero power off and I have to use the reset sequence to restart it (a message will appear saying that FlipperZero was restarted cause of a HardFault)

### Reproduction

1. Go to Sub-Ghz
2. Read remote (CAME TWEE) on 433.92 AM270
3. Save it or press send
4. Flipper zero will shutdown instantly

### Tar

[2022-07-26 16:39] Skorpionm commented on #1457
https://github.com/flipperdevices/flipperzero-firmware/pull/1446
if you really use the CAME TWEE remote control, there will be no more errors.  if not this protocol, then it will not be identified, the error was due to an incorrect definition of the protocol

[2022-07-26 16:42] skotopes commented on #1457
fixed in 0.63.0-rc

[2022-07-26 16:42] #1457 closed, assigned to nobody

[2022-07-26 16:51] SharpEdgeMarshall commented on #1457
@skotopes is detected as CAME TWEE but is a ENTREMATIC ZEN4 how can I know if it is normal?

[2022-07-26 17:34] skotopes commented on #1457
@SharpEdgeMarshall if emulation works then it's normal )

[2022-07-26 18:25] nohehf commented on #1436
Isn't there any way to start the terminal without relying on spotlight?

[2022-07-26 22:30] bolmar3 opened #1463 "RFID Reading/Writing fails on specific tag (but not when I add logging?)"
### Describe the bug.

I ordered some (what I assume to be) T5577 tags.
When they arrived and I tested them, the flipper zero could not read or write to them.
I started adding debug logging statements to the 0.62.1 firmware, and after a while I noticed reading suddenly worked.
I narrowed it down to one change I've made:
In `RfidReader::read` after the `if(something_read)` statement, I added an els

[2022-07-26 22:58] wyattearp commented on #1416
that's weird - why didn't it close with the message? -- well, it should have. let me fix that and thanks @Skorpionm :)

[2022-07-26 22:58] #1416 closed, assigned to nobody

[2022-07-27 00:20] rsplaul opened #1465 "Sub-GHz scan is missing PMR frequencies (EU version)"
### Describe the bug.

The Sub-GHz scan of the Flipper Zero (EU version) cannot be tuned to [PMR446 frequencies](https://en.wikipedia.org/wiki/PMR446) as used by restaurant pagers like this one:
![IMG_3470](https://user-images.githubusercontent.com/2684993/181133745-81efe496-6307-4e40-b92c-f471d36b250b.jpeg)

### Reproduction

1. Select `Sub-GHz` in menu
2. Select `Read`
3. Click left for `Config`

[2022-07-27 03:00] pmarrapese opened #1466 "History of detected frequencies in Frequency Analyzer"
**Is your feature request related to a problem? Please describe.**
The Frequency Analyzer is great for reconnaissance and finding frequencies used within the area. However, the analyzer only shows a detected frequency for a second before resetting to 000.000 MHz. Blink and you'll miss it.

**Describe the solution you'd like.**
It would be useful if the analyzer kept a list of detected frequencies

[2022-07-27 07:29] hedger commented on #1463
@DrZlo13

[2022-07-27 07:32] SharpEdgeMarshall commented on #1457
@skotopes I tried the `0.63.1` and the issue is still there :/

[2022-07-27 10:09] arty-hlr commented on #1278
Same issue here with latest firmware, just received my Flipper today. Also on CAME TWEEN. Please reopen? Or should I open a separate issue?

[2022-07-27 11:47] Skorpionm commented on #1278
0.63?

[2022-07-27 11:49] Skorpionm commented on #1457
then please write me a raw file with this remote control and send

[2022-07-27 13:51] tkerby commented on #1441
So I'm trying some of the new NFC branch on the RogueMaster firmware. My comments

1 - The cache shouldn't be per card. It would be great to be able to read my own facility card for instance then instantly read others. That either means an option should be there to view the cached keys and add them to the user dictionary or the cache files should be read quickly on each card to check for matches

[2022-07-27 16:40] Skorpionm commented on #1465
you can add this frequency to subghz/asset/setting_user

[2022-07-27 16:46] pmarrapese commented on #1442
I opened a related feature request that could incorporate the desired functionality in an elegant way: #1466

[2022-07-27 16:53] exussum12 commented on #1077
Just tried the dev branch for this and it scans well! Great job @DrZlo13 and others involved

[2022-07-27 17:28] bolmar3 opened #1468 "NFC Emulation of previously saved Mifare classic 1k card does not work."
### Describe the bug.

I have multiple saved cards from 0.62.1, and in the latest release candidate, when I emulate the card, my phone cannot detect it at all. When I emulate a saved NTAG/Ultralight there is no issue.

### Reproduction

On 0.62, save a Mifare classic 1k card
Update to RC
NFC->Saved->saved card->Emulate
Phone cannot detect emulated card

### Target

e28446de49db99093c33dd43a1c4773d

[2022-07-27 17:34] gornekich commented on #1468
Thanks. Working on fix

[2022-07-27 17:58] rsplaul commented on #1465
I was under the impression, that the Flipper firmware only allows for scanning frequencies from the [Table of frequencies by region](https://docs.flipperzero.one/sub-ghz/frequencies). PMR446 isn’t on that list at all.

Also, I do not understand the syntax of the `setting_user` file. Is there any documentation about this file?

[2022-07-27 18:00] theobarrague commented on #1465
This is mine for example :
[code]
File is self-documented

[2022-07-27 18:25] rsplaul commented on #1465
Maybe I am doing something wrong, but changing the settings file does not have any effect at all. I also tested with the exact file posted above by @theobarrague.

[2022-07-27 18:42] theobarrague commented on #1465
Did you change the file under SD Card / subghz / assets / setting_user ?

I just updated my firmware with the latest version on dev branch and I use this :
[code]
( I don't know if the case matters )

[2022-07-27 18:52] V0lk3n opened #1469 "Newest NFC dev update break some reading"
### Describe the bug.

In the previous version i was able to Read the NFC of Skylanders figures.

Since the new dev update of 27 jully, when i try to read it on the new NFC reader it keep saying "Reading card... Don't Move" for ever.

So i'm not able to read my Skylanders and save the signal.

### Reproduction

1. Press NFC
2. Read Card
3. It read card for ever without returning result

### Target

[2022-07-27 19:05] gornekich commented on #1469
Could you please send logs here.
1) Open settings->system->log level = Debug
2) Connect Flipper to USB. Open serial port to access CLI, print logs
3) Read card and send logs here

[2022-07-27 20:02] V0lk3n commented on #1469
I'm trying but unfortunately the log say nothing while it said "reading card dont move".

 The log didnt return result since i press "Read" on the flipper zero. Nothing happen from "detecting NFC card" to "Reading card dont move".

[2022-07-27 20:08] ppseprus opened #1470 "Can't rename or delete RX-only sub-1GHz signals"
### Describe the bug.

Firmware Version: 0.62.1, 2022-07-13

### Reproduction

1. Record a sub-1GHz signal that is RX-only according to respected regional restrictions (eg. 315MHz for EU-Russia region)
2. Save the signal
3. Navigate to "Saved"
4. Select the saved signal

**Expected Behaviour**
When opening the saved signal, one can select to "Emulate", "Rename" or "Delete"

Just like the linked il

[2022-07-27 20:09] gornekich commented on #1469
Are you shore that you set log level to Debug? Can you send logs from CLI starting before you press Read on flipper

[2022-07-27 20:09] V0lk3n commented on #1469
I got result in "Trace" mode only :

[code]

[2022-07-27 20:12] V0lk3n commented on #1469
In Debug log level i got this result

[code]

[2022-07-27 20:27] GMMan commented on #1469
Skylander is [Mifare Classic](https://nfc.toys/#skylanders-and-mifare), so may still be subject to MFC emulation issues.

[2022-07-27 20:35] V0lk3n commented on #1469
If that can help to know why it didnt read anymore, i post one saved signal of a skylanders figure with the previous firmware.

[code]

[2022-07-27 20:37] GMMan commented on #1469
Is that the whole file? It's only UID emulation, so it probably never worked in the first place.

[2022-07-27 20:42] gornekich commented on #1469
I see the reason now.
We don't support this ATQA and SAK combination, that's why previously we saved just UID part.
I will add fallback to read UID part for unrecognized cards in new nfc design tomorrow and flipper will read the card just as it read it before.
Further we need to verify that it's Mifare Classic and try to read sectors.
Thanks for information!

[2022-07-27 21:37] V0lk3n commented on #1469
@GMMan It worked ^^ There is just a bit more job to do with the UID after that.

Also i dont think it's Mifare Classic. I invite you to look the documentation bellow that can really help you to do something i think @gornekich

https://nfc.toys/interop-sky.html

https://nfc.toys/data-giants.html

[2022-07-27 21:41] V0lk3n commented on #1469
If i can be of any help let me know :) And thanks for you'r help and for adding the fallback to read UID :)

[2022-07-27 21:51] V0lk3n commented on #1469
"Skylander toys in particular use the Mifare Classic standard, which divides each tag’s storage into sectors and blocks."

So it seem to bee Mifare Classic Standard, thats right.

Source : http://con-mod.com/skylanders-nfc/

[2022-07-27 21:57] bolmar3 commented on #1468
Just tested this on c7772060657afc8ee5a160ea3ed62246d989c136
Reading a brand new MFC card with content and emulating it fails as well. I don't think it's about previous save data being wrong.

[2022-07-27 22:18] doegox opened #1472 "NFC: Emulating a UID of a previously saved ISO-14443A-4 does not work because SAK tells there should be an ATS"
### Describe the bug.

Flipper allows to emulate the UID of cards it can't fully emulate, such as a MIFARE DESFire.
But it emulates the recorded SAK as well.
The SAK of an ISO-14443-4 has bit6=1 (e.g. SAK=20), contrarily to ISO-14443-3 cards such as MIFARE Classic, NTAG, Ultralight, with a SAK with bit6=0.
The problem is that when emulating a UID, the Flipper emulates an ISO-14443-3 without an ATS

[2022-07-27 22:34] GMMan commented on #1469
It's close enough to a Mifare Classic that you might as well call it a Mifare Classic, ATQA/SAK not withstanding

[2022-07-27 22:37] V0lk3n commented on #1469
As i said "thats right" so i give you the point, i dont know where you want to go but well..

[2022-07-28 00:06] ResistanceIsUseless opened #1473 "sub-ghz capture file format exporter/converter"
### Description of the feature you're suggesting.

Would it be possible to get a tool that converts the raw data from a capture into hex or something that could be easily converted to other tools? For example, it would be nice to be able to transfer captures between [rfcrack ](https://github.com/cclabsInc/RFCrack)and flipper.

### Anything else?

_No response_

[2022-07-28 00:51] camercu commented on #1278
I captured a larger sample of clicks from the 2010 Subaru Forester key fob for you to analyze.

[Forester-capture.zip](https://github.com/flipperdevices/flipperzero-firmware/files/9204400/Forester-capture.zip)

For my own learning, what are you using to do the analysis? How can I do that myself? The screenshot you posted looks almost like you loaded the file into the Saleae Logic2 program, but I c

[2022-07-28 01:36] staxfur opened #1474 "add a clock to the main screen"
### Describe the enhancement you're suggesting.

I think it would be nice to have a simple clock on the home screen of the flipper, showing the local time.

### Anything else?

_No response_

[2022-07-28 02:45] staxfur commented on #1474
Duplicate of #1172, sorry!

[2022-07-28 02:45] #1474 closed, assigned to nobody

[2022-07-28 02:48] staxfur commented on #1172
Would be cool for Sure! I might look into this. Is there a preferred way to add applications? I know that currently they are compiled into the firmware, but is it possible to create applications outside of the firmware tree? Would be nice for applications that are not accepted from the maintainers, but are still developed and maintained by the community.

[2022-07-28 04:58] RogueMaster commented on #1172
@MCWertGaming check my github 😎 This issue is being "fixed" by #1405

[2022-07-28 05:54] vladicha7 opened #1476 "NFC Reading wrong bank card number"
### Describe the bug.

Hey all, when i try to read a bank card, it gives me different bank card code. For example if my card ends with 1234, and i read it with the flipperzero it  will show totally different code. Same thing with a different card.

### Reproduction

1. NFC
2. Read card
3. Reads card, shows the bank
4. Click run
5. Shows the wrong bank card code, exp, UID...

### Target

_No respon

[2022-07-28 08:19] silentyak commented on #1047
I barely know how to code and was just browsing and saw this return value https://github.com/flipperdevices/flipperzero-firmware/blob/c7772060657afc8ee5a160ea3ed62246d989c136/firmware/targets/f7/furi_hal/furi_hal_version.c#L252

I also saw this enum value `FuriHalVersionRegionUnknown`

[2022-07-28 10:54] gornekich commented on #1468
The reason can be enabled log level debug in Settings->System. Please confirm that you set log level to Info / Warning / Error / Default

[2022-07-28 11:46] gornekich commented on #1472
Hello! Thanks for bug report and solution.
Now I will add quick fix to clear 6 bit in SAK in UID emulation. Then we will save ATS and follow your suggestions

[2022-07-28 12:35] skotopes commented on #1476
Hi. Which bank it is? Also it looks like intended behavior: card number used for EMV doesn't have to be same.

[2022-07-28 12:41] vr commented on #1465
i have the same issue @rsplaul , i can't change frequencies anymore in 0.63.1-RC or dev version, it works fine with 0.62.1, i'm wondering if this could be related to preset refactoring done by @Skorpionm ? i'm digging the code

[2022-07-28 12:57] bolmar3 commented on #1468
Log level was on Debug.

[2022-07-28 12:59] SebCorbin commented on #1436
A solution to this would be to hit both `cmd`+`space` and `ctrl`+`space` as they do not interfere once spolight is open (from either shortcut)

[2022-07-28 13:13] simkard69 commented on #1468
I have the same problem on my side, yesterday tried to brute-force attack a Mifare-classif ... which succeeded after 15 minutes.
Anyway, once I tried to emulate the tag in front of the reader : not working (it was a VIGIK like this one : [VIGIK READER](https://cdn.adiglobal.fr/userfiles/FullRepository/Large/T25VK3_lg.jpg))

I have some blanks NFC Mifare-Classic cards (white ones with UID/Sector 0

[2022-07-28 13:14] simkard69 commented on #1353
Thanks for working on that Feature Request, greatly appreciated !
Cheers from France !

[2022-07-28 13:19] skotopes commented on #1473
Hi. Flipper raw format is basically demodulated signal durations in microseconds. Tools that works with I/Q data are not going to work with it.

[2022-07-28 13:34] staxfur commented on #1172
Really nice, thanks!

[2022-07-28 14:01] bbock commented on #1465
@rsplaul @vr capitalization of the first character in `setting_user` changed recently, e.g. `Frequency:` vs. `frequency:`. Check the example [here](https://github.com/flipperdevices/flipperzero-firmware/blob/dev/assets/resources/subghz/assets/setting_user).

[2022-07-28 14:02] vr commented on #1465
yes just saw this ! Thank you @bbock

[2022-07-28 14:43] korfuri opened #1479 "Replaying captured CAME TWEE sub-Ghz key crashes the Flipper Zero"
Hi,

I'm running the release Firmware 0.62.1. I captured the following key in the wild: https://dev.flpr.app/s/#path=subghz/Test1.sub&Filetype=Flipper+SubGhz+Key+File&Version=1&Frequency=433920000&Preset=FuriHalSubGhzPresetOok650Async&Protocol=CAME+TWEE&Bit=104&Key=83+BD+00+FA+00+B7+00+BA I don't know the actual source of the signal, I got this by chance when playing around.

It shows up as a CAME

[2022-07-28 14:46] vladicha7 commented on #1476
Raifaisen bank, visa. Oh okay, because a guy said that when he reads his bank card it shows the real numbers.

[2022-07-28 14:50] skotopes commented on #1479
Hi, please check Release Candidate

[2022-07-28 14:55] simkard69 commented on #1441
This has be done in RogueMaster firmware if I'm correct 👍

[2022-07-28 15:00] simkard69 commented on #1084
As I'm new to Flipper Zero (just received it yesterday), I was wondering about this "timing issue".
It's not the first time I'm hearing about it and I'm worried that it is a H/W related problem rather than a S/W one.
Am I correct ?

[2022-07-28 15:01] tkerby commented on #1441
Yes - at the moment it does as they've pulled the development branch of FZ which includes this

[2022-07-28 15:06] Skorpionm commented on #1479
Filetype: Flipper SubGhz Key File
Version: 1
Frequency: 433920000
Preset: FuriHalSubGhzPresetOok650Async
Protocol: CAME TWEE
Bit: 104
Key: 83 BD 00 FA 00 B7 00 BA

Bit: 104 this is an invalid value for the number of bits, it was fixed in version 0.63.2. check again

[2022-07-28 15:16] PeterCheungHK opened #1480 "Frequency Analyzer flash backlight and beep Sound when detected Frequency"
### Describe the enhancement you're suggesting.

When the frequency Analyzer detected the frequency  flash backlight and beep sound

### Anything else?

_No response_

[2022-07-28 15:21] korfuri commented on #1479
Emulating that file still crashes with RC 0.63.2.

I am not able to recapture the same signal so I can't tell whether it would be captured differently under RC 0.63.2.

[2022-07-28 15:29] skotopes commented on #1479
I think I know what's wrong. Wait for next RC.

[2022-07-28 15:34] djsime1 commented on #1084
Quote from [this FAQ](https://github.com/djsime1/awesome-flipperzero/blob/main/FAQ.md#why-isnt-mifare-classic-emulation-working):

You are correct; but I've experienced that most dedicated reader hardware works, while smartphones usually are the ones that cause issues. I would say don't worry about it, since it's good enough for most readers to accept.

[2022-07-28 16:28] ResistanceIsUseless commented on #1473
Just to clarify, it's basically the waveform plotted into ascii? If so the only thing i can think of that might work is universal hacker radio.

The only thing i could find that does similar raw files is this. http://www.rfxcom.com/WebRoot/StoreNL2/Shops/78165469/MediaGallery/Downloads/RFXtrx_User_Guide.pdf

Which interestingly enough has a bunch of device signals decoded.

Closing out, but I'll c

[2022-07-28 16:28] #1473 closed, assigned to skotopes

[2022-07-28 16:52] Linzdigr commented on #1468
Exactly in the same situation as @simkard69 : NFC Mifare Classic 1k card's keys and content are well extracted by the Flipper (👍) but the emulation seems to be the issue. The VIGIK denies the emulated version.

From what I've understood it's a timing issue with the Flipper's NFC chip onboard not natively supporting the Mifare Classic 1k (and the current soft implementation is leading to timeout wi

[2022-07-28 16:55] ClusterM opened #1481 "Can't compile using protobuf==3.20.1"
### Describe the bug.

There is protobuf 3.20.1 in `scripts/requirements.txt` but firmware can't be compiled using this version.

### Reproduction

* Checkout https://github.com/flipperdevices/flipperzero-firmware.git
* Run `pip3 install -r scripts/requirements.txt`
* Run ./fbt

### Target

_No response_

### Logs

[code]

### Anything else?

Installation of the latest protobuf version solves this

[2022-07-28 17:10] hedger commented on #1481
Which distro are you running fbt on?
Also fbt and Python scripts it calls should use Python interpreter distributed with fbt's toolchain. Do you have it in `toolchain` foler?

[2022-07-28 17:21] ClusterM commented on #1481
Linux ovh.clusterrr.com 5.10.0-16-cloud-amd64 #1 SMP Debian 5.10.127-1 (2022-06-30) x86_64 GNU/Linux

Yes, I have it but I used installed Python 3.9.2.

[2022-07-28 17:24] ImprovingRigmarole commented on #1481
hi,
I just followed [this readme](https://github.com/flipperdevices/flipperzero-firmware/blob/dev/documentation/fbt.md),
ran `fbt.cmd`, and the exact same error occurred. I'm using Windows10.
From the readme, it seems to indicate it's needed to have python, GNU arm toolchain, and OpenOCD installed and in path, but it seems that fbt itself is supposed to install everything on its own (or at least u

[2022-07-28 17:30] hbrylkowski commented on #1077
can you share which specific branch?

[2022-07-28 17:36] exussum12 commented on #1077
https://github.com/mauimauer/flipperzero-firmware/tree/fdxb

[2022-07-28 17:37] skotopes commented on #1481
@drunkbatya can you take a look?

[2022-07-28 17:51] V0lk3n commented on #1469
Seem like you fixed it! And now its better :) thanks!

![IMG_20220728_194835.jpg](https://user-images.githubusercontent.com/22322762/181604217-c3f96582-27c2-48b0-b784-74a6e1935e5e.jpg)

[2022-07-28 17:57] UberGuidoZ opened #1482 "Regression of tag ID (NFC-A / Mifare Ultra) in 0.63.2-rc"
### Describe the enhancement you're suggesting.

In a previous firmware (0.62.1) I was able to scan an NFC-A/Mifare Ultra card and have it instantly display data

![Read_NFC](https://user-images.githubusercontent.com/57457139/181602816-400b4744-9c80-426a-80cf-30658792939b.png)

Since upgrading to 0.63.2-rc, it now seems to hang at the following (5 min and counting)

![NFC_Issue](https://user-image

[2022-07-28 18:16] ImprovingRigmarole opened #1483 "Failed building libstm32cubewb.a and libsubghz.a"
### Describe the bug.

Follow up of #1481 on Windows 10.

I started running `fbt.cmd` after checking out from `release` branch (currently [3e5d499](https://github.com/flipperdevices/flipperzero-firmware/commit/3e5d499b443f86f9313aaaa75b9925e59d4a137a)) and `fbt.cmd` didn't install anything.

After switching to `dev` (c40e8811d68e9f4b8f603ae5d5826b814521014d), `fbt.cmd` successully installed its to

[2022-07-28 18:33] m1ga commented on #1480
But please as an option to turn on light and/or sound. Having it turn on light + https://github.com/flipperdevices/flipperzero-firmware/issues/1466 would make it a lot better!

[2022-07-28 18:43] ImprovingRigmarole commented on #1483
ok I just checked what's happening with ProcMon,
and it seems that some commands passed to `arm-none-eabi-ar` are correct (most) :
[code]
but a few ones get some weird temp folder path :
[code]
file which is created by python process launched with those args `python  lib\scons\scripts\scons.py -Q --warn=target-not-built`

and it's those which fail obviously...
now what could happen in the build sc

[2022-07-28 18:53] #1469 closed, assigned to gornekich

[2022-07-28 20:45] dakhnod opened #1486 "replay serial data from file"
### Description of the feature you're suggesting.

I am planning on attaching a 40mhz module and would like to be able to have my payload in a file, just like the sub-files.
But instead of outputting that payload through the internal antenna, it should be output on a GPIO / the UART TX, so it can be send through the 40mhz AM module.

Baud rate and possibly the pin should be selectable through the

[2022-07-29 06:00] rck opened #1489 "BadUSB: allow SYSRQ keys"
### Describe the enhancement you're suggesting.

With the current version of the ducky script interpreter it is not possible to send [SysRq](https://en.wikipedia.org/wiki/Magic_SysRq_key) keys, which would be a very useful feature. For example it would be possible to safely reboot a frozen Linux machine or as the name "badusb" suggest be really bad in just a few characters of script.

SysRq (i.e.,

[2022-07-29 08:48] drunkbatya commented on #1481
I’ve reproduced this bug and it’s really strange because fbt’s python has the same versions of python libs. Gotta need some time for debugging, I’ll catch you up on it. Have you tried compiling it with ./fbt’s python?

[2022-07-29 12:59] awilkins commented on #1427
Tesco Clubcard (UK) is an example of one of one of these cards.

[2022-07-29 15:33] jaroslavmraz opened #1494 "Alow universal IR for AC and Audio"
### Description of the feature you're suggesting.

Hi,

Would it be possible to enable the universal controller for Air Conditioning and Audio devices with brutforce? I have already prepared an ir file for Air Conditioners based on the tv.ir pattern from the assets folder. And I'm happy to share it.

### Anything else?

_No response_

[2022-07-29 16:16] bbock commented on #1208
for a 3rd party implementation of this feature see [here](https://github.com/v1nc/flipperzero-firmware).

[2022-07-29 16:21] ClusterM commented on #1481
No, I have not.

[2022-07-29 17:14] Kingwad opened #1495 "Python scripts do not find python libraries installed in the new toolchain"
### Describe the bug.

The new toolchain folder includes several python libraries, for example pyserial, but the python scripts, for example storage.py, still require the libraries to be installed in the system.

### Reproduction

remove pyserial library from the os installed Python libraries
Make sure the toolchain folder is up to date via fbt
Confirm that the toolchain contains the serial packag

[2022-07-29 17:21] Xenthys commented on #1468
Following commit c40e8811, I have been able to emulate a Mifare Classic 1k card successfully!
I've been able to read it with NFC Tools on my phone, so now if it fails I'm going to blame the reader.

Thanks for the fix @gornekich, you may be waiting for other confirmations but in my case we're good!

[2022-07-29 17:30] hedger commented on #1495
Toolchain and supplemental environment are set up by additional scripts. Soon there will be a way to spawn a shell with all toolchain's tools in it, so what you described will no longer be an issue.

[2022-07-29 18:04] bolmar3 commented on #1468
@Xenthys I still cannot emulate freshly scanned or saved MFC 1k cards on c40e8811d68e9f4b8f603ae5d5826b814521014d.

[2022-07-29 18:47] Linzdigr commented on #1468
Flipper firmware changed from stable to dev https://github.com/flipperdevices/flipperzero-firmware/commit/c40e8811d68e9f4b8f603ae5d5826b814521014d

Results:
- Previous saved MFC 1k file emulated -> doesn't recognized by the VIGIK reader
- Fresh scanned and keys retrieved then emulate -> still KO

Thanks for the update though ;)

[2022-07-29 18:48] BestPig commented on #1468
Still have some issue at some point for me.

Unable to read the whole contents with MIFARE Classic Tool (Android)
And also with an ACR122U with the libnfc

It seems the tag disappears during the read.

[2022-07-29 20:04] UberGuidoZ commented on #1482
Similar issues with other encrypted/passworded cards.

![Similar_Issue](https://user-images.githubusercontent.com/57457139/181835261-d37739cb-0f6f-4247-a721-f939a225242c.png)

[2022-07-29 20:09] V0lk3n opened #1498 "Add NFC Toys Keys Algorythm for NFC-A Skylanders"
### Describe the enhancement you're suggesting.

Add Keys Algorythm for NFC-A Skylanders.

Skylanders Toys is Mifare Classic Standard using SKA01.

Actually reading the toys with the flipper only read the UID part.

 @![photo_5990267278475770144_y](https://user-images.githubusercontent.com/22322762/181834598-7b546621-d134-4e06-9aba-06fb122b0b81.jpg)

Using this UID, i was able to retrieve the 16 k

[2022-07-29 20:09] V0lk3n commented on #1498
Well sorry for the LAAAARGE picture, wasnt intended...

[2022-07-29 20:10] V0lk3n commented on #1498
@gornekich

[2022-07-29 20:14] V0lk3n commented on #1498
Seem that this communauty is soooo FAST and efficiant :) @equipter just made a pull request for it https://github.com/flipperdevices/flipperzero-firmware/pull/1497

[2022-07-29 23:35] RocketGod-git opened #1499 "settings_user"
### Description of the feature you're suggesting.

Please make the
subghz/assets/settings_user
Into a text file settings_user.txt

I need to modify it from the iPhone when mobile but currently have to wait until I get back to the office. Sometimes you just need a new frequency. 😁👍🏼

### Anything else?

You guys are doing awesome! Thank you.

[2022-07-29 23:47] Xenthys commented on #1468
All my cards work so this is odd, maybe try with one of mine / compare the content?

This one is safe, it's an old metrovalencia ticket from months ago:
https://gist.github.com/Xenthys/4a7cc356b1a1caf052c9986495fb9c46

[2022-07-30 17:10] swittenberger opened #1500 "EM4100 RFID issue: Emulation does not work"
### Describe the bug.

Hello, I've had 3 different EM4100 tags that I could copy without any issues, but when emulating the tag, the reader doesn't detect anything.

I've been told on discord that a reboot might help, but it didn't. What other info can I give?
![image](https://user-images.githubusercontent.com/28090775/181934321-af5e2f9a-4603-470c-9085-f62bb9f87a4a.png)

### Reproduction

1. Read

[2022-07-30 17:12] bettse commented on #1500
I don't have first hand experience, but I've seen at least 3 other people with the same problem

[2022-07-30 18:00] ImprovingRigmarole commented on #1483
ok problem fixed !!!

so after seeing the problem seemingly came from Scons, I went to check over Scons' issues, and found this :
https://github.com/SCons/scons/issues/2973#issue-285460151

so basically when scons need to pass a long list of `.o` files to archive in an `.a` file to `arm-none-eabi-ar`, it stores the long command in a file and uses the `@file` for `ar` to read it.

- Scons uses the

[2022-07-30 18:00] #1483 closed, assigned to nobody

[2022-07-31 05:12] Astrrra commented on #1500
I haven't been able to replicate this issue.

https://drive.google.com/file/d/1fyJLHXRghv-VP-zwfWvneXZ-uCqj5pWQ/view?usp=drivesdk

As I asked in the reddit thread, can you please attach a video of you trying to emulate the card? This sounds like you may be doing something wrong.

[2022-07-31 08:14] swittenberger commented on #1500
Hi, here is a video of the flipper not being able to emulate the RFID tag. https://drive.google.com/file/d/1clRwR54LT4bUGVUxHWEE8aykKtJO0XuV/view?usp=sharing

I will also check with a 2nd flipper as you did above, but that is a totally different case.

[2022-07-31 09:14] Bertus-W commented on #1500
I can successfully use the EM4100 emulation on this product:
https://www.surepetcare.com/en-gb/pet-doors/microchip-cat-flap-connect

I'm using the dev branch

Although I must say that the detection loop is around the entire door. and probably very strong since the small pet chip implants need to be detected.

[2022-07-31 10:04] ppseprus opened #1505 "Saved files are not sorted alphabetically"
### Describe the bug.

The files of saved signals are not sorted alphabetically.

SubGHz, RFID and Infra are definitely affecetd.

### Reproduction

Since I could not puzzle out to exact sorting logic, It would be rather hard to write a definitive guide to reproduce the issue.

However, saving multiple files with different names would most probably, eventually, result in the same issue.

### Targe

[2022-07-31 12:27] Kritkatten commented on #1500
Filmed the process as requested: [link to onedrivre](https://drive.google.com/file/d/1Rsca-HAfT6DrBxRyXwSf_PAS5yOF4d2z/view?usp=drivesdk)
I've tried rebooting the device + trying the dev version. Same result.

[2022-07-31 15:15] Linzdigr commented on #1084
@djsime1 VIGIK readers that are quite widely used here in France denies the current MFC 1k emulation (dev https://github.com/flipperdevices/flipperzero-firmware/commit/c40e8811d68e9f4b8f603ae5d5826b814521014d), unfortunately.

[2022-07-31 15:17] swittenberger commented on #1500
A small update:

I've got my hands on another Flipper and was able to read from the flipper. (One emulates, the other reads) This works.
I've tested emulation with beta firmware as well (just in case) and I could still reproduce the issue.

The manufacturer in my case is electra.ro
https://electra.ro/ro/produse/videointerfoane-si-interfoane/gama-pass-digital/p4s-a91i

[2022-07-31 15:54] iShift opened #1507 "Support Noolite (433)"
### Description of the feature you're suggesting.

Add support for recognizing Noolite (433) protocol - it is not encrypted protocol for controlling different smart devices (light/socket/etc)

So after capturing packages we can show devices in the flipper UI and by clicking - send proper command (enable/disable)

https://noo.by/produkcia/vykluchateli-besprovodnye.html (in Russian)
https://habr.com

[2022-07-31 16:06] DrJ735 opened #1508 "Changing the order of Saved Remote Buttons"
### Description of the feature you're suggesting.

I saved my first remote the other day and was just thinking about something.  I have my list of buttons and it would be great if I can reorder them.  For an example in the screenshot below I would like to place "Vol_down" under "Vol_Up", and put "Mute" under my volumes.
![Screenshot_20220731-103140_Flipper](https://user-images.githubusercontent.co

[2022-07-31 17:45] WhiteThePanda commented on #1500
Hello, my issue is pretty straightforward :
Emulation of my tag works for the front door of the building, mailbox and other doors it is supposed to open (systematically):
https://user-images.githubusercontent.com/61516945/182038788-6b4f807d-abf3-420f-8743-67f710db17f9.mp4

and doesn't work for the door of my own appartment(systematically):
https://user-images.githubusercontent.com/61516945/1820387

[2022-08-01 03:14] Skorpionm commented on #1466
we bring everything to the same standard, and now in the settings, as in the saved key files, all parameter names begin with a capital letter. It's better to do it now before it really hurts. if your problem is solved, close the issue

[2022-08-01 03:14] Skorpionm commented on #1465
we bring everything to the same standard, and now in the settings, as in the saved key files, all parameter names begin with a capital letter. It's better to do it now before it really hurts. if your problem is solved, close the issue

[2022-08-01 06:14] DrZlo13 commented on #1500
OK, this may be some kind of emulator protection method, or a hardware problem with concrete reader.
I will return to this topic when I finish rewriting LF-RFID core.

[2022-08-01 08:58] djsime1 opened #1512 "Toolchain missing clang-format"
### Describe the bug.

`fbt lint` and `fbt format` fail when clang-format is not installed on the system. As far as I can tell, this is something that should be included in the toolchain as part of it's zero dependencies claim, yet it is not.

### Reproduction

- Checkout firmware to a machine without clang-format installed.
- Run `./fbt lint` and/or `./fbt format`.
- Receive an error stating "cla

[2022-08-01 08:59] skotopes commented on #1512
Hi. That is known issue, we are working on it.

[2022-08-01 09:00] skotopes commented on #1508
We have something like that in archive, there is a reorder option. I'll add this issue to backlog.

[2022-08-01 09:47] gornekich commented on #1498
Hi @V0lk3n , thanks for information! Also thanks @equipter for PR!
We will merge this PR soon, when Skylander figures comes to office to verify.
I never heard about this nfc tags. Is Skylander popular? As I understand you have to by specific reader to add your Skylander figures to the game, is that right?

[2022-08-01 09:53] swittenberger commented on #1500
Another update:
I've tested another tag, on another reader of different make and it works without issues. I do think it might be a security thing then on the electra one.

[2022-08-01 10:58] V0lk3n commented on #1498
Hi! Your welcome :).

Skylanders is a game, with a plateform that once you put your figure on it, they are invoked in game ^^

I was playing on ps3 but i know there is for xbox and more

I didnt really play anymore, it was like in 2009 something like this. But once i received my flipper i was trigger by that ^^

So yes there is a plateform, will take a picture once i reech home, also if you need i

[2022-08-01 16:30] meirpro commented on #1353
Just wanted to do this and found that I couldn't...
But I can from my phone (quite a few nfc apps available for android)...
Is there any ETA for this to happen soon or is it planned for a further down the road update?

[2022-08-01 17:28] V0lk3n commented on #1498
https://skylanders.fandom.com/en/wiki/Portal_of_Power

I think this is better than only a picture xD

[2022-08-01 18:21] DrJ735 commented on #1508
Thanks.  It will be just easier to reorder them if you accidently programed the buttons out of order.

[2022-08-02 15:36] 0x77dev commented on #1500
Hey there!

I'm trying to read tag A and write it to tag B
But it only works when I try to write dumped tag A to tag A and tab B to B
and not tag A to B or B to A

Tag A and B are EM4100

[Here is a video](https://www.youtube.com/watch?v=RGgOR_UNZNM)

[2022-08-03 10:30] LoZio opened #1521 "Last line of NFC keys dictionaries may be skipped"
### Describe the bug.

mf_classic_dict.nfc and mf_classic_dict_user.nfc assume there is a newline at the end of the file.
If newline is missing the last key is ignored.
For example in current 0.63.3 there are 1242 keys in the dict, but NFC app says 1241. Last is not used.
I found the problem adding 5 keys to a custom dict and seeing it only says 4 keys. Adding a blank line solved the problem.

###

[2022-08-03 10:53] firefart opened #1522 "NFC UID bruteforcing"
### Description of the feature you're suggesting.

on some entry systems that use NFC chips only the UID is checked against a database to check if a chip should be allowed. The problem arises when companys order a large amount of chips, as the ID on them is most likely only incremented by 1. So you can get a valid UID and start counting down or up until you find a valid ID.

I would suggest implem

[2022-08-03 16:19] Pooky-s opened #1527 "Regression on bank card reading"
### Describe the enhancement you're suggesting.

Using firmware 0.62.1 before the NFC application redesign, I could read bank cards (here a VISA debit/credit card) using special actions.
![Screenshot-20220803-175616](https://user-images.githubusercontent.com/28841724/182656765-3d1299f7-a21b-44b0-ad7a-fa1248773d94.png)
The read option using firmware 0.63.3 does not manage to detect bank cards and t

[2022-08-03 16:20] skotopes commented on #1527
Yep, looks abnormal. @gornekich can you take a look?

[2022-08-03 17:44] SnowLeopard71 commented on #1527
I see similar behaviour.   Here is snippet of log from card that read normally followed by one read as NFC-A:

[code]
[code]

[2022-08-03 20:47] RyanHuber75214 opened #1529 "Latest Dev Firmware Bricked my Flipper Zero"
### Describe the bug.

My Flipper, after the latest update, would not respond to button inputs. I performed a reset, the flipper will now not turn on.

### Reproduction

Update to latest Dev firmware. Perform reset if unresponsive. My model states it is an Atnikora, if that makes a difference. I am using the iPhone version of the App for updates.

### Target

_No response_

### Logs

_No response_

[2022-08-03 21:50] RogueMaster commented on #1529
[Try these to put it in DFU](https://github.com/flipperdevices/flipperzero-firmware/blob/dev/documentation/KeyCombo.md)

and reflash using qFlipper

[2022-08-03 23:56] RyanHuber75214 commented on #1529
Thank you! I'm alive again, qFlipper fixed it- was a little confused because it didn't seem to boot (no screen or LED activity).

Cheers!
Ryan

[2022-08-04 00:00] u1735067 opened #1530 "NFC: improve dict attack by trying the last successful key before starting over on next sector"
### Describe the enhancement you're suggesting.

Some NFC sectors may share the same NFC key, so in order to reduce dictionary attack time, a simple optimization may be to try the last successful key before starting the full dictionary attack. If it's not the same key, you lose 1 attempt delay, but if it's the same key, you gain `position in the list` attempts delay.

Another optimization would be

[2022-08-04 01:59] skotopes commented on #1529
Is it reproducible behavior?

[2022-08-04 03:00] xMasterX opened #1531 "NULL pointer dereference in archive app"
### Describe the bug.

Opening empty subfolder in archive app while being in application tab and pressing back causes crash

I done all testing using remote flipper connected by ssh screen streaming as I don't have my own
Two people verified same behaviour on latest dev build

If we open empty folder we don't reaching that check, it just went straight to NULL pointer crash, but we reaching that ch

[2022-08-04 03:23] DrZlo13 commented on #1531
Fixed in #1532

[2022-08-04 03:23] #1531 closed, assigned to nobody

[2022-08-04 03:35] RyanHuber75214 commented on #1529
Yes, I have just reproduced it by again trying to load the latest Dev Firmware using the iPhone App and then restarting twice as it was unresponsive after the update and unresponsive after the reboot

[2022-08-04 03:39] RyanHuber75214 commented on #1529
I did get the screen to come back on after playing with it for a while, but it remained unresponsive. Updating back to Release via qFlipper now.

[2022-08-04 03:48] RyanHuber75214 commented on #1529
qFlipper hung once, crashed on the second try, and is finally repairing it...

And, success!

[2022-08-04 04:33] skotopes commented on #1529
Looks like we need your help to reproduce this issue. Do you have debugger or serial adapter?

[2022-08-04 04:52] DrZlo13 commented on #1529
Or maybe second Flipper?

[2022-08-04 08:29] eben80 opened #1534 "Hitag2 Support"
### Description of the feature you're suggesting.

Would it be possible to support Hitag2 tags under the 125kHz RFID function?

I'm not sure if the [code](https://github.com/Proxmark/proxmark3/blob/master/armsrc/hitag2.c) in this project would be of any help.

### Anything else?

_No response_

[2022-08-04 12:50] tomini opened #1536 "Stuck in remote when using Back button while saving"
### Describe the bug.

I was adding buttons to a remote, it saved successfully, but I got stuck in **Saved screen**  loop.

**Expected behavior**
Well, go back to the remote screen and be able to go back to desktop/favorites and continue using the Flipper

**Actual behavior**
Got stuck on the screen I went back to and had to reboot the Flipper.

**Additional troubleshooting**
1. Does the issue per

[2022-08-04 13:42] gsurkov commented on #1536
Confirmed, fix is in progress.

[2022-08-04 13:48] tomini commented on #1536
And did I mess up with the logs or did the bug or reboot cause it to be broken?

[2022-08-04 13:59] gsurkov commented on #1536
There is a logical error in the Infrared application that leads to the incorrect screen being shown. It happens only when opening a remote from favourites or file browser.
You have provided enough information so that the bug could be easily reproduced and confirmed, which I am thankful for.

[2022-08-04 14:10] RyanHuber75214 commented on #1529
I do not have a second Flipper, but I will gladly help if I can. I do have some old serial adapters lying around somewhere- I can try to dig those up. I can also install any dev software you may need, as long as I don't need to purchase licenses

[2022-08-04 14:15] skotopes commented on #1529
Do you have another SD card? If yes, can you format it in flipper and try to update?

If not, then we need your old serial adapter, there is a serial console available on GPIO, baudrate 230400, connect with any terminal emulator you like and get crash log

[2022-08-04 14:41] bbock commented on #1536
Is this a duplicate of #1426 ?

[2022-08-04 15:13] RyanHuber75214 commented on #1529
I have an extra SD card that I have formatted in the Flipper. So, just update now?

[2022-08-04 15:20] RyanHuber75214 commented on #1529
I am updating, but I have noticed the Dev version has changed. The one giving me issue yesterday began with a 4, this one begins with a 0. Will update the thread when the firmware update completes.

[2022-08-04 15:22] RyanHuber75214 commented on #1529
This one is also causing the same issue. Let me know what are the next steps I did use my formatted SD card during the update

[2022-08-04 15:29] skotopes commented on #1529
Next is to take serial adapter and connect to flipper:

11 - flipper GND - adapter GND
13 - flipper TX - adapter RX

Then using terminal emulator(putty/minicom/etc..) open serial port with 230400 baudrate. And record output when update happens.

![](https://thumb.tildacdn.com/tild6330-3936-4639-a664-623536363432/-/format/webp/GPIO.jpg)

[2022-08-04 15:30] RyanHuber75214 commented on #1529
This will take me a little while. Need to catch up on my day-job! Should have it this afternoon

[2022-08-04 15:32] skotopes commented on #1529
Sure, No rush.
Have a nice day.

[2022-08-04 17:24] LoZio opened #1540 "Send never ends"
### Describe the bug.

Created several datasets for CAME bruteforcing. Up to 50 codes per file Flipper sends the batch and stops.
Narrowing down to the 20 per file, it starts sending but never completes, stays in the Send moving waveform screen. Also seems not to send codes since my gate never opens, while it does with the 50 batch file.

### Reproduction

1. Rename this file .sub and upload to Fl

[2022-08-04 17:30] gsurkov commented on #1536
Looks like it. Anyway, it should be now fixed here #1538 (not in the main branch yet)

[2022-08-04 17:40] LoZio commented on #1540
Generating lots of 25 and 5 is still fine, completing and working.
Something wrong with the 20 lines ones.

[2022-08-04 17:41] sliceratwork opened #1541 "QR (and other barcodes) from text files"
### Description of the feature you're suggesting.

It would be interesting if the Flipper could generate QR codes or other types of barcodes, from text files uploaded on the SD card.

Because of the Flipper's screen size, I know the maximum size a QR code can have is 64x64px, so not too much data, but here are other types of barcodes that could prove useful.

References:
[https://github.com/h0nus/

[2022-08-04 18:19] hedger commented on #1541
That's a good idea for a custom app. Once we release support for loadable apps, it should be easy to implement.

[2022-08-04 19:42] Skorpionm commented on #1507
transmission records?

[2022-08-04 19:57] alexsuslin opened #1542 "Cannot exit the infrared application"
### Describe the bug.

Whenever press back button, the flipper just show the screen "Saved!" and nothing happened

### Reproduction

1. Add infrared as fav app
2. press down and select remote control
3. press + sign
4. create new button
5. press "back" button - saved message is shown

no way to go to home menu (just restart flipper)

### Target

FW: unknown [03-08-2022] [!] 93a4b9c4 [1323] 1.13.3.

[2022-08-05 04:31] darklite80 opened #1543 "Custom “Dolphins”"
### Description of the feature you're suggesting.

Have a guide on how to make a custom “dolphin” wanting to make something like Pickle Rick to armored pickle Rick for level ups or DBZ Goku from kid to adult to SS to God for level ups. Or make some available to download and add to the flipper

### Anything else?

_No response_

[2022-08-05 07:04] bbock commented on #1542
duplicate of #1536

[2022-08-05 08:38] gsurkov commented on #1542
Yes.
Fix pending in #1538

[2022-08-05 08:38] #1542 closed, assigned to nobody

[2022-08-05 09:15] gsurkov commented on #1426
Closing as duplicate of #1536 (even if this one technically got reported earlier).
Fix pending in #1538.

[2022-08-05 09:15] #1426 closed, assigned to nobody

[2022-08-05 10:40] ClusterM opened #1544 "Bluetooth Remote plugin stops working after restart."
### Describe the bug.

Bluetooth remote plugin works fine after pairing with device. But this plugin stops working after restart. Bluetooth device (smartphone/PC) still connected to Flipper but there is no response when pressing virtual buttons.

The plugin continues to work if pairing is repeated.

Tested on Windows 10 and Android 12.

### Reproduction

1. Start "Bluetooth Remote" plugin.
2. Pair

[2022-08-05 15:31] DrEverr opened #1546 "Lowercase keyboard displays instead of uppercase."
### Describe the bug.

Lowercase keyboard displays after going to `name the file` screen, even though first letter we input is uppercase letter.

### Reproduction

(example one of many)
1. Go to Sub-GHz
2. Read RAW
3. REC (anything, doesn't matter if you have something to record, we just need to enter `Save` mode)
4. STOP
5. Go to Save
6. As you can see. Lowercase keyboard is displayed
7. Type a l

[2022-08-05 16:02] ClusterM commented on #1544
After some experiments I find out that Bluetooth controls works after pairing and until any `bt_set_profile` is called (or Flipper is restarted).
E.g. i changed https://github.com/flipperdevices/flipperzero-firmware/blob/d147190d6173f427bbedce988cb28eff22ca692e/applications/bt/bt_hid_app/bt_hid.c#L175

to:
[code]
So `bt_set_profile` called only once.

[2022-08-05 17:05] ResistanceIsUseless opened #1547 "Frequency analyzer history and capture with GPS"
### Description of the feature you're suggesting.

- In Frequency analyzer add the following options:
1.  Ability to change sensitivity
2. Show last X amount of captures
3. Ability to log the signal to SD with timestamp
4. Add GPS location (GPS over GPIO's)

Also, I'm not sure if the STM32 and CC1101 could handle this, but having the option to switch from Frequency analyzer to raw capture automati

[2022-08-05 17:24] ClusterM commented on #1544
Actually it's not working anymore after https://github.com/flipperdevices/flipperzero-firmware/blob/d147190d6173f427bbedce988cb28eff22ca692e/firmware/targets/f7/furi_hal/furi_hal_bt.c#L266
call.

[2022-08-05 18:27] databonanza commented on #1077
This would be a great win considering when my cat had a chip injected i was then told that I needed to "register" with some payment service to be able to identify my pet in the future.  I'd like to cut out the middle man, my cat has a chip in it.... I should be able to read it just like anyone else should be able to read it.

[2022-08-05 18:38] exussum12 commented on #1077
The other service is still needed. The chip gives a number out. The number to pet info lookup is provided by a service similar to the one you are talking about.

[2022-08-05 18:45] RyanHuber75214 commented on #1529
I think I got rid of my serial devices at my last garage sale, but I have a new one arriving tomorrow. Will update when I can

[2022-08-05 18:57] databonanza commented on #1077
@exussum12 - wouldn't we just make a public registry?  I don't see why you'd have to pay a service to do this.  Enable the public to scan their own pets, provide a way for them to publicly register the numbers/contact info.  Seems like the right thing to do vs. catering to a private "for pay" registry.

[2022-08-05 19:05] decidedlygray commented on #1077
Couple issues with that I think:

- there isn't just 1 microchip provider, so there are actually multiple registries
- even if it's a public registry, someone has to pay to create and subsequently maintain the web app and API

More info: https://www.aaha.org/your-pet/pet-microchip-lookup/microchip-search/

Kind of like registering a domain name. There are lots of different registries, and someone

[2022-08-05 19:10] databonanza commented on #1077
I'm not sure I follow.  Github seems pretty free to me.  Why couldn't a repo here do the job?  I'm not attempting to be sly here, I'm just wondering why a paid service would be needed at all.  Yes "someone" pays for github.com to stay online, but it's not you or me.

[2022-08-05 19:31] phptanker commented on #1077
I don't really care about being able to read from any pet database. I just want to scan my cat's RFID chips so I can make cool automations, for example count how many times they visit the bathroom box every day.

[2022-08-05 20:20] exussum12 commented on #1077
@databonanza time is not free either. Hosting on GitHub would mean managing pull requests.

[2022-08-05 20:21] exussum12 commented on #1077
@phptanker this current version wouldn't work well. While I can scan my dog it's not trivial to find. I think you would have better luck with a dedicated scanner

[2022-08-05 20:28] SnowLeopard71 commented on #1077
@databonanza  Weren't you referred to a specific service to register with?    Normally, the registration fee is included in the cost of the chip and you don't have to pay extra.

[2022-08-05 20:31] exussum12 commented on #1077
I know I did not pay for it originally, but to change my info (when moving house) I had to pay a registration fee of £15 from memory.

[2022-08-05 20:51] evilpete commented on #1328
i was working on generated SubGhz RAW, thus can't use the internal signal libaray

[2022-08-05 22:38] databonanza commented on #1077
Preaching to the choir.

Yes, they wanted some yearly fee, it was like a subscription service.  I think a "free service" could easily be made w/ private donations.  If I were a multimillionaire I would gladly fund something like this out of pocket for the betterment of man.

[2022-08-06 06:14] RogueMaster commented on #1543
here is a start: https://github.com/RogueMaster/awesome-flipperzero-withModules/tree/rogue_main/graphics/assets/icons/Passport

[2022-08-06 11:14] coded-with-claws opened #1549 "Error "Can not parse file" on a NFC tag"
[my_uid.zip](https://github.com/flipperdevices/flipperzero-firmware/files/9274898/my_uid.zip)
### Describe the bug.

After using the NFC app to read and save a NFC-A tag, it won't allow to open it : "Can not parse file".
It happens on version 0.63.3. It worked in previous version 0.62 with the same NFC tag.

I attach the file, which I edited to replace the characters of UID with "X" characters.

#

[2022-08-06 13:12] darklite80 commented on #1543
You are awesome.

[2022-08-06 23:24] RyanHuber75214 commented on #1529
I got gibberish back:

▒rR▒▒▒%ImEIs='[9E▒▒▒I▒%m#-▒ai▒▒▒rR▒▒▒%ImEIs='m#5
▒▒▒I▒%m#-▒ai▒▒frR▒▒▒%ImEIs='E▒▒▒I▒%q_ma▒ai▒▒▒rR▒▒▒%ImEIs='S5▒▒▒I▒%m#-▒ai▒▒drR▒▒▒%ImEIs='Y-E▒▒▒I▒%m#-▒ai▒▒▒rR▒▒▒%ImEIs='E▒▒▒I▒%-{!#▒ai▒▒g▒rR▒▒▒%ImEIs='E▒▒▒I▒%Y5=▒▒▒I▒%m#-▒ai▒▒gfrR▒▒▒%ImEIs='U;E▒▒▒I▒%m#-▒ai▒▒g▒rR▒▒▒%ImEIs='E▒▒▒I▒%UY{▒ai▒▒g▒rR-'5▒7=5▒▒▒▒rR▒▒▒%ImEIs='_!5▒▒g▒rR▒▒▒%ImEIq=15E▒▒▒I▒%Y)-▒;=5
▒▒▒I▒%m#-▒ai▒▒▒▒rR▒▒▒%ImEIs=

[2022-08-07 03:28] skotopes commented on #1529
what settings you were using ?

[2022-08-07 11:26] grafjan opened #1552 "No charging indicator on the screen when in Lock Menu"
### Describe the bug.

If the charger is plugged in or unplugged while the Flipper is in the Lock Menu, the charging indicator on the screen does not change accordingly (the LED does).
Firmware: 0.62.1

### Reproduction

1. Flipper is not charged.
2. Entering the Lock Menu -> no charging indicator on the screen and no LED)
3. Plugging in the charger.
4. LED starts to shine. Battery symbol on the s

[2022-08-07 15:48] gornekich commented on #1549
Thanks!
Now flipper doesn't support 8-byte UIDs. Will try to add these cards soon

[2022-08-07 18:54] RyanHuber75214 commented on #1529
Okay, first off, using MobaXTerm as my terminal emulator. Using my USB/Serial connector on COM5. Settings are:
PuTTY Serial Engine
Data bits: 8
Stop bits: 1
Parity: None
Flow Control: Xon/Xoff

[2022-08-07 19:02] phraktle commented on #1482
I can confirm this bug, it was able to read the NFC with the previous release firmware.

[2022-08-08 06:46] skotopes commented on #1432
@nminaylov please take a look

[2022-08-08 07:40] sodoku commented on #1529
Did you set the baudrate to 230400?

[2022-08-08 09:14] Kabouik opened #1554 "1-Wire DS1923 and DS1921K compatibility"
### Description of the feature you're suggesting.

I was very interested to see the 1-wire contacts on the Flipperzero. At the moment, it's only meant to be used with iButtons DS1990A, but I'm wondering if it would be technically feasible to make the Flipperzero capable of interacting with their datalogger model range too (DS1923, DS1921K) to:

- Download existing data
- Possibly inject a new reco

[2022-08-08 09:37] Summertime opened #1555 "Pairing code doesn't match (PS4) (BT remote plugin)"
### Describe the bug.

PS4 says the pairing code is `000000`

Flipper says its `123456` (it changes each time obviously, point being, its not `000000`)

Pairing doesn't go through as a result.

Both devices don't allow entering/changing the pin

### Reproduction

1. Open BT Remote plugin
2. wait for device to show on PS4 devices menu
3. select the device on PS4 devices menu
4. Pairing codes appear

[2022-08-08 10:07] V0lk3n commented on #1498
Tested your PR and it work like a charm :D any idea when you will merge their algo?

[2022-08-08 10:12] #1536 closed, assigned to nobody

[2022-08-08 12:28] ppseprus opened #1556 "SubGHz Read and Read Raw to retain configs after exit"
### Description of the feature you're suggesting.

For _Read_ and _Read Raw_, usability would greatly improve if configurations of the previous "session" were to be loaded upon opening.

Configurations to be persisted and loaded:
* _Read_
  * Frequency,
  * Modulation and
  * Hopping
* _Read Raw_
  * Frequency and
  * Modulation

### Anything else?

_No response_

[2022-08-08 13:03] ClusterM commented on #1544
Please check it, i really want to control music on my phone using Flipper. Phones has no multimedia buttons now.

[2022-08-08 14:09] RyanHuber75214 commented on #1529
Yes, I am using a baud rate of 230,400

[2022-08-08 16:40] nastea1 opened #1558 "When running Marauder application with Wifi Dev Board, FZ reports "no databases installed""
### Describe the bug.

After you run the Marauder application for say 5 minutes or so, sometimes less. When you try and operate the FZ it states "No databases found on SD card.
![Screenshot-20220808-090557](https://user-images.githubusercontent.com/44655438/183468746-1d35712f-c216-40c5-bec4-cde4c6483d0a.png)
"
Holding Left and Back for a hard reboot, resolves this every time. Not sure where to sta

[2022-08-08 16:42] nastea1 commented on #1558
SD Card Manufacturer is SanDisk.

[2022-08-08 16:59] FalsePhilosopher opened #1559 "Capture subfolders"
### Description of the feature you're suggesting.

Can we please have a subfolder for captures? By that I mean a captures folder in each category that dumps the captures of whatever it is into that folder. I noticed while reading my friends car remote creating a lot of captures just spams your main folder.

### Anything else?

It also makes using qflipper on linux not very fun, having to download

[2022-08-08 17:27] Astrrra commented on #1558
The marauder app is not a part of our firmware. You're probably using a fork, please file the issue in their repo as we have no relation to them.

[2022-08-08 17:28] skotopes commented on #1558
Do you hotplug wifi module?

3.3v ext shared with sd card, abnormal load spikes may cause DCDC to reset power, which is causing SD reset.
In general it's better to enable 5V-ext and not to hotplug wifi module.

[2022-08-08 17:32] nastea1 commented on #1558
Yes I do.  This was mentioned that it might be a voltage issue.  I will attempt all this, thanks for the info.

[2022-08-08 18:17] nastea1 commented on #1558
I can confirm that hot-plugging and not-hotplugging both work fine with 5V enabled. Thank you!

[2022-08-08 18:17] #1558 closed, assigned to nobody

[2022-08-08 22:16] danielweidman opened #1561 "Long-running IR signal recording/capturing"
### Description of the feature you're suggesting.

Right now, Flipper Zero lets you capture IR signals by entering capture mode ("Learn new remote") and then sending an IR signal. Flipper waits for a signal, then when it thinks it sees one it decides when it thinks the signal starts and ends, presumably based on timing. This can lead to some situations where long IR packets get cut off partway thr

[2022-08-08 23:45] lomalkin commented on #1558
~~Do this reproduces also in case when Flipper powered via USB?~~

[2022-08-09 09:10] jeroenh commented on #1436
latest version of the firmware 0.63.3 is able to launch terminal properly and start `cat` and pushing text.

[2022-08-09 09:10] #1436 closed, assigned to nobody

[2022-08-09 12:10] nicoSWD opened #1565 "U2F via NFC"
### U2F via NFC

If it's technically possible, it would be nice if we could use U2F via NFC, like say a YubiKey does. So it could be used with an iPhone, for example.

This would be an extension to the existing U2F functionality.

Any thoughts on this?

[2022-08-09 12:53] reinerh commented on #1565
Someone is implemeting this already: #1510

[2022-08-09 16:17] Fashdey opened #1567 "Boot Flipper with Pin-Locked State"
### Description of the feature you're suggesting.

There are currently no way to boot your Flipper in Pin-Locked State

In current Stable it is not possible to Hold the Back button until Prompted to Power Off while in Locked w/o Pin
This only keeps screen active

What I suggest is to add the Power Off Prompt available for when Flipper is Locked with/without Pin
And when the Flipper turns back on,

[2022-08-09 18:33] Skorpionm commented on #1540
![image](https://user-images.githubusercontent.com/85568270/183734836-fd2e48a5-163b-4d9b-ae82-d89b97cf3b7e.png)
![image](https://user-images.githubusercontent.com/85568270/183734957-1536c49d-7b81-4d76-a341-d186c2b18520.png)
I'm fine. starts and starts .... you have a slightly wrong RAW file, it should ideally start at a high level, but this is not necessary

[2022-08-10 01:50] D4DB0DY opened #1570 "Flipper freezes when connected to iOS app on dev build"
If I can make it to file browser before it freezes I get this also..

![image](https://user-images.githubusercontent.com/106566379/183792558-5cb0e25c-abb0-4acf-8a1d-3b37bafa979e.png)

Details of the build

![image](https://user-images.githubusercontent.com/106566379/183792804-b980539e-ee8e-4404-9601-ebb179b247d5.jpeg)

[2022-08-10 02:01] D4DB0DY commented on #1570
Force quitting the iOS app and rebooting the flipper makes the flipper work again. It freezes again when the app reconnects to flipper over bluetooth.

[2022-08-10 03:43] UberGuidoZ commented on #1570
## I am NOT having the same issues as below on the latest dev build 1d50a598

[code]
The screen freezes but that appears to be it. Requires a reboot. Nothing is logged, CLI doesn't disconnect.

# The below is for the latest Unleashed firmware
## It's what I was testing at the time...

On connect with Bluetooth (first time), this happened instantly:

![Bluetooth_on_Connect](https://user-images.gith

[2022-08-10 03:55] UberGuidoZ commented on #1570
![FW](https://user-images.githubusercontent.com/57457139/183809540-a2af19e5-d1b3-4358-a80b-60c11a6e0127.png)

[2022-08-10 04:00] UberGuidoZ commented on #1570
Pay attention to time stamps to compare to log file

iOS version (iPhone 13)
![iOS_Version](https://user-images.githubusercontent.com/57457139/183809955-39ea3591-b6ae-4d46-8c63-993bcea9f76e.jpg)

-----

Initial connecting screen

![1](https://user-images.githubusercontent.com/57457139/183809680-e51756ec-29db-48b5-b163-30b74d28cd58.png)

-----

Successful connection

![2](https://user-images.github

[2022-08-10 04:02] UberGuidoZ commented on #1570
Both iOS app and Flipper crashed (HardFault)
[Full_Crash_Log.txt](https://github.com/flipperdevices/flipperzero-firmware/files/9296521/Full_Crash_Log.txt)

Flipper did not crash, just iOS app cycling through the screenshots above
[Repeating_crash_log.txt](https://github.com/flipperdevices/flipperzero-firmware/files/9296523/Repeating_crash_log.txt)

Quickest crash I could log (both crashed)
[Quick_

[2022-08-10 06:00] LoZio commented on #1540
I understand the file is not well formed, will inform the developer of the script.
I do not understand if it is necessary to modify the firmware to avoid malformed files to be stuck.

[2022-08-10 06:33] Skorpionm commented on #1540
seems to be correct.  i just downloaded yours

[2022-08-10 06:43] LoZio commented on #1540
This specific file does not work with 0.63.3. Also the developer noticed the problem, see  issue 3 above on his repo.

[2022-08-10 09:46] dummy-decoy opened #1572 "[FL-1907] storage_file_seek() does not support negative offset"
### Describe the bug.

the signature for the storage_file_seek function is:
bool storage_file_seek(File* file, uint32_t offset, bool from_start);

the uint32_t type (unsigned) used for offset precludes the use of negative offset, thus we cannot go backward in the file.
also, the use of a 32 bit offset looks strange when storage_file_tell() returns a 64 bit position.

### Reproduction

File* file =

[2022-08-10 10:03] rwijbenga commented on #1561
That would be a nice addition!

[2022-08-10 13:15] Gambrius commented on #1047
Besides the described regions `R01`, `R02` and `R03` there is a Region `R00` which is named `FuriHalVersionRegionUnknown` within the `OTA -> Board -> Region` Setting.

If anyone knows how to set the value within the OTA memory of the Flipper zero to the mentioned value, it would let you use the whole frequency bandwidth.

[2022-08-10 15:11] Skorpionm commented on #1047
I know. no way!

[2022-08-10 15:42] gsurkov commented on #1561
It is an interesting idea we would like to give a go in some future. Unfortunately, this means not now.

[2022-08-10 15:42] #1561 closed, assigned to nobody

[2022-08-10 16:21] ClusterM commented on #1544
Sometimes only keyboard works but not mouse and media buttons.

[2022-08-10 18:57] pashdown opened #1575 "Add source/input button to Infrared -> Universal Remotes -> TVs"
### Description of the feature you're suggesting.

Having this would be extremely useful in switching a hotel TV to another HDMI port.  There are a variety of different brands in different hotels, and although the TV always has additional HDMI inputs, sometimes they give you a remote without an "input/source" button or a stream box remote with hardly anything.  Having the universal remote blast al

[2022-08-11 07:06] nocomp opened #1578 "SubGHZ replay Incomplete using android app"
### Describe the bug.

when replay a file using android app, just a small piece of the signal is broadcasted
https://ibb.co/bQP5h60
on the top original signal
bottom what is replayed

### Reproduction

turn on
launch app
finish sync to happend
choose subghz file
press send

### Target

android 12 s22 ultra

### Logs

_No response_

### Anything else?

_No response_

[2022-08-11 08:14] goutchye commented on #1468
Hi guys!

I have also tried to emulate mifare classic cards on a vigik reader, with no success.

To check if the flipper zero emulation was working I have also tried to "read" it using a mfrc522 rfid reader, it was a failure except for the first sector which was good. I discovered that I could read each sector with success but never read many of them in a row.

SO, I have tried to add a delay betw

[2022-08-11 12:20] clasqui commented on #73
Has this discussion been continued somewhere else,  with the upcoming release 1.0.0? I read somwhere this is still an expected feature for the first stable release.  Or is this still blocked? Can't find a newer issue here, neither a related post on the forum.

[2022-08-11 12:24] skotopes commented on #73
@clasqui this feature will be a part of v1.0.0. We are currently working on external application and SDK. Please check our roadmap.

[2022-08-11 12:45] clasqui commented on #73
@skotopes Nice, thank you for the clarification. Is there somewhere where I can follow the discussion on the implementation and the development of this feature? I mean, a post, a discord channel, an issue, a branch...

[2022-08-11 13:49] skotopes commented on #73
Yes, we do Q&A sessions on discord and update roadmap from time to time.

[2022-08-11 13:50] skotopes commented on #73
Also https://github.com/flipperdevices/flipper-questions-and-answers

[2022-08-11 15:16] #1432 closed, assigned to nminaylov

[2022-08-11 20:48] RocketGod-git opened #1586 "Favorites- Unpin from favorites when click on favorited item"
### Description of the feature you're suggesting.

When in favorites menu, it would be nice when you click on an item to have "unpin" in the options listed.

### Anything else?

Thanks for an amazing team of devs!

[2022-08-11 21:44] ppseprus opened #1587 "Right button under SubGHz Saved to trigger signal send (without visual rendering)"
### Description of the feature you're suggesting.

**Background**
* Sometimes, you want to click through a bunch of sub files, try each one-by-one
* Having to open each file, clicking Emulate, then Send, then navigating back to the list of files again is more than troublesome
* Meanwhile, at the file structure level, the right button is unused

**Feature Request**
Under Saved for SubGHz,
* when th

[2022-08-11 21:56] rcprcp commented on #1329
I would like to +1 this request, as i think crowd sourcing documentation from the community would greatly improve the quality (and quantity) of documentation.

Thank you.

[2022-08-11 22:47] Anthony-karabian commented on #1578
Just to clarify, so when you emulate the signal through the Flipper zero directly you get the full signal ? Your original signal is the signal when using the Flipper Zero directly ?

[2022-08-12 00:18] RyanHuber75214 commented on #1529
Well, I'm not sure what all changes have been made, but the latest Dev version no longer causes issues. I took a break for a few days, but everything seems resolved for now!

[2022-08-12 04:36] nocomp commented on #1578
Yes correct

[2022-08-12 15:55] cixio commented on #1499
I think it would be better to allow a manually entered frequency without using the App.

If you want to edit more details (like hopper frequencies) this sould be adressed to the Flipper iOS App: https://github.com/flipperdevices/Flipper-iOS-App

[2022-08-12 21:26] rcprcp opened #1593 "snake game: briefly vibrate when "Game Over""
### Describe the enhancement you're suggesting.

I think there is an interesting newbie project to enhance the snake game to briefly vibrate when "Game Over"

Thanks.

### Anything else?

_No response_

[2022-08-13 00:16] digitalcircuit commented on #1158
# Design version 2

I'm taking another look at this since, after recent firmware changes, charge limiting is now the only reason I'm building my own firmware instead of using the official builds.

Following @skotopes 's advice, I've focused on adjusting the `bq25896`'s charging voltage.  As such, it's not possible (nor desired) to match this up to specific battery charge percentages in the UI, so

[2022-08-13 08:55] wdoekes opened #1596 "one_wire libs should not mandate calling furi_hal_ibutton_*"
### Describe the enhancement you're suggesting.

**TL;DR: I want to reuse one_wire, but switch pins from iBTN_Pin to a GPIO pin. Design decision needed.**

I've hacked together a simple plugin that reads the temperature from a DS18B20 sensor.

I could reuse the lib/one_wire libs, except I had to change the pin:
[code]
This obviously breaks the ibutton functionality.

So, I'd like to reuse the one_

[2022-08-13 09:26] miili opened #1597 "Use pre-commit for linting/formatting"
### Describe the enhancement you're suggesting.

pre-commit (https://pre-commit.com/) eases and standardized the development workflow and enforces linting and formatting standards locally and in the CI. It integrates various tools:

* black
* clang-format
* codespell
* linting json/yaml/toml/md

List of other hooks https://pre-commit.com/hooks.html

Existing clang and black rules would be transfer

[2022-08-13 09:50] red-avtovo opened #1598 "Support NFC A 8-bytes UID"
### Describe the enhancement you're suggesting.

I just scanned a card and I noticed that it is not 7, but 8 bytes uid instead.
I can save it, but I can't emulate it
![2277D91C-0EDF-47A5-B792-408E4D5C01D3](https://user-images.githubusercontent.com/10682826/184478595-fbffa9ed-3103-4334-8375-c838bc3e9222.jpeg)

### Anything else?

_No response_

[2022-08-13 09:58] miili commented on #1598
I count 8 bytes in the screenshot.

[2022-08-13 10:09] red-avtovo commented on #1598
Correct. As I said earlier, I can read it and save, but can't emulate it.
Once I open the saved card it says that the data is corrupted

[2022-08-13 18:03] skotopes commented on #1598
Hi, there are some hardware limitations that we have on NFC chip side. We are currently researching what we can do, but most likely 8 byte UIDs are not coming any time soon.

[2022-08-13 18:39] skotopes commented on #1597
Pre commit hooks is something that can not be enforced. Also we don't want to bloat the list of dependencies.
So to this specific framework answer is no, but we are going to improve fbt and potentially add pre-commit hooks for code format/syntax/etc check.

[2022-08-13 18:39] #1597 closed, assigned to nobody

[2022-08-13 18:45] skotopes commented on #1596
Agree, this thing should be customizable. Let's hear what @DrZlo13 thinks.

[2022-08-13 18:48] skotopes commented on #1593
Yep, there is a #1577 that implements it. Will be merged soon and included in next release.

[2022-08-13 18:48] pllopis commented on #1598
Hello, can you elaborate further on these limitations? I was just reading through the NFC layer to see how to add experimental NFC-V cloning/emulation support.

[2022-08-13 19:06] skotopes commented on #1598
@pllopis there are some operations like anti-collision that are off-loaded to ST25R3916.
It can only handle 4 or 7 byte UIDs for NFC-A. In theory it can be done in software, but that where things become very complex, especially with timings.

Hardware emulation support for NFC-V is not in this chip. So you'll have to do it fully in software. May be a challenge.
Also please check ST25R3916 datashee

[2022-08-13 19:12] skotopes commented on #1587
Our UI framework and general UI/UX guidelines are built on idea that all operations are explicit and visible. Your proposal in current form is just impossible to implement.
Maybe some 3rd party applications can do that.

[2022-08-13 19:12] #1587 closed, assigned to nobody

[2022-08-13 19:15] skotopes commented on #1586
If you talking about favorites on flipper then it's already implemented: OK long press will show you the menu where you can unpin item.

[2022-08-13 19:15] #1586 closed, assigned to nobody

[2022-08-13 19:17] skotopes commented on #1578
Are we talking about subghz raw? If yes then this problem will be handled on mobile side. We already scheduled UI/UX improvements for it.

[2022-08-13 19:20] skotopes commented on #1572
Yep, we were having discussions on this issue. Definitely going to implement it.

Also it's not a bug, offset type is explicitly saying that it's unsigned:
[code]

[2022-08-13 19:35] skotopes commented on #1575
For that we need huge database of existing remotes, which we sadly don't have. We'll get back to this ticket in a couple months when we start implement new Infrared Remotes Database for mobile apps.

[2022-08-13 19:36] skotopes commented on #1570
Please check latest dev: there were multiple closed issues.

[2022-08-13 19:36] #1570 closed, assigned to nobody

[2022-08-13 19:43] skotopes commented on #1567
There are some complications with this feature: we are unable to show shutdown window while flipper is locked. But it sounds reasonable. We'll get back to this issue after next desktop service refactoring.

[2022-08-13 19:47] miili commented on #1597
For future maintainability I'd strongly argue for pre-commit. It is a single dev dependency and does not bloat the codebase. Extending fbt for linting and formating is not right imo and abusing the build system. Pre-commit is what you are looking for.

Pre commits cannot be enforced, but the same rules rules will apply in the CI. Thus you have one rule set.

@skotopes, I can work on this.

[2022-08-13 20:20] miili commented on #1597
@skotopes Please reconsider.

[2022-08-14 05:01] ghost opened #1599 "Please delete this issue"

[2022-08-14 05:19] #1599 closed, assigned to nobody

[2022-08-14 06:11] d0mnik opened #1600 "iclass support"
### Description of the feature you're suggesting.

Currently, the firmware does not seem to provide iclass support. I found an iclass plugin under an alternative firmware for flipper on [another repository](https://github.com/Eng1n33r/flipperzero-firmware). Is it possible to merge the iclass/picoclass plugin into the official firmware?
Code for the plugin can be found [here](https://github.com/Eng

[2022-08-14 06:13] skotopes commented on #1600
Technically it's already merged, just not built by default. It will be included as external application as soon as we release apps SDK.

[2022-08-14 06:13] #1600 closed, assigned to nobody

[2022-08-14 06:19] d0mnik commented on #1600
is there instructions to build for the feature? I can't find anything regarding this under build instructions.

[2022-08-14 06:20] skotopes commented on #1600
`./fbt flash --extra-int-apps=picopass`

[2022-08-14 06:26] skotopes commented on #1597
Wouldn't fbt git pre-commit hook integration satisfy your needs?

[2022-08-14 10:05] miili commented on #1597
Please have a look at pre-commit.com, the concept is a little different than you think. It standardizes and streamlines the codebase, and makes on-boarding easier. I see a strong benefit for this project, since perspectively more and more ppl will get engaged.

imo extending fbt is tool abuse.

[2022-08-14 11:31] skotopes commented on #1597
At this point your obsession with this tool is becoming suspicious.

I'll make one more attempt to crystalize our point of view:

- Some concepts brought in this topic we do like and will implement in future as a part of our code base
- Pre-commit hook itself is not enough
- Frameworks and tools are just ways to solve problems
- If tool is not solving our problem then we need something else
- Tigh

[2022-08-14 11:48] pllopis commented on #1598
Thanks for the answer @skotopes! Indeed I've seen in the data sheet that NFC-V emulation is not supported by the hardware. Anti collision might indeed get tricky to handle in software, and that would need to be a low level implementation close to the data link layer, I guess.

Anti collision/inventory/discovery aside, does the currently FURI implementation provide enough abstractions that it would

[2022-08-14 16:49] rcprcp commented on #1593
Hi @skotopes  - I have some code for this - I  will put in a PR.
-- rcprcp

[2022-08-14 20:14] miili commented on #1597
Fair enough.

Some points:
* It is one dependency which will fulfill sub dependencies in venvs. Customisation of rules is of course guaranteed!
* yes, is doublicates functionality, hence it should be removed from the entry point fbt.
* Current flow satisfy needs, but can be improved. Therefire this proposal.

In the end this tool guarantees code formating, linting and spelling. Locally and in the

[2022-08-15 05:26] skotopes commented on #1556
Make sense, I'll add it to backlog.

[2022-08-15 11:56] ppseprus commented on #1556
Thanks! :)

[2022-08-15 14:57] Altair31 opened #1603 "USB key storage support"
### Description of the feature you're suggesting.

Nowadays, we can only send files through USB by using the qFlipper program.
It would be great if the Flipper by default is recognized as a regular USB storage so we can use it on any computer or car embedded audio system to read/write files on SD card.

### Anything else?

_No response_

[2022-08-15 15:29] skotopes commented on #1603
Hi. It's going to be painfully slow because we use SD card in SPI mode.
There were multiple discussions and couple prototypes made, no good.

[2022-08-15 20:20] albertoglezc opened #1607 "Profiling in SubGHz section"
### Description of the feature you're suggesting.

It would be nice to have profiles in SubGHz section with a definición file like

Name:frequency,modulation,<raw/noraw>

If some remote controls or systems uses a known frequency it would be mire easy (instead of using first Frequency Analizer) and after that try to use modulation to capture data or try raw..

### Anything else?

_No response_

[2022-08-16 04:04] digitalcircuit commented on #1158
## Work-in-progress firmware build

I have implemented all the non-configuration graphical changes in [my `ft-batt-charge-config` branch on my `flipperzero-firmware` fork](https://github.com/flipperdevices/flipperzero-firmware/compare/dev...digitalcircuit:flipperzero-firmware:ft-batt-charge-config).

As the settings aren't yet implemented, it is currently hard-coded to `3.888v` for testing purpose

[2022-08-16 07:30] non-bin commented on #1603
I know it's slow, but at the moment it's inconvenient too if you don't have a card reader

[2022-08-16 07:31] skotopes commented on #1603
It’s going to be inconveniently slow

[2022-08-16 07:32] #1603 closed, assigned to nobody

[2022-08-16 07:33] non-bin commented on #1603
Right now you have to go through qFlipper making it even worse, could you point me to the commits where the test versions are?

[2022-08-16 07:38] skotopes commented on #1603
It's actually faster in qflipper, because it uses high level protocol with minimum overhead.
Exposing block level access to the system brings a lot os small transactions which makes it slow. Plus modern OS tend to do a lot of background work like indexing and etc which makes it even worser.

[2022-08-16 07:38] skotopes commented on #1603
We really did some test and results are not satisfying.

[2022-08-16 07:48] non-bin commented on #1603
Ok, thanks for the detail :)

[2022-08-16 11:22] LoZio opened #1608 "Can't see details of saved SubGhz you can't replay"
### Describe the enhancement you're suggesting.

I can read signals on bands I cannot transmit to (in my case 315 Mhz).
When I capture that signal I can see the details.
After saving just opening the file results in the "Transmission is blocked" screen.
You should be able to see the details, just like you do when capturing and block the send function only.

### Anything else?

_No response_

[2022-08-16 17:38] Foul commented on #1345
got one dump made some times ago from a Cogelec/Intratone badge with all keys.. could help ?
[Intratone.zip](https://github.com/flipperdevices/flipperzero-firmware/files/9353172/Intratone.zip)

[2022-08-16 20:39] gushmazuko opened #1611 "Filed to emulate NFC"
### The bug

NFC emulation has stopped working since the [0.63.3](https://github.com/flipperdevices/flipperzero-firmware/releases/tag/0.63.3) update. In the release notes you can see `NFC: completely redesigned application, improvement ...`, I guess the problem is here.
I rolled back to the previous firmware [0.62.1](https://github.com/flipperdevices/flipperzero-firmware/releases/tag/0.62.1) and t

[2022-08-16 21:28] quantum-x commented on #1345
This one should indeed trigger the A/C Intratone ("COGELEC") algo.

[2022-08-17 09:12] gilou commented on #1208
ah, I had a lot of fun on a Windows using FR BEPO, sharing its keyboard with another station on another mapping haha, the result is… interesting. Anyway, it would be great to be able to switch / target mapping without having to recompile indeed. Also I wonder if it’s possible to get that information from the victim system, to avoid having to gather that info beforehand…

Fun exercise would be to w

[2022-08-17 11:56] paulpaul115 opened #1613 "Manner Mode Shotcut"
### Description of the feature you're suggesting.

Just like phones, electronics. There should have a shortcut for manner mode(set volume to 0%+vibro only)

### Anything else?

_No response_

[2022-08-17 12:02] paulpaul115 opened #1614 "Choosing specific nfc protocol (A/B/F/V) to read"
### Description of the feature you're suggesting.

Since phones might generate more than one type nfc signal(e.q, Japan's phones generally have NFC-B and NFC-F active at same time), It is very hard to capture the specific one from Flipper Zero

### Anything else?

_No response_

[2022-08-17 15:27] nocomp commented on #1578
hi,
just installed latest official release, and have latest android version, no changes... can t replay subghz files, just a piece of it is broadcasted even i keep fingers on send button :'(

[2022-08-17 15:48] skotopes commented on #1578
Can you provide file and device info?

[2022-08-17 16:15] nocomp commented on #1578
hi,
issue is with all files
here it is
https://dev.flpr.app/s#path=subghz/Store_dwn.sub&Filetype=Flipper+SubGhz+RAW+File&Version=1&Frequency=433920000&Preset=FuriHalSubGhzPresetOok650Async&Protocol=RAW&RAW_Data=1126+-130+393+-166+199+-100+201+-166+165+-166+799+-198+197+-66+329+-528+99+-132+197+-164+97+-756+229+-166+193+-562+231+-100+199+-66+99+-66+265+-198+99+-664+165+-336+165+-66+361+-132+295+-98

[2022-08-17 16:25] nocomp commented on #1578
as i said, if i play the file from the flipper directly everythng is fine

[2022-08-17 21:06] Fashdey commented on #1567
Alternatively it could also be accessible as an alternative shutdown, e.g. Another menu Setting or Clicking another button when having the screen - it is more the fact that I cannot power off the device if I want some kind of protection
I know it could possibly be bypassed, but there is a difference in completely open and just having a lock at least

Thanks for considering this at some point as va

[2022-08-17 21:21] ppseprus opened #1617 "Issues w/ `includePath` on mac"
### Describe the bug.

Yesterday, I was still able to experiment with an application Im working on. Writing code, flashing it onto my Flipper.
As of today, I've been having all kinds of issues w/ `#include`, but only on in folders I have created.

I have issues w/ the following lines
* `#pragma once`
* `#include <furi.h>`
* `#include <furi_hal.h>`
* `#include <furi_hal_resources.h>`
* etc.

What a

[2022-08-17 23:09] RogueMaster commented on #1567
I see, this could be useful. Currently, if the Flipper is locked, and you reset it, it boots up locked. But you mean to lock and turn off.

[2022-08-18 09:53] gornekich commented on #1611
Hello @gushmazuko , thanks for report, working on it.
You have the problem with emulating DESFire tag UID, am I right?

[2022-08-18 10:00] gushmazuko commented on #1611
Yes exactly.

[2022-08-18 10:52] elgumso commented on #1611
I am actually having the same issue but with saving/emulating a Mifare Classic UID. I can emulate the UID from my capture file I took whilst on a previous firmware version, but a new read/save of the same card on the current firmware results in no "Emulate UID" option, just "Emulate" which doesn't work.

[2022-08-18 11:45] V0lk3n commented on #1498
@gornekich

[2022-08-18 11:57] gornekich commented on #1498
Hi @V0lk3n . We decided that we don't want to support these cards in official firmware. Now you can add extracted keys to user dictionary. Algorithm support sounds great for external plugin for Flipper, so we will wait until plugins support is done.

[2022-08-18 15:58] LoganMcClay commented on #1345
Hello @quantum-x, to see if a badge is really protected, the data should change if dumped before then after a badge is used to enter ? I have a spare Urmet badge with the pattern matching, but the content doesn't seems to be updated when used.

[2022-08-18 16:02] V0lk3n commented on #1498
Ah.

[2022-08-18 16:02] #1498 closed, assigned to nobody

[2022-08-18 16:13] quantum-x commented on #1345
@LoganMcClay The content doesn't necessarily update on each scan.
Depending on the brand, either the badge contents contains the counter, or the access control system contains the counter.

With that said there is a 'before and after' difference between badges that don't have anti-copy enabled, and badges that do have anti-copy enabled - this is what the above algorithms detect.

[2022-08-18 21:00] ellegix opened #1623 "broken archive functionality"
### Describe the bug.

Before commit 2a452063c62e35111073cf68623322d7388dc1e5 when i click the down button i was seeing favorites screen. Now instead appears NFC folder and i have to navigate with left-right arrow to go to favorites.

### Reproduction

1. Switch On
2. Press down button
3. It appears the wrong archive.

### Target

_No response_

### Logs

_No response_

### Anything else?

_No res

[2022-08-19 03:15] digitalcircuit commented on #1158
# Design revision 2.1

After further thought, this is a confusing setting to expose as just `Limit charging: < voltage >`.  I've drafted up a new configuration screen that better explains what this setting does and how to set it.

**NOTE₁:** I have not yet implemented this; the [`ft-batt-charge-config` branch on my fork](https://github.com/flipperdevices/flipperzero-firmware/compare/dev...digitalc

[2022-08-20 03:15] GMMan commented on #1614
Are you talking about capturing from phones specifically, or a card? You cannot capture signals from phones aside from emulating a particular card to the phone.

[2022-08-20 10:21] nocomp commented on #1578
hi did you reproduced the issue?

[2022-08-20 10:28] skotopes commented on #1578
Work in progress

[2022-08-20 10:29] nocomp commented on #1578
thxx

[2022-08-20 10:31] DrEverr commented on #1171
I also thought about this feature. It can be useful for saving favourite TV programs, where there is not enough time frame on TV to scroll all buttons on flipper to input desire program. Something like recording Read RAW in Sub-GHz, where you input buttons in specific timeframe.

[2022-08-20 14:23] ase1590 opened #1630 "Flipper Auto Shutdown after inactivity"
### Description of the feature you're suggesting.

An inactivity auto-shutdown feature would be nice to have to prevent the battery from running down after being left on for days.

Having a customizable auto-shutdown inactivity timer available in the Flipper settings menu would be ideal in order to help prevent the battery from totally discharging while flipper is stored out of sight in a drawer :

[2022-08-20 14:26] grievertime commented on #1630
+1, would be a nice feature to have

[2022-08-20 18:48] Woodie4 commented on #1040
+1 This would be amazing... I really hope this will get implemented

[2022-08-20 22:53] csBlueChip commented on #1534
If you are referring to cracking HiTag2 - it is computationally very expensive to crack - and certainly not in the (realistic) remit of a FZ.
Kev Sheldrake did a talk on this at 44con 2017 https://www.youtube.com/watch?v=abx1hQDCKyg&ab_channel=44CONInformationSecurityConference

However, I don't see why you couldn't use a FZ to collect the data for offline attacks.

[2022-08-21 06:42] incyi commented on #1611
I have the same problem. Trying now to scan the emulated nfc from the flipper zero with my android phone.

[2022-08-21 08:46] paulpaul115 commented on #1614
to be specific, phones give out NFC-B signal for Visa paywave and google pay, etc., and NFC-F(Felica) for subway pass(Suica and others prepaid card issued all around Japan). Phones have fixed NFC-F IDm(a dedicated chip in phone, and do nothing with NFC-A/B). I also tried emulating NFC-A card by phone, and seldom success because of phone spamming NFC-B signal at same time

[2022-08-21 17:53] Foul opened #1632 "Different SAK after NFC Dump ?"
### Describe the bug.

i dumped my door bagde with Mifare Classic Tools on my phone and mfoc on my computer :
[Door.dmp.txt](https://github.com/flipperdevices/flipperzero-firmware/files/9389697/Door.dmp.txt)

and if i dump the same badge with flipper :
[Door.nfc.txt](https://github.com/flipperdevices/flipperzero-firmware/files/9389698/Door.nfc.txt)

SAK is not the same !?! 88 on Original Dump, 08

[2022-08-21 23:18] klimeryk commented on #1077
For those that want to follow the PR: https://github.com/flipperdevices/flipperzero-firmware/pull/1601

[2022-08-22 10:22] wdoekes commented on #1596
@DrZlo13: I added a PR. It seems to work. But I'm not able to test the original (iButton) functionality. (And it may not fit your design.)

[2022-08-22 16:19] #1623 closed, assigned to nminaylov

[2022-08-22 16:19] skotopes commented on #1623
Fix merged in dev, please check

[2022-08-22 20:10] ppseprus opened #1638 "Option to Detect Driver/Protocol on Saved files"
### Description of the feature you're suggesting.

Save [this](https://github.com/flipperdevices/flipperzero-firmware/pull/1625#issuecomment-1221525241) comment yesterday, by @tkerby and I wanted to follow up on it. I did not see any Feature Request like that, so I decided to open this.

The list of known drivers and protocols change by each firmware version, and it is also subject to customisatio

[2022-08-22 20:12] tkerby commented on #1638
Interestingly you can process a raw file using the CLI but not the UI. Would be great to integrate post processing in the UI

[2022-08-22 20:12] ppseprus commented on #1638
Wow! I did not realise that! Do you have a docs on that?

[2022-08-22 21:14] incyi commented on #1543
Why not build a complete tamagotchi inside ? Like the originals ... https://en.wikipedia.org/wiki/Tamagotchi

[2022-08-23 01:19] ender003 commented on #1077
To add to the request - please also include the ability to read/emulate ISO17785 HDX half-duplex.

https://www.ti.com/lit/ug/scbu037/scbu037.pdf

[2022-08-23 05:22] qistoph commented on #1638
@ppseprus, There are brief docs in the `subghz` command on the command line.

To decode a raw recording use `subghz decode_raw <FILE>`

[2022-08-23 07:01] RogueMaster commented on #1630
How is this different than the auto-lock feature?

[2022-08-23 07:06] RogueMaster commented on #1567
@Fashdey My custom FW has this implemented now.

@skotopes Should I PR this?
Here is the button to [Lock W PIN + Off](https://github.com/RogueMaster/flipperzero-firmware-wPlugins/blob/420/applications/desktop/views/desktop_view_lock_menu.c#L55) and here is [the action itself](https://github.com/RogueMaster/flipperzero-firmware-wPlugins/blob/420/applications/desktop/scenes/desktop_scene_lock_menu.c

[2022-08-23 07:20] ppseprus commented on #1638
Awesome! Thanks!

Still, I think a UI feature would be practical.

[2022-08-23 10:39] ESurge opened #1641 "Chamberlain 9-bit capture not replayable"
### Describe the bug.

Capturing a Chamberlain 9-bit signal allows me to save to file, but upon replaying the signal, I receive "Transmission is blocked" message.

I can record and replay the signal with Read RAW.

Also, if I try to open the saved file, I receive "Cannot Parse File" message.

Opening `log` in CLI when attempting to open the file or replay the captured signal, I receive "Wrong numb

[2022-08-23 15:33] DrZlo13 commented on #1617
Have you compiled this code at least once?
compile_commands.json is generated on first build, so you need to build the code before processing the file with vscode.

[2022-08-23 18:10] zviratko opened #1646 "MF Classic - switching dictionary priorities"
### Describe the enhancement you're suggesting.

Hi,
I think NFC/Read shuld first use the default dictionary and only then switch to the (larger) user dictionary. It takes about 2 hours to read a MF Classic card "by default" without skipping the user dictionary attack, few seconds with the default dictionary. (I also feel there has been regression in there, it used to be much faster, but it probab

[2022-08-24 11:16] Skorpionm commented on #1641
i will check it, it should work

[2022-08-24 13:13] jonas18z opened #1653 "Settings to hide doftfiles from macOS in flipperzero browser"
### Description of the feature you're suggesting.

I wish there is a settings to hide dotfiles created by Macos  also linux i think has thoose kind of files.
._xxxxxx.xxx
.xxxxx.xxxx

should be avable to hidden because they give error. Fro system settings or maybe setting in browser.

### Anything else?

_No response_

[2022-08-24 13:31] Skorpionm commented on #1641
https://github.com/flipperdevices/flipperzero-firmware/pull/1650
fix

[2022-08-24 18:38] FalsePhilosopher opened #1656 "Add badusb configs"
### Description of the feature you're suggesting.

With the badusb keyboard layouts PR there's a config menu with selectable keyboard layout configs. It would be nice to do the same thing but with vid,pid,manf,serial configs so you don't have to do it on a script by script hard edit basis and could do it on the fly. It would also be nice if you could have in your badusb assets folder a copy of the

[2022-08-24 20:34] grievertime commented on #1630
power consumtion, shutting down flipper allows it to last months without charging.

[2022-08-24 23:52] ESurge commented on #1641
Tested on latest clone of dev branch (ce7b9437) and this works now.

Thanks.

[2022-08-24 23:52] #1641 closed, assigned to nobody

[2022-08-25 05:50] rmukeng opened #1659 "Subghz came bits error"
### Describe the bug.

I have a file with 13 bits when I try to run the file, it shows parse error this has only recently started happening

### Reproduction

Run subghz sub file that points uses came that contains 13bits

Parse error is then shown

### Target

_No response_

### Logs

_No response_

### Anything else?

_No response_

[2022-08-25 08:02] ESurge commented on #1659
This looks related to my issue #1641, and it was fixed in #1650

You might need to wait for the change to be put into the next Release or Release Candidate. Alternatively, use the latest Dev build [Aug 24 - ce7b9437](https://update.flipperzero.one/builds/firmware/dev/flipper-z-f7-full-dev-24082022-ce7b9437.dfu)

[2022-08-25 08:23] rmukeng commented on #1659
I have tried what's mentioned on #1650, unfortunately this does not resolve the issue with my bits being 13

[2022-08-25 08:28] Skorpionm commented on #1659
and will not decide on the protocol for CAME or 12 or 24 bits

[2022-08-25 08:35] rmukeng commented on #1659
I am trying a sub file which shows 13bits but it just shows an unable to parse error message

[2022-08-25 09:56] Skorpionm commented on #1659
where did you get it? turning to the one who created this file

[2022-08-25 10:16] rmukeng commented on #1659
They are from

https://github.com/UberGuidoZ/Flipper/tree/main/Sub-GHz/Gates/Road_Arm_(UK)

They previously worked before the came change

[2022-08-25 13:48] danielemiliogarcia commented on #1578
this bug is still present in latest dev commit https://github.com/flipperdevices/flipperzero-firmware/commit/ce7b943793926ba7cffa914942f91c8791396595

[2022-08-25 17:33] digitalcircuit commented on #1158
### Brief update for those following along

Another contributor [has already refactored the Power application to support saving/loading settings](https://github.com/flipperdevices/flipperzero-firmware/pull/1647 ).  If merged, their work would simplify my task as I'd just need to focus on the new UI and the new setting.

However, if [the Flipper team decides that the minimum 4Kb internal storage co

[2022-08-25 17:43] mgrybyk commented on #1611
Same issue with every Miflare Classic 1K that used to work before, example
[code]
Firmware 0.65.2

[2022-08-25 17:55] Foul opened #1663 "Stealth capture"
### Description of the feature you're suggesting.

No led
No sound
No rumble when capturing..

With of course on/off possibility

Just an idea 💡

### Anything else?

_No response_

[2022-08-25 18:56] Foul commented on #1646
When i'm looking for keys, i'm first using **known** of them in my own user dic.. then search for **unknown** in the larger default dic...
When all keys are known, just move them from user to default dic...
i think it's faster using already known keys with user dic, and then, other dictionary.
Just my own opinion.

[2022-08-25 19:20] zviratko commented on #1646
To be honest I'm not sure how this works in the OG firmware as I'm using the RogueMaster one. In there (and I think also in Unleashed) there are more keys added to the "user" dictionary.
In practice, most MF cards I see are using the default or well-known keys, so using the default dictionary works instantly, but using the user one chugs for hours and I have to skip the user dictionary everytime.

[2022-08-25 19:25] gravityfox commented on #1544
I am also having this issue and would be interested in a fix.

[2022-08-25 19:27] Foul commented on #1646
Most common Keys are 00000000 and FFFFFFFF and can be put in both of dic
After 1 dic with Full keys.. and user dic with the most used by user... seems legit ;)

[2022-08-25 20:03] FalsePhilosopher commented on #1663
@Foul  settings>LCD and Notifications>LCD backlight 0% or set backlight time to 1S,LED bightness 0%,Volume 0%,Vibro off

[2022-08-25 20:45] Foul commented on #1663
that's also an idea :D

[2022-08-25 21:26] DakotaMcCutch commented on #1578
Same here, it goes to the flipper I can see on the flippers screen that it's playing the signal entirely for me but not actually doing anything from what I can tell. I don't have a subGHZ tool to see if it playing the signal or just looks like it

[2022-08-25 21:54] Mastahh opened #1664 "Infrared Crashes - Flipper Crashed and rebooted. Usage Fault"
### Describe the bug.

Flipper crashes, only [<] and [return] buttons works, to turn it on again

### Reproduction

Go to Infrared, Learn New Remote, wait 2 seconds.
Go to Saved remotes and select any one and just hold button to sent command.
Flipper crashes.

### Target

Infrared

### Logs

_No response_

### Anything else?

_No response_

[2022-08-26 01:53] TotallyNotSethP commented on #1040
DuckyScript 3.0 transfers data by flashing the CapsLock and NumLock LEDs, meaning the OS wouldn't have to use the card as mass storage at all. Maybe you could implement it that way?

[2022-08-26 04:21] skotopes commented on #1578
We'll be fixed it in next release

[2022-08-26 06:13] nocomp commented on #1578
hi, thxx a lot let me know if you want me to test the pre release.
br

[2022-08-26 10:11] nocomp commented on #1578
does the official rc via qflipper fix the bug?

[2022-08-26 10:31] alkesander commented on #1664
I have the same problem

[2022-08-26 14:01] danielemiliogarcia commented on #1578
@skotopes I cant also test pre release or at specific commit

[2022-08-26 19:08] legomannetje opened #1666 "Interupted NFC read doesn't contiune"
### Describe the bug.

If you are just out of reach of an NFC card while reading a card (in my case MF classic) and while it's running the dict, it wont contiune after providing the card

### Reproduction

1. Start reading a MF classic card
2. While running the dict attack, remove the card
3. Place the card again.
4. It won't contiune

### Target

NFC

### Logs

[code]

### Anything else?

Running

[2022-08-27 02:39] lily-mara opened #1669 "UI/Button freeze while emulating Mifare Ultralight 11"
### Describe the bug.

I'm getting a UI freeze in 0.65.2 while trying to emulate a Mifare Ultralight 11 card. The emulation screen pops up, light starts flashing, I hold the flipper up to the reader, and the buttons stop responding to input. At this point I am stuck on the emulation screen and need to reboot.

I was connected via the serial interface to watch the debug logs coincidentally, and the

[2022-08-27 03:06] csBlueChip opened #1670 "external i2c fail (P)C0/1"
### Describe the bug.

EVERY transaction on the i2c bus MUST be wrapped with
[code]
Where ACTION = {device_ready, tx, rx, trx}

If you attempt a second transaction without this wrapping, it will timeout and fail.

This is especially bad for `furi_hal_i2c_trx();` which performs TWO transactions {Tx(), Rx()}, and therefore ALWAYS fails. The workaround for this is trivial, just call Tx() and Rx() you

[2022-08-27 03:36] csBlueChip commented on #1670
These wrapper functions (notice the `W` in front of `i2c`) will fix i2c ...it's ugly, but until a proper fix is available - it works :)

[code]

[2022-08-27 12:19] miha-perfecto opened #1671 "function select/configurator"
### Description of the feature you're suggesting.

Due to the fact that some useful functions have been disabled in the latest versions, I propose to make a configurator of the required functions or make spetial fork/branch with "game" or "tool" modes

### Anything else?

_No response_

[2022-08-27 12:51] rsplaul commented on #1465
Sorry for leaving this open for so long. I can indeed confirm that is was about the capitalization in the settings file.

[2022-08-27 12:51] #1465 closed, assigned to nobody

[2022-08-27 12:58] DrZlo13 commented on #1671
What features are you talking about?

[2022-08-27 15:03] exussum12 commented on #1077
This can be closed now, it was added in the latest stable firmware

[2022-08-27 15:23] Skorpionm commented on #1659
so you need to ask the question of whoever did them wrong

[2022-08-27 15:23] #1659 closed, assigned to nobody

[2022-08-27 15:26] Skorpionm commented on #1638
https://github.com/flipperdevices/flipperzero-firmware/pull/1667

[2022-08-27 15:31] Taby1993 commented on #1077
Can flipper change number microchip?

[2022-08-27 18:57] rmukeng commented on #1659
Thanks looks like the came protocol only supports 12bits or 24 no more no less change it to 12 or 24 and it parses fine

[2022-08-27 23:08] LilianHori commented on #1345
Ok so my badge is from immotec and first thing I did when I received my flipper was trying to copy it (obviously I didn't read this thread before). It seems it didn't work as I was unable to open my door with my flipper, I will go and test if my badge still work. Should I just stop everything for now about it, should I delete the saved nfc ? This sure is a huge problem and need to be told to EU us

[2022-08-28 14:56] Foul commented on #1345
how does it work when there are several users/badges for the same building to synchronize everything?

[2022-08-28 15:02] quantum-x commented on #1345
If your badge contents matches the IMMOTEC anti-copy rules above, do *not*
attempt to emulate the badge.

IMMOTEC anti-copy will block the copy and the original badge. Depending on
the configuration of the system, it can also erase the badges assigned to
your apartment.

If your badge does not match the anti-copy rules, you should be OK to
emulate it.

orign Sun, Aug 28, 2022, 01:08 LilianHori ***

[2022-08-28 16:56] azaitsev commented on #1630
https://github.com/flipperdevices/flipperzero-firmware/pull/1647

[2022-08-29 09:21] GitChris3004 commented on #1670
Hey, i wrote an I²C-Scanner for the flipper and had no problems using the furi_hal_i2c_is_device_ready() function multiple times inside one aquire and release block. Have you tried bigger timeouts?

You can have a look at my code here:
[I2C-Scanner Pull Request](https://github.com/flipperdevices/flipperzero-firmware/pull/1431)
[applications/gpio/gpio_i2c_scanner_control.c](https://github.com/flipp

[2022-08-29 11:02] gsurkov commented on #1664
Fixed in #1675.

[2022-08-29 11:02] #1664 closed, assigned to gsurkov

[2022-08-29 13:48] gushmazuko commented on #1611
@gornekich is there any progress on this issue?

[2022-08-29 13:56] gornekich commented on #1611
Hello @gushmazuko . Fix in this #1643 PR, soon will be in dev

[2022-08-29 17:48] theblackhole commented on #1611
Hello @gornekich, do you think this will also fix  #1468 (Mifare Classic 1K) or is it another issue than this DESFire one ?

[2022-08-30 09:47] csBlueChip commented on #1670
Hmm. Yes. I can verify your specific case! ...Curiouser and curiouser ...Are you able to verify/contradict my multiple tx/rx() case? [be nice to have another mind on this]

My timeout is 1000mS - so it's not that.

I did a bit more digging last night ...it seems `LL_I2C_IsActiveFlag_STOP(handle->bus->i2c)` never returns true (the second time around)
https://github.com/flipperdevices/flipperzero-fi

[2022-08-30 10:06] eqvinox commented on #1173
@jevinskie do you feel you can share the list of timing sensitive operations you had to implement directly in the MCU? That might make it easier for someone with limited NFC knowledge to implement this.

[2022-08-30 12:10] GitChris3004 commented on #1670
I didn't looked deeply in the hardware abstraction layer but i tried your failed "Reproduction" code and for me all of them is working. I'm not into writing plugins yet so maybe that might differ from my approach.

My setup:
- connected an LPS22HH Pressure sensor to the I²C-GPIOs of the Flipper (SDA: Pin 15, SCL: Pin 16, GND and 3v3)
- one 4k7 ohms resistor from SDA to 3V3 and one from SCL to 3V3

[2022-08-30 15:18] csBlueChip commented on #1670
Hmmm. Then I am baffled. I will hopefully release my code within the next week-or-so, then I will be able to pick up the thread with an "IRL" example.
Thanks for your help :)

[2022-08-30 17:26] djsime1 commented on #1512
I believe this was fixed by https://github.com/flipperdevices/flipperzero-toolchain/commit/258e9c21d0ee9f716dbc830d3fe8a8c769cecc25

[2022-08-30 17:26] #1512 closed, assigned to drunkbatya

[2022-08-31 02:36] tusing commented on #1173
@skotopes If someone has successfully managed to implement this, even if they can't share it due to NDA, should we re-open this issue?

[2022-08-31 03:10] skotopes commented on #1173
@tusing just try to read your comment one more time and answer this question by your self.
PS: Also @jevinskie explicitly mentioned that libnfc is not used.

[2022-08-31 08:57] Builderhummel opened #1688 "Legic Prime support"
### Description of the feature you're suggesting.

Legic Prime is a standard similar to Mifare and it is common in europe.

It would be helpful to be able to read and emulate the legic prime cards just like mifare.

(The algorithm is also available in the Proxmark3 source code, like the Mifare one)

### Anything else?

The flipper project is really interesting. Legic Prime support would make it a

[2022-08-31 11:39] FLX-0x00 commented on #1522
I think this should be enough: Start UID, increment or decrement value and maybe the delay used to hop to the next id.

[2022-08-31 12:27] skotopes commented on #1578
Sorry for delay

Long story short: signal is replayed while you press button. If you don't press long enough then signal is not going to be fully replayed. Especially when you have raw signal.

Mobile apps will improve UI/UX in next releases.

[2022-08-31 12:27] #1578 closed, assigned to skotopes

[2022-08-31 14:52] danielemiliogarcia commented on #1578
@skotopes is that fixed in the latest commit? its not working for me in the latest release

[2022-08-31 14:58] skotopes commented on #1578
In next release of mobile apps.

[2022-08-31 16:32] coded-with-claws commented on #1549
Actually it seems to be already logged in #1598
Maybe we should close my issue ?

[2022-08-31 17:02] trupus commented on #1500
Hey guys, I had also troubles emulating the tag on an electra reader.

Not sure if it's the exact same model as in this link, but it looks very similar to mine.

I also captured the [RAW RFID data](https://drive.google.com/drive/folders/1WnuFCMMm8dlRy8bc0wrMr3jZOFenb48e?usp=sharing). Hope it helps.

[2022-09-01 09:15] no-usernames-left opened #1691 "Add UI option to clear NFC cache"
As a feature request, please consider adding a UI option to clear the NFC cache so that expanded dictionaries can be tried against cards that were previously read.

[2022-09-01 09:47] Mah-Yerb commented on #1155
Eth

[2022-09-01 11:45] gushmazuko commented on #1611
It works fine, thank you!

[2022-09-01 16:08] david-bla commented on #1688
Legic Prime is really common here in europe.
There is a big market for cheap access systems and the fact that it is totally reversed (broken) does not mean security consultants don't recommend it anymore.
This would be a great addition for the flipper :+1: .

I am not sure but seems like the hardware should be capable of it.
For reference see the implementation of proxmark3 like @Builderhummel men

[2022-09-01 17:44] BuckarooBanzay commented on #1688
can't really help on the implementing front here but i have the hardware to test it, just ping me up

[2022-09-01 18:34] nocomp commented on #1578
hi, updated mobile app + current official firmware, no changes at all :(
no sending animation on screen either :'(

[2022-09-02 01:14] skotopes commented on #1578
@nocomp we have not yet released update. Also does this file works on flipper?

[2022-09-02 04:40] nocomp commented on #1578
Of course!
Its been recorded from flipper, works likeba charm when sended manually

[2022-09-02 22:32] Foul commented on #1345
another user posted :

😥

[2022-09-04 04:15] csBlueChip opened #1700 "Recover >8MB of ROM"
### Describe the enhancement you're suggesting.

If you run `grep  '\[[0-9]'  lib/u8g2/u8g2_fonts.c  |  sed 's/.*\[\([0-9]*\)\].*/\1/'  |  wc -l` you will see there are currently 1689 fonts installed.
This costs `grep '\[[0-9]'  lib/u8g2/u8g2_fonts.c  |  sed 's/.*\[\([0-9]*\)\].*/\1/'  |  paste -sd+ -  |  bc` == 10,586,778 bytes  ~= 10.1 MB of ROM space

Given the API only actually gives you acces

[2022-09-04 04:18] skotopes commented on #1700
These fonts are already automatically stripped by linker.

[2022-09-04 04:18] #1700 closed, assigned to nobody

[2022-09-04 17:34] coded-with-claws commented on #1544
I also have this issue : after successfully pairing with Kodi on raspberry pi, the Keynote allows to navigate into Kodi. But if I quit the bluetooth plugins, and re-enter bluetooth plugins, the LED is blue but Keynote no longer works.
Interesting fact (I hope) :
If I reboot the raspi and wait for Kodi to show up, then I enter the bluetooth plugins, the Keynote works again.

[2022-09-05 14:11] doegox commented on #1669
Hi, I may add some more context as I experienced the same problem.

Just emulating a saved Ultralight card works without freeze.
But this sequence triggers the problem:
* Read an Ultralight card
* (optionally save it then open it or jump directly to the next point)
* Emulate the card
* Bring it to the reader
* The reader will "see" the card but not the content (Flipper replies to the anticol seque

[2022-09-05 14:25] doegox commented on #1669
So it seems "reading an actual card" leaves the reader in a state not properly cleaned by "emulating a card towards an actual reader".
A workaround is the following sequence:
* Read an Ultralight card
* Save it
* Launch again a Read but without any card, press Back to cancel it
* Load and emulate saved card

At this point everything works as expected.

[2022-09-05 15:26] Poopi opened #1705 "GDB from new toochain not working on macOS"
### Describe the bug.

After commit [#1685](https://github.com/flipperdevices/flipperzero-firmware/pull/1685) GDB is no longer working on macOS. Everything was working fine before that change.

### Reproduction

1. Compile the software
2. Invoke ./fbt blackmagic

### Target

_No response_

### Logs

[code]

### Anything else?

_No response_

[2022-09-05 15:29] skotopes commented on #1705
Yep, known issue, downgrade to V8, we'll issue fix soon

[2022-09-05 16:07] litui opened #1707 "I2C menuing subsystem and configuration system needed"
### Description of the feature you're suggesting.

Creating this as a feature request even though I'm at work implementing it, just to ensure it's being tracked that someone is working on this in case there's demand or parallel effort from others. Functionality will be something like a cross between the existing GPIO menu and the Infrared menu when complete, allowing on-device loading (not saving)

[2022-09-05 16:15] yeomid opened #1708 "Emergency button"
### Description of the feature you're suggesting.

If a person finds the flipper suspicious, there should be a key combination that puts the flipper into an "innocent" mode. Where you can only play games, for example.

### Anything else?

_No response_

[2022-09-05 16:19] litui commented on #1707
The data may need some kind of hierarchy. I'm contemplating whether it's a good idea or not to load up <json.h> from the existing flipperzero-firmware codebase (I believe it's defined in a submodule but not used) rather than define yet another standard for storing/loading configuration data. The alternative would probably be improvising something akin to YAML.

[2022-09-05 18:51] Poopi commented on #1705
seems like v15 is also okeish...

[2022-09-06 08:55] jagotu commented on #1708
What you're requesting will be implemented by the DUMB mode in the lock menu. It is not yet done, but is planned: https://forum.flipperzero.one/t/when-will-dumb-mode-come-out/4348

[2022-09-06 08:59] FalsePhilosopher opened #1711 "Wrong pin sd format"
### Description of the feature you're suggesting.

Make an option in the settings menu to enable 3 or 5 wrong pin attempts and after the failed 3 or 5 attempts it will enter a mode where it doesn't accept button inputs, formats the sd card, fills it with 1's and 0's, then disables the start up function and turns off. If you wanted to turn it back on you would have to enter dfu mode with the button

[2022-09-06 16:30] skotopes commented on #1705
Fix merged to dev.

[2022-09-06 16:30] #1705 closed, assigned to drunkbatya

[2022-09-06 16:35] skotopes commented on #1711
Hi.

Doesn't make much sense. What will stop attacker from copying sd-card first? Also our sdcard exchange speed is only 500kbps, secure format will take eternity. Internal storage self erase is also kinda possible but too much hassle.

[2022-09-06 16:35] #1711 closed, assigned to nobody

[2022-09-06 16:36] skotopes commented on #1708
Yep, dumb mode coming soon.

[2022-09-06 16:36] #1708 closed, assigned to nobody

[2022-09-06 16:41] skotopes commented on #1707
There were project that implemented I2C/SPI flash reading writing which also was using similar ideas(describing geometry with configs).

Overall we use FFF, protobuf and binary formats in firmware, nor JSON nor YAML is not shipped with firmware and not going to be included in sdk. So you'll have to include them into your application.

[2022-09-06 16:44] FalsePhilosopher commented on #1711
It's not made for an attacker, it would be targeted at if some normie stole your FZ. An attacker would know to just pop out the SD card, but not some normie trying to play with your stolen flipper. It's a better idea to wipe enough of the internal storage to quasi soft brick the device. An just a basic format on the sd card then, it wouldn't stop somebody that knows data forensics. But it would st

[2022-09-06 16:44] #1671 closed, assigned to nobody

[2022-09-06 16:45] skotopes commented on #1663
Yep, already in notification settings. No other work planned in this direction.

[2022-09-06 16:45] #1663 closed, assigned to nobody

[2022-09-06 16:47] skotopes commented on #1656
I'll add it as a backlog task. We'll merge layout support and then come back to it

[2022-09-06 16:52] skotopes commented on #1711
Very niche thing that will be half working. Answer is still no.

[2022-09-06 16:54] skotopes commented on #1617
Please reopen issue if problem persist.

[2022-09-06 16:54] #1617 closed, assigned to nobody

[2022-09-06 16:55] skotopes commented on #1614
Yep, we do plan to add more manual actions. F/B is one of them

[2022-09-06 16:57] #1611 closed, assigned to gornekich

[2022-09-06 16:59] skotopes commented on #1607
Partially we already have it. We'll revise system in future updates

[2022-09-06 17:00] skotopes commented on #1688
We'll come back to this after RFID rewriting in C

[2022-09-06 17:01] skotopes commented on #1029
Check latest release.

[2022-09-06 17:01] #1029 closed, assigned to DrZlo13

[2022-09-06 17:02] #1076 closed, assigned to Skorpionm

[2022-09-06 17:03] skotopes commented on #1077
Check latest release and if you found unsupported tag then please report exact vendor/model

[2022-09-06 17:03] #1077 closed, assigned to DrZlo13

[2022-09-06 17:04] skotopes commented on #1081
Please check latest Release and reopen if issue persist

[2022-09-06 17:04] #1081 closed, assigned to gornekich

[2022-09-06 17:04] skotopes commented on #1084
Please check latest Release.

[2022-09-06 17:04] #1084 closed, assigned to gornekich

[2022-09-06 17:05] skotopes commented on #1092
Check latest Release and reopen if issue persist.

[2022-09-06 17:05] #1092 closed, assigned to gornekich

[2022-09-06 17:06] skotopes commented on #1155
Check latest Release and create new issue if you found unsupported vendor

[2022-09-06 17:06] #1155 closed, assigned to DrZlo13

[2022-09-06 17:07] skotopes commented on #1206
Check latest Release and reopen if issue persist.

[2022-09-06 17:07] #1206 closed, assigned to DrZlo13

[2022-09-06 17:07] skotopes commented on #1278
Check latest Release and reopen if issue persist.

[2022-09-06 17:07] #1278 closed, assigned to Skorpionm

[2022-09-06 17:08] #1328 closed, assigned to skotopes

[2022-09-06 17:08] skotopes commented on #1349
Check latest Release and reopen if issue persist.

[2022-09-06 17:08] #1349 closed, assigned to DrZlo13

[2022-09-06 17:13] skotopes commented on #1391
Will be included in next release as external elf app

[2022-09-06 17:15] skotopes commented on #1407
Should be fixed in latest dev

[2022-09-06 17:15] #1407 closed, assigned to Astrrra

[2022-09-06 17:16] skotopes commented on #1427
Please check latest release and reopen if issue persist.

[2022-09-06 17:16] #1427 closed, assigned to gornekich

[2022-09-06 17:17] skotopes commented on #1430
Please check latest release and reopen if issue persist.

[2022-09-06 17:17] #1430 closed, assigned to gornekich

[2022-09-06 17:21] Taby1993 commented on #1077
Just this question, Can he change the number on the chip? Please answer to me.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: あく ***@***.***>
Sent: Tuesday, September 6, 2022 8:03:44 PM
To: flipperdevices/flipperzero-firmware ***@***.***>
Cc: Taby1993 ***@***.***>; Comment ***@***.***>
Subject: Re: [flipperdevices/flipperzero-firmware] Request for 134kHz re

[2022-09-06 17:21] skotopes commented on #1434
Do you have any other tools to record raw?

@gsurkov I guess we'll need raw recording for cases like this one.

[2022-09-06 17:22] #1445 closed, assigned to nobody

[2022-09-06 17:23] skotopes commented on #1447
@gornekich what do you think ?

[2022-09-06 17:23] Leseratte10 commented on #1434
I don't, no. I have a bunch of Arduinos laying around, but I don't think I have one of these IR receiver modules. If necessary I can buy one as they seem to be fairly cheap. I assume the Flipper currently doesn't have a way to force a raw recording?

[2022-09-06 17:24] skotopes commented on #1463
Please check latest release

[2022-09-06 17:24] skotopes commented on #1463
And reopen if issue persist

[2022-09-06 17:25] skotopes commented on #1472
Please check latest release and reopen if issue persist

[2022-09-06 17:25] #1472 closed, assigned to nobody

[2022-09-06 17:26] skotopes commented on #1479
Please check latest release and reopen issue if problem persist

[2022-09-06 17:26] #1479 closed, assigned to nobody

[2022-09-06 17:27] skotopes commented on #1482
Please check latest release and reopen issue if problem persist

[2022-09-06 17:27] #1482 closed, assigned to gornekich

[2022-09-06 17:27] skotopes commented on #1481
Please check latest release and reopen issue if problem persist

[2022-09-06 17:27] #1481 closed, assigned to nobody

[2022-09-06 17:30] skotopes commented on #1486
Very specialized thing. You are welcome to implement it as external application.

[2022-09-06 17:30] #1486 closed, assigned to nobody

[2022-09-06 17:31] skotopes commented on #1494
@gsurkov is currently working on it. @jaroslavmraz your file will be quite useful.

[2022-09-06 17:32] skotopes commented on #1495
Check `./scripts/toolchain/fbtenv.sh` and reopen issue if problem persist.

[2022-09-06 17:32] #1495 closed, assigned to nobody

[2022-09-06 17:33] skotopes commented on #1077
Depends on what chip is used: if it is t5577 then yes.

[2022-09-06 17:34] skotopes commented on #1499
That is something that you need to report in mobile repository.

[2022-09-06 17:34] #1499 closed, assigned to skotopes

[2022-09-06 17:35] skotopes commented on #1500
Please check latest release and reopen issue if problem persist.

[2022-09-06 17:36] skotopes commented on #1505
Never will be. It is a limitation of fatfs driver.

[2022-09-06 17:36] #1505 closed, assigned to nobody

[2022-09-06 17:36] skotopes commented on #1507
@iShift we need raw files with it.

[2022-09-06 17:37] skotopes commented on #1521
@gornekich any progress?

[2022-09-06 17:38] skotopes commented on #1522
More like some thing for external application. In theory possible.

[2022-09-06 17:38] #1522 closed, assigned to nobody

[2022-09-06 17:39] skotopes commented on #1527
@gornekich any progress?

[2022-09-06 17:40] #1529 closed, assigned to skotopes

[2022-09-06 17:41] skotopes commented on #1530
Please check latest firmware and reopen issue if it persists.

[2022-09-06 17:42] skotopes commented on #1540
Please check latest firmware and reopen issue if it persists.

[2022-09-06 17:42] #1541 closed, assigned to nobody

[2022-09-06 17:42] #1543 closed, assigned to nobody

[2022-09-06 17:43] skotopes commented on #1544
@gornekich can you check?

[2022-09-06 17:44] skotopes commented on #1547
Good idea for external application

[2022-09-06 17:44] #1547 closed, assigned to nobody

[2022-09-06 17:44] #1549 closed, assigned to gornekich

[2022-09-06 17:45] skotopes commented on #1552
@nminaylov can you take a look?

[2022-09-06 17:45] skotopes commented on #1554
We have plans for it, but no people. I'll add it to backlog.

[2022-09-06 17:46] skotopes commented on #1555
@gornekich can you check?

[2022-09-06 17:46] COssfeld commented on #1349
Just tried 0.66.1, none of my HITAG S transponders are working.

[2022-09-06 17:47] skotopes commented on #1434
Nope it doesn't. But looks like it is something that we going to add next

[2022-09-06 17:47] Taby1993 commented on #1077
Fdx B iso 11784/5 134.2 Khz?

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: あく ***@***.***>
Sent: Tuesday, September 6, 2022 8:34:04 PM
To: flipperdevices/flipperzero-firmware ***@***.***>
Cc: Taby1993 ***@***.***>; Comment ***@***.***>
Subject: Re: [flipperdevices/flipperzero-firmware] Request for 134kHz reading (Issue #1077)

Depends on what chip is used:

[2022-09-06 17:51] skotopes commented on #1349
@COssfeld yep, sorry, your ticket was first, but there is another one that actually describes issue with hitag  #1534

[2022-09-06 17:53] skotopes commented on #1077
@DrZlo13

[2022-09-06 18:20] COssfeld commented on #1534
@csBlueChip I don't know if HITAG 2 uses the same system as HITAG S but for me it would be enough if flipper would support reading the uid and other data in plain mode without auth and also emulate the uid. If I am rememeber correctly you need an extra IC for auth (Philips Co Processor HT RC130) which surely is not in the FZ.
https://www.nxp.com/docs/en/data-sheet/HTSICH56_48_SDS.pdf

[2022-09-06 18:46] swittenberger commented on #1500
@skotopes I just tested on Dev build d1c79a83. I also tested on the stable release 0.66.1. Door still won't open.
I have reread the rfid just in case for this test, have not used the saved one (though I did try that as well)

https://drive.google.com/file/d/1l_reeBhEbq9uMtiGM9a-h2UJR6l6ayJF/view?usp=sharing

[2022-09-06 19:19] trupus commented on #1500
I had also the same problem with the latest rc today. But with a different reader this time (Flipper identified it as an EM4100 tag as well). Will try tomorrow again with the stable release.

Maybe also worth mentioning, my office has 2 doors, which you can open with the same key. It's a coworking space. The first door is "shared", but the second one can only be opened with my key. I can open the

[2022-09-06 21:18] u1735067 commented on #1530
Can you reopen? It's not implemented, tested with a tag having the same sector key, each sector is going through the full dictionary instead of reusing the previous found key(s) as suggested:
[g68SJ4B8WUPkeMH.webm](https://user-images.githubusercontent.com/1735067/188739589-1b39879e-cc87-4294-8274-86b312768a24.webm)

[2022-09-06 21:19] iShift commented on #1507
sorry, can't provide it in near future, if it is critical - we can close the issue @skotopes

[2022-09-07 00:24] DrZlo13 commented on #1077
Our RFID scheme is not designed to receive HDX protocol. The rest protocols (FDX-A, FDX-B) mentioned in this issue is done.

[2022-09-07 00:35] DrZlo13 commented on #1500
OK, it's time to return to this topic. I will try to reset the protocol encoder if field is gone for ?? (10?) clocks.
Also, it will help if someone points out the problematic reader model.

[2022-09-07 01:24] skotopes commented on #1530
Sure. @gornekich Can you take a look?

[2022-09-07 01:26] litui commented on #1707
@skotopes thanks for the clarity! I'll look into the formats being used and try to keep it similar.

[2022-09-07 05:21] Kritkatten commented on #1500
Still doesn't work. I saw new data with the last update though. Picture:
![20220907_072011](https://user-images.githubusercontent.com/15158565/188794986-3e0c65d1-1d67-445e-8216-bde1414523c8.jpg)

[2022-09-07 05:48] Taby1993 commented on #1077
Ok thanks

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: SG ***@***.***>
Sent: Wednesday, September 7, 2022 3:25:00 AM
To: flipperdevices/flipperzero-firmware ***@***.***>
Cc: Taby1993 ***@***.***>; Comment ***@***.***>
Subject: Re: [flipperdevices/flipperzero-firmware] Request for 134kHz reading (Issue #1077)

Our RFID scheme is not designed to receive HDX

[2022-09-07 06:00] LoZio commented on #1540
Same file, same behavior. It goes in some infinite loop.
Other batch sized work fine. No difference at all. Using 0.66.1

[2022-09-07 06:02] skotopes commented on #1540
@Skorpionm Can you check ?

[2022-09-07 06:22] jaroslavmraz commented on #1494
Happy for it :)

Last and more uptodate version made by comunity are here. Comnuity random adding new irs find it here @skotopes

https://github.com/UberGuidoZ/Flipper/tree/main/Infrared

[2022-09-07 08:05] trupus commented on #1500
**EDIT:**
Oh, interesting. The key fob works on 2 frequencies. The RFID is for the main (shared) entrance, and then it also has NFC, which opens the second door. The NFC is a Mifare classic, which I was able to read and emulate.

Sorry, but this reader is then unrelated to the described issue!

***

At this moment I encountered 2 different readers in 2 different countries that share the described

[2022-09-07 09:54] gornekich commented on #1691
Hello @ThePowerOfDreams
Why do you need to delete nfc cache for that? Saved keys caches allows to read already known sectors, and if card is still not fully read, dictionary attack starts after that

[2022-09-07 10:00] no-usernames-left commented on #1691
That's not the behaviour I'm seeing with a Mifare card with only some keys found; after one second or so, Flipper shows me 26/32 keys and 16/16 sectors, but will not actually retry it even when I tap left for Retry. (This is on 0.65.2.)

[2022-09-07 10:34] swittenberger commented on #1500
@DrZlo13 The reader described in this bug is an Electra, as can be found in the link above. What other information would you require?

[2022-09-07 11:29] bolmar3 commented on #1463
Hello. Tested on 0.66.1 and d1c79a83dea7a7be7f36eb14c186926dda498a6d.
Issue still persists, reading/writing does not work on these specific tags.

[2022-09-07 11:30] bolmar3 commented on #1463
@skotopes cannot reopen since you closed it

[2022-09-07 11:54] skotopes commented on #1463
@DrZlo13 @nminaylov

[2022-09-07 12:33] gornekich commented on #1691
Got it, it's a bug. I don't see why we need to delete key cache, but we definitely have to start dictionary attack unless not all keys found. Will be fixes soon

[2022-09-07 12:42] gornekich commented on #1646
Hello @zviratko
As @Foul mentioned, the correct way to read MFC tags is to first try User dictionary, which is fully controlled by user and should  be "fast" operation. It's up to the user what keys he/she wants to add to user dictionary and official firmware doesn't add any keys here. It is assumed that user will add keys in User dict after running attacks, such as reader attack, that is partly s

[2022-09-07 12:45] gornekich commented on #1632
Thanks @Foul . Very strange behavior, we will research it

[2022-09-07 12:53] gornekich commented on #1598
Hello @red-avtovo !
I think that this 8-bytes UID tags are actually NFC-B and Flipper incorrectly recognized them as NFC-A. Could you please try to read this card with latest release (0.66.1 at the time of writing) and write here the result?

[2022-09-07 13:27] red-avtovo commented on #1598
Sadly I've checked out from that Hotel, but I will try soon with another one

[2022-09-07 13:45] gornekich commented on #1530
We have PR #1488 from community, it is stil WIP. I think I will do it myself, if it is not ready in a few days

[2022-09-07 14:03] gornekich commented on #1669
Hello @lily-mara . Thanks for the report.
Unfortunately I can't reproduce the freeze. I repeated the steps you wrote, but my flipper's emulation works just fine with my readers. Flipper is not writing logs on SD card yet (will be added soon), but I need full communication with reader to better understand what is going on. I think that at some point flipper handles reader requests incorrectly. Can

[2022-09-07 14:06] gornekich commented on #1669
Hello @doegox , thanks for more context!
Am I right that Flipper passes anticollision and doesn't reply to read command 30 XX ? Do you have a full log?
As I said, I reproduces you steps, but flipper emulates fine on tested readers. Need more context to fix the issue

[2022-09-07 14:14] doegox commented on #1669
Hi @gornekich
As I wrote you've first to read a card with the Flipper before entering emulation mode, in order to trigger the issue.
Here is a log of a proxmark trying to read the emulated MFU by Flipper. As you see the Flipper doesn't reply to the 30F0 command (and it's true for any 30xx read command).
[code]
Note that I don't have many cards to test here and the card I have is password-protected

[2022-09-07 14:16] gornekich commented on #1521
Planned, will be fixed soon

[2022-09-07 14:24] gornekich commented on #1447
Need to get these cards on hand. Need to do more, can't fix it right now

[2022-09-07 14:25] perillamint opened #1713 "SubGHz regdb support for non-US/EU/JP regions"
### Describe the enhancement you're suggesting.

Currently, Flipper Zero firmware does not support individual regulatory rules per country, but in four categories. For countries in those three categories, it is possible to transmit on whole frequency range legally permitted on country.

However, in Rest of World categories, it is quite troublesome to transmit on some band even if it is legally per

[2022-09-07 14:37] gornekich commented on #1544
Reproduced, planed to fix

[2022-09-07 14:40] paulpaul115 opened #1714 "Japan Regional lock (Japan's Sub-GHz regulation)"
### Description of the feature you're suggesting.
TL;DR
Anyone can operate [Extremely Low Power Radio Station] and [Specified Low-Power Radio Station] without license in Japan.

[Extremely Low Power Radio Station]: Extremely low tx power, only works in 5 meter range. There is no need for manufacture to get certificate.
 [Specified Low-Power Radio Station]: Low tx power, less than 1mW for continuou

[2022-09-07 14:48] gornekich commented on #1669
@doegox thank you! Now I think I understand where is the problem, will try to fix it soon

[2022-09-07 14:56] koalazak opened #1715 "ISO 14443 Type A communication sniffing"
### Description of the feature you're suggesting.

It would be great a new option to sniff the communication between reader and external tags to then show anti-col and authentication encrypted but relevant values: `uid, tag challenge, reader challenge, reader response, tag response`

Similar to `hf 14a snoop` + `hf list 14a` proxmark's commands.

I imagine this in two steps:

1. Actual sniff and s

[2022-09-07 17:15] lily-mara commented on #1669
Thank you for providing the extra context @doegox! I would not have known how to gather this deeper information.

[2022-09-07 17:23] tkerby opened #1718 "Sort Mifare Dictionaries"
### Description of the feature you're suggesting.

The Mifare dictionaries are large and slow to read cards. I'd like to see a mechanism to sort the dictionaries, so the most common keys appear at the top of the list.

A few thoughts on how we might accomplish this

1. Implement a front end to a web service running mfkey32 within the phone apps. Add the keys to the dictionary or log the frequency

[2022-09-07 21:13] Champion0081 commented on #1713
We should provide 3 versions for ITU regions https://en.wikipedia.org/wiki/ITU_Region cause frequencies differ according to those. for example 915MHz is ITU region 2 only. To make it easy there should be easy ITU region selection. For ITU 1 there should be all LPD433 channels included i think  https://en.wikipedia.org/wiki/LPD433#Usage_by_country

[2022-09-07 23:31] BrunoTCouto opened #1720 "Generic Keeloq 64 Bit with 2 buttons pair"
### Description of the feature you're suggesting.

Hi !  I have a **generic keeloq 64bit remote**, that’s is the most common over here in Brazil.

I tried paring my flipper with the receiver using the DoorHan_433 but the receiver asks for pressing two buttons at the same time, so I was unable to pair.

Speaking with @skotopes on discord he asked me to open an issue here in github for implementatio

[2022-09-08 06:08] UberGuidoZ commented on #1494
Also note: There have been custom-developed remote GUI too that supports the needs (like Mode) for AC. Others for Speakers, Fan, etc.

[2022-09-08 06:09] UberGuidoZ commented on #1575
@skotopes Actually... https://github.com/UberGuidoZ/Flipper-IRDB =)

[2022-09-08 06:16] Jay4730 opened #1721 "NFC Emulation not working anymore"
### Describe the bug.

It was working a few months ago. I'm not sure if it's a hardware issue due to my flipper falling hard enough to crack the screen; I didn't need to emulate for a few months after. The only thing I have to test it out on is with amiibo on my switch but I've tried with other systems/official controllers as well and nothings worked. I've tried different firmwares, amiibo file du

[2022-09-08 11:36] gelin commented on #1171
I have another view of this issue, from the `.ir` files perspective :)

Currently the `tv.ir` file from `/infrared/assets` has multiple definitions of the same button.
For example:
[code]

However, when I try to do the same for my recorded IR signals, for example:
[code]
The Flipper's UI displays two buttons with the same name "Cool 25".

My intent is to craft an "universal" AC control. So, I reco

[2022-09-08 11:49] gornekich commented on #1721
Hello @Jay4730
Could you please emulate attached file and read it with you mobile.
[test.nfc.zip](https://github.com/flipperdevices/flipperzero-firmware/files/9526486/test.nfc.zip)

[2022-09-08 12:44] ppseprus commented on #1505
Thanks for the follow up @skotopes !

[2022-09-08 17:40] Jay4730 commented on #1721
I saved it but my phone doesn't read it, nothing happens

[2022-09-08 18:42] Skorpionm commented on #1720
your system is not Dorhan, but something like BFT. Flipper does not save or transmit dynamic protocols, Dorhan exception

[2022-09-08 18:52] BrunoTCouto commented on #1720
So flipper will never be able to pair with gates that are dynamic protocols?

I wasn't thinking of cloning my controller, but using the flipper instead of my current controller

Should I close this issue ?

[2022-09-08 19:02] Skorpionm commented on #1540
![image](https://user-images.githubusercontent.com/85568270/189204374-0c2897fd-99df-4b02-be1d-5345c46cc599.png)

the same version, the same file, and I checked the normal behavior 40 times (sending) not 1 hang. show mi log in debug mode

[2022-09-08 22:00] kowalski7cc commented on #1172
Stepping in, I made a quick figma how the feature could work: https://www.figma.com/file/qwhvP7uKV1kKmy08PzGjM7/clock_app?node-id=0%3A1

[2022-09-09 08:09] zviratko commented on #1718
This is somewhat similiar to my open issue
https://github.com/flipperdevices/flipperzero-firmware/issues/1646

It sounds like the answers in the issue are one way of looking at it and arguably correct (or more correct than my proposed solution). Maybe only the docs are lacking so we don't know how to properly use it? Of course having a UI setting for that would be very nice, otherwise it's always

[2022-09-09 09:42] Skorpionm commented on #1470
https://github.com/flipperdevices/flipperzero-firmware/pull/1724
check

[2022-09-09 09:42] Skorpionm commented on #1608
https://github.com/flipperdevices/flipperzero-firmware/pull/1724
check

[2022-09-09 10:17] LoZio commented on #1540
I turned on debugging, set debug level to debug, connected via serial to the flipper. I got the flipper cli.
How do I get the debug you need. Starting the loop-transmission does not log anything in console

[2022-09-09 10:23] LoZio commented on #1540
Found out how to log: here it is:
[code]

[2022-09-09 10:24] LoZio commented on #1540
And this one if from another file that is working:
[code]

[2022-09-09 10:26] LoZio commented on #1540
![Screenshot-20220909-122609](https://user-images.githubusercontent.com/869890/189329702-a28e6f79-009d-4352-898d-41c4b813a6ba.png)
While trying to send the first file this is the display of the Flipper
Wave is moving but never completes, even after the log says Worker stop

[2022-09-09 20:03] coded-with-claws commented on #1544
Just FYI, I no longer have the problem on 0.66 with my raspi Kodi. I can navigate between IR remote and BT keynote plugin without any problem.
I wonder if anything was done about that in 0.66 ?

[2022-09-09 22:15] shelld0n opened #1726 "PRNG error making Emulated NFC tags unreadable"
### Describe the bug.

while trying to debug a failing NFC emulation i came accross a small behavior i would like to share, maybe it can help making the NFC emulation a little bit better.

I have an NXP MIFARE Classic 1k tag, i read it with the flipper and it succeed with all keys found and all sectors read. now when i emulate it on the reader it does not work.

so i decided to use a proxmark3 to

[2022-09-09 23:41] Astrrra commented on #1726
Hi, thanks for your feedback! Can you please provide the trace files of both reading attemps? They can be saved by running `trace save -f <filename>` right after the search command.

[2022-09-10 09:21] jkctech opened #1727 "Flipper reports firmware update after empty battery"
### Describe the bug.

When plugged into my PC after an empty battery, Flipper turns on and displays the message "Firmware pdate success"
![IMG_20220910_111750](https://user-images.githubusercontent.com/2072890/189477197-44fe2a89-8b21-4d02-b12c-c7a1954c6c0d.jpg)

### Reproduction

1. Drain battery :)
2. Plug in flipper (Don't know if PC or charger makes difference)
3. Watch the update message as F

[2022-09-10 23:30] shelld0n commented on #1726
Sure, here is the Two trace files where :

nfctag-1 is the trace of the NFC tag
flipper-1 is the trace of the flipper emulation

note sure if it can help, thank you for the effort :)

[trace_files.zip](https://github.com/flipperdevices/flipperzero-firmware/files/9541538/trace_files.zip)

FYI, for this one i think i used another MIFARE CLASSIC 1k, so the UID is different from the one in bug descrip

[2022-09-11 14:33] Masqueey opened #1730 "Mifare DESfire saves being but inaccessible due to "Can not parse file""
### Describe the bug.

When trying to read previously saved Mifare DESfire cards, I get a "Can not parse file" error. However, when I try to access the saved data through the mobile app, it works fine and can even get the Flipper to emulate it. The flipper is also able to emulate the card when it has just been read and not yet saved.

### Reproduction

1. Go to NFC -> Read
2. Read a Mifare DESfire

[2022-09-12 08:19] Builderhummel commented on #1688
@skotopes Thanks. The Frequency tag is wrong tho, since Legic Prime uses 13,56 MHz.

[2022-09-12 08:28] Skorpionm commented on #1540
550047 [E][SubGhzFileEncoderWorker] Slow flash read

Says that he does not have time to read from the SD card. Try another SD card, even though it's stan. Do you have EXACTLY official firmware and not custom?

[2022-09-12 08:29] LoZio commented on #1540
Never used unofficial firmware

[2022-09-13 16:15] cusspvz opened #1732 "Allow signal replay directly from the SubGhz Read screen"
### Description of the feature you're suggesting.

Adding the ability to read Raw signals directly from the Read screen was a great idea. Although, testing if the signal was correctly decoded by Flipper you got to first save it, then loose all the other signals that you might have captured and then “send”/replay the signal.

I wonder how easy would it be to add up the send action to the signal inf

[2022-09-13 21:45] Crsarmv7l commented on #1721
My flipper also doesnt emulate nfc. I have never dropped it so I doubt that is the issue

[2022-09-14 04:50] Skorpionm commented on #1732
all received signals in Read , for which transmission is allowed, can be transmitted immediately without being stored, and the rest of the history is not lost.  Or am I misunderstanding what you want

[2022-09-14 05:03] SergSm opened #1734 "pyserial must be installed on Mac OS to execute ./fbt flash_usb"
### Describe the bug.

On Mac OS can't upload the firmware to Flipper using ```./fbt flash_usb``` due to inability to determine a serial port.

You will get an error after running  ```./fbt flash_usb``` :
[code]

*Solution*:
Run in shell:
[code]

You need to add ```pyserial``` to the project requirements

### Reproduction

Run
  ```./fbt flash_usb```
in the root folder of the repo.

Make sure the

[2022-09-14 06:10] SergSm commented on #1734
Actually, it was my fault.

I needed to run ```source scripts/toolchain/fbtenv.sh``` **BEFORE** flashing usb to enter the shell with all required toolchain.

and only then run ```./fbt flash_usb```

And once again - make sure that the device is not in DFU mode

[2022-09-14 06:10] #1734 closed, assigned to nobody

[2022-09-14 18:23] Montecri commented on #1500
Got the same issue with a different brand of reader. In my case, I even tried proxmark3 cloning to a blank key (besides flipper emulation) and the reader didn't detect. Read somewhere that some readers will try to detect if the key is writable and deny access.

[2022-09-15 07:49] eriequiet opened #1737 "Dummy Reader mode, to power passive 13.56mhz devices"
### Description of the feature you're suggesting.

a lot of biohackers have 13.56mhz implants that possess a led,
the flipper does a great job at pushing enough field to power these, but it immediately reads the tag and stops the field
frustrating if you are trying to show off the LED underneath your skin
a mode to simply power the field, and not react to any tags would be super useful

### Anythi

[2022-09-15 08:27] korfuri commented on #1479
I confirm that with release 0.66.1 I can't open the file to replay it. Thanks!

[2022-09-15 14:13] #1552 closed, assigned to nminaylov

[2022-09-16 10:06] pstray opened #1741 "Frequency Analyzer Log"
### Description of the feature you're suggesting.

It would be really useful if the Frequency Analyzer of the Sub-GHz app could have a log of the frequencies it saw.

Just showing the frequency while the signal is strong enough often causes it to show it for less than a second. It would be nice to have a list of the frequencies found, and maybe show that last one on the front screen.

### Anything

[2022-09-17 09:54] D0han commented on #1158
Awesome work!
Can you also add easy to trigger one-off option to charge Flipper fully?
The use case would be pretty much same as yours, but also to easily prepare for a field trip with more battery time.

[2022-09-17 12:36] 0nnyx opened #1743 "Implement default meaningful filename when saving captures"
### Description of the feature you're suggesting.

Problem: The current default filenames have few (maybe 5 maximum) "funny" names which don't mean anything relevant. The flipper clickable buttons are very impractical to change these filenames.

Proposed solution: Remove the default funny names and implement a meaningful standard timestamp YYYYMMDD-HHMMSS +  capture type + frequency. Possible exam

[2022-09-17 18:18] 0nnyx commented on #1732
OP is right. If you select Read, then Config and enable Detect Raw, the Raw captures can only be saved and not directly replayed unlike non-raw captures.

[2022-09-17 19:06] Skorpionm commented on #1732
only official firmware is discussed here

[2022-09-18 23:10] csBlueChip opened #1747 "FAP : Unsatisfied imports"
### Describe the bug.

When I run my (previously working plugin) as a FAP, I get :
[code]
The `calloc()` is easy to workaround: {`malloc`, `memset`}

...But the lack of an export for `LL_TIM_DeInit()` is not so obvious:
https://github.com/csBlueChip/FlipperZero_plugin_PWM/blob/main/bc_pwm.c#L40

This GPIO Pin configuration-strategy was lifted directly from `targets/f7/furi_hal/furi_hal_speaker.c`

[2022-09-19 14:46] shelld0n commented on #1530
@gornekich , do you know if this PR is still going ?

[2022-09-19 14:49] gornekich commented on #1530
We are working on it in our team.

[2022-09-19 14:49] gornekich commented on #1530
In a different branch

[2022-09-19 20:24] digitalcircuit commented on #1158
@D0han I think a one-off option to fully charge the Flipper while keeping charge limiting enabled is a good idea.

However, to help keep this task manageable, I don't think I'll be implementing that in my initial pull request.

When I've implemented the current design, it will be possible to manually set the charge limit to 4.2v to fully charge, then when you head off on the trip, set the limit ba

[2022-09-19 23:56] csBlueChip opened #1752 "FAP : Bad canvas size"
### Describe the bug.

When a FAP is loaded with `./fbt launch_app APPSRC=...` the canvas size is sometimes (but not always) set to {23x13}

### Reproduction

1. Compile [this app](https://github.com/csBlueChip/FlipperZero_plugin_howto) with './fbt launch_app APPSRC=applications/bc_demo`
2. See this screen
![image](https://user-images.githubusercontent.com/2703385/191138260-8ab3cf7b-db60-4156-85cd

[2022-09-20 00:05] csBlueChip opened #1753 "FAP : Remote exit"
### Description of the feature you're suggesting.

Issue:
If you are (a) in the Applications menu or (b) running a FAP - when you execute `./fbt launch_app APPSRC=applications/$1` the upload fails with the error `[ERROR] Unexpected response: Can't start, furi application is running`

Possible solutions:
* The upload function instructs the FZ (¿fap_loader?) to terminate the Application [Menu]
* The

[2022-09-20 00:10] csBlueChip opened #1754 "Applications Menu Back Key function"
### Description of the feature you're suggesting.

When browsing sub-folders within the Applications Menu...

Current action:
* Any press of the [back] key exits to the Main Menu

Proposed action:
* A short press of the [back] key performs `cd ..`
* A long press of the [back] key exits to the Main Menu

### Anything else?

_No response_

[2022-09-20 09:38] cusspvz commented on #1732
Just figured out that the Read Raw feature is not part of the official firmware. My bad, closing the issue. Thanks @Skorpionm

[2022-09-20 09:38] #1732 closed, assigned to nobody

[2022-09-20 12:13] dorianboulch commented on #1632
Same thing happen to me

[2022-09-20 12:27] michelinok opened #1756 "FAP: Example for FAP applications"
### Description of the feature you're suggesting.

It would be great if we could have a complete example of a FAP **external** application.

### Anything else?

_No response_

[2022-09-20 14:20] AmiiiiKo opened #1757 "Expand Pyramid support please"
### Description of the feature you're suggesting.

36 bit Pyramid is not supported, I am requesting the support be added.

Pyramid - len: 36 -unknown- Card: 62651, Raw: 0001010101010101010440011fa4ec3e

I have also attached a dump from the T5577 it is emulated on. I can provide 3 more if needs be.
Unfortunately I do not know what the facility ID is and I have not been able to decide that particula

[2022-09-20 15:17] qubist opened #1758 "UI LED flashes should match with IR LED flashes during Universal Remote emulation"
### Describe the enhancement you're suggesting.

Firmware: `0.66.1`

Just tried Universal Remote mode. Awesome. Made one as a kid with Arduino, excited to have the buff superhero older brother version of that in my pocket now.

I used my phone camera to see the infrared LEDs flashing. Noticed the UI LED next to the keypad flashes rapidly while the codes are being tried.

Thought it would be a bett

[2022-09-20 15:34] qubist opened #1759 "Faster scrolling in NFC info view"
### Describe the enhancement you're suggesting.

Firmware: `0.66.1`

I've scanned and saved an NFC card. I select it from the list of saved cards, select `Info` and then press `>` to see more. I'm presented with the raw bytes which is great. But it has hundreds of pages. I have to click `v` each time to progress through the pages.

I'd like to be able to hold `v` to flip faster through the pages.

[2022-09-20 16:46] AmiiiiKo commented on #1757
Unfortunately lf search doesn't give enough information.

[usb] pm3 --> lf sea

[=] NOTE: some demods output possible binary
[=] if it finds something that looks like a tag
[=] False Positives ARE possible
[=]
[=] Checking for known tags...
[=]
[+] Pyramid - len: 36 -unknown- Card: 62651, Raw: 0001010101010101010440011fa4ec3e

[+] Valid Pyramid ID found!

[+] Chipset detection: T55xx
[?] Hint: try

[2022-09-20 17:21] vmeurisse commented on #1756
@michelinok
Here are some:  https://github.com/vmeurisse/flipperzero-plugins ;)

[2022-09-20 19:16] michelinok commented on #1756
WOW! Many thanks! I hope to find something very easy to use the gpio pins....let's see!

[2022-09-20 22:07] djsime1 commented on #1759
I considered opening a PR to address this awhile ago, but never got around to it then. How does this sound: Holding up/down scrolls single lines repeatedly, while left/right scroll a full screen. It's not that hard to implement either.

[2022-09-20 22:10] djsime1 commented on #1754
Pressing LEFT goes up a level, while back exits the scene. It took me a while to understand it as well. However, this could be an easy change if the Flipper team agrees.

[2022-09-20 22:11] djsime1 commented on #1743
I could see this being added as a setting possibly...

[2022-09-20 22:15] djsime1 commented on #1737
I believe this is already possible, first enable debug menus by changing `Settings > System > Debug` to ON, then open the new "Debug" menu in the NFC app and select Field. The warning text is mostly there because it drains the battery quicker, leaving the field on won't damage the device.

[2022-09-20 22:18] djsime1 commented on #1730
I don't have any DESFire cards to test this on, however I believe Flipper only stores basic info about the card (like UID). It's impossible to fully save the contents of a DESFire card.

[2022-09-20 23:14] Ads-Decadence commented on #1713
Good day peeps,   I have an issue I live in Jersey Channel Islands United Kingdom, flipper hardware provisioned marks me as JE (this is correct) but only gives me radio frequencies available to R03, not the UK.
I belive any users in Gurnsey (or the other Channel Islands) will have the same issue

[2022-09-20 23:24] Ads-Decadence opened #1760 "Channel Island Regions should be UK frequencies for Sub-GHz"
### Describe the bug.

Good day peeps, I have an issue I live in Jersey Channel Islands United Kingdom, flipper hardware provisioned marks me as JE (this is correct) but only gives me radio frequencies available to R03, not the UK.
I believe any users in Gurnsey (or the other Channel Islands) will have the same issue

Yours Ads

### Reproduction

updating via a Channel island VPN?

### Target

Sub

[2022-09-21 00:02] anna-oake commented on #1760
Hi,

Please ignore R01/R02/R03 in the device info. This is legacy and doesn’t mean anything. If it says JE, you have frequencies unlocked that are allowed for JE.

Or are you saying these actual frequencies don’t match with the local law?

[2022-09-21 00:05] anna-oake commented on #1760
Oh, I just checked that we don’t have specific config for JE, so it falls back to the default region.

Do you have any legal proof other frequencies should be unlocked too, so we could reconsider the config?

[2022-09-21 02:42] qubist commented on #1759
@djsime1 Sounds great! Where should I look to start implementing this?

[2022-09-21 05:00] skotopes commented on #1760
@aprosvetova they are some kind of Europe, I think it will be safe to assume that they got same regulations as EU. Fallback to JP is kinda strange.

[2022-09-21 08:47] Masqueey commented on #1730
I have done some research myself and came to the same conclusion; part of the information is stored on an inaccessible part of the chip. (Inaccessible from the outside that is.) This issue can be closed.

[2022-09-21 08:47] #1730 closed, assigned to gornekich

[2022-09-21 10:04] Ads-Decadence commented on #1760
We are in the same jurisdiction as the united kingdom when it comes to radio systems
i will try to find the relevant regulations but as our legal system is all written in french this may take me some time

[2022-09-21 10:30] Ads-Decadence commented on #1760
https://www.ofcom.org.uk/ Ofcom is the Regulatory body of the United Kingdom and the Channel Islands

Jersey Legal Information Board provides copies of local law and cites Ofcom https://www.jerseylaw.je/

[2022-09-21 10:37] djsime1 commented on #1759
Text box GUI module.

[2022-09-21 12:20] skotopes commented on #1747
Do you experience this issue in latest RC?

[2022-09-21 12:27] hedger commented on #1747
calloc() is redundant, since our malloc() implementation goes beyond specs and fills allocated block with zeroes.
As for LL_* APIs, we'll expose them in the upcoming RC.

[2022-09-21 12:27] skotopes commented on #1758
It is impossible. Infrared TX path directly wired specialized MCU block.

[2022-09-21 12:27] #1758 closed, assigned to gsurkov

[2022-09-21 12:32] hedger commented on #1753
Unfortunately, there's no reliable way to terminate an arbitrary RTOS thread without leaking that thread's allocated resources.
And currently there's no convention on sending termination request to an application - all of them implement that in different ways.

But, we have ways to send button inputs over RPC, so you can try emulating several "back" button presses and hope your application handles

[2022-09-21 12:40] DrZlo13 commented on #1752
You cannot use canvas getter like this. Also, private variables are private for a reasons.

[code]

[code]

There is no means of getting the canvas from another thread, because the canvas will be changed when the GUI thread doing redraw, and getting the canvas doesn't make sense, it would be invalid. Also, you cannot be sure which of the canvases is being processed at the time the canvas is get.

[2022-09-21 12:40] #1752 closed, assigned to hedger

[2022-09-21 12:42] #1753 closed, assigned to hedger

[2022-09-21 13:09] skotopes commented on #1760
I've added JE region data same as EU/GB. Please update your flipper.

[2022-09-21 13:09] #1760 closed, assigned to skotopes

[2022-09-21 13:12] Ads-Decadence commented on #1760
you star!
you may want to ad Gurnsey in as well ii think they are GE or GY

[2022-09-21 13:17] skotopes commented on #1760
We'll revise this table later with certification laboratory and add all existing countries.

[2022-09-21 13:21] Tylermarques opened #1763 "Infrared: RAW format limit appears to be very low"
### Describe the bug.

When attempting to send an IR signal using the RAW format, there appears to be a limit on the length of the timing allowed, and it appears to be quite low. The below IR raw signal does not show on the flipper when uploaded to the Flipper.

[code]

I did some looking into the firmware and I believe the amount of timings allowed is dictated by this line in [infrared_signal.c](

[2022-09-21 13:25] Tylermarques commented on #1763
@gsurkov I'm unclear on the limits of `MAX_TIMINGS_AMOUNT` and whether or not increasing that value is the correct way to go about this. If you have a better solution, I'm all ears.

[2022-09-21 13:41] gsurkov commented on #1763
Could you please specify which firmware version are you using?
The file you have provided has only 140 timings, which is nowhere near the limit.
I have tested it with current release and development branches, and it can be loaded and transmitted without problems.

The rationale behind this limit stems from the fact that whenever a remote is loaded, its signals get also loaded into the memory all a

[2022-09-21 13:43] Tylermarques commented on #1763
I'm using dev, compiled on my machine using the `./fbt` command. I've attached the entire file to this message, possible my headers are incorrect?

Thank you for the rational, I did not realize that.

[code]

[2022-09-21 14:00] gsurkov commented on #1763
This file works fine as well and I can't spot any errors visually, too.

Just so that we are on the same page, please do a `git pull` (while making sure the dev branch is the current one) and run a `./fbt firmware_flash`.

Then, I would like more details on:
- The way you transfer said file onto Flipper. Which directory do you put it in?
- How are you loading the remote? (Directly in Infrared app,

[2022-09-21 14:14] Tylermarques commented on #1763
Okay below are the steps I have taken, in order.
1. `sudo rm -r flipperzero-firmware`
2. `git clone --rescursive git@github.com:flipperdevices/flipperzero-firmware.git`
3. `cd flipperzero-firmware`
4. `git checkout dev`
5. `./fbt`
6. Connect the Flipper
7. `./fbt firmware_flash`

The above firmware flash fails for me. I'm presented with the error `Error: open failed` see below for full error,

[co

[2022-09-21 14:26] Tylermarques commented on #1763
Update: I was able to upload to my Flipper using the `./fbt flash_usb` option

[2022-09-21 14:28] gsurkov commented on #1763
`firmware_flash` works only when you have the st-link connected. My bad for assuming you had it (since you mentioned building the firmware yourself).
In that case, the easier way of getting development firmware is by selecting "Development" as the firmware update channel in qFlipper. You may use that to make absolutely sure that the correct firmware is installed. `flash_usb`  you have mentioned is

[2022-09-21 14:40] Tylermarques commented on #1763
Sorry didn't mean to omit the last two questions.

- I can read the file back successfully, using qFlipper to save it to a separate location under a different name. The file remains the same as above. If I remove a large section of the `data` part of `Ty_condo` button, both buttons display.
- I'm using `git clone git@github.com:flipperdevices/flipperzero-firmware.git` so I'm fairly certain it is t

[2022-09-21 14:41] Tylermarques commented on #1763
I have found the issue. There was a space at the end of multiple lines, which the flipper does not apparently care for. Removing all of them made the buttons appear

[2022-09-21 14:42] Tylermarques commented on #1763
Thank you @gsurkov for helping me troubleshoot. I didn't realize that the whitespace would cause such an issue. I'm not sure whether this is a bug or not, but it is good to know that the whitespace character cannot be present there.

[2022-09-21 14:52] gsurkov commented on #1763
I was able to reproduce it by adding the trailing space on line 8. It was probably automatically trimmed by the editor, since I copy-pasted it. Live and learn.

The situation looks rather buggy to me, since trailing space shouldn't really matter here. It is noted and the fix will soon be available.

For now, closing this issue since it's not really related to the maximum timing count limit.

[2022-09-21 14:52] #1763 closed, assigned to gsurkov

[2022-09-21 14:53] Tylermarques commented on #1763
That works for me. Sorry for the round-about debugging but I do appreciate the help you were able to provide. Thanks for all your efforts on this project :)

[2022-09-21 14:54] gsurkov commented on #1763
You're welcome ;)

[2022-09-21 18:27] hedger commented on #1747
Please check out 0.67-RC1, we've added more LL APIs to symbol table.

[2022-09-21 18:27] #1747 closed, assigned to hedger

[2022-09-21 19:03] hedger commented on #1565
Also #1755.

[2022-09-21 19:08] hedger commented on #1172
Now this can be implemented with freslhy released FAP package support outside our code base.

[2022-09-21 19:08] #1172 closed, assigned to skotopes

[2022-09-21 22:10] Foul opened #1765 "Music player : back to list of songs"
### Describe the enhancement you're suggesting.

suggestion: is it possible in the music player to return to the list of music rather than the list of apps when you click on back ?  it would be more logical and simpler 👐

### Anything else?

_No response_

[2022-09-22 12:03] gloglas opened #1768 "NFC 14a emulation bug"
### Describe the bug.

NFC works as should but after scanning 14a card and emulating UID, emulating no longer works.
If you exit back to NFC menu or home screen and try to emulate one of your saved cards, it doesn't work.
If you try to read a card, it will read as it should.
The NFC emulation just stops working until flipper restarts.

### Reproduction

Try NFC funcionality, emulate something.
Eve

[2022-09-23 07:42] dimchansky opened #1771 "Weak re-played signal level on the first transmission"
### The issue description

I recently tested how Flipper transmits recorded signals. To do this, I took the generated signal cleared of noise ([433.92MHz_AM650_Better_Tesla_Charge_Port_Opener.sub](https://github.com/UberGuidoZ/Flipper/blob/9a43614aabcabb8c2e73c06f2f1b654f72378768/Sub-GHz/Vehicles/Tesla/BEST_PORT_OPENER/433.92MHz_AM650_Better_Tesla_Charge_Port_Opener.sub)), which opens the Tesla ch

[2022-09-23 09:33] Skorpionm commented on #1771
https://youtu.be/k748otZSlEQ
my behavior does not repeat, the signal is always strong and clear, that 1 repetition is 10. the most important thing cannot be "frequency drifting" HackRF does it work fine for you?  Is it possible to check with some other remote control?

[2022-09-23 09:43] dimchansky commented on #1771
@Skorpionm I have an RTL-SDR (RTL2832U) dongle somewhere, I'll try to measure the signal level on both devices at the same time in the evening: on HackRF and on RTL-SDR.

[2022-09-23 18:17] csBlueChip commented on #1747
https://linux.die.net/man/3/malloc
"The memory is not initialized" [in italics]

It's very unlikely to become relevant for Flipper code, but do be aware that changing the way memory is initialised (or not) can have critical [security] ramifications, doing in "standard" libraries [ie. stdlib] might make arising issues very hard to spot.
https://www.schneier.com/blog/archives/2008/05/random_number_b

[2022-09-23 18:19] csBlueChip commented on #1747
I found the csv, and added in the exports that I needed.  I will revert the file before I do my next pull.

Thanks.

[2022-09-23 18:58] Skorpionm commented on #1743
https://github.com/flipperdevices/flipperzero-firmware/pull/1772
check

[2022-09-23 19:07] 0nnyx commented on #1743
That PR is a good first step. However, I was rather thinking about doing this sytemwide for all capture types, meaning RFID, NFC, SubGhz and potentially for fap allowing file saving.

[2022-09-23 22:46] Greendogo opened #1775 "Fan/Light Universal Remote"
### Description of the feature you're suggesting.

Similar to the TV Universal Remote layout, and the new [FL-2792] AC Universal Remote feature, it would be handy to have a Universal Remote layout for ceiling fans which usually have light controls, several levels for fan speed (I have two, one has 3 speeds, the other has 4) and an fan speed Off button.  Some may also support more advanced features

[2022-09-23 22:48] Greendogo commented on #1775
Many ceiling fan remotes use radio instead of IR to communicate.

[2022-09-24 09:47] dimchansky commented on #1771
@Skorpionm Her's another setup. The signal is simultaneously received on RTL-SDR (RTL2832U) dongle and on HackRF. As requested by your colleagues on discord, I enabled SPEC mode on HackRF. Single presses of the Send button result in a very weak distorted signal at about 435.3 MHz. And as you can see in the video, sometimes a single click on Send works correctly: a strong signal is visible at a fre

[2022-09-24 10:05] dimchansky commented on #1771
[Flipper static test at 433.92 MHz](https://www.youtube.com/watch?v=p_tWS8bHBCI)

[2022-09-24 10:27] dimchansky commented on #1771
[Flipper carrier test at 433.919.830 Hz, path 1 - 433 MHz](https://www.youtube.com/watch?v=B1az2MdGrX0)

[2022-09-25 01:05] theblackhole commented on #1468
Any news on this issue ?
With 0.67.2, I still can't get saved Mifare Classic 1k tags to work with Vigik readers (and some parts are missing when I read my emulated badge with Mifare Classic Tool)

[2022-09-25 09:37] kowalski7cc opened #1779 "Debug option to keep flipper unlocked when connected to USB"
### Description of the feature you're suggesting.

Similar to Android Debug "Keep screen on" when in charge, so it allows for faster sideload, test and debug when the auto-lock feature is on.
Optionally, it can happen when a serial connection is open.

### Anything else?

_No response_

[2022-09-25 10:06] Coroxx commented on #1468
@theblackhole yes. When you put your badge on the VIGIK READER, the reader check if your badge is correct, it increments a value, and after he check if the value was incremented.

So when you put your flipper on the vigik reader, it fails on the second step because you cannot write on the flipper during emulation.

This double security is only made by VIGIK.. The most of the other brands check onl

[2022-09-25 10:16] simkard69 commented on #1468
I have some dumps of universal VIGIK badges from LaPoste.
They have to be re-writed every 3 to 4 days in order to continue working.

I'm pretty sure the reader cannot use that much encryption/cyphers in order to do what it needs.
Should I try to dump a badge, use the VIGIK reader, then dump it again (... and so on), in order to find where is the increment number located on the memory ?

[2022-09-25 12:27] goutchye commented on #1468
@Coroxx you are right but the value is incremented only if the badge is a "service provider" badge (postmail, electricity, gaz, etc.). In this case, the provider must encode a badge which will only be valid during 3.5 days as @simkard69 has mentioned, and the counter is probably useful to limit the use of the badge.

In the other case, if it is a "home" badge for people who live in the building, o

[2022-09-25 13:44] DHowett commented on #1391
Since 0.67 came out with Picopass included with the application bundle, I consider this fixed. Thanks!

[2022-09-25 13:45] #1391 closed, assigned to skotopes

[2022-09-25 14:13] Coroxx commented on #1468
So is it a software or a hardware issue ?

[2022-09-25 14:17] UndedInside opened #1780 "RFID data resets on edit"
### Describe the bug.

On version 0.67.2, when editing RFID tags they seem to remember what they were created with, and when you edit the tag it resets to what it was created with. I haven't seen anyone else with this issue so feel free to close this off if it's just me.

### Reproduction

1. Add RFID chip (Either scan or create manually)
2. Give it a value
3. Check info and this will be correct
4

[2022-09-25 17:49] dcoles opened #1783 "Support for writing applications in Rust 🦀"
As an application developer, I want to be able to write applications for the Flipper Zero in [Rust](https://www.rust-lang.org/).

Initially it's going to be easiest to support [`[#no-std]`](https://docs.rust-embedded.org/book/intro/no-std.html) applications, but the long-term goal would be to also support the [Rust standard library](https://doc.rust-lang.org/std/).

### Roadmap
- [x] Allow linking

[2022-09-25 17:59] skotopes commented on #1783
At this point we don't plan to support rust.

But we are going to accept PRs with some conditions:
- Rust runtime and standard library is not a part of firmware, it must be in elf itself
- General improvements to elf loader is ok, as long as they don't blowup internal flash usage

[2022-09-25 19:26] theblackhole commented on #1468
Interesting... In my case, it is also a resident badge, not a service card.

In Mifare Classic Tool, the first sector is always read correctly. For other sectors, missing data occurs randomly (my last test result was a missing key on sector 14, and on the previous test result it was sector 10)
So if only the first sector is used it should work in theory, unless Vigik readers are more finicky than

[2022-09-26 00:34] dcoles commented on #1783
@skotopes Hi! Thanks for the information. I wanted to make sure there was an feature request, since I'm sure there will be others interested.

Rust tends to statically link the runtime/standard library, so there's no need to add support into the firmware. Which is fine if this is just for external applications on the SD card.

Since we don't want to officially support Rust, I'll create a new GitHu

[2022-09-26 02:35] dcoles commented on #1783
Created [dcoles/flipperzero-rs](https://github.com/dcoles/flipperzero-rs) and published initial [`flipperzero`](https://crates.io/crates/flipperzero) and [`flipperzero-sys`](https://crates.io/crates/flipperzero-sys) crates.

[2022-09-26 06:41] goutchye commented on #1468
@Coroxx I don’t know.
I hope it is « only » a software limitation.

@theblackhole yes in theory it « should » works. It also depends of the data writing on you badge. Is there data only in the first sector ?

For the logs questions, I don’t know.
I also think than adding too much logs could slow down a little bit the flipper zero no?
Yeah the proxmark is expensive but it is probably the best way t

[2022-09-26 12:33] Semptum opened #1787 "Sane keyboard input not working in GDB when using the fbt tool"
### Describe the bug.

When using `./fbt blackmagic`, a `gdb` interface appears. However, pressing backspace graphically adds a space to the prompt (as long as there is text to erase). Functionnally the text is erased but not graphically.
Similar behavior arises as soon as the text is changed in any way such as pressing the left arrow and typing something as illustrated below.

![blackmagic_backsp

[2022-09-26 12:38] hedger commented on #1787
@drunkbatya we might need your help with that one.

[2022-09-26 17:03] Semptum commented on #1787
OK, in case it helps, it appears to be basically an issue with ncurses. If I remove the ncurses library from the path that the scripts append, it works fine with the system ncurses.

[2022-09-26 18:25] venumthekiller8 opened #1789 "Verification bug"
### Describe the bug.

Does not unlock if you press return three times instead it locks it.

### Reproduction

![Screenshot-20220926-122404](https://user-images.githubusercontent.com/75748098/192352194-56444b86-f435-45df-8893-fbea1089fce4.png)
![aa](https://user-images.githubusercontent.com/75748098/192352382-b7e568cd-88cb-41bd-8396-462a6034047b.png)

### Target

_No response_

### Logs

_No respo

[2022-09-26 18:27] #1789 closed, assigned to nobody

[2022-09-27 01:30] ehn opened #1791 "Incorrect regional restrictions for Singapore"
### Describe the enhancement you're suggesting.

The current regional restrictions prohibit transmitting on the widely used 433 MHz band in Singapore, despite its being allowed according to IMDA's [Spectrum Management Handbook](https://www.imda.gov.sg/~/media/imda/files/regulation%20licensing%20and%20consultations/frameworks%20and%20policies/spectrum%20management%20and%20coordination/spectrummgmth

[2022-09-28 11:54] SherifNagy opened #1797 "PIN got reset with latest firmware update 0.67.2"
### Describe the bug.

Once updating to the latest firmware 0.67.2, the locking PIN got reset

### Reproduction

1. Unlock flipper
2. Update firmware using qFlipper to 0.67.2
3. Check dummy mode
4. Try to lock with PIN, it will ask you to re-setup the PIN

### Target

_No response_

### Logs

_No response_

### Anything else?

_No response_

[2022-09-28 13:56] dtuando opened #1798 "Need help with FBT error."
raise CalledProcessError(retcode, process.args,
subprocess.CalledProcessError: Command '['git', 'rev-parse', '--short', 'HEAD']' returned non-zero exit status 128.
scons: *** [build/f7-firmware-D/toolbox/version.inc.h] Error 1
********** ERRORS **********
Failed building build/f7-firmware-D/toolbox/version.inc.h: Error 1

using the ./fbt command this error gets thrown.
anyone know what this could

[2022-09-28 15:27] hedger commented on #1798
How did you get the source code? Did you download .zip archive or ran `git clone --recursive ...`?

[2022-09-28 17:20] uintdev opened #1800 "Remote Macros"
### Description of the feature you're suggesting.

The IR remote application is a great bit of functionally that makes it possible to control multiple devices from a single Flipper.
As useful as it is, situations when using the physical navigation keys to change the button selection and then performing button combinations manually can make it time consuming to use. For example, changing TV channel

[2022-09-28 17:44] skotopes commented on #1546
fixed in dev

[2022-09-28 17:44] #1546 closed, assigned to skotopes

[2022-09-28 21:49] theblackhole commented on #1468
No, not only the first sector. In a valid dump (of my badge with Mifare Classic Tool directly) there's data on the first 4 sectors. For sectors 5 through 15, it's filled with zeros except the last block of each sector where keys are stored. (In my case, it's the same key everywhere).
If I wasn't clear, I can post a "censored" version of my dump to clarify my point if you want.

While exploring the

[2022-09-29 13:12] skotopes commented on #1771
I'll close this issues since it was RMA case.

[2022-09-29 13:12] #1771 closed, assigned to Skorpionm

[2022-09-29 14:11] gornekich commented on #1768
Reproduced this bug, working on it. Thank you!

[2022-09-29 14:12] gornekich commented on #1721
Could you please update flipper firmware and run this test again? Sorry for late response

[2022-09-29 14:18] gornekich commented on #1726
Hello @shelld0n !
Could you please specify proxmark firmware version that you use

[2022-09-29 16:26] I3elphegor opened #1804 "Compact menu, that can be switch on/off in the settings."
### Description of the feature you're suggesting.

It would be great to have a compact main menu, because all icons are easy to remember and in a compact menu, you wouldn't just use the up and down buttons (much less stress on those two), but all 4 of them. Being able to turn this on and off in the settings would also be great.
<img width="265" alt="flipper-zero-file-manager v2" src="https://user-

[2022-09-29 21:07] ahumeniy commented on #1208
you can make scripts which works regardless of the keyboard mapping, but you have to convert all the strings to alt+ codes. A side effect of that being the script is no longer readable

[2022-09-30 00:35] twitchyliquid64 opened #1806 "FAP: Stable `api_version` across firmware releases"
### Describe the enhancement you're suggesting.

As a plugin author, it would be great if I could compile an app targeting a specific API version, and then it would run on all flipper firmwares supporting it.

Ive started figuring out how to compile plugins separately to the firmware source [here](https://github.com/twitchyliquid64/fz-rust), but it would be great if it didnt need to target a speci

[2022-09-30 00:42] DrZlo13 commented on #1806
Hello. This is how it works right now. Compiler embeds the major and minor versions of current API into elf, and major version will be checked at the loading stage of the elf loader.

Major and minor API versions do not refer to firmware versions.

[2022-09-30 00:43] DrZlo13 commented on #1806
But expect the API versions to increase frequently until we release version 1.0.

[2022-09-30 00:46] DrZlo13 commented on #1806
You can learn more about [API versioning here](https://github.com/flipperdevices/flipperzero-firmware/blob/dev/documentation/AppsOnSDCard.md#api-versioning).

[2022-09-30 06:19] #1806 closed, assigned to nobody

[2022-09-30 10:14] panki27 commented on #1688
Worth noting that the Proxmark sources use its built-in FPGA, so adapting the code is going to be challenging.

Here is a talk about how the Legic protocol was reversed: https://fahrplan.events.ccc.de/congress/2009/Fahrplan/events/3709.en.html
The linked slides have a lot of detail.

[2022-10-02 06:09] bussardrobbie opened #1814 "UI Enhancement: "Hold To Exit" on Bluetooth Remote > Keyboard"
### Describe the enhancement you're suggesting.

During the "Waiting For Connection" screen in the Keyboard section of the Bluetooth Remote app, there is no clear path to exit:
1. The Back button does not appear to work at first glance with a short press (as it does in many other screens)
2. There is no clear on-screen instruction on what else to do to exit the app/screen.

As a result of the two

[2022-10-03 02:32] griffonlee opened #1818 "The common 433Mhz in Taiwan(Region3) are banned."
### Describe the bug.

I got the issue when try to use 433Mhz in Taiwan(Region 3), can someone help to check?
My car's key is the 433Mhz, so I think this frqquency should not fall within the limits.

### Reproduction

1. Read/save the 433Mhz signal from Sub-Ghz page.
2. Send the saved signal.
3. Result: Transmission is blocked.

### Target

_No response_

### Logs

_No response_

### Anything else