[2020-08-07 10:34] yiiii777 opened #1 "Первые предложения"
1. Произвести инвентаризацию уже сделанного. Все нарисованные кадры с дельфином, все нарисованные интерфейсы, рамочки и тому подобное выложить в виде картинок. Весь код, даже если он еще не работает или уже не работает, задокументировать хотя бы в формате "говно1 - должно пукать и какать, требует 16кб памяти, 5 таймеров и менее чем на 100 мегагерцах не запустится".

2. Все фичи по возможности офор

[2020-08-07 11:12] yiiii777 opened #2 "Animated Character Framework"
Here I want to collect and discuss guidelines for creating a graphic base of the main character. It is the graphic part (animation), and not its character, the process of growth or internal states that affect the process of personality development.

 In the demos we have already shown a couple of states of the dolphin: "connecting" and "connected". I suggest making a list of basic requirements and

[2020-08-07 11:23] yiiii777 opened #3 "Demo devices connected to GPIO"
Let's think about what simple devices a user can assemble without great expense and connect to Flipper. Purpose: To show in the ad how cool it is to have a GPIO and that Flipper is not a toy.

Requirements:
1. The simplest assembly
2. Availability of components
3. Installation without complicated tools

Came up with:
1. Cycling computer (just a set of reed switches) - enter the diameter of the whe

[2020-08-07 11:52] yiiii777 opened #4 "Request: Pong Game for Two"
Classic Pong game played by 2 players

The game starts by scanning available devices / connections / transports, looking for an opponent. An invite for the game is sent to him. If he agrees, then there is a transfer to the game screen. If not, the dolphin says that it would be necessary to find someone else and the "back" button is available.

The playing field can be customizable, the rackets can

[2020-08-07 12:22] yiiii777 opened #5 "Network subsystem "FlipperNet""
Since we have a rich set of radio modules, and also IR transport on board, I have an idea to create a set of simple transports that would be integrated into Flipper's system.

For the user:
This is a simple and easy way to connect with any other Flipper or mobile phone and build your own mesh network. The user does not need to deal with each individual radio path, it is just enough to establish a

[2020-08-07 12:49] yiiii777 opened #6 "Request: integration with smart home systems"
With toys like https://www.blinkstick.com/

Purpose: to show Flipper's integration into any ecosystem. Or to show Flipper's transformation into a remote control for the whole house, if any HomeAssistant is deployed. And when Flipper knows how to hack TVs, but have no Idea at home - this definitely fail.

Since we are still having a hard time with network capabilities, it is supposed to communicate

[2020-08-07 12:57] yiiii777 opened #7 "Demo Applications to Demonstrate SDK Features"
Many Arduino packages come with examples. As a usual, these are all sorts of "Hello World" or the simplest demos, such as flying stars. Here I propose to collect a list of applications that would be at least slightly useful to the user, while using most of the SDK.

* Mobile phone backup. It will connect via bluetooth and pick up some files from the mobile phone. I don't know much about the blueto

[2020-08-07 14:37] glitchcore opened #8 "CubeMX regenerating broke some files"
We have some patch in automatically generated files. Need to fix it:

* remove patch to flipper-specified files
* change CubeMX project to match with code
* (extremal case) add script to automatically patch files after regenerating code
* maybe remove CubeMX from project and switch to another HAL :)

[2020-08-12 03:37] #1 closed, assigned to nobody

[2020-08-12 03:39] glitchcore opened #9 "general and roadmap"
General discussion about ideology, organization and roadmap

[2020-08-12 03:42] #9 closed, assigned to nobody

[2020-08-14 19:12] glitchcore opened #10 "Move Basic features wiki page"
I want to move page "Basic features" to [UI page](https://github.com/Flipper-Zero/flipperzero-firmware-community/wiki/UI) — it already have section about pin-code.

[2020-08-14 19:38] glitchcore opened #11 "Choose a communication tool"
We need some instant messaging (or char) for quick communication and discussions. I can offer some tools for this.

**Please vote using the specific emoji in reaction in this post.**

# [Telegram](https://telegram.org/) 🚀

`+` Very popular in Russia
`+` Lightweight chat tool
`+` attachments, message formatting
`-` No group voice calls

# [Discord](https://discord.com) 🎉

`+` Audio chat
`+` Simple

[2020-08-14 19:48] glitchcore opened #12 "Add linting/codestyle control"
Nobody want to work with dirty code and I suggest:

* Automatic formatting code tool that allow check C/C++ and Rust code style or make formatting by one command
* CI pipeline to prevent merge of pull requests if the style check was not successful

Also need to add information about code style checking to contribution guide.

I hear about [clang format](https://clang.llvm.org/docs/ClangFormat.html

[2020-08-14 20:06] glitchcore opened #13 "Mark all wiki pages/sections"
- [ ] Need to add a lot of marks in accordance with [conribution guide](https://github.com/Flipper-Zero/flipperzero-firmware-community/wiki/Contributing#status-of-wiki-sections)
- [ ] Assign maintainers, code folder and link to issues to wiki sections

[2020-08-14 20:17] glitchcore opened #14 "FURI implementation"
Add simple FURI implementation for show proof-of-concept firmware
- [x] FURI Application control: create/kill task
- [x] FURI Application control: switch between task and back to task. Needs registry, in progress.
- [x] FURI Records implementation

[2020-08-14 20:20] glitchcore opened #15 "Basic application"
Add some examples/basic application from old firmware. Adapt it to using current API.

- [x] FURI application control example: creating/killing task/switching between tasks.
- [x] FURI functionality test/example: create dummy "display" and make concurrent access to it, with mute/unmute.
- [ ] OS test/example
- [ ] Simple HAL examples
- [x] button debounce
- [ ] led control
- [ ] battery level meas

[2020-08-15 07:31] glitchcore opened #16 "Wiki automation"
* If you want to update wiki, you need to call dummy `./wiki-deploy.sh`. I want to make github pipeline to automate this.
* ~~Also I suggest doing automatical widget to show code owner, related code folder, opened issues and "create issue" button in every wiki section.~~ moved to #66

[2020-08-17 02:06] glitchcore opened #17 "Choose an OS/HAL"
At this stage of the project I want to discuss what technology stack (OS/HAL/etc.) we will use for Flipper. Now, changing key components is not so painful, but it can bring benefits in the future.

## Current solution: STM CubeMX for generating target code, STM HAL/LL for interact with hardware and FreeRTOS.

`+` simply get all necessary files for build
`+` complex functions like clock, GPIO funct

[2020-08-17 04:33] glitchcore opened #18 "Integration with IDE"
Now we're using docker for build. It have some pros:

* user doesn't need to setup environment: install compilers, libraries, etc.
* container can be used for CI

I use sublime editor for programming, but I understand that many people used to use IDE like CLion/Eclipse/etc. How do we make integration?

[2020-08-17 08:52] glitchcore opened #19 "How to become a maintainer"
Add guideline to Conribution guide how to become a maintainer of some app/component.

[2020-08-17 18:09] #19 closed, assigned to nobody

[2020-08-17 20:57] enurseitov opened #22 "Emulator for app developers"
Back in time, there was [pebble watch](https://github.com/pebble). They had amazing toolset for developers who wanted to create apps or watchfaces for the pebble watch (besides traditional offline SDK):

* IDE running in browser, exposing you their SDK, with examples and docs
* live emulator, right in the browser!
* you could also debug your apps live on the watch: your code was compiled (probably

[2020-08-17 22:24] zhovner opened #23 "Fix project structure in README"
Please fill the right folders structure in README.

[2020-08-18 17:33] glitchcore opened #26 "Remote debug/test bench"
We discuss integration tests and automated remote test bench here.

We have flipper board and control board (for example, Raspberry PI). How Rpi can interact with Flipper to perform tests? Also remote debugging tool will be heplful.

@lomalkin promise to write down his vision by end of this week.

[2020-08-18 20:23] yiiii777 opened #27 "Extensions or add-ons for the case"
Since we have the ability to expand the functionality via GPIO, we must provide the ability to attach additional modules directly to the Flipper case. These can be sensors, LEDs, or even additional outputs. For example, I want to show devices from the past:

![Example](https://user-images.githubusercontent.com/69321035/90557840-23ffbe00-e169-11ea-965b-42a9a47d7bca.png)

https://www.youtube.com/wat

[2020-08-19 05:44] #23 closed, assigned to nobody

[2020-08-19 06:15] #10 closed, assigned to zhovner

[2020-08-19 06:34] glitchcore opened #29 "Add Rust support to build system"
- [x] Add cargo to docker
- [x] Add example code
- [x] Linking with current code and interact with current building
- [x] Add Cbindgen
- [x] Add bindgen

[2020-08-20 20:01] zhovner opened #30 "Example: Want to make Flipper Zero software emulator"
## About me

* Linux userspace development
* Python — good level, C— medium level
* Experience in access control systems development and penetration testing

## What tasks I can take

I would like to write emulator running in browser using [web assembly](https://webassembly.org/). Here is how I plan to do it:

- [ ]  Create the hardware abstraction (30 hours)
- [ ]  Creating user interface (10 hou

[2020-08-21 03:49] glitchcore opened #31 "Github/git flow setup"
I feel lack of experience with github. There are several fundamental tasks (I may not be able to correctly formulate the request and I hope for your experience):

1. Branches naming, branches rules. We have "Area:" tags, maybe branches should name like it to bind branch to wiki section.
2. Need to discuss and design some rules about code ownership: who can approve/merge PR for example. We also hav

[2020-08-21 04:03] glitchcore opened #32 "Welcome from Strokov Andrew"
# About me

* embedded FW and schematic developer
* C — good level, Rust, C++ — medium level
* Many experience with hardware debugging, RF, analog and digital schematic

You can find more information at [strokov.org](https://strokov.org)

# What tasks I can take

- [ ] organizing people to make environment: CI/CD, github, some integrations (no estimate)
- [ ] choose core technology (#17) (no estim

[2020-08-21 10:59] enurseitov opened #33 "Welcome from Evgeniy N"
# About me
Hi everyone, I'm Evgeniy, an embedded systems engineer.

I have some good experience with digital circuits (schematics, layout, debugging), have some tools for that (oscilloscope, logic analyzer).

I feel comfortable with low-level programming, but lack experience with high-level architectural stuff.

I also have some experience managing development teams (wore a Scrum Master hat for so

[2020-08-21 12:21] Disasm opened #34 "Welcome from Vadim Kaushan"
# About me
* Software development at work, firmware and hardware development as a hobby
* Rust - good level, C/C++ - medium
* Experience with STM32, hardware debuggers, KiCad, oscilloscopes and logic analyzers

# How can I help
* I mostly interested in developing everything that could be done with Rust (firmware, applications, drivers, API)
* Topics relevant to firmware/application uploading exper

[2020-08-21 13:48] enurseitov opened #35 "Interpreter for user apps ?"
Just a question:

@glitchcore have you considered executing user apps with an interpreter like `micropython` or `espruino` (JS)? This way the firmware may stay completely isolated from user apps, no need to build anything etc.

[2020-08-21 14:42] #30 closed, assigned to zhovner

[2020-08-21 14:42] #32 closed, assigned to zhovner

[2020-08-21 14:50] #33 closed, assigned to zhovner

[2020-08-21 14:53] #34 closed, assigned to zhovner

[2020-08-21 14:54] #2 closed, assigned to nobody

[2020-08-21 14:55] #3 closed, assigned to nobody

[2020-08-21 14:55] #4 closed, assigned to nobody

[2020-08-21 14:56] #5 closed, assigned to nobody

[2020-08-21 14:58] #6 closed, assigned to nobody

[2020-08-21 14:58] #7 closed, assigned to nobody

[2020-08-21 16:44] Disasm opened #38 "Bugs in F1B1C0.0"
**Describe the bug**
1. Pullup resistor on USB D+ is not needed: both old and new MCUs have a programmable internal pullup. In fact, this resistor will break enumeration if USB driver is not active because it makes host think that the device is present and ready to work.

2. BAT_LVL voltage divider consumes a lot of current (about 100uA), it's better to increase resistor values.

3. iButton contac

[2020-08-21 17:14] #38 closed, assigned to nobody

[2020-08-21 17:59] #27 closed, assigned to nobody

[2020-08-21 18:59] officialdarksheao opened #39 "Welcome from Philip"
# About Me
* Web and Application engineer, working with tech stacks using c, c++, c#, Java, PHP and node
* regularly configuring docker images and integrating ci/cd
* some industrial prototyping experience using the Arduino stack

 # What tasks I can take
- [ ] #12 Linting/Codestyle, integrations with [clang format](https://clang.llvm.org/docs/ClangFormat.html)  or [artistic style](http://astyle.s

[2020-08-22 03:49] #39 closed, assigned to zhovner

[2020-08-22 04:01] glitchcore opened #40 "Unit testing environment"
- [x] Unit testing stack, using make for unit tests
- [x] Add simple example unit tests
- [x] Writing wiki pages on unit testing guides
- [x] Integration into github pipeline for verification

_(from @officialdarksheao suggestion #39)_

[2020-08-22 20:13] yiiii777 opened #42 "Hardware isolation of user applications"
The main idea: a separate processor for the "periphery", drivers and part of the framework, and another separate processor for "user" applications. For example, ESP32. There are bluetooth and Wi-Fi, as well as enough RAM to run software interpreters of user applications, such as lua, micropithon, espduino, j2me. Surely users will want to run some kind of emulators of other platforms, such as Z80 -

[2020-08-23 18:50] #42 closed, assigned to nobody

[2020-08-23 22:27] #35 closed, assigned to nobody

[2020-08-24 15:20] microtrigger opened #43 "Welcome from Pavel Kosenkov"
# About me

- Focused on hardware development, manufacturing, supply logistic, manufacturing automation, overall project management
- Experience with mass production project economic calculation and supply chain setup at Russian federation, schematic and topology development, device mockups with some lab stuff, new board sample assembly with accurate starting and testing, high precise soldering, p

[2020-08-24 15:51] #14 closed, assigned to nobody

[2020-08-24 17:26] glitchcore opened #45 "Simple task: move link to static"
I've uploaded all static files to `wiki_static` folder using [git lfs](https://git-lfs.github.com/).

Needs change all wiki static files link from [wiki repo](https://github.com/Flipper-Zero/wiki) to this repo files.

After this we can remove wiki repo.

[2020-08-24 17:34] #43 closed, assigned to zhovner

[2020-08-24 22:47] lomalkin opened #47 "Welcome from Lesha Lomalkin"
# About me - experience

Hello, guys!

## Software
- Geek, OpenSource and command-line lover. Bad-UI/UX hater.
- Linux advanced user (This is my only OS from 2009). Have some Linux server administration experience. Nowadays, I have some possible intention to DevOps.
- I can write and edit code in couple of programming languages (PHP, C, Python, Bash scripting, etc...), but deep programming it's no

[2020-08-25 04:31] mbelt opened #48 "Welcome from Marcus Beltman"
Hello everyone, I'm Marcus. I live in Everett, WA, USA.

# About me
* Embedded test systems developer
* C - good, Python - medium, C++ - medium, Rust - aspiring
* Some hobby level experience with STM32.
* I have a basic electronics lab space.

# What tasks I can take
 * Test harness/test host for automating integration tests on hardware.
    * Model device capabilities and interfaces as unit-under

[2020-08-25 07:46] #47 closed, assigned to zhovner

[2020-08-25 08:03] #48 closed, assigned to zhovner

[2020-08-25 09:45] #11 closed, assigned to nobody

[2020-08-26 19:12] LionZXY opened #54 "Welcome from Nikita Kulikov"
Hello! I senior android engineer in SnapСhat AR team and have some expertise in STM32/ARM

Now I develop/manage Android repo: https://github.com/Flipper-Zero/Flipper-Android-App

With firmware I want to implement BT sync:
https://github.com/Flipper-Zero/Flipper-Android-App/issues/15

Now I need a Flipper prototype with BT module.

[2020-08-26 19:26] #54 closed, assigned to zhovner

[2020-08-27 11:26] hp197 opened #55 "Welcome from Henry Paulissen"
# About me
* Nick: hp197
* HAM Radio Call: PD0OM

## Soft skills
* Platform architect
* Strong automation skills
* C, Python, Perl -> good, C++ Medium (Templating is something what im not really used to)
* Have contributions in the mainline linux kernel (mainly in the sunxi drivers).
* Lots of linux skills, but not a windows hater (even some minor .net experience!)

## Hard skills
* I have a decen

[2020-08-27 13:06] #55 closed, assigned to zhovner

[2020-08-27 22:37] pavel-demin opened #57 "Welcome from Pavel Demin"
Hi,

In relation to this project, I am mainly interested in the programming of the microcontroller. I can do it in C at the CMSIS level.

I would be interested in discussing the organization of the core system (#17).

I would also be interested in the development of a remote test bench (or even a remote development machine) based on Raspberry Pi (#26). I already use one myself and it works well fo

[2020-08-28 06:18] #57 closed, assigned to zhovner

[2020-08-28 07:04] glitchcore opened #59 "FURI: fix bugs"
One of the most important component of Flipper Core is [FURI](https://github.com/Flipper-Zero/flipperzero-firmware-community/wiki/FURI) (Flipper Universal Registry Implementation). It helps control the applications flow, make dynamic linking and interaction between applications.

In fact, FURI is just wrapper around RTOS thread management and mutexes, and callback management.

We have draft implem

[2020-08-28 07:50] usernamx42 opened #61 "Welcome from Olzhas Yergaliyev"
# About me
Hi team, my name is Olzhas, I'm working as senior qa engineer in automation & software tester.

 I have great experience in testing of web based and mobile (iOS, Android) applications and performance testing as well.  I really like to automate things, mostly I'm using Java, Selenide, Moon, Allure and other tools to make sure that application works great, also I have extensive experience

[2020-08-28 08:26] #61 closed, assigned to zhovner

[2020-08-28 10:36] dontsovcmc opened #62 "Welcome from Evgeny Dontsov"
Hello everyone!

# About me
## Software
Writing on C, C++, Python drivers for SCADA system. I know a lot of industrial protocols as Modbus, MQTT, OPC, HTTP (libcurl), XMLRPC and etc. Also have a huge experience with low level binary proprietary protocols: electricity meters, access control systems, security and fire systems and so on.
Working with Ethernet, UART(RS232, RS485), SPI, I2C lines.

Dev

[2020-08-28 16:04] #45 closed, assigned to nobody

[2020-08-28 18:34] hp197 opened #66 "Wiki widgets"
I suppose we will have some problem with plain list of many issues.

I suggest to attach all issues/PR to wiki pages. User can browse wiki and read description of some component of Flipper HW, FW or some environment features (equal to wiki page or sections), and simultaneously see open issues and PR and kind of "status" of each component. Also user can create issue for any pages/sections by clicki

[2020-08-28 18:37] #16 closed, assigned to nobody

[2020-08-29 11:35] DrZlo13 opened #69 "Welcome from Sergey Gavrilov"
# About me

- Firmware and hardware freelance developer
- C/C++ - good
- Experience with STM32, hardware debuggers, OS development, analog circuitry, EDA's, CAD's, CNC, oscilloscopes and logic analyzers
- I have a small electronics lab, CNC & manual machinery for cases & PCB prototyping.

# How can I help

- Im in love with high-level architecture design, but i also enjoy making clean low level co

[2020-08-29 15:36] neshkeev opened #71 "Nikita Eshkeev"
# About:

- I'm a programming language agnostic, so C, C++, Rust are all familiar to me. I'm good with shell scripts too;
- 10+ years of experience in IT (mostly java), I learn and read a lot about Linux system programming in my spare time.
- I have basic knowledge in QEMU, gem5
- I work for JetBrains, so I believe I can be a good fit to work on IDE support for Flipper devices;
- no experience wit

[2020-08-29 16:59] #71 closed, assigned to zhovner

[2020-08-29 17:04] #69 closed, assigned to zhovner

[2020-08-30 00:00] anna-oake opened #72 "MicroPython or any other scripting language interpreter"
**Is your feature request related to a problem? Please describe.**
I'm sure it'll be pretty easy to reflash Flipper Zero, especially with OTA over Bluetooth and official iOS/Android apps, but it's still a big deal when it comes to small and easy scripts I need to run just one/two times.
Current way also requires to "store" all the plugins in the tightly limited STM32 flash memory.

**Describe the

[2020-08-30 01:56] #72 closed, assigned to nobody

[2020-08-30 02:25] DrZlo13 opened #73 "User apps subsystem"
# Problem
Flipper zero must run user applications.

# Constrains
**Static storage**: solved, recently we get a sd card.
**Executable storage**: we have only 128k ram. Flash storage is not an option because according to the datasheet inner mcu flash has only 10k rewrites.
**Speed**: user apps must run native code, because some protocols require tight gpio timings, eg.

By speed constrains we can't

[2020-08-30 14:46] rusdacent opened #74 "Welcome from Anatoly Karpenko"
# About
- Linux/Windows advanced user. Linux/Windows server administration experience
- Bash scripting, Groovy, PowerShell
- QEMU, KVM, VMWare, Docker, etc
- CI/CD, Securing DevOps (DevSecOps), Static Analysis code (use for many languages and  experience in the development for C and ABAP)
- Ansible, Terraform, Chef
- GitLab CI, Jenkins, TeamCity
- Quality Assurance
- Some experience with CUnit/Cpp

[2020-08-30 16:43] reendael opened #75 "Welcome from Vasily Shmatalyuk"
# About me

Hey everyone, I'm excited to contribute to this project. My name is Vasily, I'm an electrical engineer by training and an embedded software engineer by trade.

## Software

- In my main line of work I develop device drivers for a drone flight controller (bare-metal STM32H7): IMUs, motor controllers, memory, battery management ICs, etc. I am intimately familiar with I2C/SMBus and SPI, p

[2020-08-30 19:58] nikita-b opened #77 "Welcome from Nikita Beletskii"
Hi guys, my name is Nikita and I'm a Site Reliability Engineer. Some info about my skills:

# Hard skills
- Python\Go -> Good skills
- C\Kotlin -> Basic level
- CI\CD
- Linux Internals and Linux Kernel (I had some experience in Kernel contribution)
- Some hobby level experience with a Raspberry Pi and Arduino.

# Soft skills
- I have a lot of management experience
- I can cook a delicious pancake

[2020-08-31 05:19] Mr-Dwight-Schrute opened #78 "Welcome from Eric Witmayer"
Hi everyone, my name is Eric Witmayer and I am a RF hardware engineer. Through the years I have been an electronics design engineer, a system security evaluator, system security engineer, and RF test engineer. Since the age of 11, I have been taking things apart and trying to figure out what could be done with the innards, whether it was increase functionality or recover a useful part.

### Skills

[2020-08-31 07:08] #62 closed, assigned to zhovner

[2020-08-31 07:19] #74 closed, assigned to zhovner

[2020-08-31 07:25] #75 closed, assigned to zhovner

[2020-08-31 07:28] #77 closed, assigned to zhovner

[2020-08-31 07:51] #78 closed, assigned to zhovner

[2020-08-31 19:33] #29 closed, assigned to nobody

[2020-08-31 21:58] FSMaxB opened #80 "Welcome from Max Bruckner"
Hi, I'm Max Bruckner long time Linux user and open source enthusiast. My Linux experience is mostly on the package management side (like Gentoo, or writing my own package manager).

Although I have a bachelors degree in Eletronics, I've found myself working as a software developer and ditched my masters for that.

# Skills possibly relevant for Flipper Zero

Most of my experience is in the C/C++ s

[2020-09-01 10:48] glitchcore opened #81 "Wiki publish script miss new files"
**To Reproduce**

1. Add new file (#60) -- `wiki/examples/IPC-example.md`
2. Merge PR to master
3. Wait all checks passed
4. Didn't found IPC-example page in wiki (existing files was updated)

[2020-09-01 11:00] #8 closed, assigned to nobody

[2020-09-03 05:02] glitchcore opened #86 "Pre-commit hooks"
I've get useful notice about git flow: https://github.com/Flipper-Zero/flipperzero-firmware-community/issues/31#issuecomment-685484492

Now we have CI pipeline, how we can run this pipeline as pre-commit hook?

[2020-09-03 08:55] #81 closed, assigned to nobody

[2020-09-03 10:56] #86 closed, assigned to nobody

[2020-09-03 17:43] glitchcore opened #89 "Porting to STM32WB55"
We need to run our code on STM32 chip with BLE and other 2.4 GHz support. We choose STM32WB55RB for this purpose.
Right now we make PCB and also I have P-Nucleo-WB55 for debugging code.

What we need:

1. Create new target: `target_d3` for Nucleo (and also `target_f3` for Flipper device later)
2. Build and run our [examples](https://github.com/Flipper-Zero/flipperzero-firmware-community/wiki/Appli

[2020-09-04 12:29] SolAstrius opened #92 "Welcome from Daniel Solmann"
Hello, everyone! Thanks for inviting me to this project.
 # About
I know some C and good at Rust, Python and JS. I have worked on small embedded projects on my own and have made many VueJS-based websites and UIs. I know a lot about Linux SysOps and DevOps, especially Docker, Grafana, Prometheus.
# What tasks I can take
I would like to work on package management for user-apps, including repository

[2020-09-04 13:29] SolAstrius opened #93 "Flipper CLI & Application Repository"
# Problem
Flipper Zero must be easy to upgrade, config and install user-software on.

# Constrains
#73 is still open, so we don't have stable binary format yet, but probably it would be ELF.

# My role
I can design a CLI tool in Rust with flipper-app repository structure and all required config-files, DevOps, etc.

# CLI Proposal

## General Commands
[code]
## WebUI & Daemon
[code]

## Device Disc

[2020-09-04 20:26] glitchcore opened #96 "Remote debug/test bench"
Hello, guys!

I can create by myself testing tool for remote hardware debugging with following features (so here is my suggestions):
- 24*7 connected target Flipper device and accessible via Internet. Raspberry PI or some Linux single-board PC can be used as basic high-level control board.
- Tool can push/click each user buttons by hardware by "control board" (low level). Usage of optocouples/reed

[2020-09-04 20:26] #26 closed, assigned to lomalkin

[2020-09-04 22:16] glitchcore opened #97 "UI emulator"
We want debug and design UI features and graphical interface, but not every developer has real hardware for this purpose.

I suggest to add UI emulator:

* Web page with display and other UI elements, controls
* Local (linux) version of firmware. All calls, writing data to UI like display or LED, redirects to unix socket writes, and messages from unix socket redirect to firmware (emulates button p

[2020-09-04 22:31] glitchcore opened #98 "Implementing UI/display library"
- [x] Add u8g2 to build
- [x] Adapt u8g2 binding using FURI for work with display (or stub) SPI/GPIO
- [x] Add display driver and FURI framebuffer record
- [x] Add description in wiki
- [ ] ~~Change IPC example using real display (after UI emulator implementation)~~

[2020-09-04 22:34] #22 closed, assigned to nobody

[2020-09-04 22:56] mcheshkov opened #99 "Welcome from Mikhail Cheshkov"
# About me

Hi, my name is Mikhail, you can call me Misha. I am mathematician and software developer.

* He/him
* Mostly do Node.js for living: backend, CI/CD and infra, build and dev tools, all of it.
* More or less proficient in C++, Rust, JS, TS, in no particular order
* Debugging and reversing native code on x86-64 and ARMv7
* Linux userspace development
* Bare-metal Cortex-M development

 # W

[2020-09-04 23:50] matthewg311 opened #100 "Welcome from Kittymatthew"
**Backround**

Hello! My name is Matthew and I'm now a developer here. I am familiar with IoT technologies like the Raspberry Pi and Arduino. I am familiar in programming in C, Rust, and C#. I'll be able to help with code optimization, library creation, and any other tasks that need to be done.

**Tasks**
I can assist in optimization, organization, and programming commonly used libraries in C or R

[2020-09-05 06:06] #99 closed, assigned to zhovner

[2020-09-06 19:02] pavel-demin opened #105 "Wouldn't nRF5340 be a better micro-controller for Flipper Zero?"
I am currently comparing [STM32WB55](https://www.st.com/en/microcontrollers-microprocessors/stm32wb-series.html) and [nRF5340](https://www.nordicsemi.com/Products/Low-power-short-range-wireless/nRF5340) and it seems that the nRF5340 has some advantages over the STM32WB55. Since a new PCB needs to be designed and the micro-controller currently in use needs to be replaced, wouldn't nRF5340 be a bett

[2020-09-07 10:05] #105 closed, assigned to nobody

[2020-09-07 12:08] #80 closed, assigned to zhovner

[2020-09-07 12:12] #92 closed, assigned to zhovner

[2020-09-07 12:15] #100 closed, assigned to zhovner

[2020-09-07 20:26] yiiii777 opened #106 "Simple nosql-like storage"
**Is your feature request related to a problem? Please describe.**
I want to save word "simple" in my application, just 5 bytes, what can I do?

**Describe the solution you'd like**
I want clean and simple way to store and retrieve my data, just 5 bytes.

**Describe alternatives you've considered**
I don't want to save in raw sdcard, this is requires at least 512 bytes (1 sector) and have bad user

[2020-09-09 13:58] glitchcore opened #110 "Change FURI"
I think the main problem of [FURI](https://github.com/Flipper-Zero/flipperzero-firmware-community/wiki/FURI) — Too much responsibility on one component. Every new case require changing of API and implementation.

I think we should split it.

1. Registry — maybe use KVS (InoDB?) as #106 was asked, but I prefer FS-like API (create "file", delete, get list and manage directory-structure). Every regis

[2020-09-10 15:05] #66 closed, assigned to nobody

[2020-09-10 15:05] #13 closed, assigned to zhovner

[2020-09-11 11:39] glitchcore opened #115 "Adapt target_f2 for Zephyr"
1. Get target_d3 (from #103)
2. Build target_f2, target_d3, target_lo
3. Check tests, examples: blink, uart, ipc
4. Check that screen hello-world work

[2020-09-11 11:57] glitchcore opened #116 "Speedup CI pipeline"
1. We have very long (1-2 min) docker image building on every run. Should we upload our docker image to dockerhub or there are alternative way?
2. We have very long (1-2 min) building rust libraries, zephyr, etc. I think we should add intermediate image to cache this dependencies.

[2020-09-16 14:08] glitchcore opened #122 "Check F2B0C1.1 board"
- [x] Create wiki page with a description of the testing process

Make testing and create issues for FW and HW.

- [x] Power path
- [x] Common microcontroller flashing and working, UART
- [x] Display
- [x] Backlight
- [x] Buttons
- [x] RGB Led
- [x] Charger
- [x] ~~Batt voltage measurement~~
- [x] Speaker
- [ ] Vibro
- [x] IR TX
- [x] ~~IR RX~~
- [x] RFID 125 reading
- [ ] RFID 125 writing
- [x] R

[2020-09-17 14:15] #59 closed, assigned to nobody

[2020-09-18 14:13] zhovner opened #128 "Testing routine [Wiki section]"
- [ ] Create new folder `Testing` in wiki folder
- [ ] Split testing on big sections: electronic testing, features testing, etc

[2020-09-19 21:29] Karator opened #129 "About me"
Hi team! My name is Dmitry, you can call me Dima. I'm Windows system administrator, GNU/Linux power user and tech geek.
I was little bit lost with how can I help with project, so excuse me for the long answer.
# How can I help
In this project I wanna help with designing UX/UI and testing, cause my current coding skills are Ctrl-C/V from Stackoverflow.
- Prototyping UI for Flipper and mobile apps
-

[2020-09-20 09:02] #129 closed, assigned to zhovner

[2020-09-21 18:38] ghost opened #130 "Welcome from Aku"
# About

My name Aleksandr Kutuzov aka Aku.
My public Github account: https://github.com/skotopes
I'm Software/Hardware developer with deep background in System Architecture/DevOPS.

## Hard skills

As Systems Architect/DevOps: networks, infrastructure design, deployment, Terraform, Chef, Puppet, CI/CI, Gitlab, Docker, K8, etc. Pretty much can do everything, were working as team lead for SRE team.

[2020-09-22 14:54] #130 closed, assigned to zhovner

[2020-09-22 16:39] lomalkin opened #131 "Factory reset/restore function"
# What are you want to add or change

We need some function, that can be used to restore Flipper factory settings during production (w/o any external tools). This function must be invoked very fast from Flipper only. And it will be good, if it will be intuitive, but hard to invoked by mistake.

Usually it convenient, if it can invoked by pressing some buttons combination, or, for example, by press

[2020-09-22 17:30] skotopes opened #132 "DFU/Boot menu"
# Boot/OS lifecycle concept

![Flipper boot](https://user-images.githubusercontent.com/1633132/93914926-ec5bd700-fd0f-11ea-821f-d190244f476f.png)

# Add ability to switch to boot loader and reprogram main flash with dfu-util

Currently used MCUs supports DFU out of the box, all is needed is code on OS level to reboot to bootloader.
Whole implementation requires 20-30 lines of code and can be imple

[2020-09-23 07:44] zhovner opened #133 "Add binary firmware builds to artefacts in CI scripts"
We need to get binaries for every build in CI artefacts.

[2020-09-23 21:31] skotopes opened #135 "Empty device flashing, Recovery mode"
This task is closely connected to #132 .

# BOOT0

After checking F2B0C1.1 schematics I found that BOOT0 is soldered to the ground. That makes impossible to flash firmware into empty device or device with damaged firmware without SWD. That looks like serious issue that can be avoided.

# Hardware Solutions

Connect BOOT0 to one of the buttons that we have. It can be part of 2 or 3 button combo. Th

[2020-09-25 10:47] #131 closed, assigned to zhovner

[2020-09-25 10:48] #135 closed, assigned to nobody

[2020-09-25 16:00] #132 closed, assigned to skotopes

[2020-09-25 16:37] skotopes opened #137 "Bootloader"
# Why our own bootloader

- Show boot UI
- Ability to check firmware CRC
- Future Ability to flash firmware from SD/Bluetooth/etc
- Future Ability to wipe userdata partitions

# Boot diagram

![flipper boot](https://user-images.githubusercontent.com/1633132/94292800-1575a500-ff66-11ea-950b-5b25a949afda.png)

- Reserve 32KiB for our boot loader implementation
- Protect it from overwrite
- Init hw:

[2020-09-29 23:18] #12 closed, assigned to nobody

[2020-09-30 00:18] glitchcore opened #145 "Fix codestyle check pipeline"
Even if codestyle check is failed, pipeline shows "ok" status

[2020-09-30 17:07] glitchcore opened #146 "Clang-format/cargo fmt miss"
Clang suggest

[code]

I want to keep `{}` on same line.

Also I prefer first variant:

[code]

[2020-09-30 23:05] #137 closed, assigned to skotopes

[2020-09-30 23:05] #133 closed, assigned to zhovner

[2020-10-01 13:38] #17 closed, assigned to nobody

[2020-10-01 13:50] glitchcore opened #147 "Implement CMSIS OS API v2"
https://www.keil.com/pack/doc/cmsis/RTOS/html/group__CMSIS__RTOS.html

I think it more general than FreeRTOS API and FreeRTOS already has an implementation.

In PR #103 we have some porting.

[2020-10-01 13:52] #115 closed, assigned to nobody

[2020-10-01 13:54] #106 closed, assigned to nobody

[2020-10-01 13:58] #31 closed, assigned to nobody

[2020-10-02 05:08] glitchcore opened #153 "Wrong bootloader/DFU description images"
Relate to https://github.com/Flipper-Zero/flipperzero-firmware-community/wiki/UI

1. We have blue LED in Firmware update mode, not red
2. There is no LED in Rescue mode

[2020-10-02 11:58] lomalkin opened #155 "Firmware binary with QR code on display"
For testing application we need some firmware binary for F1, that shows QR code with some encoded string on display.

Maybe different firmwares, with different QR codes.

Or some "game", like moving QR by buttons (left, right, up, down) and OK to centre of display.

[2020-10-03 22:56] #153 closed, assigned to aquam1ne

[2020-10-05 10:34] #155 closed, assigned to DrZlo13

[2020-10-08 00:47] zhovner opened #164 "SD-card auto mount"
Right now we can't detect that SD-card was inserted, so user needs to mount the filesystem manually every time. How we can detect SD-card automatically?

[2020-10-08 09:54] glitchcore opened #165 "Input not work properly"
**To Reproduce**

0. Build `make -C firmware TARGET=f2 APP_EXAMPLE_INPUT_DUMP=1`
1. Press left button
2. Press back button

**Expected behavior**

Events on pressing all button

**Logs**

No release event on left button, get release left when press other buttons, back button not work

[2020-10-08 09:55] #18 closed, assigned to nobody

[2020-10-08 09:56] #96 closed, assigned to lomalkin

[2020-10-08 09:58] #147 closed, assigned to nobody

[2020-10-08 16:39] #165 closed, assigned to DrZlo13

[2020-10-08 16:40] #110 closed, assigned to nobody

[2020-10-08 16:41] #73 closed, assigned to DrZlo13

[2020-10-09 02:50] #164 closed, assigned to DrZlo13

[2020-10-10 10:32] #40 closed, assigned to nobody

[2020-10-15 17:24] #145 closed, assigned to rusdacent

[2020-10-15 18:25] #98 closed, assigned to nobody

[2020-10-20 06:14] DrZlo13 opened #187 "Applications.mk refactoring"
Currently application.mk is a big spaghetti-like mess of flags.

One of improvement might be get rid of `C_SOURCES + = blah blah` per application, and addition of general `C_SOURCES + = $(wildcard $(APP_DIR)/*/*.c)` (and `$(wildcard $(APP_DIR )/*/*.cpp)` , or their recursive versions), to simplify script reading.

But about the main problem with flags - I don't know currently how to solve it. Some

[2020-10-20 09:41] skotopes opened #189 "Assert macros in production build, misuse of assert"
Assert macros in production is not doing anything. Some places uses assert as if then fail construction which is mistake.

Looks like we need something like furi_assert that will continue to work in production build and redirect execution to fail handler.

[2020-10-20 14:47] skotopes opened #190 "UI: icons, animation, standard widgets"
# ToDo

- [x] Icon Makefile
- [x] Icon Registry
- [x] Icons
- [x] Animation
- [x] Icon rendering
- [x] Widget lifecycle (alloc/free)
- [x] Animation rendering
- [x] Application icons in menu
- [x] Status bar icons(apps)
- [x] Standard Widgets for dialogs and etc

[2020-10-21 09:07] #146 closed, assigned to rusdacent

[2020-10-22 08:14] zhovner opened #191 "Symlink in wiki brake auto deploy"
Example:
https://github.com/Flipper-Zero/flipperzero-firmware-community/wiki/Firmware

[2020-10-22 10:43] #191 closed, assigned to skotopes

[2020-10-22 12:39] skotopes opened #193 "Wiki: deploy hook is not working"
Wiki repo stuck in 12.10.2020.

[2020-10-23 07:23] glitchcore opened #197 "Deploy FW artifacts to public address"
We want to share successful builds of firmware for someone and need public address (server?) with binary artifacts

* List of versions
* List of branches

[2020-10-26 07:47] glitchcore opened #201 "Break in empty menu subitem"
**To Reproduce**

1. Get last release (https://github.com/Flipper-Zero/flipperzero-firmware-community/actions/runs/328559272 for example)
2. Go to settings menu
3. Get «empty» message
4. If press back at this point — works good. If press ok when «empty» showing on the screen — device breaks.

[2020-10-26 20:35] #201 closed, assigned to skotopes

[2020-10-27 11:49] Disasm opened #205 "Use ValueComposer for LED and backlight"
* [ ] Use ValueComposer to control LED
* [ ] Add composer layer for charging status (if implemented)
* [ ] Add composer layers where LED is already used
* [ ] Use ValueComposer to control backlight
* [ ] Add composer layer for input feedback

[2020-10-28 09:17] glitchcore opened #209 "furi_check/furi_assert testing"
Add build flag to check furi_check and furi_assert. Add this check to testing routine.

In debug check and assert must work.

In release only check must works.

Maybe triggered some fault to check that furi_check print debug in case of scheduler is broken.

[2020-10-29 07:11] #190 closed, assigned to skotopes

[2020-10-29 08:23] #193 closed, assigned to rusdacent

[2020-10-31 09:24] zhovner opened #214 "Версионность прошивки"
Сейчас невозможно понять какая прошивка загружена на флиппер.

Нужно:

- [ ] Автоматически вкомпиливать прошивки версию в бинарь.
  Например, брать версию из порядкового номера коммита + дату сборки:  `313 october 31`

- [ ] В бинарь бутлоадера вкомпиливать версию только если были изменены файлы в папке `/bootloader`
   Принцип генерации версии такой же как в прошивке.

- [ ] Выводить на главный э

[2020-11-09 08:36] #214 closed, assigned to zhovner, skotopes, rusdacent

[2020-11-09 08:36] #197 closed, assigned to rusdacent

[2020-11-12 11:15] #89 closed, assigned to nobody

[2020-11-12 11:16] #15 closed, assigned to nobody

[2020-11-12 11:16] #122 closed, assigned to lomalkin

[2020-11-12 11:18] #189 closed, assigned to skotopes

[2020-11-12 11:18] #128 closed, assigned to lomalkin

[2021-01-06 20:52] #116 closed, assigned to rusdacent

[2021-01-20 18:18] #97 closed, assigned to nobody

[2021-01-20 18:19] #187 closed, assigned to nobody

[2021-01-20 18:19] #205 closed, assigned to nobody

[2021-01-20 18:19] #209 closed, assigned to nobody

[2021-01-20 18:20] #93 closed, assigned to nobody

[2021-08-27 14:27] HydroSausager opened #674 "iButton/NFC editing. Saving without confirmation"
`Firmware version - 0.27.1-rc (zeronights)`

While editing saved iButton and NFC keys it updates the key without confirmation by clicking "save", you can just change some bytes, press back and it will be saved. This is not very convenient because you can accidentally change it and forget the original key. But when editing "125 khz" its saving only after pressing "save" button what is correct

<det

[2021-08-28 17:12] anna-oake commented on #674
Internal issue: FL-1748

[2021-09-02 09:28] #674 closed, assigned to gornekich

[2021-09-07 00:42] azaitsev opened #690 "Flipper log"
As a user, I'd like to have a log with everything flipper hears in any of reading modes without pressing save button.
I see it as something like:

datetime - app_name - info.to_string()

for example:
2021-01-13 22:45.34 - subghz - Princeton 24bit, key: 0x....
2021-01-13 22:45.38 - lfrfid - em410, hex: 37003...

No need ability to open to read this log on the flipper, just write it on a memory card

[2021-09-07 19:13] skotopes commented on #690
Hi @azaitsev,

In theory it is possible.
We have logging subsystem which can be modified to keep logs on sd card.

This issue have low priority and we'll be implemented as soon as someone will find free time.

PS: Also PR are welcomed. If someone would want to implement it, I'll explain details.

[2021-09-11 23:03] azaitsev commented on #690
Sure, I know it's not your top priority yet. I can try to implement it myself as soon as I get my flipper for review.

[2021-09-15 16:23] elektronika-ba opened #706 "IDE for development"
Which IDE is recommended/preferred for flipper firmware development?
Thanks

[2021-09-15 16:28] skotopes commented on #706
At this point project build and debugging toolchain is console oriented and doesn't depends on IDE.

Here is what we use:
- SublimeText
- Visual Studio Code
- Vim
- Clion
- QtCreator

Any other IDE that is capable to work with external build system is ok.

[2021-09-30 13:43] HydroSausager opened #733 "Ibutton emulation bug"
**Describe the bug**
When you trying to emulate stored key (dallas in my case) it wont work untill you read any other ibutton key.

**To Reproduce**
Steps to reproduce the behavior:
1. Reboot flipper
2. Try to open the door by emulating stored Ibutton key (only dallas tested)
3. Will not work
4. Read Ibutton key (only dallas tested)
5. Try to open the door by emulating just readed ibutton key (or

[2021-10-01 14:02] anna-oake commented on #733
Internal issue: FL-1891

[2021-10-11 05:55] ErezBinyamin commented on #706
If someone were to contribute a Flipper0 VScode plugin (or other IDE plugin) what requirements/features would you want to see?

[2021-10-12 07:12] skotopes commented on #706
- Cross platform
- Easy to use.  @DrZlo13 and @Skorpionm already using vscode + cmake to build project, but their toolchain is quite complex in terms of setup, I'm sure that they have something to add ;-)

[2021-11-21 17:37] x893 opened #833 "firmware/targets/f7/furi-hal/furi-hal-subghz.c"
Code error
firmware/targets/f7/furi-hal/furi-hal-subghz.c

(value >= 868150000 && value <= 8680550000)

[2021-11-22 14:53] skotopes commented on #833
@Skorpionm FYI

[2021-11-23 08:08] skotopes commented on #833
Fixed in #832

[2021-11-24 14:11] #833 closed, assigned to Skorpionm

[2021-11-27 00:07] OlegSchwann opened #848 "Snake Game Feedback"
# What are you want to add or change
https://github.com/flipperdevices/flipperzero-firmware/pull/829 was merged, but since this is the first game, it's not perfect of the box. I have heard some notes about unintuitive timings. As an author who knows the inner workings, I can't see by the user's eyes myself.

# What questions do you have
Please tell us about your impressions when you first ran the

[2021-12-06 01:20] OlegSchwann commented on #848
I asked people: it must not drop button presses. They should be queued up and applied sequentially at a point suitable for turning, not overwritten like they are now.
https://github.com/flipperdevices/flipperzero-firmware/blob/68274b6c2796243f93404ce59b0944023f7a2be5/applications/snake-game/snake-game.c#L353-L364
I need to correct that.

[2021-12-06 03:18] okalachev opened #871 "Impossible to upload the firmware when external sound card is connected"
When a Focusrite Scarlett 2i2 is connected is impossible to upload the firmware. It is inconvenient. I guess these devices may be distinguished somehow.

[code]

[2021-12-06 08:28] LionZXY commented on #848
Two main ways to improve snake game:
- Increase snake grid
- Store all pressed button in local storage and repeat it in this order

[2021-12-06 11:12] OlegSchwann commented on #848
Some discussion here
https://t.me/flipperzero/4248

[2021-12-06 11:20] karasevia commented on #848
Difficult, inconvenient, not intuitive, absolutely minimalistic, there is not even a table of records.
And it's perfect!!!
Please don't change anything

[2021-12-06 17:00] anna-oake commented on #871
@zhovner PID conflict. Consider changing PID.

[2021-12-06 17:31] temamagic opened #874 "IRDA send doesn’t work in learn but work ok in saved"
**Describe the bug**

I cloned the signal from my remote and tried to reproduce it. Expected reaction - a signal is sent to each click and the TV reacts, in fact, the TV only responded sometimes, while the remote works well

Looks like send doesnt work on every time only when you in "learn" menu, saved remotes work fine

**To Reproduce**
Steps to reproduce the behavior:
1. Learn new remote
2. Send

[2021-12-06 17:48] temamagic commented on #874
Looks like send doesnt work on every time only when you in "learn" menu, saved remotes work fine

[2021-12-07 14:23] zhovner commented on #871
@aprosvetova this issue will appear anyway if more than one DFU devices will be attached, not matter what VID/PID it will have.

The only way for you is to specify serial like this:

`dfu-util -D .obj/f7/firmware.bin -a 0 -S -S 206739803753 -s 0x08008000`

where `-S 206739803753` is the serial of Flipper Zero. You can get the serial using this command: `dfu-util --list`

This issue is impossible t

[2021-12-07 14:23] #871 closed, assigned to nobody

[2021-12-07 15:25] okalachev commented on #871
@zhovner, it's possible to fix! Check it out: https://github.com/flipperdevices/flipperzero-firmware/pull/877.

[2021-12-08 15:27] r3df0xx opened #882 "Add fucntions with UI to save and send dynamic protocols. Add bruteforce for static as Came Top, Nice Flo, princeton, etc. 8-32 bits"
It would be great if someone could implement in flipper's source code saving and proper replay of encrypted signals to emulate all known protocols. Also its possible to add brute-force app for picking codes for simple static remotes as Came Top and Nice Flo, princeton, etc. 8 - 32 bits and simple app for jamming frequencies. Some sources that may be usefull: https://yadi.sk/d/i06wszZ3ak2ceA

[2021-12-08 15:31] DrZlo13 commented on #882
This will not happen in our firmware. We consider this illegal and morally unethical.

[2021-12-08 15:32] skotopes commented on #882
As @DrZlo13 told, saving and replay of encrypted signals are intentionally not included.

Came and Nice flo are supported, please provide us with recorded signal if you have issues with them.

[2021-12-08 15:32] #882 closed, assigned to nobody

[2021-12-08 17:16] r3df0xx commented on #882
There is 4 versions of keeloq_mfcodes files. If I add all unique hex lines from all of them into one file will it work properly on flipper? Also what kind of manufacturer (keys) are present in there?

[2021-12-08 17:26] skotopes commented on #882
@r3df0xx you can put your own manufacture keys to /subghz/keeloq_mfcodes_user those keys are stored in plain form

As for keys in encrypted storage - no comments.

[2021-12-12 11:03] #733 closed, assigned to DrZlo13

[2021-12-13 04:00] dunaevai135 opened #893 "Infrared remote falls on exit"
**Describe the bug**
Если натыкать много раз в кнопку на пульте, он долго это отсылает, и если в этот момент нажать назад, он зависает.

**To Reproduce**
Steps to reproduce the behavior:
1. Открыть remote с кнопками
2. Много раз нажать на ok
3. Пока он отсылает (видно по зелёному морганию и странному звуку от вибромотора ) нажать назад
4. Фриз

**Expected behavior**
Выход на предыдущий уровень мен

[2021-12-13 13:03] albkharisov commented on #874
@temamagic , thanks for reporting!
SIRC (Sony) remote sends each button signal at least 3 times. In learn menu we send signal only once, while in saved remotes menu we send signals continuously while button is pressed.
So I suppose this is the root of trouble.
I think we should implement continuous signal sending in Learn menu too. Created task.

[2021-12-13 15:55] albkharisov commented on #893
Thanks for reporting.

Bug occurs if press short Back before releasing OK button in Saved remotes.
Fixed in https://github.com/flipperdevices/flipperzero-firmware/pull/894

[2021-12-13 18:26] r3df0xx opened #895 "[Sub-Ghz] Add notification if catched key allready saved. Add new protocols."
Add notification if recieved signal allready saved and show its name on display so memory will not fill with same keys. Add ability to calculate codes for all buttons if recieved only one button from multibutton remote (2 or 4 as ex.). Add ability to manualy change CNT param and other parsed data on device. Add ability to calculate parcels for keeloq secure.

Add support for protocols:

Doorhan
FA

[2021-12-13 23:53] DrZlo13 commented on #893
Fixed in #894

[2021-12-13 23:53] #893 closed, assigned to nobody

[2021-12-14 02:26] temamagic commented on #874
Yeah, it seems to be true

I checked it manually, it works if you send a lot of signals quickly (lol but, it turns out in the video I did it too)

[2021-12-14 08:32] HydroSausager opened #899 "Bug while interacting with "Settings" and Android App via bluetooth"
**Describe the bug**
While phone is connected to flipper using android app, some interactions with "settings" can break flipper.

**To Reproduce**
[Steps ](https://t.me/flipperzero/9420)to reproduce the behavior:
1 Connect flipper to android app
2 Start screen streaming in app
3 Navigate flipper to "Settings" -> "LCD and notifications" and exit (you can change setting or not)
4 Flipper freezes unt

[2021-12-14 16:02] temamagic opened #900 "IRDA Universal TV Library Progressbar goes beyond boundaries"
**Describe the bug**
Progressbar in Universal TV Library goes beyond boundaries when send "POWER" sygnal
It happens when you add codes in irda/universal/tv.ir

I have not yet understood the nature of the bug, tried different options, so far it only works on a large file from the example below

I tested files with duplicates, without them and only caught when there are too many lines. Up to 303 lin

[2021-12-14 16:31] temamagic opened #901 "IRDA Universal library doesn't sends immediately after open TV"
**Describe the bug**
When youre open Universal library -> TV and fast click, it doesn't send signal

**To Reproduce**
Steps to reproduce the behavior:
1. Reboot
2. Open Infrared -> Universal library
3. Open TV's and fast click central button (it doesn't work at first time)
3.1 You can click second time and it will be ok
4. Back again
5. Open TV's and wait ~1 sec and then click (sending started)

*

[2021-12-15 18:26] temamagic opened #905 "[Sub-Ghz] Do not show "all unsaved data will be lost" screen after saving"
**Describe the bug**
When you capture the raw signal and save, you will be shown “all unsaved data will be lost”, but it doesn't matter because you saved it before.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Sub-Ghz
2. Open Read Raw
3. Capture signal and save them
4. Press "back" button

**Expected behavior**
If you have saved the signal, there should be no warning.

**Target**
Fir

[2021-12-19 15:23] temamagic commented on #905
UPD: this screen is shown even when you go to "Saved" and select a previously saved "raw" and then exit SAVED

[2021-12-19 16:09] Skorpionm commented on #905
already done. https://github.com/flipperdevices/flipperzero-firmware/pull/910

[2021-12-22 23:57] r3df0xx opened #924 "Cant compile firmware with Docker"
**Describe the bug**
I cant compile firmware with Docker, `docker-compose up -d` runs ok, but after `docker-compose exec dev make` i get next output:

**Logs**
[code]

How can I fix that?

[2021-12-23 11:51] #905 closed, assigned to nobody

[2021-12-23 12:06] skotopes commented on #924
Hi,

Please check https://github.com/flipperdevices/flipperzero-firmware/pull/923

[2021-12-23 14:18] r3df0xx commented on #924
I've merged changes from https://github.com/flipperdevices/flipperzero-firmware/pull/923, but still getting same error as from the start.

[2021-12-23 19:50] r3df0xx commented on #924
Issue solved, with new 0.44.0rc version build completes OK.

[2021-12-23 19:50] #924 closed, assigned to nobody

[2021-12-23 19:55] skotopes commented on #924
Nice )

[2021-12-23 22:32] anna-oake commented on #895
Would require keeping all the saved keys in memory and iterating over them on every received key, which is too complicated.

We won’t implement edit and/or send features for received dynamic keys.

Thank you for the list. We’re trying to add as many protocols as possible, but this takes time.

[2021-12-23 22:32] #895 closed, assigned to nobody

[2021-12-23 22:33] anna-oake commented on #848
Closing the stale issue.

[2021-12-23 22:33] #848 closed, assigned to nobody

[2021-12-23 22:35] anna-oake commented on #690
Current architecture of `furi-log` subsystem doesn’t allow a simple way to implement this.

We have this idea in a backlog and will notify you if it ever gets implemented. The project is always open for your PRs, so feel free to implement it if you have your own way.

[2021-12-23 22:35] #690 closed, assigned to nobody

[2021-12-23 22:39] anna-oake commented on #706
Someone has set up a Segger Embedded Studio environment, please take a look: https://github.com/hedger/flipperzero-sesproject

We will also think of convenient solutions as we finish working on a new build system which will allow simpler and cross-platform build.

[2021-12-23 22:39] #706 closed, assigned to nobody

[2022-01-04 12:07] ashpool37 opened #944 "WIP: IR USB Dongle"
## WIP fork: https://github.com/rwxecut/flipperzero-firmware-irusb

This issue will track the continuation of work that began as a [hackathon project](https://github.com/flipperdevices/flipper-hackathon-moscow/issues/7) and at some point [will](https://habr.com/ru/company/flipperdevices/blog/595325/) be considered for incorporation into the mainline Flipper Zero firmware. The project aims to imple

[2022-01-06 16:46] CombatMode opened #947 "Error compiling latest firmware with docker"
**Logs**
[code]

[2022-01-06 16:48] skotopes commented on #947
[code]

[2022-01-06 16:48] #947 closed, assigned to nobody

[2022-01-06 19:21] CombatMode opened #948 "[Sub-Ghz] Brute force app for simple static codes"
I would like to use in Flipper Zero such application that can brute force static codes of Came and Nice remotes with code lenghts of 8, 12, 16... bits and interface to Stop, Resume, Send, Save, Code-- and Code++ functions

https://user-images.githubusercontent.com/97245206/148439119-acdde3e1-8415-4887-a357-e57e1aaec389.mp4

.

[2022-01-06 19:26] #948 closed

[2022-01-14 20:25] ezhevita opened #963 "[WIP] Mifare Classic support"
## Mifare Classic support
### Necessary features
- [ ] Read MFC 1/2/4K tag using card key map and key dictionary
- [ ] Saving MFC dumps and card key maps in FFF
- [ ] Emulation of MFC tag with all the data

### Additional features
- [ ] Attacking MFC to get keys using nested/hardnested/darkside attack with bruteforcing on external device

[2022-01-30 18:05] Leekoq opened #975 "nfc_worker.c errors"
**Logs**
/project/applications/nfc/nfc_worker.c: In function 'nfc_worker_emulate':
/project/applications/nfc/nfc_worker.c:145:5: error: unknown type name 'NfcReaderRequestData'
  145 |     NfcReaderRequestData* reader_data = &nfc_worker->dev_data->reader_data;
      |     ^~~~~~~~~~~~~~~~~~~~
/project/applications/nfc/nfc_worker.c:145:62: error: 'NfcDeviceData' has no member named 'reader_data'

[2022-02-16 16:55] albkharisov commented on #901
This is expected behavior for current version. There are background counting of signals in `tv.ir`, so flipper doesn't respond to any input. TV database can be large so it can take time to read whole file.
In future versions there will be a loading animation, notifying about background operations.

[2022-02-19 13:00] skotopes commented on #900
Should be already fixed

[2022-02-19 13:00] #900 closed, assigned to nobody

[2022-02-19 13:03] skotopes commented on #874
fixed in 0.49.0

Please reopen issue if problem persist.

[2022-02-19 13:03] #874 closed, assigned to albkharisov

[2022-02-24 11:59] skotopes commented on #901
Fixed in #1004

[2022-02-24 11:59] #901 closed, assigned to nobody

[2022-03-10 21:43] brandocrawford36 opened #1013 "HardFault with particular bank card scan order"
**Describe the bug**
When scanning bank cards with emv app in a certain order causes flipper to crash. It also only happens when going from my Amazon prime CC (visa) then scanning my CapitalOne CC (mastercard). Same crash happens when going from Prime CC to another CapitalOne card, both of the CapitalOne cards are their QuickSilver line.

**To Reproduce**
Steps to reproduce the behavior:
1. Switch

[2022-03-11 19:05] B3rry opened #1015 "Lefty Mode"
Hi,

I’d like to suggest a lefty mode, as the hardware design of the device makes it difficult for left handed users to operate the flipper zero. Potentially rotating the display output, and 5 way controller’s input 180 degrees would be very helpful.

[2022-03-11 20:15] Astrrra commented on #1015
I second this

[2022-03-12 06:03] skotopes commented on #1015
Feasible. I'l add it to backlog.

[2022-03-12 06:05] skotopes commented on #1013
Can you also provide firmware version?

[2022-03-12 13:46] abliss opened #1016 "IR: other frequencies/protocols?"
I have an IR remote for my heat pump (Mitsubishi Electric MSZ-GL09NA) and Flipper can't recognize it.

I assume it's using some other frequency or a less-common protocol than TV remotes. It would be great if Flipper could support these someday.

[2022-03-12 20:03] skotopes commented on #1016
You sure that it uses Infrared?

If it's not recognised as raw, then it uses different carrier frequency. In that case it is still possible to send signal, but it need to be crafted manually.

[2022-03-13 03:21] orangeglo101 opened #1018 "A way to change the USB device ID when doing Bad USB"
It would be really nice if we could configure the virtual device id for the Bad USB keyboard. For example, this would let us bypass the Apple "Keyboard Setup Assistant" that pops up when you connect a non-apple keyboard. It would be super useful!

[2022-03-13 05:28] hakusaro opened #1019 "Hard crash reading Monzo beta card (NFC) (MasterCard EMV)"
**Describe the bug**
I ran into a hard crash when attempting to read my Monzo beta card (via NFC). I have a video of this, but it's as straightforward as these things go: attempting to read the card as a bank card crashes with `furi_check failed`.

This happens on version 0.50.0 [03-03-2022] / 3f164ef3 [1103], 100% of the time with this card.

I turned on debugging and debug logs set to info level

[2022-03-13 05:30] skotopes commented on #1018
I'll add it to backlog. We'll return to this ticket after RPC refactoring

[2022-03-13 08:33] zhovner commented on #1018
Can you please tell more about this. What VID/PID can bypass Apple Keyboard Setup Assistant?

[2022-03-13 15:05] orangeglo101 commented on #1018
Well I was researching how the Hak5 Rubber Ducky 2.1 does it. Looks like they have a firmware where you can set the VID/PID. I read that using the VID/PID from an Apple keyboard would bypass the setup screen. I found the list of VID/PIDs to use with the Hak5 Rubber Ducky [here on github](https://github.com/midnitesnake/USB-Rubber-Ducky/wiki/Keyboard_VID_PID_List). It would be super useful to choos

[2022-03-14 02:42] brandocrawford36 commented on #1013
FW 0.50.0

[2022-03-14 15:38] MuddledBox opened #1020 "3v3 and 5v GPIO Output Issue"
Playing around with the GPIO today I’ve noticed a few oddities, either the GPIO commands via serial are non-functional or not working as expected, and providing odd functionality.

---

Scenario Name: Turn off 3v3 voltage via Serial
Flipper Zero Firmware: 0.50.0 0.50.0 (3f164ef3 built on 03-03-2022)
Test Setup: Multi-meter plugged into Pin 11 (GND) and Pin 9 (3v3), Flipper connected via USB-C
Addi

[2022-03-14 16:12] skotopes commented on #1020
3.3V: this line is used to power SD-Card it is highly unrecommended to turn this line off(power will be re-enabled to scan sdcard). We will remove this command in future releases.
5V: it is expected behaviour when USB connected. Also using iButton will enable 5V while reading keys.

[2022-03-14 16:12] #1020 closed, assigned to nobody

[2022-03-14 16:56] MuddledBox commented on #1020
Makes sense, thanks!

[2022-03-14 18:20] alexwaibel commented on #1015
Not sure how feasible this would be given the resolution and current UI design, but it would be cool to be able to rotate the display orientation arbitrarily instead of having a simple lefty toggle. My thought being that if I just flip the device upside down so the buttons are on the left, the IR blaster is no longer facing forward. As a lefty, I'd probably prefer to use the device in the orientat

[2022-03-14 21:39] alexlanghart opened #1023 "NFC-V read/save/emulate"
**Describe the bug**
On an earlier firmware version I was able to scan this same NFC card and save it, but after updating to v0.50.0 (from whichever out-of-the-box FW version it came with) it doesn't display any button to save the NFC card. See screenshot

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `NFC`
2. Go to `Read card`
3. Scan this card (which is a gym membership keychain)
4.

[2022-03-15 00:02] jman1118 commented on #1019
I have the same issue when reading cards from Apple Pay.

[2022-03-15 00:13] hakusaro commented on #1019
@jman1118 I don’t actually have this problem reading Apple Pay cards from Visa. I haven’t tried MasterCard though. What’s the issuer?

[2022-03-15 00:25] jman1118 commented on #1019
Any of my physical mastercards didnt read on the first try. Earlier apple pay locked up the flipper but havent been able to reproduce this.

[2022-03-15 00:26] jman1118 commented on #1019
My apple card doesnt read at all but that could be because its metal.

[2022-03-15 00:30] gteague commented on #1019
apple card i get a popup with nfc-a as the first line and then it refuses to go any further. /guy

[2022-03-15 00:32] hakusaro commented on #1019
The physical Apple Card doesn't have an NFC chip inside it, iirc.

[2022-03-15 00:38] gteague commented on #1019
ah! i was trying about a half-dozen cards and only the visa worked as i expected. afterwards i tried reading an air-tag just for s&g's and that was the one which only responded to the /read/ option and said it was a bank card, but wouldn't go any further. and the /bank card/ read option didn't work. sorry but my short term memory isn't what it used to be. and i know zero about this stuff to begin

[2022-03-15 04:35] trn1ty opened #1026 "main prototype"
I'm still digging through this project with my new Flipper, so don't take me too seriously or urgently. "Dumb n00b looks at professionals' code." etc...

It would be cool if apps could have a `main` prototype. It doesn't necessarily need to take arguments or comply with standards, but having `int main` seems like an easier start prototype than something like `int32 function_app(void *p)`. I'd espe

[2022-03-15 18:58] Uptrend-john commented on #899
I don't have that exact problem my settings page is just a screen of Red (Android Device)

[2022-03-16 04:25] skotopes commented on #1023
Looks like it came with NFC refactoring, we will return this option in future releases.
Do you have use cases for UID emulation?

[2022-03-16 04:29] skotopes commented on #1026
Hi.

Apps already have this signature for entry point `int32_t (void* p)`.
Where `void* p` is a pointer to c-string with argument passed by loader (or cli).

`Plugins` name is kinda misleading, it's actually applications.

[2022-03-16 04:58] skotopes commented on #899
I'll check it after we merge #1021

[2022-03-16 04:59] alexlanghart commented on #1023
I suppose a use case would be having a single device for multiple NFC ID cards, or backing them up.

[2022-03-16 05:03] skotopes commented on #1023
But you do understand that what we saving here is only card's UID?
Saving real card data is something that we plan to implement in future.

Also what card are we talking about right now?

[2022-03-16 05:12] alexlanghart commented on #1023
Oh I assumed the UID was the card's full data; it's simply a gym door access card, so I wouldn't be surprised if it's only a UID.

[2022-03-16 05:13] skotopes commented on #1023
Gym most likely just uses UID

[2022-03-16 16:21] dc540 opened #1029 "Various HID formats: detection"
From my post on Reddit https://www.reddit.com/r/flipperzero/comments/tf312l/fun_new_toy_time_rfid_questions/i0up2vt/?context=3

Some HID formats on LF tags are detected, others are not.

Detected: 26bit HID Prox
Not detected: 34bit HID Prox

If there's more info you need, I have a proxmark3 RDV4 with latest iceman firmware. I may have additional tags I can test, and/or I may be able to program tag

[2022-03-16 17:19] DrZlo13 commented on #1029
Welcome!
Do you have 34-bit HID fobs? Dumps of this format would help me a lot, I need as many of them as you can take.

[2022-03-16 17:49] dc540 commented on #1029
What does a dump look like and how is it generated?  Most of what I've done with HIDs are simple reads and clones.

[2022-03-16 18:31] DrZlo13 commented on #1029
Just an answer from proxmark's `lf search`.

[2022-03-16 18:45] zzhang1 commented on #1029
Based on another thread on Reddit there was a good comment linking to an article describing 125khz formats with different bit lengths in addition to 26 and 34. As that poster suggests, maybe another interim solution is to try to implement a raw read/playback feature if that's easier than handling all the different formats. https://www.reddit.com/r/flipperzero/comments/tc7eoy/comment/i0p07uv/

[2022-03-16 19:18] dc540 commented on #1029
Do you have an email where I could send you sample data privately?

[2022-03-16 19:32] DrZlo13 commented on #1029
@zzhang1 `implement a raw read/playback feature`
I don't think this will be an adequate working solution. LF data is very noisy, and besides, it is a continuous stream of data, and many readers rely on this fact. We do not know where the beginning or where the end is, and we do not even know the length of the data.

Also, if you want to write key to fob, you need deconstructed data.

But in any ca

[2022-03-16 19:35] dc540 commented on #1029
Here are two innocuous samples.
HID Prox TAG ID: 2401c1768e (47943) - Format Len: 34bit - FC: 224 - Card: 47943
HID Prox TAG ID: 2401c1778e (48071) - Format Len: 34bit - FC: 224 - Card: 48071

[2022-03-16 19:40] DrZlo13 commented on #1029
@dc540 i need full log, with raw data. Something like this:

[code]

[2022-03-16 20:14] dc540 commented on #1029
Interesting. Your question sent me on an interesting journey.

iceman's firmware does not include the raw data in output of lf search, just the data I provided. So I thought, well, maybe the official firmware does. But when I flashed to the official firmware and ran its corresponding client, lf search reports the following:

Checking for known tags:

HID Prox TAG ID: 2401c1778e
Invalid or unsuppor

[2022-03-16 20:24] dc540 commented on #1029
in any case you should be able to clone a HID tag using that ID and test on that.

[2022-03-17 03:52] wbraswell opened #1031 "SubGHz: return 300MHz frequency"
Tag @Skorpionm
Chamberlain brand garage door remote control
FCC ID: hbw2281
300MHz

[2022-03-17 03:53] skotopes commented on #1031
@wbraswell by the way, it's already fixed in #1028

[2022-03-17 03:54] wbraswell opened #1032 "Infrared: Saved Remote from FW 0.43.1 Does Not Open in FW 0.50.0"
Tag @Skorpionm
I saved the "power" and "input" buttons on my TV remote control using FW 0.43.1 (default as received in the mail).  I confirmed I could open, edit, and utilize these two buttons on my TV.  Now that I have updated to FW 0.50.0, my remote control is still listed under "Saved Remotes", but when I click on it, it just returns me to the previous menu as if I had clicked the back button.

[2022-03-17 03:59] wbraswell commented on #1031
@skotopes
Without access to Jira, I can't find any way to confirm #1028 actually adds back in 300MHz?

[2022-03-17 04:05] MuddledBox commented on #1031
@wbraswell look in https://github.com/flipperdevices/flipperzero-firmware/pull/1028/files

Specifically:
[applications/subghz/subghz.c](https://github.com/flipperdevices/flipperzero-firmware/pull/1028/files#diff-7655a7acf96feb4c136f87657511de7dd28d88749c6d7244ccbe22adc786cec9)

[2022-03-17 04:14] skotopes commented on #1031
@wbraswell we currently migrating to github issues, we do not plan to continue to use jira.

[2022-03-17 04:19] skotopes commented on #1032
The reason why you can not open remotes saved with older firmware is recent migration to new flipper file format.
There were no way to provide firmware level backward support and we decided to break compatibility this time.
In future releases we are planning to add migration tools. But not this time.

This time it will be easier to relearn remote.

[2022-03-17 04:20] #1032 closed, assigned to nobody

[2022-03-17 04:27] ynadji commented on #1018
I'm interested in tackling this, but could use some pointers to help me get started.

First, I need to see where the VID/PID are set. These two fields are part of the [`usb_device_descriptor`](https://github.com/flipperdevices/libusb_stm32/blob/8a7846d0213c51aa4167e7fbe3118e33848e79b7/inc/usb_std.h#L338-L339) struct. Looking for where these get set in the code, I see [`hid_device_desc`](https://gi

[2022-03-17 05:21] skotopes commented on #1018
@ynadji @orangeglo101 please tag @nminaylov to get answers )

[2022-03-17 10:49] #1031 closed, assigned to Skorpionm

[2022-03-17 10:50] #1026 closed, assigned to nobody

[2022-03-17 11:25] skotopes commented on #899
@gornekich @nminaylov reproducible on IOS and Android.
#1033 improves device behaviour but issue still persist in BLE transport for RPC

[2022-03-17 12:51] DrZlo13 commented on #1029
@dc540
Unfortunately proxmark sometimes ignores important data, so raw data from the card would be very helpful to me.
Please try:
[code]
[code]

[2022-03-17 15:32] dc540 commented on #1029
Sorry, I'm still not sure I'm using the same proxmark firmware that you're used to. Neither the official firmware nor the iceman fork are reporting what you seem to be expecting.

Official firmware using the above commands (after changing "lf hid reader" to "lf hid read") still reports "unsupported tag length"

While iceman's latest reports slightly better, it still does not include raw data anywh

[2022-03-17 15:37] DrZlo13 commented on #1029
I use the firmware from https://github.com/RfidResearchGroup/proxmark3.git, it seems to be the most alive.

[2022-03-17 16:13] dc540 commented on #1029
Now we're cooking with gas.  Hope this helps. This is a known-good tag.

[usb] pm3 --> lf hid read
[+] [H10306  ] HID H10306 34-bit                FC: 96  CN: 47935  parity ( fail )
[+] [N10002  ] Honeywell/Northern N10002 34-bit FC: 96  CN: 47935  parity ( fail )
[+] [Optus34 ] Indala Optus 34-bit              FC: 831  CN: 96
[+] [SMP34   ] Cardkey Smartpass 34-bit         FC: 12  CN: 47935  Issu

[2022-03-17 18:35] nminaylov commented on #1018
@ynadji
Each USB device mode in flipper is described by `FuriHalUsbInterface` structure, which contains some basic device information (device, configuration, string descriptors) and callbacks. VID/PID pairs are located in device descriptors, also there are 3 string descriptors for manufacturer name, device name and serial. You shouldn't directly access `FuriHalUsbInterface` structure fields from a

[2022-03-17 20:08] fennectech opened #1037 "[Feature Request] Intigrate haystacks as a background process"
https://github.com/seemoo-lab/openhaystack

This project emulates air tags   it woud be awesome if the flipper could act as an air tag when bluetooth is on   there are so many ways this couold be useful

[2022-03-17 20:22] Astrrra commented on #1037
This was already done in december in https://github.com/AlexStrNik/flipperzero-firmware, but as far as I remember, using OHS blocked any other bluetooth features, and the whole project became really hard to maintain after some low-level changes to the upstream bluetooth code

[2022-03-17 21:00] fennectech commented on #1037
I would be fine with it being something you could turn on and off.   Would you guys please be wiling to bring this back?
I imagined something like this

**Bluetooth Mode**
- Flipper Companion app
- Open Haystack
- OFF

It would eliminate the problem of OHS blocking other features as its an option the user can select and change at will. This is the type of feature that I would find myself using on

[2022-03-17 21:52] Astrrra commented on #1037
That's exactly how it works in the fork, but then again, it's quite hard to maintain

[2022-03-17 22:20] fennectech commented on #1037
is there any chance it will be brought forward into the current firmware

[2022-03-17 22:22] ynadji commented on #1018
Thanks @nminaylov, that was very helpful! I'll just define a new `FuriHalUsbInterface` struct that gets around this particular issue and it'll be easy to add others if there's reason to do so. This will make the user input problem easier as well, since it'll just be from a fixed selection of possible devices to emulate.

[2022-03-17 22:59] Patronics opened #1038 "Feature Request: i2c and SPI bridge to USB"
Similarly to the USB-UART bridge, it'd be really useful to have an option to use flipper as a i2c device (Ideally both as a master and a slave that shares the memory to the host computer). Similarly a SPI Bridge option would be useful.

[2022-03-17 23:03] Patronics opened #1039 "Feature request: GPIO Logic analyzer/scope"
A really useful option for debugging circuits, a logic analyzer app (and possibly even an analog scope option) would be very powerful! Could also optionally output the data to a computer for more advanced analysis, perhaps mimicking either a Saleae logic analyzer or a cheaper simpler one from another brand.

[2022-03-17 23:06] Patronics opened #1040 "Feature Request: "Twin Duck" usb rubber ducky emulation"
Many of the sample badusb scripts from Hak5 use the "Twin Duck" firmware, emulating a USB drive in addition to a keyboard input. This would add a lot more flexibility to the BadUSB feature.

[2022-03-17 23:14] Astrrra commented on #1037
Probably not, switching between those two modes will be a major inconvenience when the companion apps are finished

You're free to implement this in your own fork though! I think looking at the old code (link above) might help a lot with that

[2022-03-18 00:07] MuddledBox commented on #1040
This has been requested a bit in the Discord.

Currently the SD card in the Flipper Zero is not recognized as a mass storage device by Windows. That would probably be a good step one before implementing this feature.

[2022-03-18 22:53] fennectech opened #1041 "Snake game state storage and pausing"
I have really enjoyed picking up the snake game every once in a while   id like if you could have it able to pause and store its state on SD for later resuming

store its state on the SD for resuming later

**Additional context**
its fun! thanks

[2022-03-19 00:35] BcsHax opened #1043 "Flipper File System Showing files beginning with ._"
**Describe the bug**
Flipper Built in file system is displaying files with "._" when folders are added in a directory. After opening Sub Ghz files file without "._" the actual capture does not send.

**To Reproduce**
Steps to reproduce the behavior:
1. Add 1-n folders with multiple files to the Flippers Sub Ghz fold on your SD card
2. From the flipper Desktop press the down arrow to enter the file

[2022-03-19 18:05] ynadji commented on #1018
Just as an update, I've managed to find the right set of options to bypass the keyboard assistant on [my branch](https://github.com/ynadji/flipperzero-firmware/tree/add-apple-hid-device). Once I figure out how to choose which `FuriHalUsbInterface` to use from the UI I'll open a PR.

[2022-03-20 15:12] skotopes commented on #1037
Hi.

As it was already mentioned it requires different radio firmware which at this point is impossible(not enough free space to use full radio stack).

We will come back to this idea after we add loading apps from SD.

[2022-03-20 15:12] #1037 closed, assigned to nobody

[2022-03-20 15:13] skotopes commented on #1038
Hi. What protocol do you propose?

[2022-03-20 15:20] skotopes commented on #1039
We've been exploring that area for a while and found that it's not going to be very useful because of hardware limitations(ARM core + USB + Memory performance). But do plan to add some basic scope to GPIO screen.

[2022-03-20 15:29] skotopes commented on #1040
Theoretically possible. But going to be suuuuuuper slow.
We'll keep this thing in backlog, but don't expect it be implemented anytime soon.

[2022-03-20 15:35] skotopes commented on #1041
Possible, everything is in place to implement it.
But keep in mind that this app is demo and doesn't have maintainer inside of the main team.
We'll be happy if someone from community will do it.

[2022-03-20 15:43] skotopes commented on #1043
Do I understand your issue correctly?

- you are using mac os
- you are using card reader to access SD Card
- after copying files to sd card you put it to flipper
- and then in file browser you can see those files (generated by mac os to keep extended attributes in them)

[2022-03-20 16:24] Patronics commented on #1038
Hmm, I'm not too familiar with the specific options, but perhaps it'd make sense to emulate the FTDI FT232H? It is used for i2c and SPI, in addition to some other protocols like JTAG and UART. If there's another option that's easier to implement that'd be fine too, as long as the functionality of enabling i2c and SPI communication from the computer is available. https://www.ftdichip.com/Support/Do

[2022-03-20 16:26] skotopes commented on #1038
@Patronics FTDI is closed source product, it's not very good idea.

[2022-03-20 16:27] Patronics commented on #1038
Hmm, what about this open source project? https://github.com/harbaum/I2C-Tiny-USB

[2022-03-20 16:33] skotopes commented on #1038
Looks like they have their own protocol and using low level access to USB. Theoretically possible.
I think it is a good topic for research, it will be nice to find all available options before implementing it.

[2022-03-22 02:58] wbraswell opened #1047 "SubGHz: Transceiver Crippled, RX Enabled & TX Disabled"
Tag @skotopes & @Skorpionm

Like many others, I backed the Flipper project with the specific purpose of consolidating multiple remote-control and key-code devices into one, especially the frequencies covered by the sub-gigahertz transceiver.

Imagine my surprise and supreme disappointment when I was finally able to capture the signal of my garage door opener, but then as I tried to transmit the si

[2022-03-22 03:11] wbraswell opened #1048 "RFID: Unable To Detect Or Read Any Signal"
Tag @skotopes & @Skorpionm

Using a variety of different RFID tags, I have been unsuccessfully attempting to read an RFID signal.

In the **"125 kHz RFID"** menu, I simply select "Read" and I am given the animation of the Flipper dolphin with the caption **"Reading LF RFID"** while the LED rapidly blinks approx 8x red followed by 4x blue, repeating.

No matter where I locate the RFID tag in relati

[2022-03-22 05:36] skotopes commented on #1047
Wow.

It is actually federal government requirement to comply to FCC regulations and flipper exactly follows them (https://fccid.io/2A2V6-FZ).

Some papers to read: https://www.fcc.gov/wireless/bureau-divisions/technologies-systems-and-innovation-division/rules-regulations-title-47

[2022-03-22 05:36] #1047 closed, assigned to nobody

[2022-03-22 05:40] skotopes commented on #1048
Do you know exact type of the card?
Are you sure that card you are reading is 125kHz RFID?
Have you tried NFC?

Also please check: https://forum.flipperzero.one/c/125khz-rfid/5

[2022-03-22 06:30] drewbeer commented on #1029
here is another one that i just pulled, a valuprox hid card.

[+] [H10302  ] HID H10302 37-bit huge ID          CN: 11850046624  parity ( ok )
[+] [H10304  ] HID H10304 37-bit                FC: 22602  CN: 89248  parity ( ok )
[+] [P10004  ] HID P10004 37-bit PCSC           FC: 2825  CN: 71114
[+] [MDI37   ] PointGuard MDI 37-bit            FC: 6  CN: 38886560  parity ( ok )

[+] DemodBuffer:
[+]

[2022-03-22 13:21] Lucaslhm commented on #1040
1+ to this. This is an important feature on the ducky and bash bunny that allows you to quickly download payloads off the usb onto the target machines, or take data off the target machine and store it on the drive, negating the need for internet.

Hope to see this implemented at some point!

[2022-03-22 17:04] wbraswell commented on #1047
Thanks for the links, but that's a whole lot of legalese and technical jargon, which is not exactly easy to parse or understand exactly how it applies to this case.

Is the sub-GHz transmitter disabled for all frequencies, or only some specific frequency ranges?

[2022-03-22 17:05] skotopes commented on #1047
Only specific frequencies that are prohibited in your region.

[2022-03-22 17:06] wbraswell commented on #1047
Where is the list of regions and prohibited frequencies?

How does a Flipper device determine which region it is currently located within?

[2022-03-22 17:11] skotopes commented on #1047
Shipping region is programmed into OTP memory.

I'm not going to advice you to do illegal things, especially I'm not advising to read subghz source code https://github.com/flipperdevices/flipperzero-firmware/blob/dev/firmware/targets/f7/furi_hal/furi_hal_subghz.c#L570 and modify it the way you like it.

[2022-03-22 17:26] wbraswell commented on #1048
Okay I tried NFC and was able to get a successful read, and I also tried RFID with a different tag and got a successful read, so I will close this issue now, thanks @skotopes !

[2022-03-22 17:26] #1048 closed, assigned to nobody

[2022-03-23 18:15] #1043 closed, assigned to nobody

[2022-03-24 01:21] hakusaro commented on #1019
Fwiw, this still happens on `0.51.0` / f2a84851.

[2022-03-24 16:33] skotopes commented on #963
MiFare Classic read add in 0.52.0

[2022-03-24 16:33] #963 closed, assigned to nobody

[2022-03-24 16:33] skotopes commented on #1018
Implemented in 0.52.0

[2022-03-24 16:33] #1018 closed, assigned to nminaylov

[2022-03-24 18:20] MuddledBox opened #1052 "Sub-GHz No Longer Sends Via Saved in Dev Branch"
**Describe the bug**
In the latest Dev build, when sending via a saved Sub-GHz signal, it no longer sends. It vibrates, but instantly exits, regardless of length. No green LED blinks as it used to.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Sub-GHz
2. Click, "Saved"
3. Open any saved Sub-GHz file
4. Click "Send"
5. Notice the signal did not send, and ended abruptly after 100ms (als

[2022-03-24 18:27] skotopes commented on #1052
Thanks for report. Checking.

[2022-03-24 18:40] MuddledBox commented on #1052
Specific Dev Build tested is 3615ffec.

[2022-03-24 18:42] skotopes commented on #1052
I have a clue on what caused issue. @Skorpionm will check it tomorrow.

[2022-03-25 09:53] guilhem commented on #963
@skotopes Do we have to create other issues for saving, emulation and attack?

[2022-03-25 09:57] skotopes commented on #963
@guilhem saving already here. As for emulation we are working on it. And yes it make sense to create one more ticket to track emulation development progress.

[2022-03-25 16:33] skotopes commented on #1052
Fixed in 0.52.1-rc

[2022-03-25 16:33] #1052 closed, assigned to Skorpionm

[2022-03-25 17:17] MuddledBox commented on #1052
Confirming this is fixed, tested 0.52.2-rc.

[2022-03-25 21:31] ide opened #1059 "Cannot exit Mifare Classic screen (0.52.2)"
**Describe the bug**
After selecting the option to scan for Mifare Classic ICs, there is no way to exit the UI without a hard reset.

**To Reproduce**
Steps to reproduce the behavior:
1. Choose "NFC" in the main menu
2. Choose "Run special action"
3. Choose "Read Mifare Classic"
4. Cannot exit the next screen

![fz](https://user-images.githubusercontent.com/379606/160203188-4fa718bf-05ca-4c8e-807c

[2022-03-26 01:53] jman1118 commented on #1059
I get a "function requires an SD card with fresh databases" message.

[2022-03-26 05:51] OMGNapples opened #1061 "Strange Behavior When Deleting Through Pinned/Quick Access"
**Describe the bug**
If I hit the down button to access my pinned or quick access saved subghz or infrared, open the item in app, and then delete, I see strange behavior. For subghz, I'm stuck in a blank screen loop which requires me to reboot the device. In infrared, a strange UI/UX behavior occurs.

**To Reproduce**
Steps to reproduce the behavior:

1. Save a subghz raw recording
2. Hit down arr

[2022-03-27 18:24] BcsHax commented on #1043
@skotopes Sorry I wasn't traveling for work.

Yes, all assumptions are correct. It looks like the new file browser in qFlipper allows you to hide hidden files. Does the flipper now do that too?

also I'm noticing that I can't play sub ghz files that were not created/recoreded on the flipper if they are in a folder. is that a known issue? if so I can open a new ticket.

[2022-03-27 20:09] skotopes commented on #1043
Flipper at this point is not hiding anything. We are still thinking if it is good idea to add filter or not.

As for subghz yes, please open ticket it's a bug. Just make sure that you using latest firmware.

[2022-03-28 07:59] halxinate opened #1064 "Fresh Docker install. No go."
Created new Docker dev environment, cloned from github, opened it in VSCode, then in VSCode terminmal:
[code]
Tried make:
[code]
What I'm doing wrong? Docker environment config supposed to install proper `arm-eabi`. Manually installing it fails with some "bad version" error.

[2022-03-28 14:47] gornekich commented on #1059
@jman1118 you should update firmware with qFlipper, it will load all necessary databases on SD card

[2022-03-28 14:50] gornekich commented on #1059
@ide thanks for report. Fix just arrived to dev

[2022-03-28 17:35] B3rry commented on #1015
Agreed, it may not be ideal, but even a primitive flipping of all screens presented in a horizontal view would help. I actually imagine this means the solution is more nuanced than just “rotate 180 at all times” as rotation should probably stay in the _default_ orientation when navigating a vertical view. IMO the best practice is to factor symmetrical bilateral use into the ID phase, but that is a

[2022-03-28 18:54] halxinate commented on #1064
Nevermind, I guess. It works from CLI just fine. I've been trying to learn the Docker's GUI flow.

[2022-03-28 18:54] #1064 closed, assigned to nobody

[2022-03-28 20:32] wbraswell opened #1067 "SubGHz, 300MHz Not Detected By Read & Frequency Analyzer"
I am now running the latest firmware v0.52.2.

I am able to use the "Read RAW" functionality in order to record my 300MHz Chamberlain garage door opener, however the "Read" and "Frequency Analyzer" still do not detect any signal.

When I first used my Flipper device out of the box, before upgrading any firmware at all, both the "Read RAW" and "Frequency Analyzer" would successfully detect the 300M

[2022-03-28 21:55] skotopes commented on #1067
As for Frequency Analyzer it got some limitations: signal must be long enough. If transmitter it not repeating it's payload then we can not detect it.

Read is only for signals that we know how to decode.

So let's start with FCCID and model.
We will try to find this system and ship it to our RnD office, but we also can start with recorded signal (need signal from couple fobs).

@Skorpionm will he

[2022-03-28 23:37] wbraswell commented on #1067
Make: Chamberlain brand
Model: 300MC (garage door remote control)
FCC ID: hbw2281
Frequency: 300MHz

As I said, at the very least the "Frequency Analyzer" was working well and now it is not.  I can hold down the button on the Chamberlain remote and it will keep it's red light on, which means it is transmitting continuously.  I know this because I was eventually able to get the Frequency Analyzer t

[2022-03-29 05:29] Skorpionm commented on #1067
many times I asked people who want to add support for new systems to the flipper, throw the necessary data on the forum.  and not one person did it.  I don't have this system yet so I can add it myself.  please do what is written here https://forum.flipperzero.one/t/my-remote-isnt-supported-how-to-add-new-sub-ghz-protocol-in-flipper-zero/2033/2 the record must be made on any sdr receiver with the

[2022-03-29 17:08] TheyCallMeZ opened #1070 "[NFC] Sub-Folder browsing not available from main app launch"
Only items in the main folder are visible, I suspect this applies to other items as well.

**To Reproduce**
Load up files in the NFC folder and a subfolder under nfc

1. Switch on...
2. Press center navigation button
3. Select NFC
4. Select "Saved cards"
5. See only the files in the base folder

**Expected behavior**
Subfolder appears, and shows valid items for the NFC app

**Additional context**

[2022-03-29 22:35] wbraswell commented on #1067
@Skorpionm okay I will follow your directions regarding the capture and submission of 10 button clicks in separate files, as it relates to the "Read" functionality.

The poor performance of the "Frequency Analyzer" functionality seems to be a different issue, and discussed in some depth here:
https://forum.flipperzero.one/t/frequency-analyzer-not-working/1834/22

[2022-03-30 15:25] #1059 closed, assigned to gornekich

[2022-03-30 22:33] jinschoi opened #1076 ""Burst" wide band frequency keying mode"
I am looking at duplicating the protocol for my Honda key fob, for opening doors, unlocking, etc. It appears to be a simple sequence of 25ms bursts every 100ms at either 313.55 or 314.15 MHz (313.85 +-.30 MHz). I would like to be able to send this type of signal, but there is no easy way to do it at this time.

My thought for the easiest way to support this would be to extend the RAW .sub format f

[2022-03-30 22:49] skotopes commented on #1076
Current architecture doesn't allow to do that. Right now timings(CC/AR) are fed to TIM2 directly(DMA) from memory, that makes impossible to change frequency at the same time.

It is however possible: you will need to use lowest level of furi_hal_subghz and directly control gpio_cc1101_g0 from your code. Going to a be little bit challenging though.

[2022-03-30 22:49] skotopes commented on #1076
Can we also have FCCID/mode and/or recorder signal?

[2022-03-30 22:58] cshock159 opened #1077 "Request for 134kHz reading"
Request to add 134 kHz reading capability. The goal is to be able to read and decipher rfid chips injected into pets. The first half of pets/animals/livestock are covered with the 125 kHz reading, but due to https://en.wikipedia.org/wiki/ISO_11784_and_ISO_11785, there is some variation and 134 kHz would need to be added.

https://prckc.org/wp-content/uploads/microchipping-101.pdf more details on t

[2022-03-31 01:26] jinschoi commented on #1076
FCC ID KR5V1X (https://www.amazon.com/Honda-Odyssey-Keyless-Remote-KR5V1X/dp/B07KFK48CW)

Here is an IQ recording of the left door button: [leftdoor5.complex16u.zip](https://github.com/flipperdevices/flipperzero-firmware/files/8385169/leftdoor5.complex16u.zip)

Recorded using: ```rtl_sdr -f 313850000 -s 1300000 leftdoor5.complex16u```

Format is 8-bit unsigned raw IQ samples (named complex16u beca

[2022-04-01 03:49] wbraswell opened #1079 "NFC-B read/save"
I was able to successfully scan a NFC-B item and I see the UID displayed, but the only option is "Retry", there is no option for "Save"?

[2022-04-01 13:39] skotopes commented on #1079
Currently we only can detect this type of cards. We don't yet support getting data from it.

[2022-04-01 13:39] skotopes commented on #1076
@Skorpionm what do you think?

[2022-04-01 21:12] jman1118 opened #1081 "[NFC] Detecting Ultralight will run indefinitely when scanning"
Bug - Ultralight script will run in infinite loop when scanning for tag

Steps to reproduce the behavior:
1. Switch on
2. Select NFC
3. Read Card
4. More
5. Run compatible app

Expected Behavior:
Flipper should time out after X seconds if no card detected or return a result

This issue is occurring while reading a hotel key card (Assa Abloy MIFARE Ultralight EV1 tag)
[https://colnect.com/en/hotel_

[2022-04-04 11:31] djsime1 opened #1084 "Feature request: Sniff MF Classic keys from readers."
**Is your feature request related to a problem? Please describe.**
While the Mifare Classic key database covers 95% of scenario when reading tags, there are some cases where it doesn't.

**Describe the solution you'd like**
I would like to have the ability to sniff sector keys as sent by a tag reader. In concept, Flipper would emulate a tag and capture access keys when they are sent. After the key

[2022-04-04 12:30] skotopes commented on #1081
Looks abnormal. Can you also switch "Settings->System->Log Level" to debug and  provide console log?

[2022-04-04 17:05] otanim opened #1085 "Sub-GHz: hopping v2"
**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
For Sub-GHz: Hopping: allow to be able to select desired frequencies/modulations.

**Describe alternatives you've considered**
Well, it can be hard-coded inside the source code directly but would be great to be able to do this directly from the firmware's UI.

**Additional context**
"This wi

[2022-04-05 20:20] OMGNapples opened #1092 "Saved Mifare Classic Access Difficulty"
**Describe the bug**
After saving a Mifare Classic card, if I attempt to emulate it from NFC's "saved cards", there is no option.
Temporary workaround: accessing the saved NFC cards from the favorites/saved menu will allow you to Run in app

**To Reproduce**
Steps to reproduce the behavior:
1. Save a Mifare Classic card
2. Return to NFC app screen
3. Select "Saved cards"
4. Select your Mifare Clas

[2022-04-07 15:02] skotopes commented on #1092
@gornekich

[2022-04-07 15:03] skotopes commented on #1085
Yep, we working on adding custom frequencies.

[2022-04-07 15:04] skotopes commented on #1084
We are working on MiFare classic, we'll publish update after finish research

[2022-04-07 15:06] skotopes commented on #899
fixed in 0.52

[2022-04-07 15:06] #899 closed, assigned to gornekich, nminaylov

[2022-04-07 15:07] #1016 closed, assigned to nobody

[2022-04-07 19:01] ase1590 opened #1100 "Bluetooth Remote crashes radio core"
When entering the bluetooth remote app on Flipper, waiting for it to pair, then using it, it may cause QFlipper to detect the radio firmware as corrupt, as well as in some cases locking up the Flipper entirely.

**To Reproduce**
Steps to reproduce the behavior:
1. Switch on...
2. enter Plugins -> Bluetooth Remote
3. wait for pairing to complete
4. press a few buttons on the flipper
5. exit the app

[2022-04-07 20:43] skotopes commented on #1100
Hi. Thanks for report.

[2022-04-10 19:15] otanim commented on #1085
@skotopes, danke :pray:

[2022-04-11 19:30] Semeeconductor opened #1106 "Byte input in signal info menu Sub-Ghz"
I would like to have an option to input 32-bit seed value for FAAC SLH protocol to decode signals from flipper zero menu similar to manual byte input in NFC / RFID / iButton apps instead of manually putting it in source.
![seed_slh](https://user-images.githubusercontent.com/103456150/162815292-d87e3507-b60f-414d-b112-95769215a599.png)

[2022-04-11 19:38] skotopes commented on #1106
@Skorpionm take a look please

[2022-04-12 04:58] Skorpionm commented on #1076
I think that there can’t be a simple sequence of signals, at different frequencies, it’s still some kind of protocol, I still need to hold this key fob in my hands to say more

[2022-04-12 10:20] #1106 closed

[2022-04-12 10:21] skotopes commented on #1106
Nope )

[2022-04-13 21:28] fennectech opened #1110 "ONN remote code for database"
https://flpr.app/s/#path=ext/infrared/Onn_tv.ir&Filetype=IR+signals+file&Version=1&name=Pwr&type=raw&frequency=38000&duty_cycle=0.330000&data=4035+3994+517+1982+517+1982+517+1981+518+1981+518+1006+497+1001+492+1982+517+1007+496+1978+521+1004+489+1983+516+1009+494+1003+490+1009+494+1003+490+1008+495+1978+521+1977+522+1003+490+1982+517+1007+496+1977+522+976+517+1983+516&name=Mute&type=raw&frequency=

[2022-04-13 21:39] fennectech commented on #1110
https://flpr.app/s#path=ext/infrared/remote.ir&Filetype=IR+signals+file&Version=1&name=V_up&type=raw&frequency=38000&duty_cycle=0.330000&data=193+899+220+1734+225+726+227+2825+223+1280+223+1280+223+1149+219+2701+222+12626+230+910+199+1463+227+729+225+781+204+727+226+2144+220+763+201+751+254&name=V_dn&type=raw&frequency=38000&duty_cycle=0.330000&data=198+921+198+1730+229+722+221+2831+227+1275+228+1

[2022-04-14 05:26] tenyujump opened #1111 "Unable to add files to qflipper ir or subghz"
When trying to add any file to the ir or subghz through qflipper I get an operation error.

[RPC] (129) Storage List @/ext START
[RPC] (129) Storage List @/ext SUCCESS
[RPC] (130) Storage List @/ext/infrared START
[RPC] (130) Storage List @/ext/infrared SUCCESS
[RPC] (131) Storage Write @/ext/infrared/ START
[RPC] (131) Storage Write @/ext/infrared/ ERROR: Failed to open file for reading: No file

[2022-04-14 06:12] Skorpionm commented on #1085
https://github.com/flipperdevices/flipperzero-firmware/pull/1108
support for custom frequencies for SubGhz

[2022-04-14 06:17] Skorpionm commented on #1067
https://github.com/flipperdevices/flipperzero-firmware/pull/1108
support for custom frequencies for SubGhz
you can separately set the frequencies for Read, Hopper and Frequency Analyzer

[2022-04-14 20:44] jiserra opened #1120 "Sub-GHz doesn't send via folders"
**Describe the bug**
If a .sub file is located inside a folder and not in the root `subghz` (e.g. `SD Card/subghz/coolsubs/test.sub`) then it doesn't send the signal. It vibrates, but instantly exits, regardless of length. No green LED blinks.

**To Reproduce**
1. Press down arrow button on Home
2. Navigate to the Sub-GHz section
3. Select a folder and navigate inside the folder
4. Select a .sub f

[2022-04-14 21:12] skotopes commented on #1111
@tenyujump can you also provide versions of qFlipper and firmware that you were using? Also can you provide full qflipper log?

[2022-04-14 21:13] skotopes commented on #1120
@Skorpionm take a look please

[2022-04-15 18:40] fennectech commented on #1110
https://flpr.app/s#path=ext/infrared/remote.ir&Filetype=IR+signals+file&Version=1&name=V_up&type=parsed&protocol=Samsung32&address=07+00+00+00&command=07+00+00+00&name=V_dn&type=parsed&protocol=Samsung32&address=07+00+00+00&command=0B+00+00+00   Here are some Volume buttons for the vast majority of Samsung TVs in the last 15 years

[2022-04-15 23:01] hanui opened #1124 "Genie Garage Door Protocol"
Using Genie garage door opener, same button is used for opening and closing. Recorded signals do not seem to work on the garage.
[Genie_Garage.zip](https://github.com/flipperdevices/flipperzero-firmware/files/8498842/Genie_Garage.zip)

[2022-04-16 05:27] Skorpionm commented on #1124
signals are recorded incorrectly, and very short, do as it is written here
https://forum.flipperzero.one/t/my-remote-isnt-supported-how-to-add-new-sub-ghz-protocol-in-flipper-zero/2033

[2022-04-16 18:18] otanim commented on #1085
@skotopes / @Skorpionm, a suggestion from my side for https://github.com/flipperdevices/flipperzero-firmware/pull/1108 PR:

**PR's change:**
- Can this be integrated inside the UI. Otherwise, be documented with example files?

**In general:**
- If any new feature has been added to the firmware, it either has to be UX friendly in such a way that it would be operable using internal UI, elsewise, if

[2022-04-16 18:41] Skorpionm commented on #1120
https://github.com/flipperdevices/flipperzero-firmware/pull/1125
fix

[2022-04-17 06:14] Skorpionm commented on #1085
yes, it is logical, it will be described in the documentation, it is currently at the testing stage, but everything is simple there, this is a list of frequencies that you need, there can be as many (within reasonable limits) as many of them, sorting is not important, and only frequencies available cc1101 will work,  others he will discard

[2022-04-18 06:51] RChadwick7 opened #1128 "Sending De Bruin sequences"
Will De Bruin be added to the Sub-GHz?

[2022-04-18 09:38] Skorpionm commented on #1128
there are ready-made sequence generation scripts for RAW, we are for the fair use of flipper

[2022-04-19 03:06] Patronics commented on #1038
I found another good option, the "Binho Nova Multi-Protocol USB Host Adapter"  with a pretty friendly and intuitive (though not open source, sadly) implementation, emulating a UART adapter/virtual com port that implements the other commands internally, so there wouldn't need to be any new drivers on the host device, and it already has integration with python libraries). The ascii interface is docu

[2022-04-19 07:37] skotopes commented on #1038
Conversion to text and back will be slow.
We will add option to work with i2c and spi throw protobuf and provide library to work with it.

[2022-04-20 09:47] gornekich commented on #1081
Ultralight cards can protect memory area with password. In this case you have to know password to authenticate to protected memory. This functionality is not implemented in flipper so far.
However, I can say that this is the reason why you can't read card if you provide console logs

[2022-04-20 09:50] gornekich commented on #1092
We hide emulate option intentionally since we have not implemented Mifare Classic emulation so far. You can only emulate UID from archive. Mifare Classic emulation is under development

[2022-04-20 10:11] gornekich commented on #1019
Unfortunately we can't reproduce the issue. Meanwhile I made NFC app refactoring, now it is in dev branch and soon it will be in release. Could you reproduce the problem with updated firmware? If the problem is not solved it will be very helpful if you provide console logs with Debug level

[2022-04-21 02:18] samuel opened #1141 "Partial transmission of RAW Subghz sub file"
**Describe the bug**
A RAW file I created seems to be only partially transmitted based on the signal I capture using an RTL-SDR. According to the log the entire file was read (based on the on/off total durations in the log). I tried many times with slight changes to the raw sub file to make sure it's not a syntax error but always get some amount of truncation of the transmitted signal.

test.sub:

[2022-04-21 13:39] Hackerman-the-tired opened #1143 "Readme points to dead link"
Trying to install the environment on a different pc and https://developer.arm.com/-/media/Files/downloads/gnu-rm/10.3-2021.10/$toolchain_package.tar.bz2 is connecting but can't download anything.

[2022-04-21 19:37] Skorpionm commented on #1141
I will check tomorrow

[2022-04-21 21:36] hanzov69 opened #1145 "[NFC] Mifare Ultralight fails in 0.56.0-rc 0.56.0-rc (54356794 built on 21-04-2022"
**Describe the bug**
Using an Amiibo NTAG215 as a sample source, attempting to dump the data fails silently, Flipper remains stuck on "Detecting ultralight" screen. Reverting to 0.55 works correctly

**To Reproduce**
Steps to reproduce the behavior:
1. Menu "NFC"
2. "Read Card", place Amiibo tag near reader
3. "Detecting NFC", goes to dialog with NFC data (NFC-A may be: Mifare Ultral/NTAG)
4. Choo

[2022-04-22 00:55] hakusaro commented on #1019
@gornekich it still crashes on 0.56.0 RC, and I still have no idea how to capture logs after enabling them.

[2022-04-22 07:39] Skorpionm commented on #1141
Fix https://github.com/flipperdevices/flipperzero-firmware/pull/1146
![image](https://user-images.githubusercontent.com/85568270/164629649-8ec862b6-0c5c-4e9c-9c02-f40bf07ed16d.png)

if the last duration is very important, then either end with a high level or make an additional period, or simply repeat the send as a whole. anyway, 1 time is not enough for the receiver

![image](https://user-images.

[2022-04-22 11:14] skotopes commented on #1143
Hi.

Looks like you've been part of the script to download tool chain. `$toolchain_package` is defined earlier and used to autodetect your linux platform.

[code]

Also you can grab package directly from arm web site: https://developer.arm.com/tools-and-software/open-source-software/developer-tools/gnu-toolchain/gnu-rm/downloads

[2022-04-22 11:14] #1143 closed, assigned to nobody

[2022-04-22 11:34] skotopes commented on #1141
Fixed in dev, will be included in 0.56.1

[2022-04-22 11:34] #1141 closed, assigned to nobody

[2022-04-22 11:46] skotopes commented on #1128
Most protocols designed to handle that kind of brute force attack. I don't see how it may be useful.
But you can implement it in your application. FuriHalSubGhz are designed to work with sequence generators in the first place.

[2022-04-22 11:46] #1128 closed, assigned to nobody

[2022-04-22 11:48] skotopes commented on #1111
Please reopen issue if it persist with information on FW/qFlipper version.

[2022-04-22 11:48] #1111 closed, assigned to nobody

[2022-04-22 11:49] #1120 closed, assigned to Skorpionm

[2022-04-22 11:53] skotopes commented on #1013
fixed in 0.56.0

[2022-04-22 11:53] #1013 closed, assigned to gornekich

[2022-04-22 11:56] skotopes commented on #1085
included in 0.55.0

[2022-04-22 11:56] #1085 closed, assigned to Skorpionm

[2022-04-22 12:04] skotopes commented on #1067
So what do we do? @Skorpionm is protocol supported on our side and issue is fixed?

[2022-04-22 12:10] skotopes commented on #1061
Fixed in 0.56.1, please feel free to reopen if issue still persist

[2022-04-22 12:10] #1061 closed, assigned to nminaylov

[2022-04-22 12:41] #1145 closed, assigned to nobody

[2022-04-22 12:41] skotopes commented on #1145
Check dev please, should be fixed

[2022-04-22 13:01] Skorpionm commented on #1067
I never received a protocol record on SDR, I can’t help but say something about the protocol, now you can add any of the supported frequencies in terms of frequencies

[2022-04-22 17:21] samuel opened #1150 "Cancelling a raw subghz transmission freezes the Flipper."
**Describe the bug**
Cancelling a raw subghz transmission (hitting back before send completes) freezes the Flipper. My guess this is likely related to the fix in #1146 (thanks for that fix btw, it works great now to transmit the full RAW file).

**To Reproduce**
Steps to reproduce the behavior:
1. Load a somewhat large sub file so that there's time to exit before completion.
2. Press the back/exit

[2022-04-22 17:28] skotopes commented on #1150
Thanks, working on fix.

[2022-04-22 17:57] Skorpionm commented on #1150
Yes, maybe I'm now waiting for the end of the transfer, and somehow I didn’t think about how the forced cancellation will work now.  fix it!

[2022-04-22 18:11] Skorpionm commented on #1150
https://github.com/flipperdevices/flipperzero-firmware/pull/1152 Fix

[2022-04-22 20:16] Moonman0922 opened #1154 "Folders in saved signals/cards"
I tried to add a subfolder of door codes within my saved sub-GHz signals. The Flipper doesn't recognize the folder.

I would like to see the ability to place signals and cards in folders to sort them.

A tagging system might also work.

[2022-04-22 21:34] dankNaan opened #1155 "Support for more 125 kHz Fobs"
**Is your feature request related to a problem? Please describe.**
Flipper Zero is unable to read certain 125 kHz Key Fobs.

**Describe the solution you'd like**
Please add support to read more fobs, specifically the Kantech P40KEY ioProx XSF/26 bit.

**Describe alternatives you've considered**
Tried reading with both apps (NFC, RFID)

**Additional context**
Also mentioned on [Reddit ](https://www

[2022-04-22 22:46] dustingrady commented on #1155
Yes please. I have a couple unsupported fobs that I'd love to use with Flipper :)

[2022-04-22 23:18] micsen commented on #1084
This could be relatively simple to implement (When MFC emulation is in place) but you will most likely need to take the nonce's from the reader to another device to calculate the key as that is quite resource intensive.

[2022-04-23 05:18] ZeroXR-13mg commented on #1154
Seconding this. I would love the ability to have folders, because I would love to be able to sort my Amiibo scans by folders.

It's definitely a bit messy with just having everything dumped into their respective directories (sub-GHz, NFC, IR, etc)

[2022-04-23 05:32] Skorpionm commented on #1154
already now you can lay out signals for SubGhz in any folders and subfolders, but for now it is possible to load them only through the archive (down button on the main screen)

[2022-04-23 18:22] Moonman0922 commented on #1154
I did find this after I made the feature request. It would be really nice to be able to see them in the menu too. Also. QFlipper doesn't allow moving existing files into folders. Just ones uploaded from a computer. Allowing drag and drop would be very cool.

[2022-04-23 18:28] Skorpionm commented on #1154
You just thought, and we have already done.  working ahead of the curve

[2022-04-23 20:54] J-Run opened #1157 "subhz NICE Smilo TX leads to sys halt"
**Describe the bug**
On try of TX loaded NICE Smilo subhz entity nothing expected is happens and Flipper turns to non responsilbe state.

**To Reproduce**
Steps to reproduce the behavior:
1. Put one of [attached](https://github.com/flipperdevices/flipperzero-firmware/files/8548588/subghz.zip) `.sub` files to `/ext/subhz/`
2. go to `Sub-GHz` -> `Saved` then select test case entity
3. make sure that

[2022-04-23 22:48] Moonman0922 commented on #1154
You all are great! This is some real 5 star service!!

[2022-04-24 00:30] hakusaro commented on #1019
Still crashes on `0.56.1` RC!

[2022-04-24 01:28] digitalcircuit opened #1158 "[Power] Option to reduce charging limit for increased battery longevity"
**Is your feature request related to a problem? Please describe.**
From what I understand, lithium batteries wear out over time, and [using and storing lithium batteries at full charge (e.g. 4.2v) can result in the battery wearing out faster]( https://batteryuniversity.com/article/bu-808-how-to-prolong-lithium-based-batteries ).

Since the Flipper Zero's battery is not easily replaceable (requires

[2022-04-24 04:31] JulyIghor opened #1165 "Can't rename folder"
**Describe the bug**
I renamed folder but instead of a new name it created a new empty folder.

**To Reproduce**
Steps to reproduce the behavior:
1. Use context menu to rename folder

**Expected behavior**
Folder renamed

**Actual behavior**
A new empty folder created, target folder not renamed.

**Additional troubleshooting**
1. Does the issue persist if you try multiple times?
Yes
2. Does reconn

[2022-04-24 07:00] Skorpionm commented on #1157
nice smilo is Keelog encryption, we only support DoorHan transmission.  all other systems on Keelog are not supported for transfer, and you do not need to change files manually :)

[2022-04-24 07:06] JulyIghor commented on #848
Wrong keys behavior. If you press fast, previous direction ignored.
It is need to be a key press queue.
Good example is here https://www.googlesnake.com

[2022-04-24 09:37] J-Run commented on #1157
Thx! got it!
"it’s not a bug, it’s a feature"

[2022-04-24 09:37] #1157 closed, assigned to nobody

[2022-04-24 13:41] grymoire opened #1160 "Bank/EMV card reading never stops and shows no progress, even when card is missing."
I was scanning an American Express card.
The flipper  recognized it as an EMV card. So I loaded the app "Run EMV app" and placed the flipper on top of the card. The device showed "Reading bank card". I left it there.  The display and LED continued to run. (I had the flipper plugged into my laptop to make sure there was enough power.).

I returned 15 minutes later - and there was no change.

I remo

[2022-04-24 15:00] JackDoan opened #1161 "[NFC] Crash when attempting to save DESFire cards"
**Describe the bug**
After trying to save a DESFire card, the interface hangs after submitting the file name

**To Reproduce**
Steps to reproduce the behavior:
1. Switch on...
2. NFC
3. Read Card
4. *beep* when you tap a desfire card
5. More
6. Save
7. enter a name
8. enter
9. crash

**Expected behavior**
No crash

**Logs**
No relevant logs. Crash seems to occur in the `nfc_scene_save_name_on_even

[2022-04-24 16:10] grymoire opened #1162 "Folders for badusb scripts"
I wanted to install several dozen badusb (rubberducky) scripts, that I wanted grouped by category.  I placed them on the SD card, in different folders.

However, when I looked for these scripts, they were not there and the folder did not show up. I had expected to be able to browse into each folder to find the appropriate script.

[2022-04-24 22:37] joshualibrarian commented on #1162
After seeing this issue as well, someone in the discord pointed out to me that while you're right that from within the badusb app (as well as the others) you can't see the files, but if you use the "browser" (clicking down from the main screen and the right/left to switch between files for different applications).  You'll see them all there and you can click on them to run them.

[2022-04-25 04:45] digitalcircuit opened #1164 "desktop: status bar gap mismatched for status icons vs battery icon on black background"
**Describe the bug**
On black desktop backgrounds, the battery icon has a 2 pixel wide gap from the swooshy lines/status bar, while the status icons only have a 1 pixel wide gap.

Note that the spacing makes sense on light (orange) backgrounds.  There might need to be desktop animation specific UI logic.

![Screenshot showing the sleeping animation with the mismatching status bar icons](https://zo

[2022-04-25 10:41] gsurkov commented on #1165
This is a known firmware issue. It is being worked on.

[2022-04-25 13:17] skotopes commented on #1162
Hi, yes we are aware if this issue, we planning to rework file select dialog to be able to open subfolder.

[2022-04-25 13:19] skotopes commented on #1160
Hi,
We need that type of card tell exactly what's wrong.

Couple more things that can help to fix this issue:
- Used firmware version
- Logs from device. (Either from UART on gpio, or `log` command in cli)

[2022-04-25 13:30] skotopes commented on #1158
Hi.

It is possible to limit target battery voltage(with charger settings) and make another set of params for gauge(or leave gauge with current params).
But in my opinion it's not worth it, but you are welcome to implement it. Shouldn't be very difficult.

[2022-04-25 13:30] skotopes commented on #1155
work in progress

[2022-04-25 13:31] #1154 closed, assigned to nobody

[2022-04-25 13:32] #1150 closed, assigned to Skorpionm

[2022-04-25 13:35] #1067 closed, assigned to Skorpionm

[2022-04-25 16:03] JackDoan commented on #1161
Resolved in #1156

[2022-04-25 16:03] #1161 closed, assigned to nobody

[2022-04-25 16:04] grymoire commented on #1160
0.56.1 release

Logs with comments

Press CTRL+C to stop...
3026383 [D][DolphinState]: icounter 117, butthurt 0
3030993 [D][DolphinState]: icounter 117, butthurt 0

[NFC-A Card detected  - press more]
[run compatible app]

log

3026383 [D][DolphinState]: icounter 117, butthurt 0
3030993 [D][DolphinState]: icounter 117, butthurt 0
3060994 [I][Dolphin]: Flush stats
3060995 [I][SavedStruct]: Saving "

[2022-04-25 18:47] digitalcircuit commented on #1158
Thank you for your feedback!

I understand it not being a priority.  Knowing you're not opposed to accepting a pull request of sufficient quality, this might be a good opportunity for me to try to learn a manageable subset of every layer in the Flipper firmware (UI, abstractions, hardware control, etc).

Meanwhile, if anyone else sees this open issue, feel free to experiment - it likely will be a

[2022-04-26 12:11] idalisdesalvo opened #1169 "Saved MiFare Ultralight NFC not working to target read device"
**Describe the bug**
Saved MiFare Ultralight NFC (Amiibo) not working to target read device (Nintendo Switch)

**To Reproduce**
Steps to reproduce the behavior:
1. Target read device (Nintendo Switch) is put into read mode (Read Amiibo)
2. Flipper is navigated to NFC->Saved->[file].nfc->Emulate Ultralight
3. Target device (Nintendo Switch) reports "Failed to read Amiibo". Flipper remains in "Emula

[2022-04-26 20:12] edbrannin opened #1171 "Program multi-key IR inputs"
**Is your feature request related to a problem? Please describe.**

I'd like to save a sequence of IR signals to replay from the Flipper, like:

- TV Input, TV 2
- TV power on, Receiver power on, Receiver input X

**Describe the solution you'd like**

Today: When recording a new IR payload, as soon as the Flipper recognizes a signal, it stops listening and prompts to [RETRY, SEND, SAVE].

Maybe ad

[2022-04-27 00:22] RogueMaster opened #1172 "Stopwatch and Clock"
Would be nice to have a stopwatch and a clock. It could even be an accessible feature in the unimplemented dumb mode.

[2022-04-27 01:13] tusing opened #1173 "NFC over USB (LibNFC) functionality"
In [this](https://www.reddit.com/r/flipperzero/comments/is31re/mifare_attacks_with_flipper/) Reddit thread, @zhovner mentions the Flipper Zero would be able to be used as a "regular USB NFC adapter along with LibNFC." He also provided this diagram:

![bb3wVfO](https://user-images.githubusercontent.com/1077203/165418327-44a7f059-e59d-44d2-bfd7-9d164b4dabe5.png)

I was wondering if this functionalit

[2022-04-27 01:29] anders8 commented on #1029
Ooooo, this feels so close! Thanks for the research @dc540 and @drewbeer , and thanks for coding @skotopes !!! ❤ 😎🗝

[2022-04-27 18:20] jinschoi commented on #1076
This is just a regular FSK burst with a rather wide 600 KHz offset. Would it be possible to extend the bandwidth of the raw FM reader to that much?

[2022-04-27 19:40] digitalcircuit opened #1178 "Doesn't prompt to unlock Flipper during firmware update if PIN code is set"
**Describe the bug**
After updating the firmware on my Flipper Zero to the latest development snapshot ([`19f42c5`](https://github.com/flipperdevices/flipperzero-firmware/commit/19f42c529004f51fdc2dba21a98fb0528c203f44 )), the firmware upgrade process gets halted by PIN code prompts.  However, qFlipper does not mention the need to unlock the Flipper to continue the firmware upgrade process.

**To

[2022-04-27 21:07] jlaughter commented on #1169
Confirmed above behavior in 56.1, 56.1RC and Dev19f42c53.  Rolling back to 55.1 restores emulate functionality.

[2022-04-27 23:27] leeroywking opened #1176 "Compiled Icons are not produced as part of build process in docker"
**Describe the bug**
I am attempting to create a new "Application" for the D.0 and after making the pixel art for the main menu icon I was getting the following error after trying to wire everything up.

**To Reproduce**
Steps to reproduce the behavior:
1. Create new Application
2. Add Icons to ./assets/icons/<desired location>
3. run `docker-compose up -d`
4. run `docker-compose `docker-compose e

[2022-04-27 23:31] leeroywking commented on #1176
I'd be happy to submit a proposed fix to this I am extremely new to make and C lang stuff and I'm just coming online to the project from a dev standpoint but if someone can describe the desired fix to this I'm happy to hack through it and submit it for PR I just wanna make sure its a desired fix

[2022-04-28 06:22] richardbbrooks commented on #1015
Howdy, left-handed here who thought this might be a good first spelunking. I was able to make a proof of concept with just a few changes and confirmed mostly working on my own Zero. Kudos to maintainers for how easy it was to build and flash. It's highly encouraging towards making future contributions.
![foto_no_exif](https://user-images.githubusercontent.com/579810/165689848-53143ca8-1f42-4e63-ba

[2022-04-28 07:20] DogmaBomb opened #1177 "Amiibo no longer works"
**Describe the bug**
Before updating to 0.56.1 the amiibo were loading just fine to my switch,
now with the new update to 0.56.1 the Amiibos will not load in after
multiple tries.

**To Reproduce**
Steps to reproduce the behavior:
Scanned NFC with Zelda BOTW
Worked before
Doesn't work with firmware 0.56.1

**Expected behavior**
Changes made to official firmware

**Logs**
None

**Target**
Nintendo

[2022-04-28 10:55] gsurkov commented on #1178
We have reproduced the issue. It will be fixed in the firmware.

[2022-04-28 11:10] gornekich commented on #1169
Fix in https://github.com/flipperdevices/flipperzero-firmware/pull/1179
Soon will be in release

[2022-04-28 11:10] gornekich commented on #1177
Fix in https://github.com/flipperdevices/flipperzero-firmware/pull/1179
Soon will be in release

[2022-04-28 13:33] jlaughter commented on #1177
Duplicate of #1169.  You can [downgrade to 55.1](https://update.flipperzero.one/builds/firmware/0.55.1/) as a workaround.

[2022-04-28 16:10] #1177 closed, assigned to nobody

[2022-04-28 16:11] skotopes commented on #1177
Fixed in dev, will be in release 0.57

[2022-04-28 16:15] skotopes commented on #1169
fixed in dev, will be include in release 0.57

[2022-04-28 16:15] #1169 closed, assigned to nobody

[2022-04-28 16:17] skotopes commented on #1176
Try following:

[code]

Also please read ReadMe.md in assets folder, it should explain process.

[2022-04-28 16:17] #1176 closed, assigned to nobody

[2022-04-28 16:22] skotopes commented on #1164
wip

[2022-04-28 17:22] skotopes commented on #1172
Possible, low priority. Anyone who will want to implement are welcomed to do that.

[2022-04-28 17:23] skotopes commented on #1171
Crafting is possible. For example raw payloads can be gathered together. We'll think about it.

[2022-04-28 17:31] skotopes commented on #1173
We've been researching possibility and in theory it's possible, but it's too big overhead to emulate NXP's protocol on flipper, and too much of work to implement our protocol on libnfc side.

In general we are open to ideas like this one, question is in implementation. If you have specific ideas on how it will work and what exactly need to be implemented on flipper side then we will help.

[2022-04-28 18:15] skotopes commented on #1076
https://fccid.io/KR5V1X/Test-Report/Occupied-Bandwidth-Plot-1913633

it is FSK

[2022-04-28 18:17] skotopes commented on #1015
view_port_rotate_buttons can be used as example

[2022-04-28 18:36] leeroywking commented on #1176
Oh that's actually not how the readme describes that and when I did a search on the code base I didn't find those make commands anywhere in the repository. Here is a pull request to update the relevant readme so that it is documented how you describe
https://github.com/flipperdevices/flipperzero-firmware/pull/1181

[2022-04-28 23:30] ToddNutty opened #1182 "Frequency Analyzer displays signal when there is none"
**Describe the bug**
After Flipper has scanned 315MHz Frequency Analyzer will display signal when there is none. Signal appears to range from 299.999 - 301.000 with RSSI often showing no to very low signal.

**To Reproduce**
Steps to reproduce the behavior:
1. Switch on...
2. Enter Sub-GHz
3. Use Read function
4. Choose Config
5. Set Frequency to: 315 / Hopping: OFF / Modulation: AM650
6. Allow Fl

[2022-04-29 07:59] Skorpionm commented on #1182
congratulations, next to you something very strong is broadcasting on this frequency.
the frequency analyzer will still determine the key fobs, since they should be placed closer to the flipper. i can lower the RSSI detection level by this will lower the sensitivity

[2022-04-29 08:39] Skorpionm commented on #1076
this shows that Deviation ~ 47.7k, more accurately you need to look at SDR.
Write wav to SDRSharp, there will be a lot less questions

[2022-04-29 08:41] Skorpionm commented on #1076
the transmission frequency +- 30k indirectly confirms that this is FSK. you can also try recording RAW on "FM476" and attach it here, I'll look at it

[2022-04-29 09:29] gornekich commented on #1160
Hi!
The reason behind endless bank card reading is that flipper can't parse PAN number from responses it gets. Recently I added trace logs for EMV reader, so you can set debug level Trace and see the raw data Flipper gets. After that you can provide logs here or use TLV parser (for example https://emvlab.org/tlvutils/) to see EMV TAGs thar flipper doesn't support yet.

[2022-04-29 12:14] skotopes commented on #1178
fixed in dev, will be included in 0.57

[2022-04-29 12:14] #1178 closed, assigned to nminaylov

[2022-04-29 12:34] jinschoi commented on #1076
I attached an IQ recording from an SDR up above in my second comment, looks like this in URH:
<img width="1178" alt="Screen Shot 2022-04-29 at 8 31 31 AM" src="https://user-images.githubusercontent.com/938840/165944873-5808bdd0-c899-453e-8e63-d30554898914.png">

Recording raw at 313.85 with FM476 shows no signal being picked up. Not surprising as 476 I assume means 476KHz bandwidth? It would need

[2022-04-29 13:08] Skorpionm commented on #1076
look carefully that I asked you to record the frequency range of the Sdrsharp program in order to accurately see the signal parameters.  and not recording at 1 frequency,
and don't make it up, fm476 is the frequency deviation equal to 47.68kHz.  and the filter is 150

[2022-04-29 13:50] ToddNutty commented on #1182
I generally don't have issue with just restarting the Flipper, but what is interesting is I don't run into this issue unless I've previously tried scanning on 315Mhz on Read. I'll test at another location much further away to rule out local background noise.

[2022-04-29 18:31] digitalcircuit opened #1186 "Automatic desktop locking with PIN code"
**Scenario**
The [automatic desktop locking feature](https://github.com/flipperdevices/flipperzero-firmware/pull/1101 ) works well for avoiding accidental button presses when in one's pocket, etc.  However, it's not very effective at reducing risk if someone else finds the device (lost, etc).

**Describe the solution you'd like**
An additional setting (e.g. `Settings` → `Desktop` → `PIN Setup` → `

[2022-04-29 18:31] digitalcircuit commented on #1178
I've updated to `0.57.0-rc` and I can confirm this works!

Steps taken:
1.  Update to `0.57.0-rc`
2.  Re-setup PIN code (as expected [due to `DESKTOP_SETTINGS_VER` update](https://github.com/flipperdevices/flipperzero-firmware/commit/0eac917f911c717071a109f916a2aedaa40d68cf#diff-4c90ba8120cab371271ad3b6a6e7ab3ffc386925c86ebc6108b2776883dfbc97L8-R8 ))
3.  With Flipper unlocked, re-install `0.57.0-r

[2022-04-30 02:14] digitalcircuit commented on #1158
### Minor design update
I've been pondering how to implement this in a way that reduces support requests from folks turning on the feature and forgetting about it.

So far, I've drafted the following change to the battery icon design when charge limiting is enabled:
* The "limited" portion of charge will be grayed out in a checkerboard pattern

![Screenshot of Flipper desktop UI, with the battery

[2022-05-01 18:38] jimilinuxguy commented on #1182
I wanted to tag on that I have seen this several times as well. Either the Frequency Analyzer will show a signal with 1-2 bars of RSSI or if you are recording, it will show actual graph/wave bars but its not real. I have checked with RTL-SDR and HackRF at the same time that I saw it. Restarting the device typically has made the error go away.

[2022-05-02 02:47] JulyIghor opened #1187 "Save Sub-GHz keys to microSD once found"
While using constant monitoring mode, it captures a keys.
The problem is if you forget to save them or if battery drain out they will be lost.
Keys need to be saved, at least in some temporary folder, once found.

[2022-05-02 02:49] JulyIghor opened #1188 "Send Sub-GHz keys to mobile app once captured and store its GPS coordinates"
If you use Sub-GHz constant monitoring, you may capture a lot of keys while walking.
But you don't know where is the keys located.
I suggest to push the keys over BlueTooth to mobile app once they found.
So mobile app can store GPS coordinates and time and it become more useful.

[2022-05-03 06:26] Astrrra commented on #1182
I have the same behavior in a basically radio-silent location

[2022-05-03 10:53] Skorpionm commented on #1182
I have an idea, I'll check it out tonight

[2022-05-03 17:37] Skorpionm commented on #1182
fix https://github.com/flipperdevices/flipperzero-firmware/pull/1192

[2022-05-04 22:06] hire-jasonrush commented on #1019
I've got 3x bank cards that show NFC. One reads, one is ignored, and one crashes with the same error @hakusaro originally reported here. I've just upgraded to 0.57.0 and can confirm that the same card still crashes the bank card reading "app".

I'll add that the card that doesn't read at all could be a card issue as I don't actually use any of them for touchless payments, just adding another confi

[2022-05-05 01:11] QuartzMovement commented on #1079
That is strange, I was able to save a transit card with the NFC feature, but now the same card cannot be saved because of the NFC-B incompatibility.

Was the feature previously there?

[2022-05-05 15:07] samuel opened #1199 "Kaseikyo IR protocol"
**Is your feature request related to a problem? Please describe.**

Currently any IR remote using the Kaseikyo protocol (e.g. Denon) is not supported. It works with raw IR support, but having a specific codec would make it possibly (easier) to construct the .ir using the manufacturers documentation without needing to record every button press or if the remote is not available.

**Describe the solu

[2022-05-05 20:33] iConfuzzled opened #1201 "SD card Encryption"
With the SD card storing all of the data such as our keyfobs, NFC cards, remotes, & etc, I'm wondering if it is possible to encrypt the data on the SD Card so that a simple eject will not leak all of our information.

I had asked this question on Discord, and Aleksandr Kutuzov from the flipper team replied:

Since this seems to be possible, could this be added as a feature? Maybe even only enable

[2022-05-06 17:37] makew0rld commented on #1019
I am also experiencing this with a Mastercard, using 0.57.0. Here is my log output, with Log Level: Debug and Debug: Enable.

[code]

Flipper then crashes, and when loading back up, the screen says `HardFault`.

I also have the log with Log Level: Trace. But it seems that would contain confidential data like card number. Let me know if the Flipper team wants that log, and what lines I can remove t

[2022-05-06 17:40] makew0rld commented on #1160
What line in the trace output will provide the PAN number so that I can paste it here? I don't want to paste the full log as that will contain private information.

[2022-05-06 18:29] hakusaro commented on #1019
@makeworld-the-better-one where did you get the log data from? I'd be more than happy to share mine if I can find it. I've tried enabling debug log options, but I haven't found any files on the internal memory or SD card with logs, and connected to qFlipper, I don't see any log output there. o.o

[2022-05-06 23:05] makew0rld commented on #1019
@hakusaro I think you should see it in qFlipper. But personally I plugged mine in and connected to the serial port, then ran the `log` command.

To connect to the serial port on Linux I ran `picocom -b 115200 /dev/ttyACM0`, on Windows you could use the PuTTY software. If you are having issues or need help I'd recommend asking on the Flipper Zero Discord.

[2022-05-07 01:12] hire-jasonrush commented on #1019
[qFlipper-20220506-162831.txt](https://github.com/flipperdevices/flipperzero-firmware/files/8644171/qFlipper-20220506-162831.txt)

After finding how to enable trace logs, I've got more detailed info as well. When I run 'log' from the CLI and then run the "Read Bank Card" action, I get the following:

958762 [T][FuriHalNfc]: Current state 20
958763 [T][FuriHalNfc]: Timeout
958765 [D][NfcWorker]: Ca

[2022-05-07 01:39] GMMan commented on #1173
The original idea of passing through commands directly to the NFC hardware sounds like it'd work, and I think is something there are already examples for (with other chips) in libnfc. I'm willing to take a look at this as I have a couple of Mifare Classic cards I want to crack too, though probably not for another few weeks. (I started trying to implement a new driver for a PCSC reader until I foun

[2022-05-07 01:47] GMMan opened #1203 "Option to only turn on backlight when pressing a button if the backlight is off"
**Is your feature request related to a problem? Please describe.**
When pressing a button while the backlight is off, the button activates whatever option the button is intended to do, and also turns on the backlight. However, most of the time I won't remember what screen the device was previously on, and I won't be able to tell under low light conditions. In this situation, activating any option

[2022-05-07 01:59] hire-jasonrush commented on #1019
If you're running Windows, I've also created instructions (no screenshots yet) on how to gather various logs here: https://flipperzero.miraheze.org/wiki/How_to_gather_logs#Flipper_logs

[2022-05-07 04:02] RogueMaster commented on #1201
I too think there should be a way to encrypt the keys/files on the SD so only a flipper that has unlocked it with a special password can read the data. Locking the file with the same pin as OS would be a good idea. That way, unlocking the flipper with your PIN provides the flipper OS with the password to unencrypt the key data. Perhaps each file can get an extra option to have it converted to be s

[2022-05-07 04:03] RogueMaster commented on #1201
Also, I have covered my microSD with black tape to make it less noticeable and harder to remove.

[2022-05-07 04:05] RogueMaster commented on #1187
can raw_signal saves have a datetime stamp added? Also, would it be possible for Frequency Analyzer to save data it found?

[2022-05-07 15:46] #1182 closed, assigned to nobody

[2022-05-07 22:27] JulyIghor opened #1205 "FAT32 bug, can't delete files"
Steps to reproduce:
1) Create file using this commands:
[code]
2) Try to delete files via Flipper firmware or qFlipper app, it fails

[2022-05-08 01:44] zhovner commented on #1205
Not a bug. Just avoid this flags if you want to delete files from Flipper's menu.

[2022-05-08 01:45] #1205 closed, assigned to nobody

[2022-05-08 01:47] zhovner commented on #1203
There is no way to do this without braking normal UI. Try DOWN button for this.

[2022-05-08 01:47] #1203 closed, assigned to nobody

[2022-05-08 01:49] zhovner commented on #1186
Thanks, will think about this.

[2022-05-08 01:55] zhovner commented on #1172
There is no guarantees that Flipper's internal clock is synced and  accurate. Thats why we not implement clock in it.

About stopwatch -- doesn't your phone can do this better?

Suggested to close.

[2022-05-08 03:33] GMMan commented on #1203
Down button on home screen activates browser, which then requires a press of the back button to return to desktop, so it's still not really a no-op. By breaking normal UI, do you mean there's no good place to hook input, or too much work to refactor current input handling?

[2022-05-08 03:49] GMMan commented on #1203
Taking a quick look through the code, how about firing an on key down event after debounce in the input service, which the notification service can listen for, and allow it to cancel whatever other events associated with the key down/key up event? Allowing input to be marked as handled and not propagated further is also a common function on other platforms.

[2022-05-08 04:19] nathan9991 opened #1206 "Failed to read Indala RFID card"
My Flipper is unable to read my INDALA RFID card.
I've tried two different flippers, and two different INDALA cards.
(both of them are 34bit cards for the INDALA OPTUS system)
Is there a way to display the raw binary bits incoming from the card?
Is there anything I can do to debug the issue?

Thanks for helping me with this great project!

[2022-05-08 04:35] zhovner commented on #1203
This will add annoying actions when you see the screen, for example in daylight, and don't need to additionally active backlight.

[2022-05-08 04:49] GMMan commented on #1203
Which is why I mentioned it should be an option (perhaps I should have been more clear that I wanted this as something configurable, not forced upon everyone). This would be great in my situation, and for those who don't want it, they can choose to leave it off.

[2022-05-08 06:39] RogueMaster commented on #1172
I have a clock and stop watch application now. Seems to work well. Not sure why you would suggest to close such a valuable feature that is so easy to add. Clock is now my main favorite/first app on my flipper and my most used.

[2022-05-08 06:40] RogueMaster commented on #1172
I will confirm with CompaqDisc on his plans to submit his clock app. I modified his clock app to have the stopwatch.

[2022-05-08 19:07] jaixan opened #1208 "Allow multiple keyboard mappings for non-us English keyboard for BadUSB"
**Is your feature request related to a problem? Please describe.**
I have a macOS with a French-Canadian Keyboard. When I run the sample "demo_macos.txt" bad USB script, I get something like this :

[code]
The hid_asciimap is build around an US English keyboard. Therefore the wrong keys are "pressed" when the target computer has another keyboard layout.

**Describe the solution you'd like**
The be

[2022-05-08 19:30] RogueMaster commented on #1203
Perhaps holding center for 5 seconds before subsequent commands would keep the backlight off? Then later after next time out it resumes normal operation.

[2022-05-08 19:36] RogueMaster commented on #1172
Here is the code for clock and stopwatch. https://gist.github.com/RogueMaster/ed2e16647a0ade3372dcbeb078507517
I can remove sound alerts if it is preferred

[2022-05-09 03:03] SnowLeopard71 commented on #1019
I also have a card that causes a **HardFault**, BIN 533866.  (FYI, [BIN](https://www.bincodes.com/) ) The debug output is similar to [above](https://github.com/flipperdevices/flipperzero-firmware/issues/1019#issuecomment-1119843193).  (I've set logging to *trace* for maximum verbosity.)
A working card only goes through the *do-while* in *emv_read_bank_card()* (lib/nfc_protocols/emv.c) once, but th

[2022-05-09 20:45] GMMan commented on #1201
There already appears to be a framework for this with U2F cert encryption, so maybe it can be built on that

[2022-05-09 20:53] GMMan opened #1210 "JTAG/SWD debug probe functionality"
**Is your feature request related to a problem? Please describe.**
It would be nice if the device can act as a JTAG/SWD probe.

**Describe the solution you'd like**
It can be based off of other open source projects. Raspberry Pi's picoprobe looks simple enough, where the host controls the pin state. Support should be already present in Pi's fork of OpenOCD, though not sure if it's been upstreamed.

[2022-05-10 01:29] SnowLeopard71 commented on #1019
Found a fix.  Incrementing the index by 2 at line 295 in _emv_decode_read_sfi_record()_ for the country_code makes it skip over the CC number -- there is one "padding" byte less after the country_code on the crashing cards compared to non-crashing ones.
I changed to increment by 1 and compiled a test and all my cards work fine now.
[fixed firmware](https://x1z.net/flipper-z-f7-full-local-f04d0eea-

[2022-05-10 13:56] grymoire commented on #1160
My main concern was in the user interface.  There was no indication that a card is present or missing. That is very important if reading the card will take more than a few seconds. Second - there is no indication of completeness of the reading, such as the one used for cards with DES keys. If the flipper can't ever decode a card -  indicate this. If it needs more time - also indicate this.  And pe

[2022-05-10 17:08] skotopes commented on #1172
furi_hal_speaker is meant to be used throw notification service.

[2022-05-10 17:15] RogueMaster commented on #1172
How do you recommend it be changed? If that is what you are suggesting.

I am using it to throw a notification yes. Service was not needed as it is operating as desired without bug/compile errors.

[2022-05-10 17:20] skotopes commented on #1172
Something like: open notification api record, send notification sequence

[2022-05-10 18:17] RogueMaster commented on #1172
Updated gist to remove the sound notifications... https://gist.github.com/RogueMaster/ed2e16647a0ade3372dcbeb078507517

[2022-05-10 19:32] jlaughter opened #1215 "Add IR support for Magiquest devices"
**Is your feature request related to a problem? Please describe.**
MagiQuest Infrared Wands are live roleplay game devices.  They contain a motion switch and a simple IR transmitter that sends the wand's ID to receivers at game locations to play the game.  The Flipper captures and replays wand streams fine in RAW, but it would be useful to see, store and edit wand ID.  A magnitude value is also in

[2022-05-12 16:14] OnyxClawe opened #1225 "Note playback issues with music player."
**Describe the bug**
Music player adjusts volume mid note distorting the sound

**To Reproduce**
Steps to reproduce the behavior:
1. Open music player
2. Load a music file (files with extended notes really show the issue)

**Expected behavior**
Note Maintains the same volume throughout playback

**Target**
Flipper music app

**Additional context**
This bug distorts Longer playing notes, making the

[2022-05-12 16:23] OnyxClawe commented on #1225
Video of issue: https://cdn.discordapp.com/attachments/746304505879986267/974346030114041856/IMG_2836.mov

[2022-05-12 17:08] SnowLeopard71 commented on #1019
The new release, 0.57.1, should fix the `HardFault` crash, but the` furi_check failed` probably still exists.
I also have a CapitalOne MC (545756) where the EMV app loops forever.  The response to _Start application_ is different ~~and does not even include the card number like other working cards.~~  _EDIT: only 1 card I have includes number in the application answer with undocumented EMV tag DF6

[2022-05-12 17:47] Skorpionm commented on #1187
the frequency analyzer works only with devices that you bring close to the flipper.  and does not catch devices more than 15 centimeters away from it.  this was done on purpose so as not to catch strong signals from the air, and the flipper showed directly the frequency of the device in the hands.  why does the analyzer save timestamps?

[2022-05-12 18:09] skotopes commented on #1019
@SnowLeopard71 Can you provide device log?

[2022-05-12 18:09] OnyxClawe opened #1226 "Music player plays back incorrect BPM"
**Describe the bug**
The music player appears to play back RTTTL files slightly faster than the BPM encoded in the file

**To Reproduce**
Steps to reproduce the behavior:
1. Play back song with 120 BPM
2. Adjust the BPM of the song down 15-18 BPM to get correct BPM

**Expected behavior**
Flipper plays back files at correct BPM 120-120 instead of 120-135

Attached is a music file i have created bas

[2022-05-12 18:33] SnowLeopard71 commented on #1019
Here.     To avoid confusion, this is debug output for BIN 545756 that loops forever but no crash.
I've modified the _emv_trace()_ to also output what is sent (TX) as well as received (RX).  The application answer has the PDOL (9F 38) but _emv_decode_select_app_response()_ is missing it -- also added extra logging in the _else if_ to log when it gets the PDOL which is not in this output but is wit

[2022-05-12 18:34] skotopes commented on #1019
@gornekich could you please check

[2022-05-12 19:37] hakusaro commented on #1019
Okay, I've reproduced my failure on 0.58.1, this time with logs (on macOS, with `picocom -b 115200 /dev/tty.usbmodemflip_[name]`):

[code]

I think we've got a couple disparate failures in different sections here.

[2022-05-13 06:34] OnyxClawe commented on #1225
It is also possible that the flipper is rapidly switching between the set volume and 25% creating the strange sound signature

[2022-05-13 16:02] jlaughter commented on #1081
I'm seeing the same behavior.  Will try to pull a log on it

[2022-05-13 16:10] jlaughter commented on #1081
Here's the console log for this - repeats indefinitely until cancelled:

10970315 [D][NfcWorker]: Found Mifare Ultralight tag. Start reading
10970316 [D][MfUltralight]: Reading version
10970321 [D][MfUltralight]: Reading signature
10970373 [D][FuriHalNfc]: Timeout during data exchange
10970375 [D][MfUltralight]: Failed redaing signature
10970377 [D][MfUltralight]: Reading counters
10970430 [D][Fur

[2022-05-13 18:15] skotopes commented on #1226
One question:

[code]

5f5 - is 1/5th, F, octave 5. Are you sure that it should be 1/5th?
Because if yes then duration is correct. But it's not correct size in terms of music.

Duration calculation looks like that:

[code]

Also there is a small drift (up to 2ms per note), but that should be negligible.

[2022-05-13 22:00] theboojit commented on #1186
Hi,

I was going to take a stab at this just for fun, but I have some questions.

Most importantly, does anyone see any reason why we shouldn't lock with PIN as the default behavior, if the user has both PIN set and auto-lock set?

I was first approaching this as adding an extra time value for PIN auto-lock as @digitalcircuit describes above, but in looking at the implementation, it does complicat

[2022-05-13 22:52] makew0rld commented on #1019
Can confirm, the MasterCard I was scanning no longer causes a crash with the new firmware. Thanks for the PR!

[2022-05-13 23:42] OnyxClawe commented on #1226
Its definitely possible that i'm in error here! I'll try to use a precise method of testing and see whats up.

[2022-05-14 00:54] digitalcircuit commented on #1186
@theboojit Especially considering the auto-lock doesn't happen unless you're on the desktop view (which surprised me), I'd be happy with your proposed choice ("if PIN set and auto-lock set, always lock with PIN").

Later on, "DUMB mode" could be a PIN lock feature, wherein if you have a PIN lock set, you could opt-in to entering the dumb mode when locking with PIN, e.g. `Settings` → `Desktop` → `P

[2022-05-14 03:23] adamm opened #1230 "Cannot compile firmware on Apple Silicon"
Hello,

Building Flipper Firmware on MacOS using Apple Silicon fails with a super strange syntax error messages.   In my case I have a Macbook Air (M1 2020).

TLDR: There is a workaround.  Downgraded brew cask gcc-arm-embedded to version 10.3.   See below.

**To Reproduce**
Steps to reproduce the behavior:
1. Get an Apple M1 laptop
2. `brew bundle --verbose`
3. `make`
4. Build starts OK, but soon

[2022-05-15 14:24] xAptive opened #1232 "Reading a file crashes Flipper"
**Describe the bug**
Trying to read a file over the serial port crashes the device

**To Reproduce**
Steps to reproduce the behavior:
1. Connect to Flipper over serial via minicom
2. Issue command to read file: storage read /ext/badusb/demo_windows.txt

**Additional context**
The OSD shows "Flipper crashes and was rebooted" "furi_check failed"

[2022-05-15 18:43] lykahb opened #1234 "Two-dimensional layout for saved remotes"
**Is your feature request related to a problem? Please describe.**
The buttons on a saved remote are displayed as a list. It may take long time to scroll to the needed button.

**Describe the solution you'd like**
The universal library for TV has a scene with a two-dimensional layout. A saved remote would display a similar layout for the names that it recognizes, and puts the rest in a list below.

[2022-05-16 12:07] DrZlo13 commented on #1230
Same. GCC 11 on M1 is broken.

[2022-05-16 12:08] #1226 closed, assigned to skotopes

[2022-05-16 13:36] skotopes commented on #1234
Hi, we have it backlog, most likely it will be implemented after we finish with Infrared refactoring (summer)

[2022-05-16 13:37] skotopes commented on #1232
@nminaylov can you take a looks?

[2022-05-16 13:38] skotopes commented on #1230
We are working on new compiler toolchain.
Meanwhile you can downgrade to 10.3 version, it should work fine.

[2022-05-16 13:39] skotopes commented on #1225
I'll take a look in free time

[2022-05-16 13:40] skotopes commented on #1215
I'll add it to backlog, will be implemented as soon as we finish with Infrared app refactoring

[2022-05-16 13:41] skotopes commented on #1210
We have plans to port blackmagic. It's scheduled right after we add ability to load apps from SD.

[2022-05-16 13:43] skotopes commented on #1208
I'll add this to back log, we'll come back to it closer to mid summer. @nminaylov

[2022-05-16 13:43] skotopes commented on #1206
We are working on it.

[2022-05-16 13:44] skotopes commented on #1201
We've made some tests. Still the best choice is per app encryption. Otherwise it will be slow as hell.

[2022-05-16 13:44] #1201 closed, assigned to nobody

[2022-05-16 14:08] skotopes commented on #1199
Added to back log, will be implemented after we finish Infrared Refactoring

[2022-05-16 14:09] skotopes commented on #1188
Please open this feature request in mobile apps

[2022-05-16 14:09] #1188 closed, assigned to nobody

[2022-05-16 14:11] skotopes commented on #1186
We'll redesign locking in future updates. Thanks for feedback, that really helps.

[2022-05-16 14:12] skotopes commented on #1173
There are some timing issues that are going to break everything. We've made couple test and it looks hardly feasible.

[2022-05-16 14:12] #1173 closed, assigned to nobody

[2022-05-16 19:31] AFstache opened #1239 "Disk Access Error"
I tried updating firmware a couple of weeks ago and qFlipper couldn't see my device, so I put it in DFU mode and was able to install the firmware, but I had lost all of my level up progress. I went to restore the backup that I had made a day or two prior, I couldn't upload the backup. When I use qFlipper, I get a "Failed to process backup directory" and when I try and use the ttyACM0 serial port t

[2022-05-16 20:30] fx-chun opened #1240 "Expose a USB-GPIO bridge"
**Is your feature request related to a problem? Please describe.**
It would be useful for the Flipper Zero to have a mode that exposes GPIO pins over USB.

**Describe the solution you'd like**
If the Zero is able to emulate a USB interface for a device that already exposes GPIO (like an [FT245R](https://electronics.stackexchange.com/a/61301)), this would allow PCs to interface with the Zero using

[2022-05-17 04:41] RogueMaster commented on #1172
I have updated the sound notifications so it uses the the proper process. Please see code here: https://github.com/RogueMaster/flipperzero-firmware-wPlugins/blob/dev/applications/clock_app/clock_app.c

[2022-05-17 06:14] meirpro opened #1241 "use U2F with Windows signin"
# What do you want to add or change
I just thought of using the U2F mode as another windows sign-in option... just out of curiosity...

when trying it says "This security key can't be used. Please try a different one."

# What questions do you have
why doesn't it work?
is there any reason i should not use this in such a way?
what is the u2f mode usually used for?

[2022-05-17 18:01] BJamin99 commented on #1240
Might be possible to do this by exposing it through an additional USB interface along side the USB-to-UART?  Might be interesting to also add support for this interface as an additional board to the Adafruit Blinka project similar to the FT232/FT2232/MCP2221/GreatFET One.

[2022-05-18 09:04] nathan9991 commented on #1206
Can I help?

[2022-05-18 14:37] skotopes commented on #1206
@nathan9991 after RAW release, we may need card dump to confirm its type. As for now I guess no.

[2022-05-19 04:05] SnowLeopard71 commented on #1077
FYI:  http://www.gizmolab.co.za/fdx-b-protocol/

There is also the specs of the 128-bit stream.

This repo has ESP32 FDX-B code:  https://github.com/s60sc/ESP32_RFID_Reader

[2022-05-19 11:27] jimilinuxguy commented on #1172
@RogueMaster, what value does a stop watch bring to Flipper?

Not trying to put down @RogueMaster’s work, as I think you are attempting to make a contribution to the community and a product you support and that’s awesome!

Mirroring @zhovner’s sentiment, I already have a more accurate stop-watch on my wrist and I’m my pocket on my phone.

The flipper is supposed to be a toy/multi-tool for signal i

[2022-05-19 14:32] RogueMaster commented on #1172
A clock/stopwatch can be a feature in dumb mode, but also, has value as a Clock/Stopwatch to those that may need one. Even if it's a little "inaccurate", it gets the job done. Everyone has different use cases for this multi-tool. Not everyone may need a clock/stopwatch, but some can find it useful. People do find use from clocks / stopwatches, them being on our wrist didn't stop us from putting th

[2022-05-19 16:08] RogueMaster opened #1247 "Frequency Analyzer"
FA no longer works as of the latest Megacode/FA changes. It's either not working or not sensitive enough. I am testing with the remote directly next to the back of the flipper.

[2022-05-19 18:02] spencerthayer commented on #1077
As someone who rescues lost pets on the regular, this would be exceptionally useful. Please make this a reality. Thank you.

[2022-05-19 20:29] OnyxClawe opened #1249 "Local sub Ghz Chat (Whistle)"
**Describe the solution you'd like**
A pictochat style local communication application named "Whistle" utilizing the sub Ghz radio and the mobile companion app.
(Obviously name isnt set in stone i just figured it sounded neat)

Flipper would function as the communication radio with the mobile app presenting a keyboard and discord style interface.

Communicaiton could be divided into "pods" similar

[2022-05-19 20:32] 11OUTsane11 commented on #1249
Would be cool. Especially if useable, in some capacity, without the app too.

[2022-05-20 04:57] pliable opened #1252 "Sub-GHz Read RAW function does not completely erase when tapping Erase"
**Describe the bug**
When using Read RAW under the Sub-GHz module, after it's done recording, tapping left will not erase the recording completely (it only seems to clear the screen). The raw recording will still appear under Saved

**To Reproduce**
1. Press OK button
2. Sub-GHz -> Read RAW
3. Press OK button to record
4. Press OK button to stop recording
5. Press Left to delete
6. (screen clears

[2022-05-20 05:59] Skorpionm commented on #1252
no, it shouldn't.  when recording a RAW file, the file is immediately written to SD, since the flipper does not have enough RAM to store such large files, with a new recording, the old file will be overwritten and a new one will be written or renamed when saving.  but if suddenly you pressed the wrong button, you still have a chance to save the record by renaming the temp file manually

[2022-05-20 09:49] Skorpionm commented on #1247
you don't need to bring it to the back of the flipper, you need to bring it from the left side, the antenna is there.  and what frequency are you analyzing?  if this is a car alarm, then the transmission there is very short, you need to press the button several times

[2022-05-20 16:14] skotopes commented on #1241
Hi, U2F for Microsoft requires extra certification, we don't have plans to do that.

[2022-05-20 16:14] #1241 closed, assigned to nobody

[2022-05-20 16:17] skotopes commented on #1249
Hi, as I told in discord we already have this under `subghz chat` cli command.
At this point we don't plan to implement UI for it. We will return to this topic after releasing v 1.0.0.

[2022-05-20 16:17] #1249 closed, assigned to nobody

[2022-05-20 16:18] skotopes commented on #1239
Hi.

Can you provide logs from companion and flipper?

[2022-05-20 16:52] AFstache commented on #1239
Logs from terminal

14844 [DEV] Restore Internal storage @R3gan3r START
14846 [RPC] (2) Gui Start VirtualDisplay START
14856 [UTL] Restore /int @R3gan3r START
14883 [DBG] Requested directory not found
14883 [UTL] Restore /int @R3gan3r ERROR: Failed to process backup directory
14884 [DEV] Restore Internal storage @R3gan3r ERROR: Failed to process backup directory
14885 [BKD] Current operation finis

[2022-05-20 18:50] skotopes commented on #1239
that may happen if your backup is too big for internal storage, how big it is?

[2022-05-20 19:12] moosehadley opened #1254 "CLI IR TX RAW doesn't work"
**Describe the bug**
ir tx RAW doesn't appear to work

**To Reproduce**
Steps to reproduce the behavior:
1. Open command line
2. Attempt to transmit a RAW signal

**Expected behavior**
Signal transmits

**Logs**
ir tx RAW F:10000 DC:100 23 42
Wrong arguments.

[2022-05-20 19:46] AFstache commented on #1239
20k. I don't understand how it could be too big. I even tried again after a factory restore. I downloaded a clean backup and tried to turn around and push it back and got the same error

[2022-05-20 19:47] skotopes commented on #1239
Do you use SD card?

[2022-05-20 19:53] skotopes commented on #1254
Fixed in #1255

[2022-05-20 19:53] #1254 closed, assigned to skotopes

[2022-05-20 20:05] AFstache commented on #1239
Yes I do

[2022-05-20 20:06] skotopes commented on #1239
then your internal storage is abnormal. Can you show file listing?

[2022-05-20 23:54] pliable commented on #1252
And here I got all excited cause I thought I was helping :(. Perhaps, the wording needs to be changed to be more clear? I know I wasn't the only one who thought this was a bug.

Anyway, thank you for all your work 🙏🏼🙏🏼🙏🏼. Uh, I'll let you close it, I'll keep it open just in case lol

[2022-05-21 06:00] GMMan opened #1259 "bt: Race condition when disconnecting while streaming screen, making UI unresponsive"
**Describe the bug**
A race condition occurs that prevents `GuiRpcWorker` thread from completing if streaming is sending new frames while Bluetooth is disconnecting, which cascades into a chain of held mutexes that freezes the UI up if you try to reenable Bluetooth.

Issue originally found by `OUTsane#2473` on Discord.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable Bluetooth
2. In Fl

[2022-05-21 06:18] ghost commented on #1077
Same here. An ability to help with reading pet chips would be super usable, and saves a lot of time compared to taking them to the vet.

[2022-05-22 03:49] SnowLeopard71 commented on #1173
@skotopes
Maybe the [*September progress* blog post](https://blog.flipperzero.one/september-progress/) could be updated with a pointer to this issue?   It's where the image is from.
If I hadn't found this closed issue accidentally, I would have been waiting for the *NFC over USB* functionality to be implemented.  Thanks.

[2022-05-22 07:46] Skorpionm commented on #1252
https://github.com/flipperdevices/flipperzero-firmware/pull/1262
fix

[2022-05-22 13:00] jinschoi commented on #1076
Here is a baseband recording using SDRSharp of the above signal. The frequency deviation is 600 KHz (313.55 MHz to 314.15 MHz). Sorry for the long delay.

[SDRSharp_20220522_124911Z_313800000Hz_IQ.wav.zip](https://github.com/flipperdevices/flipperzero-firmware/files/8749438/SDRSharp_20220522_124911Z_313800000Hz_IQ.wav.zip)

The charts in the FCC occupied bandwidth plot are confusing. They are show

[2022-05-23 03:40] digitalcircuit opened #1263 "subghz: "Add Manually" menu missing Security+ 1.0/2.0 protocols"
**Is your feature request related to a problem? Please describe.**
In the SubGhz app, the `Add Manually` menu doesn't include the option to create new/random Security+ 1.0 or 2.0 remotes.

[According to what's been shared on the Flipper forums](https://forum.flipperzero.one/t/request-to-support-chamberlain-rolling-code/3157/13 ), this should not be a legal issue since it's creating a unique remote

[2022-05-23 04:43] Skorpionm commented on #1263
if the functionality for creating and transferring such codes is implemented, then this will not stop people at all from clanging and not legally using them

[2022-05-23 05:02] Skorpionm commented on #1247
https://github.com/flipperdevices/flipperzero-firmware/pull/1262

corrected the work of the analyzer, it should work better, but the remote control still needs to be leaned on the left side

[2022-05-23 05:08] digitalcircuit commented on #1263
@Skorpionm Good point - I overlooked that the new randomized remote needs stored somewhere.  When briefly checking the code, I also mixed up the `CAME Twee` protocol (static, allowed) and `CAME Atomo` (dynamic, not allowed).

Feel free to close this issue if desired.

While I respectfully disagree with this reasoning on a technical level, I appreciate that there's significant concern and caution a

[2022-05-23 13:23] decidedlygray commented on #1077
As a newbie to the project, I was wondering if someone might be able to outline in broad strokes what would be required to implement this?

[2022-05-23 15:01] Skorpionm commented on #1076
![image](https://user-images.githubusercontent.com/85568270/169848406-8f2eabde-4b33-4b1d-854a-e623cd86fec8.png)

you have a 2-frequency remote control, with FSK modulation, it looks like the deviation is 27.7 kHz,
the transmission goes alternately on 1 then on 2 frequencies

[2022-05-23 15:05] Skorpionm commented on #1076
![image](https://user-images.githubusercontent.com/85568270/169849433-0d489879-6243-4636-b8c0-ec31ccba8c41.png)

deceived 30-32 kHz although maybe 4FSK

[2022-05-23 16:39] SamuelYvon opened #1264 "Build error on fresh docker, undefined references in `rpc`"
**Describe the bug**
On Linux, building with a fresh docker image

**To Reproduce**
Steps to reproduce the behavior:
1. Git clone
2. docker compose + docker make
3. Errors in log

**Expected behavior**
A successfully built image in `dist`

**Logs**
[code]

This was on branch `dev`

[2022-05-23 16:51] DrZlo13 commented on #1264
`git submodule update --init --recursive`

[2022-05-23 17:00] SamuelYvon commented on #1264
Thanks for the prompt response. I opened https://github.com/flipperdevices/flipperzero-firmware/pull/1265 with instructions on how to setup the repo properly.

[2022-05-23 17:41] #1263 closed, assigned to nobody

[2022-05-23 18:27] SamuelYvon commented on #1264
Since https://github.com/flipperdevices/flipperzero-firmware/pull/1265 has been merged, closing

[2022-05-23 18:27] #1264 closed, assigned to nobody

[2022-05-23 21:43] skotopes commented on #1259
Hi,

That is excellent job that you've done ;)

There is a second issues here: all input sequences must contain `press` and `release` in them to keep input complementary. Each GUI layer (ViewPort, ViewDispatcher, View) implements special logic that prevents from leaving without receiving final `release` event. RPC Screen Streaming currently lacks of that logic. I'll add it next release.

[2022-05-23 21:43] #1259 closed, assigned to gornekich

[2022-05-23 21:50] SnowLeopard71 commented on #1160
@grymoire  There are updates to the EMV code in the _development_ release channel (in _qflipper_) if you would like to try them.  Or you can wait until the changes make it to _release-candidate_.

[2022-05-23 22:12] RogueMaster commented on #1247
I've tried on all sides. Detection is very fast before the #1221, after those changes, detection does not work at all for the remote. No matter what side it is on.

[2022-05-23 22:13] RogueMaster commented on #1247
I will try with #1221 and #1262 once its in dev

[2022-05-24 11:02] Skorpionm commented on #1263
https://github.com/flipperdevices/flipperzero-firmware/pull/1268
Security+ 1.0

[2022-05-24 12:34] SamuelYvon commented on #1240
I'm also looking for this feature and working on implementing it. There already is a start of GPIO feature through the CLI bridge provided by the flipper; I was thinking of extending it to allow binary read/write. A small client interface could be written in python. I also saw a beginning of a RPC interface; maybe it would be possible to control the GPIO pins through that but I haven't looked into

[2022-05-24 15:31] hedger commented on #1241
https://docs.microsoft.com/en-us/windows/security/identity-protection/hello-for-business/microsoft-compatible-security-key

[2022-05-24 17:16] #1247 closed, assigned to nobody

[2022-05-24 18:39] BJamin99 commented on #1240
Also saw that there may be work on a BusPirate Mode too.

[2022-05-25 01:11] AFstache commented on #1239
[F] bt.settings 9b
        [F] desktop.settings 28b
        [F] dolphin.state 40b
        [F] notification.settings 24b

[2022-05-25 12:22] jinschoi commented on #1076
A detailed spectogram of one of the pulses doesn't show any frequency shifting within the pulse, though.
<img width="539" alt="Screen Shot 2022-05-25 at 8 22 48 AM" src="https://user-images.githubusercontent.com/938840/170260947-45123375-f062-475f-89ca-910fa8bd1a0d.png">

[2022-05-26 04:54] Skorpionm commented on #1076
you just have a 2-frequency remote that transmits in turn

[2022-05-26 15:49] Skorpionm commented on #1263
https://github.com/flipperdevices/flipperzero-firmware/pull/1273
Security+2.0

[2022-05-26 23:41] fx-chun commented on #1240
Fantastic @SamuelYvon! Looking forward to it :)

[2022-05-27 02:40] amangine opened #1274 "realloc implementation memcpy's from source with invalid size"
See https://github.com/flipperdevices/flipperzero-firmware/blob/dev/core/furi/memmgr.c

[code]

The memcpy is based on the new size.  This is incorrect, the spec says to copy the min of size allocated for the passed in ptr and new size.  If the old size was smaller, the remaining pages may not be mapped (or may leak data from another alloc).

[2022-05-27 11:27] azaitsev opened #1275 "Emulating app"
**Is your feature request related to a problem? Please describe.**
I'd like to get a quick access to all my stored items in one app (lfrfid, subhgz, nfc etc) to emulate it in two clicks.

**Describe the solution you'd like**
I'd like to set as my favourite app an app that contains a list of all my saved items, e.g:
[lf] Home
[lf] Work
[sg] Work barrier
[nfc] Key
[ir] TV

[2022-05-27 12:10] anna-oake commented on #1240
These enhancements might be useful for humans interacting with CLI, but I strongly advise against using CLI in automated software.

CLI is meant to be used by people and we're trying to keep it as user-friendly as possible.

RPC is the perfect way to go if you want to control your Flipper with software.
Maybe our protobuf schema needs a GPIO subsystem?..

[2022-05-27 12:19] DrZlo13 commented on #1275
"Favorites" tab in the Archive app.

[2022-05-27 12:19] #1275 closed, assigned to nobody

[2022-05-27 12:32] zhovner commented on #1275
Please read about Archive app and Pin function here https://docs.flipperzero.one/basics/control#xw-archive

[2022-05-27 12:49] azaitsev commented on #1275
Thank you, it's exactly what I were looking for.

[2022-05-27 12:52] azaitsev opened #1276 "Power off on return long press"
**Is your feature request related to a problem? Please describe.**
Sometimes I need to quickly power off the device.

**Describe the solution you'd like**
It would be nice to use long press on return button to power off device. Could you implement behaviour like on old mobile phones or mp3 players? I see long press on return is not used on main screen.

[2022-05-27 13:07] SamuelYvon commented on #1240
I agree, my principal interest right now is GPIO through CLI (for humans). If someone can guide me towards the protobuf format and how I could add such a subsys. I'd gladly make a PR later

[2022-05-27 17:20] camercu opened #1278 "Sub-GHz send from "Read" causes Hard Fault"
**Describe the bug**
After recording keyfob using Sub-GHz Read, clicking "Send" causes firmware Hard Fault, requiring repair with qFlipper app to use the Flipper again.

**To Reproduce**
Steps to reproduce the behavior:
1. Switch on...
2. Press center (menu) button
3. Select 'Sub-GHz'
4. Select 'Read'
5. Select 'Config'
6. Set Frequency to 433.92, Hopping OFF, Modulation AM270
7. Record Subaru For

[2022-05-27 17:25] DrZlo13 commented on #1278
Even LEFT+BACK doesn't work?
https://docs.flipperzero.one/basics/control#ih-reboot

[2022-05-27 17:35] DrZlo13 commented on #1278
Can you provide us .sub file?

[2022-05-27 17:36] Skorpionm commented on #1278
so let's start with the fact that who said that SUBARU is a supported protocol, secondly CAME TWEEN is not like SUBARU

and so give me the key to the 2010 Subaru, I can send both the decoder and the protocol encoder (there will be no encoder, no need to steal other people's cars)

[2022-05-27 17:43] Skorpionm commented on #1278
and what does not work is expected, and should not. the flipper did not correctly accept the protocol the fastest. but I can’t fix it until I see it at least in RAW recording. in ideal you need a remote control from Subaru

[2022-05-27 17:59] Skorpionm commented on #1278
subaru should look like this
Packet: 55 77 17 F1 17 81 81 85 03 DE
-----------------------------------------
CRC: 0E
Calculated CRC: 0E
Command: lock
rollingcode = 8503D
next rollingcode = 8503E
Next packet (unlock): 55 77 17 F1 17 82 82 85 03 EF
Next packet (lock): 55 77 17 F1 17 81 81 85 03 EF

[2022-05-27 21:29] meirpro commented on #1276
I'm quite sure if you press left button and back button it shuts down...

this also might help
https://docs.flipperzero.one/basics/power#og-flipper-power-modes

i use it to preserve battery, as leaving it on without any usage, drains the battery after a few days of standby (this might be an issue worth looking into, im not sure yet, but i think its due to the animations that happen on the home scr

[2022-05-27 22:00] azaitsev commented on #1276
Transport mode — in this mode the device is supplied to users. Only the built-in RTC domain clock is powered.
The transport mode is activated through the menu: Settings -> Power -> Power OFF.

I'd like to get this just by long press of return.

[2022-05-27 23:40] azaitsev opened #1280 "Require pin after power on or reboot"
**Is your feature request related to a problem? Please describe.**
I'd like to improve security of the device.

**Describe the solution you'd like**
If Pin is set we need ask for Pin after reboot or power on.

[2022-05-28 05:38] Gustavas007 opened #1281 "Intellicode 2 sub ghz protocol"
Thanks for getting security+ 2.0 up and running. Can we get something similar for intellicode 2?

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**

[2022-05-28 14:43] Skorpionm commented on #1281
https://forum.flipperzero.one/t/my-remote-isnt-supported-how-to-add-new-sub-ghz-protocol-in-flipper-zero/2033/6

[2022-05-28 16:15] SamuelYvon commented on #1240
Ok; I figured out the whole RPC thing, so I'm going to implement that as well. I'll link the PR when it's done / in a draft-worthy state

[2022-05-28 19:17] SamuelYvon commented on #1240
See https://github.com/flipperdevices/flipperzero-protobuf/pull/30

I added python bindings in https://github.com/flipperdevices/flipperzero_protobuf_py/pull/5 and the PR for the firmware is here https://github.com/flipperdevices/flipperzero-firmware/pull/1282

[2022-05-28 19:23] Gustavas007 commented on #1281
Thank you.

https://forum.flipperzero.one/t/intellicode-2-code-dodger-2/3389

On Sat, May 28, 2022 at 7:44 AM Skorpionm ***@***.***> wrote:

--

Gavin Green
Carpet Care Cleaners <http://www.carpetcleaningbellingham.com> &
G Green Inc. Pest Management <http://www.bellinghamexterminator.com>
360.927.1255

[2022-05-29 17:47] silascutler opened #1283 "Bluetooth debug: "Incorrect Radio Stack""
**Describe the bug**
Bluetooth debug does not run and consistently returns a message "Incorrect Radio Stack".  I've tested with both stock firmware and releases.

**To Reproduce**
Steps to reproduce the behavior:
1. Switch on...
2. Press center (menu) button
3. Select 'Settings'
4. Select 'System'
5. Set 'Debug' to `Enable`
6. Press back button (to settings menu)
7. Press back button (to menu)
8.

[2022-05-29 17:48] Astrrra commented on #1283
Yes, you need a different radio stack to run bluetooth debug.

[2022-05-29 17:57] silascutler commented on #1283
I saw that mentioned on the forum.  On the standard hw stack, it looks like it runs fine when the `if(furi_hal_bt_get_radio_stack() != FuriHalBtStackHciLayer) {` from [1] is commented out.

[1] https://github.com/flipperdevices/flipperzero-firmware/blob/dev/applications/bt/bt_debug_app/bt_debug_app.c#L100

[2022-05-30 07:06] skotopes commented on #1283
Yep, those are debug tools that are requiring different stack type, only meant to be used at factory.
Intended and tested to be working with hci_layer stack.

[2022-05-30 07:06] #1283 closed, assigned to nobody

[2022-05-30 09:58] Summertime commented on #1234
3 columns IMO would be perfect, and like a small set of icons

[code]
[code]

tbh I can't think of any other option other than 3 cols, just because of numpads

[2022-05-30 11:42] meirpro commented on #1234
I think the source button should have its own icon as well, as its a button that should exist on every remote...

And maybe making sub menus possible can help with a menu control sun menu (a button to get into the menu and arrow keys to navigate), and a sub menu for direct channel number input,  and other popular buttons a remote can have...

[2022-05-30 12:30] crozone commented on #1084
Could the Flipper phone companion app do this via Bluetooth?

[2022-05-30 12:36] skotopes commented on #1084
In theory yes

[2022-05-30 14:16] BestUsername commented on #1162
In addition to this, I've found that you cannot open files in subfolders from the browser, either.
The issue seems to be that the function "bad_usb_app_alloc" uses "path_extract_filename_no_ext" for the filename, but that function removes any path information. So Flipper tries to open the filename in the current working directory, which obviously fails.
If the path (either absolute or relative) is

[2022-05-31 03:25] digitalcircuit commented on #1280
If you lock your Flipper, then force reboot (holding back + left), it'll be locked when it starts back up.  I think [the team intentionally changed it to only lock on reboot if it was locked](https://github.com/flipperdevices/flipperzero-firmware/pull/1167) to fix [breaking qFlipper's update process](https://github.com/flipperdevices/flipperzero-firmware/issues/1178) (which involves multiple reboo

[2022-05-31 09:20] evilpete opened #1284 "Support for NFC NTAG203"
Flipper will scan NTAG215 but not the simular/simpler lesser memory NTAG203 tags

NTAG203 and the NTAG215 are from the same NTAG family of chips (Both Type 2) ( ECC signatures are not supported in the NTAG203)

[2022-05-31 15:57] skotopes commented on #1162
Please check latest `dev`

[2022-05-31 16:28] crozone opened #1285 "Support for 860 - 960 MHz UHF RFID tags (ISO/ IEC 18000-63 / EPC UHF Gen2)"
EPC UHF Gen2 tags are frequently found in stocktaking, warehousing, retail, and industrial RFID applications. It would be useful for Flipper to support reading and emulation of these tags, as well as detection of readers and their protocols (although the "Frequency Analyzer" almost does this for free).

Here is the [fact sheet](https://www.gs1.org/sites/default/files/docs/epc/epc_gen2v2_fact_sheet

[2022-06-01 04:33] hasmar04 commented on #1276
I feel like instead of powering off, holding the back button should jump back to the home screen, as this is probably more common than a full power-off.

[2022-06-01 04:37] hasmar04 commented on #1234
Some of this stuff could be made easier to configure through a wizard. For instance, it tells you to press power and saves that as the power button etc. Easier than recognizing names for common buttons.

[2022-06-01 19:16] BestUsername commented on #1162
Awesome! Works

[2022-06-01 19:17] skotopes commented on #1162
Nice )

[2022-06-01 19:17] #1162 closed, assigned to skotopes

[2022-06-02 00:32] xslim opened #1290 "Rename LiftMaster_3XX to Security+1.0_3XX"
**Is your feature request related to a problem? Please describe.**
While Reading the Sub-GHz codes from Remote, I see Security+1.0.
But when I try to create a remote Manually, it is not there.
Digging thru source code, I see that LiftMaster is a Security+1.0.

**Describe the solution you'd like**
I would like to see a Security+1.0 in Add Manual menu, as it is more generic, and not only related to

[2022-06-02 00:45] xslim commented on #1290
Example 3-button remote control that is Security+1.0 + Security+2.0 is Intermatic RC939

[2022-06-02 15:16] #1252 closed, assigned to nobody

[2022-06-03 02:40] camercu commented on #1278
LEFT+BACK did work, thank you. I wasn't aware of that feature.

[2022-06-03 02:41] camercu commented on #1278
Please forgive me, I'm new to hardware and RF (coming from software dev background, was hoping to use the Flipper as a way to get introduced into the hardware/RF worlds). ~~What is a .sub file, and where can I find it?~~

Here is the .sub file from doing a "read raw" on the Subaru for several clicks of the lock button.

[Subaru_forester2010.sub.zip](https://github.com/flipperdevices/flipperzero-fi

[2022-06-03 02:45] camercu commented on #1278
I wasn't sure whether it knew the protocol for subaru or not, so I just tried it to see, and CAME TWEEN was how it was recognized. Either way, I still expected it not to crash when replaying a signal that it had read.

[2022-06-03 03:10] vuribe1221 opened #1293 "Cannot return to main menu after deleting file"
**Describe the bug**
Using the quick menu (down key press) then deleting a Sub-Ghz raw file from the "app" will get you stuck in a sub menu, need to hard reset.

Prerequisites: Have a saved Sub-Ghz Raw file

**To Reproduce**
Starting from the lock screen

unlock device
press down (favorites menu)
press right (Sub-GHz menu)
Select a Raw file (press center button) > Run in app
press Right (More menu

[2022-06-03 07:55] skotopes commented on #1293
Fixed in #1292
Please reopen if you still experiencing this issue.

[2022-06-03 07:55] #1293 closed, assigned to nobody

[2022-06-03 19:58] ide opened #1296 "Chosen custom sub-GHz frequency gets reset when going from Read/Read RAW to config screen"
**Describe the bug**
When the sub-GHz scanner is listening on a custom frequency, going back to the config screen resets the frequency to the nearest regional frequency that is higher than the custom frequency. For example, if the custom frequency is 314.35 MHz and the Flipper's regional frequencies include 315.00 MHz, the Flipper will "round up" 314.35 MHz to 315.00 MHz when going back to the con

[2022-06-04 08:47] Iiridayn commented on #1047
In truth supporting broader than legal TX capabilities in Sub-GHz with the express intention of emulating remote controls you already use and own may be grey area. Certainly the manufacturer cannot and should not ship or support such changes (or they'll be prevented from creating more such devices). However - your hardware and code, your liability. The code is indeed open source and I found it qui

[2022-06-04 20:20] jevinskie commented on #1173
I’ve successfully implemented NFC communications (not using libnfc though) from a host computer through USB to a MCU connected to the ST25R3916 via SPI. I was able to simple pass through most commands over a USB-SPI bridge while handling a few timing sensitive operations in the MCU firmware and custom USB commands.

[2022-06-05 03:59] hasmar04 commented on #1290
As an extension to this, I have a remote which uses the Security+ 1.0 protocol but on the 433.92 AM frequency, so possibly an entry with changeable frequency?

[2022-06-05 20:33] alfie65536 opened #1299 "Missing pulses on TX - SubGhz"
**Describe the bug**
Pulse is missing on TX every 16 pulses on sending 30 microseconds signal

**To Reproduce**
Steps to reproduce the behavior:
1. Create a RAW .sub file with alternating signals (Example: RAW_Data: -30 30 -30 30 and so forth)
2. Play from Flipper device (650AM - 433.9254Mhz)

**Expected behavior**
Using SDR, I expected the values to read as 101010 directly. Result turned out that

[2022-06-06 09:18] pelrun commented on #1299
Just a note that it doesn't look like pulses are being lost, but instead it's a hard real-time failure where the flipper is too busy servicing a different task and so the next edge is delayed.

[2022-06-06 10:46] Skorpionm commented on #1299
failure is unlikely. just like the flipper is very busy. transfer goes through DMA. if I understood everything correctly, then with durations of 100us everything is fine at 30 it fails? I will see what is really happening there, but I have not seen durations smaller than 150us in any protocol

[2022-06-06 10:50] Skorpionm commented on #1296
please attach your /ext/subghz/assets/setting_user i will take a look

[2022-06-06 16:32] Skorpionm commented on #1299
![image](https://user-images.githubusercontent.com/85568270/172204260-ac5ee0da-d007-466f-9ee9-1f726c5018a3.png)
30 us
![image](https://user-images.githubusercontent.com/85568270/172204379-6400672f-5ba2-4f5c-ae12-86c17f57957a.png)

[2022-06-06 17:22] Skorpionm commented on #1299
![image](https://user-images.githubusercontent.com/85568270/172207285-42807e51-b056-443b-b77a-c3750813ef77.png)
I can’t capture such a fast signal, I have a pickup of 50Hz.
![image](https://user-images.githubusercontent.com/85568270/172212254-0c97a0b3-6efc-476e-89bf-b3575c7e996a.png)
reception to another module, it seems that CC1101 in RAW format does not have time to send such short signals (in f

[2022-06-06 19:19] Skorpionm commented on #1296
Fix https://github.com/flipperdevices/flipperzero-firmware/pull/1300

[2022-06-06 19:40] ide commented on #1296
This is my `setting_user` file if you still need it:
[code]

[2022-06-07 05:11] Skorpionm commented on #1278
thanks for raw, I'll see if there is enough data to add support for Subaru, but without opening other people's cars

[2022-06-07 07:08] Skorpionm commented on #1278
![image](https://user-images.githubusercontent.com/85568270/172316943-f60c3a1c-d94c-4ae2-a1e5-0d6e731c5da0.png)
Manchester encoding, symbol rate 1000
data in your record
0x8881C2BAEFBFC76
0x8881C2BAEFBFC65
0x8881C2BAEFBFC54
0x8881C2BAEFBFC43
0x8881C2BAEFBFC32
you can see how the counter is decrementing
need more entries. namely, 5+ clicks on each keyfob button for at least 2 seconds and at least 1

[2022-06-08 03:07] Vaelatern opened #1302 "Bluetooth Debug fails "Incorrect RadioStack"
**Describe the bug**

A few pictures are worth a thousand words

![image](https://user-images.githubusercontent.com/7906072/172521981-325de5d2-e5c2-4bc6-baf5-70ed8be4350f.png)
![image](https://user-images.githubusercontent.com/7906072/172522000-c8e3fa41-778d-45df-89c9-0c7e25a2fd82.png)
![image](https://user-images.githubusercontent.com/7906072/172522022-8dc797d8-5ae9-45ff-a9d0-5798ed7e338e.png)
![

[2022-06-08 03:09] skotopes commented on #1302
This is not a bug, those are factory test apps and they require HCI Full radio stack.

[2022-06-08 03:09] #1302 closed, assigned to nobody

[2022-06-09 07:38] skotopes commented on #1296
Fixed in #1300

[2022-06-09 07:38] #1296 closed, assigned to nobody

[2022-06-10 01:28] #1232 closed, assigned to nminaylov

[2022-06-10 13:29] #1276 closed, assigned to nobody

[2022-06-10 19:23] djsime1 commented on #1084
After refamiliarizing myself with the Mifare Classic spec document, it seems like only one key is almost guaranteed to be transmitted by the reader. From there it depends how smart the reader is to send the rest. Since the MFC subsystem already uses transparent mode for operation, I don't see anything stopping the Flipper from attempting to make the reader authenticate at least once (besides the t

[2022-06-10 23:00] itizir commented on #1230
The problem is not exclusive to M1: basically same thing on Intel chip.
Thanks for the detailed workaround instructions!

[2022-06-15 00:52] GMMan commented on #1173
Any plans on sharing this work?

[2022-06-15 01:08] GMMan commented on #1284
I can take this on after #1313 is merged. Note that NTAG203 is quite different from NTAG21x from the lack of configuration area, and is not a simple extension of original Mifare Ultralight due to the in-array counters and odd dynamic lock bytes, so there's some effort required to emulate it properly.

Edit: there's no GET_VERSION support either, so this will have to be detected by attempting to re

[2022-06-15 01:10] GMMan commented on #1081
Suggest trying to read this with NXP NFC TagInfo to see if there are any specific configurations on the tag. Most notably, whether the entire tag can be read without authenticating.

[2022-06-15 01:14] jevinskie commented on #1173
Sorry I can’t, it was done for work.

[2022-06-15 10:46] simsnet commented on #1239
I have the same issue, running qFlipper 1.1.0.  After examining the [user restore code](https://github.com/flipperdevices/qFlipper/blob/d550f8e2b605ce76abaab7cdbae63329da820635/backend/flipperzero/utility/userrestoreoperation.cpp#L61-L65), I saw how qFlipper looks for backup files.

Right now to restore a backup, you must select the folder that the **_backup folder_** is in.  For instance, if your

[2022-06-17 02:02] evilpete opened #1328 "Flipper SubGhz RAW File only support integer bit durations"
**Describe the bug**

While encoding a Raw RF signal  for Insteon (Home Automation) that required 9124 baud   I ran into a problem due to integer bit (level?) durations

 protocol  requires  9124 baud,  this works out to a bit (level?) durations of 109.600 microseconds

 Given: 9124 baud -> 1/9124 -> 0.00010960105 sec -> 109.60105 ms

When I encode using 110 ms durations the signal is not recogniz

[2022-06-17 13:47] patricknomad opened #1329 "Where to suggest documentation suggestions? (docs.flipperzero.one)"
I'd like to recommend suggestions for https://docs.flipperzero.one/ for new undocumented features.

There used to be https://github.com/flipperdevices/docs but this is now archived.

Is there another place where PRs can be sent for docs?

[2022-06-17 20:29] Skorpionm commented on #1328
something is wrong with you even with an accuracy of 5% it is - + 5.75us I doubt very much that it's + -1us

[2022-06-19 00:18] otanim opened #1331 "Running apps in the background"
**Is your feature request related to a problem? Please describe.**
no problems

**Describe the solution you'd like**
have an option to run programs in the background, i.e. you run **Sub-GHz**, meanwhile, you can play Snake, then go back to **Sub-GHz** and see its progress.

**Describe alternatives you've considered**
it's straightforward, sure would've been great to have a task manager as well whe

[2022-06-19 00:45] DrZlo13 commented on #1331
No, this feature adds resource synchronization problem and too much entropy. One application at a time is the intended behavior.

[2022-06-19 00:45] #1331 closed, assigned to nobody

[2022-06-20 10:09] DrZlo13 commented on #1329
We are working on it, hopefully there will be some solution in the coming weeks.

[2022-06-21 19:57] digitalcircuit opened #1338 "infrared: In C rewrite, can't exit with Back if launched via 'Run in app'"
**Describe the bug**
With [the new Infrared C port](https://github.com/flipperdevices/flipperzero-firmware/commit/a8acfcabb4104045b6eadd6c215fc3c88b88614e ), it's not possible to exit with the Back button after launching a saved Infrared remote via the `Run in app` archive browser option or from the `Favorites` (pinned) section.

**To Reproduce**
1. Save (or copy) an infrared remote
2. Go back to

[2022-06-22 15:37] gsurkov commented on #1338
Fix is in the dev branch.

[2022-06-22 17:53] digitalcircuit commented on #1338
I've confirmed that https://github.com/flipperdevices/flipperzero-firmware/commit/0b8331656069bbbd011f2dfa0b0c2a03b5d8a859 (https://github.com/flipperdevices/flipperzero-firmware/pull/1340) has fixed this issue, thank you!

[2022-06-22 17:53] #1338 closed, assigned to nobody

[2022-06-26 10:12] quantum-x opened #1342 "NFC: MIFARE Classic 1K: Add support for Infineon Chips"
MIFARE Classic 1k cards have two main manufacturers, NXP and INFINEON.
NXP's MIFARE Classic 1k cards have an SAK value of 0x08.
INFINEON's MIFARE Classic 1k cards have an SAK value of 0x88.

I suggest updating the mifare.c and nfc_types.c lib files in order to recognise INFINEON MIFARE Classic 1k Tags.

I plan on contributing the code, this issue serves as a discussion point!

[2022-06-27 08:19] quantum-x opened #1345 "MIFARE Classic Anti-Copy Detection"
**Background**
In France, almost every apartment building uses RFID Access Control based on MIFARE Classic 1K badges.
The keys to decode these badges are well known (and in Flipper's library), and the badges can be easily cloned / emulated.

However, in France many Access Control Manufacturers now include *anti-copy algorithms* in the *badge contents*.

While the implementation differs between man

[2022-06-27 09:47] quantum-x commented on #1345
@gornekich Let me know your thoughts on how to implement for the entire community, and next steps so I can provide the anti-copy detection rules.

[2022-06-27 17:54] gornekich commented on #1345
Hello @quantum-x . Thanks for information!

For now we ignore counter related commands during emulation. I can see that this can cause problems, and we try to add working with counters soon. I guess it will solve the issue, when user just copy the card to flipper and no longer use the original card.

Further we will add users possibility to synchronize both variants of card. It will come after we

[2022-06-28 06:34] quantum-x commented on #1345
Hi @gornekich
Thanks for the reply.

To be clear, the anti-copy algorithms in are not simply consecutive counters (0x01, 0x02, 0x03 etc), it's heavily obfuscated data that is written 'randomly' over the badge.

Regarding 'Additional Script that can be run against a Mifare Classic Dump':
 - When a user saves a dump to the Flipper, in the 'Actions' menu (Currently has "Emulate", "Edit UID and Name",

[2022-06-28 10:38] gornekich commented on #1345
Hello @quantum-x

We discussed with our team this issue and our priority is to support all commands during Classic emulation.

Regarding anti-copy algorithms, we need at least badges dumps. It would be nice if you send a few dumps with anti-copy signatures and provide an algorithm to detect the signature.

Further, it would be perfect to get these badges and may be readers on hands for tests. Is i

[2022-06-28 10:44] COssfeld opened #1349 "Support for HITAG S"
Please add support for reading and emulating 125 kHz HITAG S transponders in plain mode:
https://www.nxp.com/products/rfid-nfc/hitag-lf/hitag-s-transponder-ic:HTSX
The uid should be enough.

[2022-06-28 20:26] quantum-x commented on #1345
Hi @gornekich
Thanks for the internal discussion. I understand your team's priorities - and if Mifare Classic Emulation and writing can't be integrated, then integrating anti-copy detection is moot.

Regarding detection and rules, I have full rule-sets for detecting all types of known anti-copy on the market.
It should be mentioned that this comes from the development team at _Parklink Development

[2022-06-30 20:15] GMMan commented on #1284
Ran into a little snag with this, I'm not sure where to source actual NTAG203s. The cards Adafruit sells are counterfeit NTAG213s.

[2022-06-30 21:44] evilpete commented on #1284
want me to mail you a couple??

I've been looking into it, it seems they're obsolete yet at the same time
they are  still in use everywhere.

On Thu, Jun 30, 2022 at 1:15 PM Yukai Li ***@***.***> wrote:

[2022-06-30 22:13] GMMan commented on #1284
Currently asking Adafruit to confirm whether they have an inventory of any NTAG203s, but if they don't, then sure.

[2022-07-01 03:05] virtualdxs opened #1353 "Support writing NFC tags"
**Is your feature request related to a problem? Please describe.**
I would like to be able to write a new copy of NFC tags I can emulate with Flipper.

**Describe the solution you'd like**
Add a Write option for the different NFC protocols.

**Describe alternatives you've considered**
Emulating from Flipper is a partial workaround

**Additional context**
I'm personally interested in Mifare Classic

[2022-07-01 05:08] evilpete commented on #1328
when the packet is 364 or  896 a  .4 difference adds up .

[2022-07-01 19:03] FalsePhilosopher opened #1355 "Extended menu shortcut settings/scripting"
**Is your feature request related to a problem? Please describe.**
It would be nice to be able to set custom shortcuts for every button including long press and on the fly create shortcut scripts IE Run sghz open garage door.sub> back button press to run next hold to cancel>Run sghz unlock car.sub or Run badusb hotdogwallpaper.txt>back button press to run next hold to cancel> Run badusb rickroll.t

[2022-07-02 14:55] GMMan commented on #1353
One consideration for implementation is how you are going to handle writing to a tag sized differently than the original. Due to lock bits and other control options, this is not trivial and requires positively identifying the tag type and whether the data is fully writeable before attempting to write the tag.

[2022-07-05 13:00] wondercrunch opened #1373 "Mifare Classic Read Block buffer overflow"
**Describe the bug**
I'm not sure if it's intended or not, there is a buffer overflow in lib/nfc_protocols/mifare_classic.c in mf_classic_read_block:
`for(uint8_t i = 0; i < 18; i++) {
     block->value[i] = crypto1_byte(crypto, 0, 0) ^ tx_rx->rx_data[i];
}`
where block->value is array of 16 bytes. Those remaining 2 bytes are actually CRC-16.

**Expected behavior**
Move 16, not 18 bytes to block->

[2022-07-05 16:28] skotopes commented on #1373
fixed in dev, closing issue.

[2022-07-05 16:28] #1373 closed, assigned to nobody

[2022-07-05 18:49] ghost opened #1375 "Adding mouse_jiggler as a plugin"
Hi,

Is it possible to add a mouse jiggler plugin ?
https://github.com/MuddledBox/flipperzero-firmware/blob/Mouse_Jiggler/applications/mouse_jiggler/mouse_jiggler.c

[2022-07-06 03:41] digitalcircuit commented on #1158
# Feedback request - preferred charge limit method?

There's two reasonable methods I've managed to come up with to implement battery charge limiting:

1.  Set charge voltage for [`bq25896`](https://www.ti.com/lit/ds/symlink/bq25896.pdf) and adjust charge voltage in [`bq27220`](https://www.ti.com/lit/ds/symlink/bq27220.pdf) to know when charging is done
    * ℹ Works well with setting charge limit

[2022-07-06 05:14] RogueMaster commented on #1375
You can message me on discord and I can help you...

[2022-07-06 14:59] skotopes commented on #1158
Couple things:

- battery is guaranteed to last more than 6 years, in real life it should be closer to 10+
- our battery vendor never did undercharge tests, we can not tell how long battery life will be if undercharged
- biggest impact on battery health is keeping it discharged, which is much harder to control
- if I'd implement it I'll change charger configuration, that gives more predictable res

[2022-07-07 03:48] digitalcircuit commented on #1158
Firstly, thank you for taking the time to read and respond!  I appreciate all of you are very busy and the work y'all have done is awesome!

I've experimented further, successfully tested changing the charger configuration, and tried to better explain myself.  I expected to be doing the work to implement this, I just want to make sure I'm pursuing the right path.

## Usefulness of charge limiting

[2022-07-07 11:51] T0wdup2 commented on #1047
Chillout do some more research
 📣ur a potato

🎻

[2022-07-07 20:24] GMMan commented on #1284
Adafruit said their manufacturer switched chips on them, so their stock is not guaranteed to be NTAG203. I've sent you an email to the address you have on your commits.

[2022-07-07 21:27] evilpete commented on #1284
no problem I'll dig a few out and the other later today,  direct email me
the shipping address.

On Thu, Jul 7, 2022, 13:25 Yukai Li ***@***.***> wrote:

[2022-07-08 13:52] J3G0 commented on #1230
Version 10.3 of GCC works

[2022-07-08 13:53] skotopes commented on #1230
We almost finished fix. Will be included in next release

[2022-07-10 14:04] skotopes commented on #1375
We are ready to accept it as external application.

[2022-07-10 14:04] #1375 closed, assigned to nobody

[2022-07-10 14:09] skotopes commented on #1353
Hi. We are currently working on it.

[2022-07-10 14:10] skotopes commented on #1342
Will be released in 0.62

[2022-07-10 14:10] #1342 closed, assigned to nobody

[2022-07-10 14:14] skotopes commented on #1355
Hi. We'll return back to this issue after v1.0.0.

[2022-07-10 14:17] skotopes commented on #1285
Hi. UHF RFID requires different design for RF. It is impossible to implement it in fllipperzero.

[2022-07-10 14:17] #1285 closed, assigned to nobody

[2022-07-10 14:20] skotopes commented on #1299
Please re-test current dev and reopen issue if problem is still there.

[2022-07-10 14:20] #1299 closed, assigned to skotopes

[2022-07-10 14:33] skotopes commented on #1328
Theoretically we may add ability to configure timer clocking, please check if TIM2 can be configured for your needs?